<!--清单导入-->

<div class="content_div con">
    <div class="position">
        <span class="ml10">当前位置：</span>
        <span class="local-fir">清单管理 > </span>
        <span class="local-sec">清单导入</span>
    </div>
    <div class="queryCriteria">
        <span class="queryCriteria_title">
            <label>清单导入</label>
            </span>
        <div class="condition_table">
                <ul>
                    <li>
                        <ul class="clearfix po-query">
                            <li class="condition_td_list teaL fl">
                                <label>清单号码</label>
                                <input style="width:44%" type="text" ng-maxlength="30" ng-pattern="regexp.code"  warn-text="清单号码"  ng-model="plantUpLoadDto.insureListCode">
                            </li>
                            <li class="condition_td_list teaC fl">
                                <label>清单名称</label>
                                <input style="width:44%" type="text "  warn-text="清单名称" ng-pattern="regexp.Chinese" ng-model="plantUpLoadDto.listAlias">
                            </li>
                            <li class="condition_td_list teaL fl">

                                <label style="width:50%">清单缮制日期</label>
                                <input  style="width:44%" type="text" id="DataStart2" jedate
                                       class="date-input proposal_date" ng-model="plantUpLoadDto.listBeginTime"
                                       ng-init="plantUpLoadDto.listBeginTime=''+getdate.year+'-'+(getdate.month)+'-'+getdate.day"
                                       format="YYYY-MM-DD"
                                       required readonly/>

                            </li>
                            <li class="condition_td_list teaL fl">
                                <label>清单类型</label>
                                <select  warn-text="清单类型" ng-model="plantUpLoadDto.listType">
                                    <option value="D">大户</option>
                                    <option value="S">散户</option>
                                </select>
                            </li>
                            <li class="condition_td_list teaL fl">
                                <label>险种大类</label>
                                <select  warn-text="险种大类" ng-model="plantUpLoadDto.riskCode">
                                    <option value="31">种植险</option>
                                    <option value="32">养殖险</option>
                                </select>
                            </li>
                            <li class="condition_td_list teaL fl">
                                <label style="width:50%">编辑类型</label>
                                <select warn-text="编辑类型"  ng-model="plantUpLoadDto.listTypeFlag" ng-change="querySetting()" >
                                    <option value="B">保单</option>
                                    <option value="P">批单</option>
                                </select>
                            </li>
                            <li class="condition_td_list teaL fl">
                                <label>清单备注</label>
                                <input style="width: 44%" type="text " ng-pattern="regexp.Chinese" warn-text="清单备注"  ng-model="plantUpLoadDto.remark">
                            </li>
                            <li class="condition_td5 fl teaR">
                                <label class="teaR">归属区域</label>

                                <select id='plantingListprovinceCode' ng-model="plantUpLoadDto.provinceCode" ng-change="getCityCode()" ng-options="businessProvince.areaCode as businessProvince.areaName for businessProvince in businessProvinceList" >
                                    <option  value="">省</option>
                                    <option  value="businessProvince.areaCode" > {{businessProvince.areaName}}</option>
                                </select>
                                <select id='plantingListCityCode' ng-model="plantUpLoadDto.pCityCode" ng-change="getCountyCode()" ng-options="businessCity.areaCode as businessCity.areaName for businessCity in businessCityList">
                                    <option  value="">市</option>
                                    <option  value="businessCity.areaCode"> {{businessCity.areaName}}</option>
                                </select>
                                <select id='plantingListCountyCode' ng-model="plantUpLoadDto.pCountyCode" ng-change="getTownCode()" ng-options="businessCounty.areaCode as businessCounty.areaName for businessCounty in businessCountyList">
                                    <option value="">区/县</option>
                                    <option  value="businessCounty.areaCode"> {{businessCounty.areaName}}</option>
                                </select>
                                <select id='plantingListTownCode' ng-model="plantUpLoadDto.pTownCode" ng-change="getVillageCode()" ng-options="businessTown.areaCode as businessTown.areaName for businessTown in businessTownList">
                                    <option value="">乡/镇</option>
                                    <option  value="businessTown.areaCode"> {{businessTown.areaName}}</option>
                                </select>
                                <select id='plantingListVillageCode' ng-model="plantUpLoadDto.pVillageCode" ng-change="getVillageName()"  ng-options="businessVillage.areaCode as businessVillage.areaName for businessVillage in businessVillageList">
                                    <option value="">村</option>
                                    <option  value="businessVillage.areaCode"> {{businessVillage.areaName}}</option>
                                </select>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="clearfix">

                    <li class="condition_td5 fl a-upload">
                        <a href="javascript:" class="a-upload" id="uploadFile">
                            <input class="file_sta" type="file" file-model="listFile" accept=".xls"/>
                        </a>
                        <input type="hidden" name="fileID" ng-model="plantUpLoadDto.insureListCode">
                        <input type="hidden" name="fileName" ng-model="plantUpLoadDto.listAlias">
                        <span class="fon">
                            <a id="listdownLoadURLhref" target="_blank" ng-click="getDownLoadURL()">下载清单模版</a>
                        </span>
                    </li>
                </ul>

                <div class="btn_tr clearfix">
                    <span class="fl" ng-click="fileUpload()">提交</span>
                    <span class="fr"  ng-click="resetUploudGisInsure()">重置</span>
                    <span class="dis"  ng-show="showSave" ng-click="saveGisList()" ng-disabled="alreadyFlag">保存</span>
                    <span class="dis"  ng-show="queryShow" ng-click="queryRelationListLayer()">查询</span>

                </div>
            <div ng-show="relationListQueryLayer"
                 data-ng-include="'common/business/common/proposal/mainAgri/UIPrPoEn.relationListQuery.layer.html'"></div>
            <div ng-show="relationListNoLayer"
                 data-ng-include="'common/business/common/proposal/mainAgri/UIPrPoEn.relationListNo.layer.html'"></div>
        </div>
    </div>

    <div class="queryResult">
            <div class="queryResult_title clearfix">
                <span class="fl ">清单信息</span>
            </div>
            <table>
                <tr class="tr_top">
                    <td class="w10">清单号码</td>
                    <td class="w10">农户代码</td>
                    <td class="w8">姓名</td>
                    <td class="w10">身份证</td>
                    <td class="w10">直补卡号</td>
                    <td class="w10">联系电话</td>
                    <td class="w8">投保面积/数量</td>
                    <td class="w10">土地来源/养殖地点</td>
                    <td class="w8">备注</td>
                </tr>
                <tr class="tr_content F2F2F2" ng-repeat="result in plantUpLoadDto.QueryList">
                    <!-- <td><input type="radio"  name="select" ng-click="isSelected($index)"/></td> -->
                    <td ng-bind="result.insureListCode"></td>
                    <td ng-bind="result.fCode"></td>
                    <td ng-bind="result.fName"></td>
                    <td ng-bind="result.fIdCard"></td>
                    <td ng-bind="result.zhiBuKa"></td>
                    <td ng-bind="result.phone"></td>
                    <td ng-bind="result.insureArea"></td>
                    <td ng-bind="result.fieldSource"></td>
                    <td ng-bind="result.remark"></td>
                </tr>
            </table>
        <div ng-show="plantUpLoadDto.QueryList===null||plantUpLoadDto.QueryList.length==0" ng-class="{'not-query':plantUpLoadDto.QueryList === null,'query-null':plantUpLoadDto.QueryList.length==0}"></div>
        <div class="index_page">
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
        </div>
</div>

