<div class="mask"></div>
<div class="email_post">
    <ul>
        <li class="remove_header">
            <span>发送电子邮件</span>
            <a href="javascript:void(0)"><i ng-click="receiptOpenClose()"></i></a>
        </li>
    </ul>
    <ng-form novalidate="novalidate" name="proposalEmailForm">
        <ul class="list_ul no_border1">
            <li>
                <span>保单类型：</span>
            </li>
            <li class="li_full">
                <div class="marr43">
                    <label class="mar_right" ng-class="{true:'on',false:'radio'}[bdradio1]" ng-click="bdradioClick1()">
                        <input type="radio" class="hide" value="signFileId" name="trafficIns"  ng-model="NoticePrpinsConditionDto.filex"><em>带签章保单</em>
                    </label>
                    <label ng-class="{true:'radio',false:'on'}[bdradio2]" ng-click="bdradioClick2()">
                        <input type="radio"  class="hide" value="noSignFileId" name="trafficIns" ng-model="NoticePrpinsConditionDto.filex"/><em>无签章保单</em>
                    </label>
                </div>
            </li>
            <li>
                <span>电子邮件：</span>
            </li>
            <li class="li_full">
                <input type="text" required ng-minlength="5" maxlength="40" warn-text="电子邮箱" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"  ng-model="NoticePrpinsConditionDto.receivedEmail" class="fl"/>
            </li>
        </ul>
        <ul>
            <li class="remove_button">
                <div>
                    <button class="button_sure" ng-click="onSubmits()">发送</button>
                    <button class="button_cancel" ng-click="receiptOpenClose()">取消</button>
                </div>
            </li>
        </ul>
    </ng-form>
</div>