<!--待处理投保单-->
<div class="pend_ul_div">
    <ul class="pend_ul">
        <li ng-class="{true:'li_active',false:'pend_li_first'}[curActive=='proposal']">
            <span class="span_block" ng-click="documentProposalTab()">电子保单 </span>
        </li>
        <li  ng-class="{true:'li_active',false:'pend_li_last'}[curActive=='endorse']">
            <span class="span_block"  ng-click="documentEndorseTab()">电子批单</span>
        </li>
    </ul>
</div>
<div class="documentTab" data-ng-include="documentTabInclude"></div>
