<!--投保成功-->
<ul class="index_process">
    <li class="li_active"><i></i><span>1.批改信息录入</span></li>
    <li><i class="i_1_1"></i><span>2.批改信息确认</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6>删除批单</h6></div>
        <div class="order_success">
            <i></i>
                <span>
                    <br/>
                    该批单已成功删除！批单号码为{{applyNo}}<br/><br/>
                </span>
        </div>
    </div>
</div>