<!--
****************************************************************************
* DESC       ：国元农险理赔报案登记查询页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/21
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section commentWidth">
  <div class="content_div content1-div">
    <form name="queryConditionForm">
      <div class="queryCriteria">
        <span class="queryCriteria_title">
          <label>查询条件</label>
          <div ng-click="searchConditionShow=!searchConditionShow" class="cur fr">
              <i class="iconfont click_img" ng-hide="searchConditionShow">&#xe667;</i>
              <i class="iconfont click_img" ng-show="searchConditionShow">&#xe668;</i>
          </div>
        </span>
        <div class="condition_table">
          <ul class='clearfix half-ul'>
            <li class="condition_td fl half-li">
              <label>保单号码</label>
              <div class="half-div">
                <input ng-model="queryConditionDto.policyNo"   style="color: #333 !important;"   ng-change="changeendorseNo(queryConditionDto.policyNo)"  maxlength="21" ng-pattern="regData.number" warn-text="{'ErrPattern':'保单号码格式输入错误，请修改！',itemName:'保单号码'}" type="text" ng-minLength="15"/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>险种大类</label>
              <div class="half-div">
                <code-type  base-code="riskTypeRegist" ng-model="queryConditionDto.riskType" style="color: #333 !important;" ng-change="changeRiskType()"></code-type>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>被保险人名称</label>
              <div class="half-div">
                <input ng-model="queryConditionDto.insuredName"  style="color: #333 !important;"   ng-pattern="regData.chineseNumber" warn-text="{'ErrPattern':'被保险人名称格式错误，请修改！',itemName:'被保险人名称'}" type="text"  />
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>身份证号</label>
              <div class="half-div">
                <input ng-model="queryConditionDto.identifyNumber"  ng-change="changeendorseNo(queryConditionDto.identifyNumber)"  maxlength="18" ng-minLength="15" ng-pattern="regData.number"  warn-text="{'ErrPattern':'身份证号格式错误，请修改！',itemName:'身份证号'}"  style="color: #333 !important;"   type="text"/>
              </div>
            </li>
            <li class="condition_td fl half-li" ng-show="riskType">
              <label>耳标号</label>
              <div class="half-div">
                <input ng-model="queryConditionDto.earLabel"  style="color: #333 !important;"     warn-text="耳标号" type="text"  ng-minLength="4" />
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>农户姓名</label>
              <div class="half-div">
                <input ng-model="queryConditionDto.fName"   style="color: #333 !important;"    ng-pattern="regData.chineseNumber" warn-text="{'ErrPattern':'农户姓名格式输入错误，请修改！',itemName:'农户姓名'}" type="text" />
              </div>
            </li>
          </ul>
          <ul class='clearfix half-ul' ng-show="searchConditionShow">
            <li class="condition_td fl half-li">
              <label>保险起期</label>
              <div class="half-div">
                <input type="text" style="width: 41%;" id="startDate" name="保险起期" value="3" ng-model="queryConditionDto.startDate"  max-date="{{queryConditionDto.startEndDate}}"class="date-input date" jedate   format="YYYY-MM-DD"/>
                <span class="fl">-</span>
                <input type="text" style="width: 41%;"  id="startEndDate" name="保险起期" value="4" ng-model="queryConditionDto.startEndDate" min-date="{{queryConditionDto.startDate}}" class="date-input date" jedate   format="YYYY-MM-DD"/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>保险止期</label>
              <div class="half-div">
                <input type="text" class="date-input date" style="width: 41%;" id="endDate" name="保险止期" value="3" ng-model="queryConditionDto.endDate" max-date="{{queryConditionDto.endEndDate}}" jedate   format="YYYY-MM-DD"/>
                <span class="fl">-</span>
                <input type="text" class="date-input date" style="width: 41%;" id="endEndDate" name="保险止期" value="4" ng-model="queryConditionDto.endEndDate" min-date="{{queryConditionDto.endDate}}" jedate  format="YYYY-MM-DD"/>
              </div>
            </li>
          </ul>
          <div class="btn_tr clearfix">
            <span ng-click="query()">查询</span><span ng-click="resetForm()">重置</span>
          </div>
        </div>
      </div>
    </form>

    <div class="queryResult">
      <div class="queryResult_title clearfix">
        <span class="fl tit-color font-bold">查询结果列表</span>
      </div>
      <table>
        <thead>
        <tr class="tr_top">
          <th>序号</th>
          <th>保单号码</th>
          <th>被保险人</th>
          <th>保险起期</th>
          <th>保险止期</th>
          <th>险种</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr_content" ng-repeat="result in prplregist"  ng-class="{'color-red':result.colorFlag == 1}">
          <td ng-bind="$index+1"></td>
          <td ng-bind="result.policyNo" ng-click="goRegist(result)" class="pointer" style="color: #2DBE61"></td>
          <td ng-bind="result.insuredName"></td>
          <td  ng-bind="result.startDate"></td>
          <td  ng-bind="result.endDate"></td>
          <td  ng-bind="result.riskCode" title="{{result.riskName}}"></td>
        </tr>
        </tbody>
      </table>
      <div ng-show="prplregist===null||prplregist.length==0" ng-class="{'not-query':prplregist===null,'query-null':prplregist.length==0}"></div>
      <div class="index_page">
        <tm-pagination conf="paginationConf"></tm-pagination>
      </div>
    </div>
  </div>
</div>