<div>
    <div class="modal-header">
        <h1 class="font-large">导入清单</h1>
        <i class="icon iconfont modal-header-close" ng-click="closeModal()">&#xe632;</i>
    </div>
    <div class="modal-body">
        <!--<table class="table">-->
            <!--<tr>-->
                <!--<th width="50%">文件名称</th>-->
                <!--<th>操作</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="item in uploader.queue">-->
                <!--<td>-->
                    <!--<strong>{{ item.file.name }}</strong>-->
                    <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->
                <!--</td>-->
                <!--<td nowrap>-->
                    <!--<button type="button" class="btn-success" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">导入</button>-->
                    <!--<button type="button" class="btn-cancel" ng-click="item.remove()">取消</button>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
        <div>
            <button class="btn-success" ng-click="plantingdownload('template')">下载模板</button>
            <button class="btn-success" ng-click="plantingdownload('LossRateList')">下载承保清单</button>
        </div>
        <div style="padding: 15px;">
            <label>损失清单导入：</label>
            <input  type="text" ng-if="uploader.queue.length==0" readonly style="height: 30px;border-color: #3d3d3d;" class="border-all"/>
            <input ng-repeat="item in uploader.queue" type="text" ng-model="item.file.name" readonly style="height: 30px;border-color: #3d3d3d;" class="border-all"/>
            <label class="btn-light" style="min-width: 20px;">
                浏览...
                <input type="file"   multiple="true"  nv-file-select  uploader="uploader" accept=".xls,.xlsx" style="display: none;"/>
                <!--<input type="file"  style="display: none"/>-->
            </label>
            <button class="btn-cancel" ng-repeat="item in uploader.queue" style="min-width: 20px;" ng-click="item.remove()">重置</button>
            <button class="btn-success" style="min-width: 20px;" ng-repeat="item in uploader.queue" ng-click="uploader.uploadAll()">导入</button>
            <button class="btn-success" style="min-width: 20px;  cursor: not-allowed;" ng-if="uploader.queue.length==0">导入</button>
            <div style="text-align:center;">
                <span class="btn-success" ng-click="determine()">确认</span>
                <span class="btn-success" ng-click="closeModal()">返回</span>
            </div>
        </div>
    </div>
</div>