<!--批单成功-->
<ul class="index_process">
    <li class="li_finish"><i></i><span>1.批改信息录入</span></li>
    <li class="li_finish"><i class="i_1_1"></i><span>2.批改信息确认</span></li>
    <li class="li_active"><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6 ng-bind="nuclearTitl" >批单成功</h6></div>
        <div class="order_success">
            <i ng-if="nuclearPic"></i>
            <i class="endorseTB" ng-hide="nuclearPic"></i >
            <span class="order_span" data-ng-bind-html="msg"></span>
        </div>
        <div class="div_back">
            <span ng-click="onEdit()" class="a_back">返回</span>
            <span ng-show="downLoadFileButton" ng-click="dowloadEndorseFile('sign')" class="a_order">下载电子批单</span>
        </div>
    </div>
</div>
<div data-ng-include="'components/prpins/underwrite/tpl/showAlertMsgPage.html'"></div>