<ul class="index_process">
    <li class="li_active"><i></i><span>1.批改信息录入</span></li>
    <li><i class="i_1_1"></i><span>2.批改信息确认</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <!--批改基本信息-->
    <div class="index_list">
        <div class="index_tit"><h6>批改基本信息</h6></div>
        <ul class="list_ul">
            <li><span>批改类型：</span></li>
            <li><span class="fl" ng-bind="surrenderData.prpPheadDto.endorTypeName"></span></li>
            <li><span>批改申请号码：</span></li>
            <li><span class="fl" ng-bind="surrenderData.applyNo"></span></li>
            <li><em>*</em><span>批改申请日：</span></li>
            <li>
                <span class="date fl" ng-bind="surrenderData.prpPheadDto.endorDate|date:'yyyy-MM-dd'"></span>
            </li>
            <li><em>*</em><span>退保类型：</span></li>
            <li>
                <span class="fl" ng-bind="surrenderData.prpPheadDto.surrenderName"></span>
            </li>
            <li>
                <em>*</em><span>批改生效日：</span></li>
            <li>
                <span class="date fl" ng-bind="surrenderData.prpPheadDto.validDate|date:'yyyy-MM-dd'"></span><span class="fl">&nbsp;&nbsp;0时</span>
            </li>
            <li><em>*</em><span>退保原因：</span></li>
            <li>
                <input type="text" readonly class="fl box_shadow bor" ng-model="surrenderData.prpPheadDto.reasonName">
            </li>

            <li><span>退保原因说明：</span></li>
            <li class="correct_reason">
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPheadDto.reasonText">
            </li>
        </ul>
    </div>
    <!--业务相关信息-->
    <div class="index_list">
        <div class="index_tit"><h6>业务相关信息</h6></div>
        <ul class="list_ul">
            <li><em>*</em><span>业务来源：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.businessNatureName">
            </li>

            <li><em>*</em><span>出单省级机构：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.comCodeName">
            </li>

            <li><em>*</em><span>出单分支机构代码：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.cityCode">
            </li>

            <li><span>业务归属机构代码：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.makeCom">
            </li>
            <li><span>渠道代码：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.handlerCode">
            </li>

            <li><span>渠道名称：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.handlerName">
            </li>

            <li><span>协议代码：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.contractNo">
            </li>

            <li></li>
            <li></li>

            <li><em>*</em><span>归属业务员代码：</span></li>
            <li>
                <input type="text" required readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.handler1Code">
            </li>

            <li><em>*</em><span>归属业务员姓名：</span></li>
            <li>
                <input type="text" required readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.handler1Name">
            </li>
            <li><em>*</em><span>录单人员代码：</span></li>
            <li>
                <input type="text" required readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.operatorCode">
            </li>

            <li><em>*</em><span>录单人员姓名：</span></li>
            <li>
                <input type="text" required readonly class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyMainDto.operatorName">
            </li>

            <li><span>批改录入人员代码：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPheadDto.operatorCode">
            </li>

            <li><span>批改录入人员姓名：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPheadDto.operatorName">
            </li>
        </ul>
    </div>
    <!--退费收款人信息-->
    <div class="index_list">
        <div class="index_tit"><h6>退费收款人信息</h6></div>
        <ul class="list_ul">
            <li><span>收款人与投保人关系：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].accountPersonName">
            </li>

            <li><em>*</em><span>收款人姓名/名称：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].accountName">
            </li>

            <li><em>*</em><span>收款人证件类型：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].identifyTypeName">
            </li>

            <li><em>*</em><span>收款人证件号码：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].identifyNo">
            </li>

            <li><em>*</em><span>退款账号开户所在省：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].recBankProvinceName">
            </li>

            <li><em>*</em><span>退款账号开户所在市：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].recBankCityName">
            </li>

            <li><em>*</em><span>退款账号开户银行：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].basicBankName">
            </li>

            <li><em>*</em><span>银行账号：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].accountNo">
            </li>

            <li><em>*</em><span>退款账户开户银行网点：</span></li>
            <li>
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].cnapsName">
            </li>

            <li class="hide"><em>*</em><span>对公对私类型：</span></li>
            <li class="hide">
                <input type="text" readonly class="fl bor box_shadow" ng-model="surrenderData.prpPpayeeAccountDtoList[0].isPrivate">
            </li>
        </ul>
    </div>
    <div class="index_btn">
            <span class="policy_info">
                <i></i><em ng-click="policyDetailShow()">查阅保单详情</em>
            </span>
            <span ng-click="FileshowInsure()">
                    <i class="i_1"></i><em>上传</em>
            </span>
    </div>
    <div class="index_btn1">
        <span class="submit" ng-click="nuclearSurClick()">下一步</span>
        <span class="edit giveUp" ng-click="giveUpClick()">放弃任务</span>
    </div>
</div>
<!--  引入 保单详情页面 容器，需要在 查阅保单详情 按钮上 增加显示 隐藏开关 -->
<div data-ng-include="'components/prpins/underwrite/tpl/policyDetail.html'"></div>
<!--弹层---文件上传-->
<div data-ng-include="'components/prpins/proposal/tpl/applicationFileUploadLayer.html'"></div>
<!--公共弹层-->
<div data-ng-include="'components/prpins/proposal/tpl/insuredOnlyOneLayer.html'"></div>
