<ul class="list_ul">
    <li><span>组织机构代码：</span></li>
    <li>
        <input type="text" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.prpCopyInsuredArtiDto.organizeCode" maxlength="30" readonly/>
    </li>
    <li><span>营业执照号：</span></li>
    <li><input type="text" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.prpCopyInsuredArtiDto.businessCode" maxlength="30" readonly/></li>
    <li><span>税务登记号：</span></li>
    <li><input type="text" class="fl bor box_shadow"  ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.prpCopyInsuredArtiDto.revenueRegistNo" maxlength="30" readonly/></li>
    <li><span>社会统一信用代码：</span></li>
    <li><input type="text" class="fl bor box_shadow"  ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.prpCopyInsuredArtiDto.creditCode" maxlength="50" readonly/></li>
    <li><span>联系人：</span></li>
    <li><input type="text" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.linkerName" maxlength="25" readonly/></li>
    <li><span>联系电话：</span></li>
    <li><input type="text" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.phoneNumber" maxlength="20" readonly/></li>
    <li><em>*</em><span>联系人手机号码：</span></li>
    <li><input type="text" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.mobile" readonly maxlength="11" required/></li>
    <li><em ng-if="emailRequiredFlag">*</em><span>联系人电子邮箱：</span></li>
    <li>
        <input type="email" name="email" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.email" class="fl bor box_shadow" required  ng-minlength="5" maxlength="40" readonly ng-if="emailRequiredFlag">
        <input type="email" name="email" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.email" class="fl bor box_shadow" ng-minlength="5" maxlength="40" readonly ng-if="!emailRequiredFlag">
    </li>
    <li><span>联系地址：</span></li>
    <li class="long_width">
        <input type="text" maxlength="100" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.insuredAddress" readonly>
    </li>
</ul>