<ul class="list_ul">
    <li class="hide"><input type="text" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.flag"/></li>
    <li><em>*</em><span>证件类型：</span></li>
    <li>
        <input type="text" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.identifyTypeName" readonly>
    </li>
    <li><em>*</em><span>证件号码：</span></li>
    <li><input type="text" class="fl bor box_shadow" name="identifyNumber" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.identifyNumber" sv-credit="surrenderData.copyPolicyDto.prpCopyInsuredDto.identifyType" required maxlength="20" readonly/></li>
    <li><span>证件到期日：</span></li>
    <li><input type="text" id="identityEndDate" class="date-input fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.identityEndDate" maxlength="10" readonly/></li>
    <li><em>*</em><span>性别：</span></li>
    <li>
        <div class="marr43">
            <label class="mar_right" ng-class="{true:'on',false:'radio'}[SexManFlag]">
                <input type="radio" class="hide" value="1" name="trafficIns"  ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.prpCopyInsuredNatureDto.sex"><em>男</em>
            </label>
            <label ng-class="{true:'radio',false:'on'}[SexWomanFlag]">
                <input type="radio"  class="hide" value="2" name="trafficIns" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.prpCopyInsuredNatureDto.sex"/><em>女</em>
            </label>
        </div>
    </li>
    <li><em>*</em><span>手机号码：</span></li>
    <li><input type="text" class="fl bor box_shadow" name="phoneNumber" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.mobile" maxlength="11" required readonly/></li>
    <li><em ng-if="emailRequiredFlag">*</em><span>电子邮箱：</span></li>
    <li>
        <input type="email" name="email" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.email" ng-minlength="5" maxlength="40" required ng-if="emailRequiredFlag" readonly/>
        <input type="email" name="email" class="fl bor box_shadow" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.email" ng-minlength="5" maxlength="40" ng-if="!emailRequiredFlag" readonly/>
    </li>
    <li><span>联系地址：</span></li>
    <li class="long_width">
        <input type="text" class="fl bor box_shadow" readonly maxlength="100" ng-model="surrenderData.copyPolicyDto.prpCopyInsuredDto.insuredAddress">
    </li>
</ul>