<!--清分文件生成-->
<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6>清分文件重生成</h6></div>
        <ng-form name="generateClearFileForm" novalidate="novalidate">
        <ul class="list_ul">
            <li>
                <span>清分类型：</span>
            </li>
            <li class="li_full">
                 <div class="marr43">
                    <label class="radio on" ng-class="{true:'on',false:''}[policySelected]" ng-click="businessType1()">
                        <input type="radio" class="hide" value="1" name="businessType" checked="checked" ng-model="formDataType"/><em>保单清分</em>
                    </label>
                    <label class="radio" ng-class="{true:'on',false:''}[endorseSelected]" ng-click="businessType2()">
                        <input type="radio" class="hide" value="2" name="businessType" ng-model="formDataType"/><em>批单清分</em>
                    </label>
                    <label class="radio" ng-class="{true:'on',false:''}[claimsSelected]" ng-click="businessType3()">
                        <input type="radio" class="hide" value="3" name="businessType"  ng-model="formDataType"/><em>理赔清分</em>
                    </label>
                </div>
            </li>
            <li><em>*</em><span>清分日期：</span></li>
            <li>
                <input type="text" id="operateDate" jedate class="date-input fl date"  ng-model="clearDate" max-date="{{maxDate}}" format="YYYY-MM-DD" required warn-text="清分日期" readonly/>
            </li>
        </ul>
        </ng-form>
    </div>
    <!--按钮-->
    <div class="index_btn1">
        <span class="submit" ng-click="generateTable()">生成清分表</span>
        <span class="edit" ng-click="onEdit()">退 出</span>
    </div>
</div>