<div class="main">
    <div class="section1" style="height:auto;">
        <div class="position1">
            <span class="ml10">当前位置：</span>
            <span class="local-fir">凭证短信管理 > </span>
            <span class="local-sec">短信模板管理</span>
        </div>
        <div class="queryResult1">
            <div class="queryResult1_title">
                <span class="fl uptext2">短信模板列表管理</span>

                <label class="fr" ng-click="showPage(); sign(); writemessage();newUtilNoticeModel();">新建</label>
                <label class="fr" ng-click="submit()">查询</label>
                <label class="fr" ng-click="flg('批删',null);">全部删除</label>
                <span class="fr" style="width: 316px;position: relative;top:-6px;">
                <input type="text" class="form-control" ng-model="noticeName" maxlength="40" style="float: right;width: 65%;" />
                <select ng-model="type" ng-init="type ='1'" style="height: 28px;width: 106px; ">
                    <option value="1" >模版名称</option>
                    <option value="2">模板号码</option>
                    <option value="3">创建人</option>
                </select>
            </span>
            </div>
            <table>
                <tr class="tr_top">
                    <td class="w5 check-box1">
                        <label class="fl checkbox-label1"  ng-class="{'checkbox-checked':select_all_message==true}" ng-click="selectAll(info)"><!--box.checked=!box.checked-->
                            <span></span>
                            <input type="checkbox" name="checkbox" class="hide" ng-model="select_all_message"><em>全选</em>
                        </label>
                    </td>
                    <td class="w8">模版号码</td>
                    <td class="w8">模版名称</td>
                    <td class="w8">模版创建人</td>
                    <td class="w8">创建日期</td>
                    <td class="w8">状态</td>
                    <td class="w8">操作</td>
                </tr>

                <tr class="tr_content F2F2F2" ng-repeat="info in list track by $index">
                    <td class="check-box1" >
                        <!--<input ng-model="info.checked" type="checkbox" ng-change="selectOne(info)"/>-->
                        <label class="fl checkbox-label1 " ng-class="{'checkbox-checked':info.checked==true}" ng-click="selectOne(info)"><!--box.checked1=!box.checked1-->
                            <span></span>
                            <input type="checkbox" name="checkbox" class="hide" ng-model="info.checked">
                        </label>
                    </td>
                    <td class="C2DBE61 cur">
                        <span ng-click="showPage('look'); sign2();readonlymessage();findUtilNoticeModel(info.noticeCode);"
                        ng-bind="info.noticeCode"></span>
                    </td>
                    <td ng-bind="info.noticeName"></td>
                    <td ng-bind="info.modelCreatedBy"></td>
                    <td ng-bind="info.createdTime"></td>
                    <td ng-if="info.createdTime "> {{info.status=='1'?'有效':'无效' }}</td>
                    <td>
                        <img class="cur"
                             ng-click="showPage();sign();writemessage();noticeModelEdit();findUtilNoticeModel(info.noticeCode)"
                             src="common/images/chenpeng/revise.png" title="修改" alt="修改">
                        <img class="cur" ng-if="info.status!='1'" src="common/images/chenpeng/start.png"
                             ng-click="disableClause(info)" title="启用" alt="启用">
                        <img class="cur" ng-if="info.status=='1'" src="common/images/chenpeng/stop.png"
                             ng-click="disableClause(info)" title="停用" alt="停用">
                        <img class="cur" ng-if="info.status=='0'" src="common/images/chenpeng/delete.png"
                             ng-click="flg('单删',info.noticeCode)" title="删除" alt="删除">
                    </td>
                </tr>

            </table>
            <div ng-show="isEmptyObject(list)||list.length==0" ng-class="{'query-null':list.length==0}" class=""></div>
            <div class="index_page">
                <tm-pagination conf="paginationConfmm"></tm-pagination>
            </div>
        </div>
    </div>
    <div  class="printLayerBox" ng-show="eject">
        <div class="mask"></div>
        <div class="large-layer-content myMassage-content"  style="z-index: 2003; width: 80% ;;top:68px;height:660px;">
            <div class="clause_header" >
                <span>短信模板</span>
                <i class="icon iconfont plusAndReduce" ng-click="hidePage()">&#xe632;</i>
            </div>
            <div class="layer-con all_payment_content1">
                <div class="layer-con1 riskScheme_contain" style="padding-top: 0;">
                    <ul class="layer-ul2">
                        <li class="layer-li" style="padding-bottom:10px;">
                            <label class="fr " style="width: 80%">
                                <div id="myMassageModel" style="position: relative">
                                    <input  ng-model="utilNoticeModelDto.noticeName" warn-text="短信模板名称"
                                           placeholder="**省/**市/**县、区+农作物名称+产品类型" style="width: 100%;"
                                           ng-pattern="utilNoticeModelRegex" required
                                           ng-disabled="messageHide" maxlength="40" type="text"/>
                                </div>
                            </label>
                            <label class="fr teaR" style="width: 20%;"><i class="mes_sign">*</i>
                                <span class="layer-span">模版名称</span></label>
                        </li>
                        <li class="layer-li">
                            <label class="fr" style="width: 80%">
                                <div>
                                    <textarea ng-model="utilNoticeModelDto.noticeContent" rows="5" required
                                              style="width: 100%;" ng-disabled="messageHide"></textarea>
                                </div>
                            </label>
                            <label class="fr teaR" style="width: 20%;"><i class="mes_sign">*</i>
                                <span class="layer-span">短信内容</span></label>
                        </li>
                        <li class="layer-li">
                            <div class="fr" style="width: 80%">
                                <input style="width: 180px" type="text" id="idDataStart2" jedate
                                       class=" proposal_date  disp fl" ng-model="utilNoticeModelDto.validStartDate"
                                       ng-disabled="messageHide"
                                       format="YYYY-MM-DD"
                                       ng-change="compareDate(utilNoticeModelDto.validStartDate,utilNoticeModelDto.validEndDate)"
                                       readonly/>
                                <input style="width: 180px" type="text" id="idDataEnd2" jedate
                                       class=" proposal_date  disp fl" ng-model="utilNoticeModelDto.validEndDate"
                                       ng-disabled="messageHide"
                                       ng-change="compareDate(utilNoticeModelDto.validStartDate,utilNoticeModelDto.validEndDate)"
                                       format="YYYY-MM-DD" readonly/>
                            </div>
                            <label class="fr teaR" style="width: 20%;"><i class="mes_sign">*</i>
                                <span class="layer-span">有效期</span></label>
                        </li>

                        <li class="layer-li" style="padding-top:10px;" id="layerMsgInput">
                            <label class="fr" style="width: 75%;position: absolute;left:22%;margin-left:-3px;">
                                <ui-select ng-model="utilNoticeModelDto.riskCName" ng-disabled="riskDisable"
                                           style="margin-top:6px;" ng-change="change($select.selected)"
                                           ng-click="queryRiskCodeInfo()">
                                    <ui-select-match placeholder="查询或选择...">
                                   <span class="layer-span" ng-bind="$select.selected.riskCName"
                                         style="position: relative;top:-13px; ">
                                    </span>
                                        <i style="position: relative;left:-4px;top:-12px;">{{riskName}}</i>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in (itemArray | filter:$select.search) track by item.riskCName">
                                        <span ng-show="riskCNameShow" ng-bind="item.riskCName">  </span>
                                    </ui-select-choices>
                                </ui-select>
                            </label>
                            <label class="fr teaR" style="width: 20%;float:left !important;"><i class="mes_sign">*</i>
                                <span class="layer-span">适用险种</span></label>
                        </li>
                        <li class="layer-li" style="margin-top: 0px">
                            <p class="teaR fl" style="width: 20%;"><i class="mes_sign">*</i> <span class="layer-span">适用机构</span>
                            </p>
                            <label class="fl" style="width: 100px;height: 30px;margin-left:-15px;">
                                <div id="smscomTree" class="">

                                    <!--<input type="text" required readonly class="upinput" style="width: 565px;"/>-->
                                    <com-tree multiple ng-disabled="messageHide" ng-value="swflogDto.handleName"
                                              url="queryCompanyTree" ng-model="swflogDto.handleCode" ng-required="true"
                                              ng-change="queryCheckAndLossPeople()" switchFlag="true">
                                    </com-tree>
                                    <!--<com-tree multiple ng-value="swflogDto.handleName" ng-model="swflogDto.handleCode" ng-change="queryCheckAndLossPeople()" switchFlag="true"> </com-tree>-->
                                </div>
                            </label>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="layer-footer">
                <button ng-show="determineButton" class="greenButton" ng-click="addUtilNoticeModel()">确定</button>
                <button ng-show="editButton" class="greenButton" ng-click="updateUtilNoticeModel()">修改</button>
                <button ng-show="resetButton" class="greenButton" ng-click="reset()">重置</button>
                <button ng-show="gobackButton" class="greenButton" ng-click="hidePage()">取消</button>
            </div>
        </div>
    </div>

</div>


