<!--
****************************************************************************
* DESC       ：国元农险理赔调度任务页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/29
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
*             ZhaoWenjie    11.30       调度任务-编辑页面搭建
****************************************************************************
-->
<div class="section">
  <div class="content_div content1-div">
    <form name="registForm">
      <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>调度处理</label>
                </span>
      <div class="condition_table">
        <ul class="clearfix half-ul">
          <li class="condition_td fl half-li">
            <label>报案号码</label>
            <div class="half-div">
              <input ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.registNo"
                     type="text"
                     maxlength="22"
                     ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>保单号码</label>
            <div class="half-div">
              <!--<input type="text" class="danger_short"  ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.policyNo" ng-disabled="true"/>-->
              <input type="text"  style="width: 65%" ng-attr-title="{{TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.policyNo}}"
                     class="danger_short"  ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.policyNo" ng-disabled="true"/>
              <span class='fl danger_btn' ng-click="showRelateInfo()">关联</span>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>联系人姓名</label>
            <div class="half-div">
              <input type="text" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.linkerName" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>联系电话</label>
            <div class="half-div">
              <input type="text" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.phoneNumber" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>理赔处理机构</label>
            <div class="half-div">
              <input type="text" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.claimcomName" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>调度员</label>
            <div class="half-div">
              <input type="text" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.operatorName" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>报损金额CNY</label>
            <div class="half-div">
              <input type="text" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.estimateLoss" ng-pattern="regData.positiveNumber" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>调度时间</label>
            <div class="half-div">
              <input type="text" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.inputDate" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>调度次数</label>
            <div class="half-div">
              <input type="text" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.surveyNo" ng-disabled="true"/>
            </div>
          </li>
          <!--<li class="condition_td fl half-li clearfix">-->
            <!--<label class='fl opacity-0'>是否调查</label>-->
            <!--<div class="half-div">-->
              <!--<span class='fl danger_btn1 danger_btn3'>发起调查</span>-->
            <!--</div>-->
          <!--</li>-->
          <li class="condition_td fl long-li long_li">
            <label>出险情况</label>
            <div class="half-div">
              <textarea ng-bind="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.registText" class="condition_textarea" rows="4" ng-disabled="seeFlag"></textarea>
            </div>
          </li>
          <!--<div class="btn_tr clearfix">
            <span ng-click="investigate()" class="Initiation">发起调查</span>
          </div>-->
        </ul>
      </div>
    </div>
      <div class="queryDanger">
      <span class="queryCriteria_title checkSurvey">
          <label>查勘调度处理</label>
          <!--<span class='fr title_right'><input type='checkbox'>&nbsp;&nbsp;标的</span>-->
      </span>
      <div class="condition_table"     >
        <ul class="clearfix half-ul">
          <li class="condition_td fl half-li">
            <label>查勘处理单位</label>
            <div class="half-div"  >
              <!--<select ng-disabled="seeFlag"     ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectName"></select>-->
              <!--<ui-select ng-disabled="seeFlag" ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectName "  >-->
                <!--<ui-select-match  allow-clear placeholder="查询或选择...">-->
                  <!--{{$select.selected.codecname}}-->
                <!--</ui-select-match>-->
                <!--<ui-select-choices repeat="code.codecode as code in scheduleList | filter: $select.search">-->
                  <!--<span ng-bind="code.codecname"></span>-->
                <!--</ui-select-choices>-->
              <!--</ui-select>-->

              <com-tree
                        ng-value="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectName"
                        url="queryUnit"
                        ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectId"
                        ng-change="queryCheckSurveyPeople()"
                        ng-disabled="seeFlag"
                        class="tree"
              >
              </com-tree>

              <!--<com-tree ng-value="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectName" url="queryUnit" ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectId" ng-change="queryCheckSurveyPeople()" ng-disabled="seeFlag" class="tree" ng-required="true"></com-tree>-->

              <!--<com-tree ng-value="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.scheduleObjectName" url="queryUnit" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.scheduleObjectId" ng-change="queryCheckSurveyPeople()" ng-disabled="seeFlag" class="tree" ng-required="true"></com-tree>-->

            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class="i-col">*</i>查勘地址</label>
            <div class="half-div">
              <input type="text"
                     ng-disabled="seeFlag"
                     style="color: #333;"
                     ng-required="true"
                     my-illegal-word="^|_FIELD_SEPARATOR_|_GROUP_SEPARATOR_"
                     my-max-length="100" maxLength="100"
                     warn-text="{myIllegalWord:'^为系统保留字符，不允许输入'}"
                     ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.checkSite"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>查勘要点提示</label>
            <div class="half-div">
              <input type="text"
                     style="color: #333;"
                     ng-disabled="seeFlag"
                     my-illegal-word="^|_FIELD_SEPARATOR_|_GROUP_SEPARATOR_"
                     my-max-length="255" maxLength="255"
                     warn-text="{myIllegalWord:'^为系统保留字符，不允许输入'}"
                     ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.checkInfo"
              />
              <!--scheduleFlag:"0"-->
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>查勘人员</label>
            <div class="half-div">
              <!--<select ng-disabled="seeFlag"     ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.handlerName"></select>-->
              <ui-select ng-disabled="seeFlag"
                         style="color: #333; width:33%;" ng-attr-title="{{$select.selected.codecname}}"
                         ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.nextHandlerCode"
                         ng-change="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.nextHandlerName=$select.selected.codecname;change()">
                <ui-select-match  allow-clear placeholder="查询或选择...">
                  {{$select.selected.codecname}}
                </ui-select-match>
                <ui-select-choices repeat="code.codecode as code in handlerList | filter: $select.search">
                  <span ng-bind="code.codecname"></span>
                </ui-select-choices>
              </ui-select>
              <!--<code-type base-code="riskType"  ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.handlerName" class="danger_short"  ng-disabled="seeFlag"></code-type>-->
              <button style="width: 18%;border-radius: 6px;height:32px;" class='fl danger_btn'  ng-click="scheduleQueryShow()" >班表</button>
              <button style="width: 29%;border-radius: 6px;height:32px;" class='fl danger_btn1 danger_btn2' ng-click="openScheduleQueryLayer()">班表查询</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
      <div class="queryDanger">
                <span class="queryCriteria_title checkSurvey">
                    <label>定损调度处理</label>
                </span>
      <div class="condition_table">
        <ul class="clearfix half-ul">
          <li class="condition_td fl half-li">
            <label>定损处理单位</label>
            <div class="half-div">
              <!--<select ng-disabled="seeFlag"     ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectName"></select>-->
              <!--<ui-select ng-disabled="seeFlag" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleItemDtoList[0].scheduleObjectName "  >-->
                <!--<ui-select-match  allow-clear placeholder="查询或选择...">-->
                  <!--{{$select.selected.codecname}}-->
                <!--</ui-select-match>-->
                <!--<ui-select-choices repeat="code.codecode as code in codeListData.ReportType | filter: $select.search">-->
                  <!--<span ng-bind="code.codecname"></span>-->
                <!--</ui-select-choices>-->
              <!--</ui-select>-->
              <com-tree ng-value="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleItemDtoList[0].scheduleObjectName"
                        url="queryUnit"
                        ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleItemDtoList[0].scheduleObjectId"
                        ng-disabled="true"
                        class="tree"
              >
              </com-tree>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class="i-col">*</i>定损地址</label>
            <div class="half-div">
              <input type="text"
                     style="color: #333;"
                     ng-required="true"
                     my-illegal-word="^|_FIELD_SEPARATOR_|_GROUP_SEPARATOR_"
                     my-max-length="100" maxLength="100"
                     warn-text="{myIllegalWord:'^为系统保留字符，不允许输入'}"
                     ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleItemDtoList[0].checkSite"
                     ng-disabled="seeFlag"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>案件紧急状态</label>
            <div class="half-div">
              <code-type base-code="caseEmergency"   style="color: #333;" ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleItemDtoList[0].exigencegree"  ng-disabled="seeFlag"></code-type>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>定损要点提示</label>
            <div class="half-div">
              <input type="text"
                     style="color: #333;"
                     my-illegal-word="^|_FIELD_SEPARATOR_|_GROUP_SEPARATOR_"
                     my-max-length="255" maxLength="255"
                     warn-text="{myIllegalWord:'^为系统保留字符，不允许输入'}"
                     ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleItemDtoList[0].resultInfo"
                     ng-disabled="seeFlag"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>定损人员</label>
            <div class="half-div">
              <!--<select ng-disabled="seeFlag"     ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectName"></select>-->
              <ui-select ng-disabled="true"
                         style="color: #333;"
                ng-model="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.nextHandlerCode"
                ng-change="TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.nextHandlerName=$select.selected.codecname;change()">
                <ui-select-match  allow-clear placeholder="查询或选择...">
                  {{$select.selected.codecname}}
                </ui-select-match>
                <ui-select-choices repeat="code.codecode as code in handlerList | filter: $select.search">
                  <span ng-bind="code.codecname"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </li>
        </ul>
      </div>
    </div>
      <div class="queryResult ovh">
      <div class="queryResult_title clearfix">
        <span class="fl tit-color font-bold">补充说明</span>
      </div>
      <table>
        <tr class="tr_top">
          <td style="width: 65px">序号</td>
          <td style="width: 135px">时间</td>
          <td style="width: 150px">操作员</td>
          <td>内容</td>
          <td style="width: 80px">操作</td>
        </tr>
        <tr ng-repeat="result in TaskSchedulingDetailedOutDto.prpLregistExtDto.prpLRegistExtDtoList" class="tr_content">
          <td ng-bind="result.serialNo=$index+1">
            <!--<input type="text" ng-model="result.serialNo" ng-disabled="seeFlag" class="teaC">-->
          </td>
          <td style="position: relative;" class="timeText">
            <input type="text"   ng-model="result.inputDate" name="时间" value="2" jedate class="date" id="{{'inputDate'+$index}}" format="YYYY-MM-DD" ng-disabled="seeFlag">
          </td>
          <td>
            <input type="text" ng-model="result.operatorName" ng-disabled="seeFlag">
            <input type="hidden" ng-model="result.operatorCode">
          </td>
          <td>
            <input type="text" ng-model="result.context"  ng-disabled="seeFlag">
          </td>
          <td class='remove-a' ng-click="del($index)">删除</td>
        </tr>
      </table>
      <span class='add_p' ng-click="add()" style="margin-right: 37px">添加</span>
      <!--<div class="index_page">-->
        <!--<tm-pagination conf="paginationConf"></tm-pagination>-->
      <!--</div>-->
    </div>
    </form>
    <div class="btn_tr clearfix mt20">
      <span  class="btn"  ng-disabled="flag" ng-click="saveDeal()">调度</span>
      <span ng-click="goBack()">返回</span>
    </div>
  </div>
</div>
<!-- 短信发送弹层 -->
<div ui-view="sendMessage"></div>
<!-- 班表查询弹层 -->
<div ui-view="scheduleQuery"></div>
<div ng-show="scheduleQuery">
  <div class="mask zIndex"></div>
  <div class="tip_success_info printLayer orderIntLayer1">
    <div class="remove_header">
      <span></span>
      <i class="icon iconfont" ng-click="scheduleQuery=!scheduleQuery;">&#xe632;</i>
    </div>
    <div style="max-height:504px;overflow-y: auto;">
      <table class="regional-table">
        <thead>
        <tr class="tr_top">
          <td>日期</td>
          <td>班次名称</td>
          <td>作业区域</td>
          <td>查勘人员</td>
          <td>联系电话</td>
          <td>工作角色</td>
          <td>已派工数量</td>
          <td>派工</td>
        </tr>
        </thead >
        <tbody ng-show=open>
        <tr class="tr_content" ng-repeat="result in dispatchList">
          <td ng-bind="result.time"></td>
          <td ng-if="result.dateType=='AM'">白班</td>
          <td ng-if="result.dateType=='PM'">夜班</td>
          <td ng-bind="result.areaName"></td>
          <td ng-bind="result.handlerName"></td>
          <td ng-bind="result.tel"></td>
          <td ng-if="result.jobRole=='3'">非车查勘</td>
          <td ng-if="result.jobRole!='3'">{{result.jobRole}}</td> <!--非车查勘-->
          <td ng-bind="result.checkCount"></td>
          <td>
            <div class="operation">
              <button class="" ng-click="dispatching(result.handlerCode)">派工</button>
            </div>
          </td>
        </tr>
        </tbody>
        <tr style="background: #F2F2F2" class="tr_content">
          <td colspan="8"  style="padding-left:30px;font-size: 12px;text-align: left;">白班 8:00——18:00,夜班 18:00——8:00（含起点时间，不含终点时间）</td>
        </tr>
      </table>
    </div>
    <div ng-show="prpLregist===null||prpLregist.length==0" ng-class="{'not-query':prpLregist === null,'query-null':prpLregist.length==0}"></div>
    <!--<div class="index_page">
      <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
-->
    <!--<div class="btn_tr btn-half btn-th1 clearfix">-->
    <!--<span class="fl">保存</span>-->
    <!--<span class="fr no-bg" ng-click="queryRegional=!queryRegional">放弃</span>-->
    <!--</div>-->
  </div>
</div>


<div ng-show="queryRegional">



  <div class="mask zIndex"></div>


  <div class="tip_success_info printLayer orderIntLayer1">
    <div class="queryCriteria">
			<span class="queryCriteria_title">
              <label>查询条件</label>
              <div ng-click="searchConditionShow=!searchConditionShow" class="cur fr">
              </div>
          </span>

      <div class="condition_table">
        <form name="myForm">
          <ul class="clearfix half-ul"   >
            <li  class="condition_td fl half-li">
              <label>险类</label>
              <div class="half-div">

                <select base-code="ClassCode"  style="color: #333 !important;width: 116%;"
                        ng-options="codes.codecode as codes.codecname for codes in ClassCode"
                        placeholder="查询或选择..."
                        ng-model="jobManagerDto.classCode">
                </select >
              </div>
            </li>
            <li class="condition_td fl half-li institutionsClass">
              <label>班表机构</label>
              <div class="half-div">
                <select base-code="Deptname"  style="color: #333 !important; width: 100%;"
                        ng-options="codes.comCode as codes.comCName for codes in Deptname"
                        ng-model="TaskSchedulingDetailedOutDto.prpLscheduleMainWFDto.scheduleObjectId" >
                </select>
              </div>
            </li>
            <li class="condition_td half-li">
              <label>日期</label>
              <div class="half-div" style="width: 120px;">
                <input type="text" style="width: 130px;color: #333 !important;" class="date-input date fl ng-isolate-scope ng-pristine ng-valid"  id="StatStartDate" name="日期" ng-model="jobManagerDto.time1" max-date="{{jobManagerDto.time2}}" jedate  format="YYYY-MM-DD">
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label style="width: 42px;">到</label>
              <div class="half-div">
                <input type="text" style="width: 130px;color: #333 !important;" class="date-input date fl ng-isolate-scope ng-pristine ng-valid" id="StatStartDatdend" name="日期" value="1" ng-model="jobManagerDto.time2" min-date="{{jobManagerDto.time1}}" jedate  format="YYYY-MM-DD">
              </div>

            </li>
          </ul>
        </form>
        <div class="btn_tr btn-th1 clearfix teaC ">
          <!--<span class="fl" ui-sref="UIAgriScheduleAdd">新班表</span>-->
          <span class="" ng-click="goScheduleShow('myForm')">查询</span>
          <!--<span class="fl" ng-click="regionalSetting=!regionalSetting;">区域设置</span>-->
          <span class="" ng-click="queryRegional=!queryRegional;">返回</span>
        </div>
      </div>
    </div>

    <div class="remove_header">

      <span>查询结果列表</span>
      <i class="icon iconfont" ></i>
    </div>
    <div style="max-height:250px;overflow-y: auto;">
      <table class="regional-table">
        <thead>
        <tr class="tr_top">
          <td>日期</td>
          <td>班次</td>
          <td>查勘人员</td>
          <td>联系电话</td>
          <td>工作角色</td>
        </tr>
        </thead>
        <tbody>
        <tr class="tr_content" ng-repeat="result in dispatchList1">
          <td ng-bind="result.time"></td>
          <td ng-if="result.dateType=='AM'">白班</td>
          <td ng-if="result.dateType=='PM'">夜班</td>
          <td ng-bind="result.handlerName"></td>
          <td ng-bind="result.tel"></td>
          <td ng-if="result.jobRole=='3'">非车查勘</td>
          <td ng-if="result.jobRole!='3'">{{result.jobRole}}</td>
        </tr>
        </tbody>

      </table>
      <div ng-show="prpLregist===null||prpLregist.length==0" ng-class="{'not-query':prpLregist === null,'query-null':prpLregist.length==0}"></div>
      <div class="index_page">
        <tm-pagination conf="paginationConf"></tm-pagination>
      </div>
    </div>


    <!--<div class="btn_tr btn-half btn-th1 clearfix">-->
    <!--<span class="fl">保存</span>-->
    <!--<span class="fr no-bg" ng-cblick="queryRegional=!queryRegional">放弃</span>-->
    <!--</div>-->
  </div>
</div>



<!--ng-show="checkSendMessageFlag"-->
<div class="orderlayerBox" ng-show="checkSendMessageFlag" >
  <div class="mask zIndex"></div>
  <div class="printLayer dispa-task">
    <div class="remove_header">
      <span>短信发送</span>
      <i class="icon iconfont" ng-click="closeMessage()">&#xe632;</i>
    </div>
    <div class="info_container">
      <ul class='layer_ul'>
        <li ng-show="handlerExist" class='clearfix layer_li'>
          <input type="checkbox" ng-model="message.sendHandlerFlag" class='fl layer_check'>
          <span class="condition_td fl layer_span">
            <label><i class="i-col">*</i>查勘人员</label>
            <input type="text" ng-disabled="true" class="task" ng-model="message.handler.handlerName">
          </span>
          <span class="condition_td fl layer_span"  >
            <label><i class="i-col">*</i>查勘人员手机号</label>
            <div class="half-div" style="position: relative">
            <input type="text" class="task"   style="width: 100%;"
                   ng-pattern="regData.number" warn-text="{'ErrPattern':'手机号码格式错误，请修改！',itemName:'手机号码'}"
                   name="staffPhonerequired" required="true" showText="手机号不能为空!"
                   ng-model="message.handler.handlerPhoneNumber">
            </div>
          </span>
          <span style="height: auto;margin-top: 20px;width: 100%" class="condition_td fl layer_span">
            <label style="width: 20%"><i class="i-col">*</i>短信内容</label>
            <textarea style="width: 73.4%; overflow-y: auto" class="task" ng-model="message.handler.handlerMessage"></textarea>
          </span>
         </li>
        <li ng-show="handlerExist" class='clearfix layer_li'>
          <input type="checkbox" ng-model="message.sendReportFlag" class='fl layer_check'>
          <span class="condition_td fl layer_span">
            <label><i class="i-col">*</i>报案人员</label>
            <input type="text" ng-disabled="true" class="task" ng-model="message.reportor.reportorName">
          </span>
          <span class="condition_td fl layer_span">
            <label><i class="i-col">*</i>报案人员手机号</label>
              <div class="half-div" style="position: relative">
            <input type="text" class="task"  style="width: 100%;"
                   ng-pattern="regData.number" warn-text="{'ErrPattern':'手机号码格式错误，请修改！',itemName:'手机号码'}"
                   name="staffPhonerequired" required="true" showText="手机号不能为空!"
                   ng-model="message.reportor.reportorPhoneNumber">
              </div>
          </span>
          <span style="height: auto;margin-top: 20px;width: 100%" class="condition_td fl layer_span">
            <label style="width: 20%"><i class="i-col">*</i>短信内容</label>
            <textarea  style="width: 73.4%; overflow-y: auto" class="task" ng-model="message.reportor.reportMessage"></textarea>
          </span>
        </li>
        <li class='clearfix layer_li'>
          <input type="checkbox" ng-model="message.sendInsuredFlag" class='fl layer_check'>
          <span class="condition_td fl layer_span">
            <label><i class="i-col">*</i>被保险人</label>
            <input type="text" ng-disabled="true" class="task" ng-model="message.insured.insuredName">
          </span>
          <span class="condition_td fl layer_span">
            <label><i class="i-col">*</i>被保险人手机号</label>
            <div class="half-div" style="position: relative">
            <input type="text" class="task"  style="width: 100%;"
                   ng-pattern="regData.number" warn-text="{'ErrPattern':'手机号码格式错误，请修改！',itemName:'手机号码'}"
                   name="staffPhonerequired" required="true" showText="手机号不能为空!"
                   ng-model="message.insured.insuredPhoneNumber">
            </div>
          </span>
          <span style="height: auto;margin-top: 20px;width: 100%" class="condition_td fl layer_span">
            <label style="width: 20%"><i class="i-col">*</i>短信内容</label>
            <textarea  style="width: 73.4%;overflow-y: auto" class="task" ng-model="message.insured.insuredMessage"></textarea>
          </span>
        </li>
      </ul>
      <div class="btn_tr clearfix">
        <span ng-click="sendMessage()">确认</span>
        <span ng-click="closeMessage()">取消</span>
      </div>
    </div>
  </div>
</div>


<!-- 关联弹层-->
<!--<div ui-view="connect"></div>-->
<div class="orderlayerBox" style="max-height:700px " ng-show="relateInfo">
  <div class="mask zIndex"></div>
  <div class="tip_success_info printLayer orderIntLayer">
    <div class="remove_header">
      <span>保单信息</span>
      <i class="icon iconfont" ng-click="closeRelative()">&#xe632;</i>
    </div>
    <div class="info_container">
      <div >
        <!--<div class="remove_header">-->
        <!--<span>保单信息</span>-->
        <!--</div>-->
        <div class="condition_table">
          <ul class="clearfix">
            <li class="condition_td fl long-li">
              <label>保单号</label>
              <input type="text" style="width: 37%" ng-model="relateInfoDto.prpCmainDto.policyNo" disabled="disabled">
              <span class='fl danger_btn' ng-click="policyShow(TaskSchedulingDetailedOutDto.scheduleDto.prpLscheduleMainWFDto.policyNo)">出险时保单信息</span>
            </li>
            <li class="condition_td fl long-li">
              <label>保险期限</label>
              <!--<input type="text" ng-model="relateInfoDto.prpCmainDto.insuredName"  maxlength="19" disabled="disabled">-->
              <div class="data-box">
                <input type="text" id="startDate" style="width: 30%" class="date-long-input fl date" ng-model="relateInfoDto.prpCmainDto.startDate" jedate format="YYYY-MM-DD" ng-disabled="true"/>
                <span class='fl long-span'>零时起至</span>
                <input type="text" id="endDate" style="width: 30%" class="date-long-input fl date" ng-model="relateInfoDto.prpCmainDto.endDate" jedate format="YYYY-MM-DD" ng-disabled="true"/>
                <span class='fl'>二十四时止</span>
              </div>
            </li>
            <li class="condition_td fl long-li">
              <label>被保险人名称</label><input type="text" style="width: 37%" ng-model="relateInfoDto.prpCmainDto.insuredName"  disabled="disabled">
            </li>
          </ul>
        </div>
      </div>
      <div class="queryCriteria" style="border-top: none;width: 100%;">
        <div class="remove_header">
          <span>批单信息</span>
        </div>
        <table class="condition_table" style="margin-top: 0px">
          <tr class="tr_top">
            <td class="w8">序号</td>
            <td class="w8">批单号码</td>
            <td class="w8">核批完成日期</td>
          </tr>
          <tr class="tr_content F2F2F2" ng-repeat="result in relateInfoDto.prpPheadDtoList">
            <td ng-bind="$index+1"></td>
            <td ng-bind="result.endorseNo" ></td>
            <td ng-bind="result.underwriteEndDate"></td>
          </tr>
        </table>
      </div>
      <div class="queryCriteria" style="border-top: none;width: 100%;">
        <div class="remove_header">
          <span>理赔信息</span>
        </div>
        <table class="condition_table" style="margin-top: 0px">
          <thead>
          <tr class="tr_top">
            <td class="w8">序号</td>
            <td class="w8">报案号</td>
            <td class="w8">出险时间</td>
            <td class="w8">赔付金额</td>
            <td class="w8">流程图</td>
          </tr>
          </thead>
          <tbody  style="height: 100px;overflow-y: scroll;">
          <tr class="tr_content F2F2F2" ng-repeat="result in relateInfoDto.prpLregistDtoList">
            <td ng-bind="$index+1"></td>
            <td ng-bind="result.registNo" ></td>
            <td ng-bind="result.damageStartDate"></td>
            <td ng-bind="result.estimateLoss"></td>
            <td class="local-sec" ng-click="showFlow(result)">查看</td>
          </tr>
          </tbody >
        </table>
      </div>
    </div>
  </div>
</div>




