<div class="mask"></div>
<div class="group_search">
    <div class="remove_header">
        <span>团体客户搜索</span>
        <a href="javascript:void(0)"><i ng-click="groupSearchClose()"></i></a>
    </div>
    <div class="insure_content">
        <div class="insured_table">
            <table>
                <tr>
                    <th class="td_empty t_first"></th>
                    <th ng-click="col='customerName';desc=!desc">名称</th>
                    <th ng-click="col='linkManName';desc=!desc">联系人</th>
                    <th ng-click="col='organizeCode';desc=!desc">组织机构代码证号</th>
                    <th ng-click="col='revenueCode';desc=!desc">税务登记证号</th>
                    <th ng-click="col='businessLicence';desc=!desc">营业执照号</th>
                    <th ng-click="col='socialCredit';desc=!desc">社会统一信用代码</th>
                    <th ng-click="col='linkManEmail';desc=!desc">联系人电子邮箱</th>
                </tr>
                <tr ng-repeat="d in teamDatas|orderBy:col:desc" ng-click="teamTrRadio($index)">
                    <td class="t_first">
                        <input type="radio" name="customRadio" ng-checked="$index== num1" ng-click="teamNum($index)" ng-bind="d.customerCode">
                    </td>
                    <td ng-bind="d.customerName"></td>
                    <td ng-bind="d.linkManName"></td>
                    <td ng-bind="d.organizeCode"></td>
                    <td ng-bind="d.revenueCode"></td>
                    <td ng-bind="d.businessLicence"></td>
                    <td ng-bind="d.socialCredit"></td>
                    <td ng-bind="d.linkManEmail"></td>
                </tr>
            </table>
        </div>
        <div class="index_page">
            <tm-pagination conf="teamConf"></tm-pagination>
        </div>
    </div>
    <div class="layer_btn1">
        <button class="button_sure" ng-click="teamConfirm()">确认</button>
        <button class="button_cancel" ng-click="groupSearchClose()">取消</button>
    </div>
</div>