<!--
****************************************************************************
* DESC: 农险angular－特殊批改批单保存弹层
* AUTHOR     ：阳光项目组
* Created by sen on 2017/11/12.
* --------------------------------------------------------
*       sunyaohui       2018-01-06     项目部署
****************************************************************************
-->
<div class="special-box" style="height:auto;">
    <!--<div class="mask zIndex"></div>-->
    <div class="remove_header">
        <span>保存提示</span>
        <i class="icon iconfont plusAndReduce" ng-click="quit()">&#xe632;</i>
    </div>
    <div class="info_container clearfix" style="background-color: #fff;">
        <div class="divcss5_left">
            <img style="width: 136px;height: 142px;" src="common/images/WechatIMG42.jpeg">
        </div>
        <div class="divcss5_right tabcent" style="height:auto;">
            <table class="tabcon">
                <tr class="savetd">
                    <td>
                        <span class="textStay" ng-if="batch">
                            下列保单批改保存成功：
                        </span>
                        <!--<span class="textStay" ng-if="!batch">-->
                            <!--下列保单批改保存失败：-->
                        <!--</span>-->
                    </td>
                </tr>
                <tr><td style="font-size: 16px;">批单号是：</td>  </tr>
                <tr class="savetd" ng-repeat="info in batch.endorseList" >
                    <td id="aaa">
                        <p >{{info}}</p>
                    </td>
                </tr>
                <tr ng-if="batch.batchNo">
                    <td>
                        <span style="font-size: 16px;">生成批次号：{{batch.batchNo}}</span>
                    </td>
                </tr>

            </table>
    </div>
    </div>

    <!--<div ng-repeat="info in batch.endorseList">-->
        <!--<p ng-bind="info">{{info}}</p>-->
    <!--</div>-->
    <!--{{endorseList}}-->

    <div class="obtain" style="position: static;">
        <button class="button_sure" ng-show="lookEndorseBtn" ng-click="lookEndorse()">查看批单</button>
        <button class="button_sure" ng-click="submitEndorse()" ng-disabled="!canSubmitEndorse">提交核批</button>
    </div>
</div>