<!--
****************************************************************************
* DESC: 农险angular－特殊批改变更保险期限界面
* AUTHOR     ：阳光项目组
* Created by sen on 2017/11/12.
* --------------------------------------------------------
*       sunyaohui       2018-01-06     项目部署
****************************************************************************
-->
<div class="main insurPeriod" id="model">
    <div class="section" style="height:auto;" ng-if="!obtainText">
        <div class="position">
            <span>当前位置：</span>
            <span class="local-fir">{{Tittle.firstLev}} > </span>
            <span class="local-fir">{{Tittle.secLev}} > </span>
            <span class="local-sec">{{Tittle.thirdLev}}</span>
        </div>
        <div class="content_div content1-div">
            <div class="queryCriteria">
				<span class="queryCriteria_title">
				<label>批改信息</label>
			</span>
                <div class="condition_table sepCorr-info-content">
                    <div class="sepCorr-info-top"><i class="icon iconfont">&#xe602;</i>您选择了<span>{{number}}</span>条保单信息进行特殊批改。<span class="lookChoosedDetail" ng-click="choosedDetail()">查看已选保单详情</span></div>
                    <ul class="clearfix">
                        <li class="condition_td fl half-li">
                            <label><i class="mes_sign">*</i>批改申请人</label><input type="text" class=""  maxlength="30" ng-model="endorse.blEndorseDtoList[0].prpPheadDto.appliName"/>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>归属部门</label><input type="text" class="" disabled ng-model="endorseConditionDto.comCName"/>
                        </li>
                        <li class="condition_td fl half-li data-box">
                            <label><i class="mes_sign">*</i>批改生效日期</label>
                            <input class="date-input fl date" id="endorseDate1" format="YYYY-MM-DD" id="start" ng-change="compare(endorseDate1,endorseDate)" jedate  ng-model="$parent.endorseDate1" />
                        </li>
                        <li class="condition_td fl half-li data-box">
                            <label>批改日期</label>
                            <input class="date-input date fl"  format="YYYY-MM-DD" id="makeDate" ng-change="compare(endorseDate1,endorseDate)" jedate ng-model="endorseDate" value=""/>
                        </li>
                        <li class="condition_td fl half-li" id="myInput">
                            <label>批改方式</label>
                            <div style="display: inline-block;"><code-type base-code="endorseType" ng-model="endorse.blEndorseDtoList[0].prpPheadDto.endorseType"></code-type></div>
                        </li>
                        <li class="condition_td3  fl">
                            <label class="label3">批改方式原因</label>
                    		<textarea ng-model="endorse.endorseConditionDto.endorseReason" id="endorseReason" maxlength="1000" >

                    		</textarea>
                        </li>
                    </ul>
                    <ul class="clearfix change-speCorr-info" >
                        <li class="condition_td fl half-li myInput" ng-if="publicShow">
                            <label>短期费率方式</label>
                            <div style="display: inline-block;">
                                <code-type ng-disabled="false" ng-show="!onlyShow" base-code="ShortRateFlagMain" ng-model='prpTitemKind.shortRateFlag'
                                           ng-init="prpTitemKind.shortRateFlag='3'" reverseData="getShortRateFlagName"
                                           ng-change="getShortRate(prpTitemKind.shortRateFlag)" required></code-type>                            </div>
                        </li>
                        <!--归属业务员页面特有-->
                        <li class="condition_td fl half-li long-li" ng-if="endorseObj.endorseType=='UIEndorsehandler1Code'">
                            <label>归属业务员变更为</label>
                            <!--<div class="basic_information_scale fl">-->
                                <!--<input type="text" ng-model="handler1Name"/>-->
                            <!--</div>-->
                            <!--<label style="width: 65px;">变更为</label>-->
                            <div class="basic_information_scale fl guishuzhuanyong">
                                <!--<select style="width: 130px;" ng-model="value"  ng-change="updateHandler(value)" >

                                    <option  ng-value="info.userCode"  ng-repeat="info in handCodeList" ng-bind="info.userName" ></option>
                                </select>-->
                                <!--<ui-select ng-model="handler1Code">-->
                                    <!--<ui-select-match   placeholder="查询或选择..." ng-attr-title="{{$select.selected.userName}}" ng-change="updateHandler(value)" >-->
                                        <!--{{$select.selected.userName}}-->
                                    <!--</ui-select-match>-->
                                    <!--<ui-select-choices repeat="info in handCodeList" ng-value="info.userCode" >-->
                                        <!--<span  ng-bind="info.userName" ng-attr-title="{{info.userName}}"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                                <ui-select ng-model="endorse.endorseConditionDto.handler1Code">
                                    <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.userName}}">
                                        {{$select.selected.userName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="info.userCode as info in handCodeList | filter: $select.search">
                                        <span ng-bind="info.userName" ng-attr-title="{{info.userName}}"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </li>
                        <li class="condition_td fl half-li long-li" ng-if="endorseObj.endorseType=='UIEndorseAgriculturalUpdate'&&publicShow">
                            <label>保险期间</label>
                            <input type="text" class="avail-day fl" disabled ng-model="responseQueryPolicyListInfoDtoList[0].startDate" /><span class="fl">&nbsp;日&nbsp;</span>
                            <input type="text" class="avail-time fl" disabled ng-model="time1" ng-init="time1=0"/><span class="fl">&nbsp;时起至&nbsp;</span>
                            <input class="date-input date fl timeWidth" id="agriEndDate" jedate ng-model="endorse.endorseConditionDto.endDate" format="YYYY-MM-DD" readonly><span class="fl">&nbsp;日&nbsp;</span>
                            <input type="text" class="avail-time fl" disabled ng-model="time" ng-init="time=24"/><span class="fl">&nbsp;时起止&nbsp;</span>
                        </li>
                    </ul>

                    <ul class="clearfix change-speCorr-info" ng-if="endorseObj.endorseType=='UIEndorseBusinesSourcesModified'">
                        <!--批改来源-->
                        <li class="condition_td fl half-li">
                            <label>业务来源批改</label>
                            <select></select>
                        </li>

                        <!--调整费率专属-->
                        <!--<li class="condition_td fl half-li long-li" ng-if="endorseObj.endorseType=='UIEndorseAdjustRate'">-->
                            <!--<label>调整费率</label>-->
                            <!--<input type="text" ng-model="endorse.endorseConditionDto.rate" ng-pattern="/^[0-9]*$/"-->
                                   <!--warn-layer="调整费率" ng-required="endorse.endorseConditionDto.rate"/>-->
                            <!--<span>&nbsp;%</span>-->
                        <!--</li>-->
                        <!--//单位保险金额-->
                        <!--<li class="condition_td fl half-li long-li" ng-if="endorseObj.endorseType=='UIEndorseAdjustUnitInsured'">-->
                            <!--<label>单位保险金额</label>-->
                            <!--<input type="text" ng-model="endorse.endorseConditionDto.unitAmountMain"/>-->
                            <!--<span>&nbsp;元</span>-->
                        <!--</li>-->
                    </ul>
                    <!--调整补贴-->
                    <div ng-show="endorseObj.endorseType=='UIEndorseAdjustSubsidy'">
                        <table width="100%">
                            <tr class="tr_top">
                                <td  style="width:33%;text-align: center">补贴类型</td>
                                <td style="width:33%;text-align: center">补贴方式</td>
                                <!--<td>补贴单位</td>-->
                                <td style="width:33%;text-align: center">补贴比例%</td>
                                <!--<td>补贴金额</td>-->
                                <td></td>
                            </tr>
                            <tr class="tr_content" ng-repeat="subsidy in endorse.blEndorseDtoList[0].prpPsubsidyDtoList track by $index">
                                <td style="text-align: center">
                                    <div class="clearfix codeType" style="width: 70%">
                                        <!--<code-type base-code="SubsidyCode" ng-model='subsidy.subsidyCode' ng-change="updateSubsidy($index)"></code-type>-->
                                        <input type="text" disabled ng-model='subsidy.subsidyName'/>
                                        <input type="hidden" ng-model="subsidy.subsidyCode"/>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    <code-type base-code="Subsidytype" ng-model='subsidy.subsidyType' ng-change="updateSubsidy($index)" ng-disabled="disabled"></code-type>
                                    <!--<input type="text" disabled ng-model='subsidy.subsidyTypeName'/>-->
                                </td>
                                <!--<td>-->
                                    <!--<input type="text" ng-model="subsidy.subsidyDepartment" ng-change="updateSubsidy($index)"/>-->
                                <!--</td>-->
                                <td style="text-align: center">
                                    <input type="text" name="subsidyRate{{$index}}" ng-model="subsidy.subsidyRate" maxlength="14" ng-change="updateSubsidy($index);"
                                           ng-blur="calcSubsidy($index,'subsidyRate',$event)"
                                           ng-class="{'checkOutBdRed':check.subsidyRate}"/>
                                    <s ng-bind="check.subsidyRate" style="margin-left:25%"></s>
                                </td>
                                <!--<td>-->
                                    <!--<input type="text" name="subsidyPremium{{$index}}" ng-model="subsidy.subsidyPremium" ng-change="updateSubsidy($index)" ng-blur="calcSubsidy($index,'subsidyPremium',$event)"/>-->
                                <!--</td>-->
                                <!--<td style="padding-right: 20px;">-->
                                    <!--<button class="btn btn-danger pull-right" ng-click="delSubsidy($index)">删除</button>-->
                                <!--</td>-->
                            </tr>
                            <!--<tr>-->
                                <!--<td colspan="6" style="padding: 8px 20px 0;"><button class="btn btn-success pull-right" ng-click="addSubsidy()">新增</button></td>-->
                            <!--</tr>-->
                        </table>
                    </div>
                    <!--调整费率-->
                    <div ng-show="endorseObj.endorseType=='UIEndorseAdjustRate'">
                        <table width="100%">
                            <tr class="tr_top">
                                <td  style="width:33%;text-align: center">险别</td>
                                <td style="width:33%;text-align: center">标的</td>
                                <td style="width:33%;text-align: center">费率</td>
                                <td></td>
                            </tr>
                            <tr class="tr_content" ng-repeat="itemKind in endorse.blEndorseDtoList[0].prpPitemKindDtoList track by $index">
                                <td style="text-align: center">
                                    <div class="clearfix codeType" style="width: 70%">
                                        <input type="text" disabled ng-model='itemKind.kindName'/>
                                        <input type="hidden" ng-model="itemKind.kindCode"/>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    <input type="text" disabled ng-model='itemKind.itemDetailName'/>
                                    <input type="hidden" ng-model="itemKind.itemCode"/>
                                </td>
                                <td style="text-align: center">
                                    <input type="text" ng-model="itemKind.rate"
                                           ng-required="itemKind.rate" ng-blur="bijiao($event,itemKind.rate)"
                                           ng-class="{'checkOutBdRed':check.rate}"/>
                                    <s ng-bind="check.rate" style="margin-left:25%"></s>
                                    <!--<input type="text" ng-model="itemKind.rate"-->
                                            <!--ng-required="itemKind.rate" ng-blur="bijiao(itemKind.rate,$index)"/>-->
                                    <span>&nbsp;%</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--调整单位保额-->
                    <div ng-show="endorseObj.endorseType=='UIEndorseAdjustUnitInsured'">
                        <table width="100%">
                            <tr class="tr_top">
                                <td  style="width:33%;text-align: center">险别</td>
                                <td style="width:33%;text-align: center">标的</td>
                                <td style="width:33%;text-align: center">单位保险金额</td>
                                <td></td>
                            </tr>
                            <tr class="tr_content" ng-repeat="itemKindCopy in endorse.blEndorseDtoList[0].prpPitemKindDtoListCopy track by $index">
                                <td style="text-align: center">
                                    <div class="clearfix codeType" style="width: 70%">
                                        <input type="text" disabled ng-model='itemKindCopy.kindName'/>
                                        <input type="hidden" ng-model="itemKindCopy.kindCode"/>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    <input type="text" disabled ng-model='itemKindCopy.itemDetailName'/>
                                    <input type="hidden" ng-model="itemKindCopy.itemCode"/>
                                </td>
                                <td style="text-align: center">
                                    <input type="text" ng-model="itemKindCopy.unitAmount"ng-required="itemKindCopy.unitAmount"
                                           ng-blur="changeUnitAmount($event,itemKindCopy.unitAmount)"
                                           ng-class="{'checkOutBdRed':check.unitAmount}"/>
                                    <s ng-bind="check.unitAmount" style="margin-left:25%"></s>
                                    <!--<span>&nbsp;%</span>-->
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="condition_table">
                        <div class="btn_tr">
                            <button type="button" class="btn-success fl btn_front" ng-click="last()">上一步</button>
                            <button type="button" class="btn-success fr no-bg btn_after" ng-click="next()">下一步</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="obtainText" ng-include="'common/business/common/endorse/model/UIEndorse.obtainApproval.model.tpl.html'"></div>
</div>
<div class="orderlayerBox" ng-show="showDetail">
    <div class="mask zIndex"></div>
    <div class="tip_success_info printLayer orderIntLayer" style="position: fixed;">
        <div class="remove_header">
            <span>批改保单列表</span>
            <i class="icon iconfont" ng-click="cancel()">&#xe632;</i>
        </div>
        <div class="info_container">
            <div class="queryResult">
                <div class="queryResult_title layer_queryResult_title clearfix">
                    <span class="fl" style="color:#2DBE61;">保单列表</span>
                </div>
                <table>
                    <tr class="tr_top">
                        <td>序号</td>
                        <td>保单号</td>
                        <td>投保人名称</td>
                        <td>被保险人名称</td>
                        <td>保险起期</td>
                        <td>保险止期</td>
                        <td>操作员</td>
                    </tr>
                    <tr class="tr_content" ng-repeat="x in details">
                        <td ng-bind="$index+1"></td>
                        <td class="table-td-blue cur" ng-bind="x.policyNo" ng-click="getPolicyInfo(x.policyNo)"></td>
                        <td ng-bind="x.appliName"></td>
                        <td ng-bind="x.insuredName"></td>
                        <td ng-bind="x.startDate"></td>
                        <td ng-bind="x.endDate"></td>
                        <td ng-bind="x.operatorName"></td>
                    </tr>
                </table>
                <div class="index_page">
                    <tm-pagination conf="paginationConfmm"></tm-pagination>
                </div>
            </div>
        </div>
        <div class="remove_button no-line">
        </div>
    </div>
</div>
<!--加载中蒙板-->
<div ng-if="false" style="position: absolute;z-index: 1000;top:0;width: 100%;height: 100%;background:rgba(0,0,0,0.6);text-align: center;">
    <span style="position: absolute;top: 50%;color:#ffffff"><img src="common/images/lightbox/loading.gif" style="width: 24px;">&nbsp;加载中。。。</span>
</div>