<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.pms.core.salerate.dao.PrpDsalesRateMapper" >
  <resultMap id="BaseResultMap" type="PrpDsalesRate" >
		<result column="VersionNo" property="versionNo" jdbcType="VARCHAR" />
		<result column="RiskCode" property="riskCode" jdbcType="VARCHAR" />
		<result column="RiskName" property="riskName" jdbcType="VARCHAR" />
		<result column="BusinessNature" property="businessNature" jdbcType="VARCHAR" />
		<result column="SalesRate" property="salesRate" jdbcType="INTEGER" />
		<result column="EffectDate" property="effectDate" jdbcType="DATE" />
		<result column="InvalidDate" property="invalidDate" jdbcType="DATE" />
		<result column="Flag" property="flag" jdbcType="VARCHAR" />
		<result column="Remark" property="remark" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createTime" jdbcType="DATE" />
		<result column="CreateBy" property="createBy" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="DATE" />
		<result column="UpdateBy" property="updateBy" jdbcType="VARCHAR" />
		<result column="VersionNo" property="versionNo" jdbcType="VARCHAR" />
		<result column="RiskCode" property="riskCode" jdbcType="VARCHAR" />
		<result column="RiskName" property="riskName" jdbcType="VARCHAR" />
		<result column="BusinessNature" property="businessNature" jdbcType="VARCHAR" />
		<result column="SalesRate" property="salesRate" jdbcType="INTEGER" />
		<result column="EffectDate" property="effectDate" jdbcType="DATE" />
		<result column="InvalidDate" property="invalidDate" jdbcType="DATE" />
		<result column="Flag" property="flag" jdbcType="VARCHAR" />
		<result column="Remark" property="remark" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createTime" jdbcType="DATE" />
		<result column="CreateBy" property="createBy" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="DATE" />
		<result column="UpdateBy" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  versionNo,riskCode,riskName,businessNature,salesRate,effectDate,invalidDate,flag,remark,createTime,createBy,updateTime,updateBy
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="PrpDsalesRateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from PrpDsalesRate 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="PrpDsalesRateKey" >
    select 
    <include refid="Base_Column_List" />
    from PrpDsalesRate 
    where 
	 VersionNo = #{versionNo,jdbcType=VARCHAR} and RiskCode = #{riskCode,jdbcType=VARCHAR} and BusinessNature = #{businessNature,jdbcType=VARCHAR}
  </select>
  <select id="selectBusinessNature" resultMap="BaseResultMap" parameterType="PrpDsalesRate" >
    select *
   from PRPDSALESRATE E
   join (select e.BUSINESSNATURE, max(e.effectdate) as effectdate
           from PRPDSALESRATE e
          where e.effectdate &lt; #{effectDate,jdbcType=DATE}
          group by e.BUSINESSNATURE) p
     on p.BUSINESSNATURE = e.BUSINESSNATURE
    and p.effectdate = e.effectdate
  </select>
  <select id="selectSaleByDate" resultMap="BaseResultMap" parameterType="PrpDsalesRate" >
    select 
    <include refid="Base_Column_List" />
    from PrpDsalesRate 
    where 
	 RiskCode = #{riskCode,jdbcType=VARCHAR}, BusinessNature = #{businessNature,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="PrpDsalesRate">
  	select 
  	<include refid="Base_Column_List" />
  	from prpDsalesRate order by versionNo DESC
  </select>
  <select id="selectByDate" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
  	<include refid="Base_Column_List" />
  	from prpDsalesRate where 1=1
<!--   	EffectDate<= to_date(#{effectDate},'YYYY-MM-dd')  -->
  	 order by EffectDate DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="PrpDsalesRateKey" >
    delete from PrpDsalesRate 
    where 
		 VersionNo = #{versionNo,jdbcType=VARCHAR}, RiskCode = #{riskCode,jdbcType=VARCHAR}, BusinessNature = #{businessNature,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="PrpDsalesRate" >
    insert into PrpDsalesRate  (VersionNo,RiskCode,RiskName,BusinessNature,SalesRate,EffectDate,InvalidDate,Flag,Remark,CreateTime,CreateBy,UpdateTime,UpdateBy)
    values (#{versionNo,jdbcType=VARCHAR},#{riskCode,jdbcType=VARCHAR},#{riskName,jdbcType=VARCHAR},#{businessNature,jdbcType=VARCHAR},#{salesRate,jdbcType=INTEGER},#{effectDate,jdbcType=DATE},#{invalidDate,jdbcType=DATE},#{flag,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{createTime,jdbcType=DATE},#{createBy,jdbcType=VARCHAR},#{updateTime,jdbcType=DATE},#{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="PrpDsalesRate" >
    insert into PrpDsalesRate
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="versionNo != null" >
        VersionNo,
		</if>
<if test="riskCode != null" >
        RiskCode,
		</if>
<if test="riskName != null" >
        RiskName,
		</if>
<if test="businessNature != null" >
        BusinessNature,
		</if>
<if test="salesRate != null" >
        SalesRate,
		</if>
<if test="effectDate != null" >
        EffectDate,
		</if>
<if test="invalidDate != null" >
        InvalidDate,
		</if>
<if test="flag != null" >
        Flag,
		</if>
<if test="remark != null" >
        Remark,
		</if>
<if test="createTime != null" >
        CreateTime,
		</if>
<if test="createBy != null" >
        CreateBy,
		</if>
<if test="updateTime != null" >
        UpdateTime,
		</if>
<if test="updateBy != null" >
        UpdateBy,
		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="versionNo != null" >
        VersionNo,jdbcType=VARCHAR,
		</if>
		<if test="riskCode != null" >
        RiskCode,jdbcType=VARCHAR,
		</if>
		<if test="riskName != null" >
        RiskName,jdbcType=VARCHAR,
		</if>
		<if test="businessNature != null" >
        BusinessNature,jdbcType=VARCHAR,
		</if>
		<if test="salesRate != null" >
        SalesRate,jdbcType=INTEGER,
		</if>
		<if test="effectDate != null" >
        EffectDate,jdbcType=DATE,
		</if>
		<if test="invalidDate != null" >
        InvalidDate,jdbcType=DATE,
		</if>
		<if test="flag != null" >
        Flag,jdbcType=VARCHAR,
		</if>
		<if test="remark != null" >
        Remark,jdbcType=VARCHAR,
		</if>
		<if test="createTime != null" >
        CreateTime,jdbcType=DATE,
		</if>
		<if test="createBy != null" >
        CreateBy,jdbcType=VARCHAR,
		</if>
		<if test="updateTime != null" >
        UpdateTime,jdbcType=DATE,
		</if>
		<if test="updateBy != null" >
        UpdateBy,jdbcType=VARCHAR,
		</if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="PrpDsalesRate" >
    update PrpDsalesRate set
    <set >
		

<if test="riskName  != null" >      
        RiskName = #{riskName ,jdbcType=VARCHAR},</if>

<if test="salesRate  != null" >      
        SalesRate = #{salesRate ,jdbcType=INTEGER},</if>
<if test="effectDate  != null" >      
        EffectDate = #{effectDate ,jdbcType=DATE},</if>
<if test="invalidDate  != null" >      
        InvalidDate = #{invalidDate ,jdbcType=DATE},</if>
<if test="flag  != null" >      
        Flag = #{flag ,jdbcType=VARCHAR},</if>
<if test="remark  != null" >      
        Remark = #{remark ,jdbcType=VARCHAR},</if>
<if test="createTime  != null" >      
        CreateTime = #{createTime ,jdbcType=DATE},</if>
<if test="createBy  != null" >      
        CreateBy = #{createBy ,jdbcType=VARCHAR},</if>
<if test="updateTime  != null" >      
        UpdateTime = #{updateTime ,jdbcType=DATE},</if>
<if test="updateBy  != null" >      
        UpdateBy = #{updateBy ,jdbcType=VARCHAR},</if>
    </set>
    where 
		<if test="versionNo  != null" >
        VersionNo = #{versionNo ,jdbcType=VARCHAR} and 
      </if>	<if test="riskCode  != null" >
        RiskCode = #{riskCode ,jdbcType=VARCHAR} and 
      </if>	<if test="businessNature  != null" >
        BusinessNature = #{businessNature ,jdbcType=VARCHAR}
      </if>		
  </update>
  <update id="updateByPrimaryKey" parameterType="PrpDsalesRate" >
    update PRPDCODE
    set 
				
		
<if test="riskName  != null" >RiskName = #{riskName ,jdbcType=VARCHAR},</if>		
		
<if test="salesRate  != null" >SalesRate = #{salesRate ,jdbcType=INTEGER},</if>		
<if test="effectDate  != null" >EffectDate = #{effectDate ,jdbcType=DATE},</if>		
<if test="invalidDate  != null" >InvalidDate = #{invalidDate ,jdbcType=DATE},</if>		
<if test="flag  != null" >Flag = #{flag ,jdbcType=VARCHAR},</if>		
<if test="remark  != null" >Remark = #{remark ,jdbcType=VARCHAR},</if>		
<if test="createTime  != null" >CreateTime = #{createTime ,jdbcType=DATE},</if>		
<if test="createBy  != null" >CreateBy = #{createBy ,jdbcType=VARCHAR},</if>		
<if test="updateTime  != null" >UpdateTime = #{updateTime ,jdbcType=DATE},</if>		
<if test="updateBy  != null" >UpdateBy = #{updateBy ,jdbcType=VARCHAR},</if>		
    where 
			<if test="versionNo  != null" >
        VersionNo = #{versionNo ,jdbcType=VARCHAR} and 
      </if>	<if test="riskCode  != null" >
        RiskCode = #{riskCode ,jdbcType=VARCHAR} and 
      </if>	<if test="businessNature  != null" >
        BusinessNature = #{businessNature ,jdbcType=VARCHAR}
      </if>	
  </update>
  <!--   	非空校验放在service层，传到此处的值不为空 -->
  <update id="updateInvalidDate" parameterType="PrpDsalesRate">
  	update PrpDsalesRate p
    set p.Invaliddate = #{invalidDate,jdbcType=DATE}
    ,p.updateTime = #{updateTime,jdbcType=VARCHAR}
    ,p.updateBy = #{updateBy,jdbcType=DATE}
    where 
    p.businessNature = #{businessNature,jdbcType=VARCHAR}
    and p.versionNo = (
    	select e.versionNo from PrpDsalesRate e
    	where e.riskCode = #{riskCode,jdbcType=VARCHAR}
    	and e.invaliddate = to_date('9999-09-09', 'yyyy-mm-dd')
    	and e.businessNature = #{businessNature,jdbcType=VARCHAR}
    	)
    
  </update>
</mapper>