<div>
    <!--产品选择-->
    <div class="index_con">
        <div class="index_list">
            <div class="index_tit"><h6>产品信息</h6></div>
            <ul class="list_ul list_ul_bor">
                <li><span>选择产品：</span></li>
                <li>
                    <input type="text" ng-model="gRiskCode" ng-dblclick="search(gRiskCode)">
                </li>
                <li><span>{{gRiskName}}</span></li>
                <li><input type="text" ng-model="gDisStyle"></li>
            </ul>
        </div>
    </div>
    <!--流程显示 -->
    <ul class="index_process">
        <li class="{true:'li_active',false:'i_1'}[proposalStep=='1']"><i></i><span>1.填写投保信息</span></li>
        <li><i class="i_1"></i><span>2.收费</span></li>
        <li><i class="i_2"></i><span>3.完成</span></li>
    </ul>
    <!--详细信息展示区域 -->
    <div>
        <div ui-view="" class="index_total"></div>
    </div>
</div>