<!--
****************************************************************************
* DESC       ：国元农险理赔重开赔案
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/29
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
*             ZhaoWenjie    12.5       重开赔案-查看新建页面搭建
****************************************************************************
-->
<div class="section">

	<div class="content_div content1-div">
		<div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>重开陪案申请</label>
					<!--<div ng-click="searchConditionShow=!searchConditionShow" class="cur fr">-->
					<!--<i class="iconfont click_img" ng-hide="searchConditionShow">&#xe667;</i>-->
					<!--<i class="iconfont click_img" ng-show="searchConditionShow">&#xe668;</i>-->
					<!--</div>-->
                </span>
			<div class="condition_table">
				<ul class="clearfix half-ul">
					<li class="condition_td fl half-li">
						<label>险种名称</label>
						<div class="half-div">
							<input ng-model="queryDto.riskCName" type="text" value='小麦种植' />
						</div>
					</li>
					<li class="condition_td fl half-li">
						<label>立案号</label>
						<div class="half-div">
							<input ng-model="queryDto.claimNo" maxlength="21" type="text" value='' />
						</div>
					</li>
					<li class="condition_td fl half-li">
						<label>保单号码</label>
						<div class="half-div">
							<input ng-model="queryDto.policyNo" style="width: 82%" maxlength="23" type="text" class="danger_short" value="" />
							<span class='fl danger_btn' ng-click="policyShow(queryDto.policyNo)">关联</span>
						</div>
					</li>
					<li class="condition_td fl half-li">
						<label>报案号</label>
						<div class="half-div">
							<input ng-model="queryDto.registNo" maxlength="21" type="text" value='' />
						</div>
					</li>
					<li class="condition_td fl half-li">
						<label>赔款计算书号</label>
						<div class="half-div">
							<input ng-model="queryDto.compensateNo" maxlength="23" type="text" value="" />
						</div>
					</li>

				</ul>

			</div>
		</div>
		<div class="queryDanger">
                <span class="queryCriteria_title">
                    <label>申请原因</label>
                </span>
			<div class="input-content-box">
				<textarea rows="5" ng-model="queryDto.context"></textarea>
			</div>

		</div>


	</div>
</div>