<!--
****************************************************************************
* DESC       ：国元农险理赔重开赔案
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/29
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
*             ZhaoWenjie    12.5       重开赔案-查看新建页面搭建
****************************************************************************
-->
<div class="section">

  <div class="content_div content1-div">
    <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>重开陪案查看</label>
                  <!--<div ng-click="searchConditionShow=!searchConditionShow" class="cur fr">-->
                  <!--<i class="iconfont click_img" ng-hide="searchConditionShow">&#xe667;</i>-->
                  <!--<i class="iconfont click_img" ng-show="searchConditionShow">&#xe668;</i>-->
                  <!--</div>-->
                </span>
      <div class="condition_table">
        <ul class="clearfix half-ul">
          <li class="condition_td fl half-li">
            <label>险种名称</label>
            <div class="half-div">
              <input ng-model="recaseDto.riskCName" type="text" value='' ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>立案号</label>
            <div class="half-div">
              <input ng-model="recaseDto.claimNo" maxlength="21" type="text" value='' ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>保单号码</label>
            <div class="half-div">
              <input  style="width: 68%" ng-model="recaseDto.policyNo" maxlength="21" type="text" class="danger_short" value="" ng-disabled="true" />
              <span class='fl danger_btn' ng-click="policyShow(recaseDto.policyNo)">关联</span>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>报案号</label>
            <div class="half-div">
              <input ng-model="recaseDto.registNo" type="text" maxlength="23" value='' ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>赔款计算书号</label>
            <div class="half-div">
              <input ng-model="recaseDto.compensateNo" maxlength="25" type="text" value="" ng-disabled="true"/>
            </div>
          </li>

        </ul>

      </div>
    </div>
    <div class="queryDanger">
        <span class="queryCriteria_title">
            <label>申请原因</label>
        </span>
      <div class="input-content-box">
        <textarea rows="5" ng-model="recaseDto.reCaseReason" ng-disabled="true"></textarea>
      </div>
      <div class="btn_three btn_write clearfix mt20"  style="padding-left: 5%">
        <!--<span class="fl" ng-click="saveRecase()">提 交</span>-->
        <span class="fl" ng-click="showTraceInfo()">审核意见</span>
        <span class="fl" ng-click="goBack()">取消</span>
      </div>
    </div>
  </div>

</div>