<div class="index_con">
    <ng-form novalidate="novalidate" name="communityMemberMaintainForm">
        <div class="index_list" ng-init="initRisk()">
            <div class="index_tit">
                <h6>共同体成员比例维护</h6>
                <!--<a href="javascript:void(0)"><i ng-click="communityMemberClose()"></i></a>-->
            </div>
            <ul class="list_ul">
                <li><em>*</em><span>产品名称：</span></li>
                <li>
                    <select class="form-control" ng-model="coinsRatesDto.riskCode" required
                            ng-options="x.riskCode as x.riskCName for x in riskList">
                    </select>
                </li>
                <li>
                    <em>*</em><span>生效日期：</span>
                </li>
                <li>
                    <input type="text" id="operateDate" jedate class="date-input fl date"
                           ng-model="coinsRatesDto.effectDate" format="YYYY-MM-DD" warn-text="生效日期" required readonly/>
                </li>
                <div class="pending_btn1">
                    <span class="a_search" ng-click="communityMemberMaintainInit()">维护</span>
                </div>
            </ul>
        </div>

        <div class="index_list index_list_table memberMaintain"  ng-hide="memberMaintain">
            <div class="index_tit">
                <h6 class="fl">共同体成员比例列表</h6>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>产品名称</th>
                    <th>共同体成员公司</th>
                    <th>所占比例(%)</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="d in communityMemberNewData|orderBy:col:desc">
                    <td ng-bind="d.riskName"></td>
                    <td ng-bind="d.comCName"></td>
                    <td><input type="text" ng-model="d.coinsRate" ng-blur="totalPlus()"
                               ng-pattern="/^(\d|[1-9]\d|100)(\.\d{1,2})?$/" warn-text="0-100内最多两位小数正数，"></td>
                    <td class="th_last">
                        <a href ng-click="communityMemberDelete($index)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>总计</td>
                    <td></td>
                    <td class="t_bor">
                        <input type="text" ng-model="maintainAnswer" readonly/>
                        <span ng-show="textTipShow" class="textTipShow">总计数据必须为100!</span>
                        <!--<input type="text" ng-model="maintainAnswer"  ng-pattern="/^100$/" warn-text="总计必须为100," readonly/>-->
                    </td>

                    <td></td>
                </tr>
            </table>
        </div>
</div>
</div>
<div class="index_btn1 index_btn2" ng-hide="memberMaintain">
    <button class="submit" ng-class="{'ngdisable':buttonSure}" ng-click="communityMemberMaintainSaveIn()"
            ng-disabled="buttonSure">确 认
    </button>
    <!--<span class="plus" ng-click="trIncrease()">添加</span>-->
    <span class="edit" ng-click="communityMemMaintainberBack()">退 出</span>
</div>
</ng-form>
<!--弹层---保存成功-->
<div data-ng-include="'components/pms/communityMember/tpl/communityMemberMaintainSuccessLayer.html'"></div>
<!--弹层---保存失败(信息提示)-->
<div data-ng-include="'components/pms/communityMember/tpl/communityMemberMaintainErrorInfoLayer.html'"></div>
<!--弹层---保存失败(无响应)-->
<div data-ng-include="'components/pms/communityMember/tpl/communityMemberMaintainFailLayer.html'"></div>
<!--弹层---退出提示-->
<div data-ng-include="'components/pms/communityMember/tpl/communityMemberMaintainBackLayer.html'"></div>
<!--弹层---删除提示-->
<div data-ng-include="'components/pms/communityMember/tpl/communityMemberMaintainDelLayer.html'"></div>

</div>