<!--信息提示-成功-->
<div ng-hide="communityMemberMaintainSuccessLayer">
    <div class="mask">
    </div>
    <div class="tip_success_info">
        <div class="remove_header">
            <span>信息提示</span>
            <a href="javascript:void(0)"><i ng-click="layerBack()"></i></a>
        </div>
        <div class="info_container">
            <i class="tip_1"></i>
            <span>{{communityMemberMaintainAnswer.resultMsg}}</span>
        </div>
        <div class="remove_button">
            <button class="button_sure" ng-click="layerBack()">返 回</button>
        </div>
    </div>
</div>


