<div class="section" id="reginalAdd">
    <div class="content_div content1-div">
        <div class="orderlayerBox">
            <div class=""></div>
            <div class="">
                <div class="remove_header">
                    <span>人员信息</span>
                </div>

                <table class="regional-table" style="background: white">
                    <thead>
                    <tr class="tr_top">
                        <td>序号</td>
                        <td>工号</td>
                        <td>查勘人</td>
                        <td>作业区域</td>
                        <td>手机号码</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <form name="regionalForm">
                    <tbody>
                    <tr class="tr_content" ng-repeat="(index,result) in savePrplAreaSetting">
                        <td ng-bind="$index+1"></td>
                        <td>
                            <div class="half-div" style="position: relative">
                            <select  ng-model="result.handCode" ng-change="personCheck($index,result.handCode)" required="true"  warn-text="{'ErrPattern':'',itemName:'工号'}"
                                     ng-options="x.codeCode for x in HandlerName" ng-disabled="flag">
                            <option value="" ng-show="flag">{{result.handlerCode}}</option>
                            </select>
                            </div>
                        </td>
                        <td><input ng-model="result.handlerName" type="text" ng-readonly="true" /></td>
                        <td>
                            <div class="half-div">
                                <multi-drop ng-model="result.areaCode" data="{{checkBox}}"></multi-drop>
                            </div>
                        </td>
                        <td>
                        <div class="half-div" style="position: relative">
                        <input ng-model="result.tel"  type="text" ng-pattern="regData.telPhoneNumber" warn-text="{'ErrPattern':'手机号码输入有误!',itemName:'手机号码'}"
                               name="tel1required" required="true" showText="手机号不能为空!"/>
                        </div>
                        </td>
                        <td>
                            <div class="operation">
                                <i class="td-red" ng-click="delRegionalPerson($index)">删除</i>
                                <!--添加-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="tr_content">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td-blue" ng-click="addRegionalPerson()" >添加</td>
                    </tfoot>
                </table>
                <div class="btn_tr btn-half btn-th1 clearfix">
                    <span class="fl" ng-click="save()">保存</span>
                    <span class="fr" ng-click="jumpWark()">放弃</span>
                </div>
            </div>
        </div>
    </div>
</div>