<!--
****************************************************************************
* DESC       ：国元农险理赔班表管理页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/29
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
*             ZhaoWenjie    11.29       班表管理-新增班表页面搭建
****************************************************************************
-->
<div class="section">
    <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>班表信息</label>
                    <span class="click_img" ></span>
                </span>
        <div class="condition_table">

            <table class="schedule-table table-schedule" border="1" ng-repeat="(indexDto,prpLJobManagerDto) in prpLJobManagerDtoList">
                <tr>
                    <td>班次名称</td>

                    <td colspan="7">
                        <!--  ng-model="indexDto.handlerCode"-->
                        <label>查勘人员</label>
                        <select base-code="Handlername" style="width: 260px;height: 26px;margin-right: 20px;" ng-disabled="pageDisplay"
                                ng-options="codes.handlerCode as codes.handlerName for codes in HandlerNames"
                                ng-change="different()"
                        ng-model="prpLJobManagerDto.handlerCode">
                        </select>
                        <!--<input type="text" class="input-ta" ng-model="prpLJobManagerDto.handlerCode" ng-disabled="pageDisplay" />-->
                        <label>所在机构</label>
                        <!--<select base-code="Deptname"-->
                        <!--ng-options="codes.comCode as codes.comCName for codes in Deptname"-->
                        <!--ng-model="prpLJobManagerDto.handleDept">-->
                        <!-- ng-model="indexDto.handleDept" -->
                        <!--</select>-->
                        <select base-code="Deptname" style="width: 247px;height: 26px;margin-right: 20px;"
                                ng-options="codes.comCode as codes.comCName for codes in Deptname"
                                ng-model="prpLJobManagerDto.handleDept"
                                ng-disabled="true">
                        </select>
                        <!--<input type="text" class="input-ta"  ng-model="prpLJobManagerDto.handleDept" />-->

                    </td>

                    <td>操作</td>
                </tr>
                <tr>
                    <td  class="td1-schedul"  ><p>白天8:00~18:00</p><p>(含起点时间)</p></td>

                    <td colspan="7">
                        <ul class="addTiem">
                            <li class="addTiem-ie" ng-repeat="TimeDtoListAM in prpLJobManagerDto.amList">
                                <label style="position: relative;top: 7px;left: 0px;">
                                    <input type="checkbox" ng-model="TimeDtoListAM.checkFlag" value="" ng-disabled="pageDisplay">
                                    <span ng-class="{'grayRight':pageDisplay}"></span>
                                </label>
                                <div  style="display:inline;width: 75px;height: 14px;">
                                    {{TimeDtoListAM.time}}
                                </div>
                            </li>
                            <li></li>
                        </ul>
                    </td>
                    <td rowspan="10">
                        <div class="btn_ta banbiao" >
                            <span class="btn" ng-disabled="pageDisplay" ng-click="choseall(indexDto,true)">全部选择</span>
                            <span class="btn" ng-disabled="pageDisplay" ng-click="choseall(indexDto,false)">全部取消</span>
                            <span class="btn" ng-disabled="pageDisplay" ng-click="deleteTimeDtoList(indexDto)">删除</span>
                        </div>

                    </td>

                </tr>
                <tr>
                    <td rowspan="5"  class="td1-schedul" ><p>夜班18:00~8:00</p><p>(含起点时间)</p></td>

                    <td colspan="7">
                        <ul class="addTiem">
                            <li class="addTiem-ie" ng-repeat="TimeDtoListPM in prpLJobManagerDto.pmList">
                                <label style="position: relative;top: 7px;left: 0px;">
                                    <input type="checkbox" ng-model="TimeDtoListPM.checkFlag" value="" ng-disabled="pageDisplay">
                                    <span ng-class="{'grayRight':pageDisplay}"></span>
                                </label>
                                <div  style="display:inline;width: 75px;height: 14px;">
                                    {{TimeDtoListPM.time}}
                                </div>
                            </li>
                        </ul>
                    </td>

                </tr>
            </table>

            <p class="ban-add btn banAdd"  ng-disabled="pageDisplay" ng-click="addTimeDtoList()">添加</p>
        </div>
    </div>

    <div class="queryDanger">
                <span class="queryCriteria_title">
                    <label>联系人</label>
                    <span class="click_img" ></span>
                </span>
        <div class="condition_table">
            <ul class="clearfix half-ul">
                <li class="condition_td fl half-li1">
                    <label>联系人岗位</label>
                    <div class="half-div">
                        <select base-code="StaffPosition"
                                ng-options="codes.codecode as codes.codecname for codes in StaffPosition"
                                ng-model="prpLJobLinkerDtoList[0].staffPosition"
                                ng-change="internalSelect(0)" ng-disabled="pageDisplay">
                        </select>
                    </div>
                </li>
                <li class="condition_td fl half-li1">
                    <label>人员类型</label>
                    <div class="half-div">
                        <select base-code="StaffType"
                                ng-options="codes.codecode as codes.codecname for codes in StaffType"
                                ng-model="prpLJobLinkerDtoList[0].staffType" ng-disabled="pageDisplay">
                        </select>
                    </div>
                </li>
                <li class="condition_td fl half-li1">
                    <!-- <select base-code="HandlerName"
                             ng-if="prpLJobLinkerDtoList[1].staffType=='0'"
                             ng-readonly="pageDisplay"
                             ng-options="codes.codeCode as codes.codeName for codes in HandlerName"
                             ng-model="jobManagerDto.HandlerName">
                     </select>-->


                    <label>人员姓名</label>
                    <div class="half-div">
                        <select base-code="HandlerName"
                                ng-if="prpLJobLinkerDtoList[0].staffType=='0'"
                                ng-options="codes.codeCode as codes.codeName for codes in HandlerName"
                                ng-disabled="pageDisplay"
                                ng-model="prpLJobLinkerDtoList[0].staffUserCode">
                        </select>
                        <input type="text" ng-disabled="pageDisplay"  ng-if="prpLJobLinkerDtoList[0].staffType=='1'"   ng-model="prpLJobLinkerDtoList[0].staffName"  ng-pattern="regData.chineseNumber" warn-text="{'ErrPattern':'人员姓名格式错误，请修改!',itemName:'人员姓名'}"  ng-readonly="pageDisplay" />
                        <input type="text" ng-if="prpLJobLinkerDtoList[0].staffType=='' "  ng-readonly="pageDisplay" />



                        <!--<input type="text" ng-model="prpLJobLinkerDtoList[0].staffName" ng-readonly="pageDisplay" />-->
                    </div>

                </li>

                <li class="condition_td fl half-li1">
                <label>电话号码</label>
                <td>
                    <div class="half-div" style="position: relative">
                        <input ng-model="prpLJobLinkerDtoList[0].staffPhone"  type="text" ng-pattern="regData.telPhoneNumber" warn-text="{'ErrPattern':'手机号码格式错误，请修改！',itemName:'手机号码'}"
                               name="staffPhonerequired" required="true" showText="手机号不能为空!"   ng-disabled="pageDisplay" />
                    </div>
                </td>
                </li>
                <li class="condition_td fl half-li1">
                    <label>联系人岗位</label>
                    <div class="half-div">
                        <select base-code="StaffPosition"
                                ng-options="codes.codecode as codes.codecname for codes in StaffPosition"
                                ng-model="prpLJobLinkerDtoList[1].staffPosition" ng-disabled="pageDisplay"
                                ng-change="internalSelect(1)">
                        </select>
                    </div>
                </li>
                <li class="condition_td fl half-li1">
                    <label>人员类型</label>
                    <div class="half-div">
                        <select base-code="StaffType"
                                ng-options="codes.codecode as codes.codecname for codes in StaffType"
                                ng-model="prpLJobLinkerDtoList[1].staffType" ng-disabled="pageDisplay">
                        </select>
                    </div>
                </li>
                <li class="condition_td fl half-li1">
                    <label>人员姓名</label>
                    <div class="half-div">
                        <select base-code="HandlerName"
                                ng-if="prpLJobLinkerDtoList[1].staffType=='0'"
                                ng-disabled="pageDisplay"
                                ng-options="codes.codeCode as codes.codeName for codes in HandlerName"
                                ng-model="prpLJobLinkerDtoList[1].staffUserCode">
                        </select>
                        <input type="text" ng-disabled="pageDisplay" ng-if="prpLJobLinkerDtoList[1].staffType=='1'" ng-model="prpLJobLinkerDtoList[1].staffName"  ng-pattern="regData.chineseNumber" warn-text="{'ErrPattern':'人员姓名格式错误，请修改!',itemName:'人员姓名'}"  ng-readonly="pageDisplay" />
                        <input type="text" ng-if="prpLJobLinkerDtoList[1].staffType=='' "  ng-readonly="pageDisplay" />
                    </div>
                </li>

                <li class="condition_td fl half-li1">
                    <label>电话号码</label>
                    <td>
                        <div class="half-div" style="position: relative">
                            <input ng-model="prpLJobLinkerDtoList[1].staffPhone"  type="text" ng-pattern="regData.telPhoneNumber" warn-text="{'ErrPattern':'手机号码格式错误，请修改！',itemName:'手机号码'}"
                                   name="staffPhonerequired" required="true" showText="手机号不能为空!"    ng-disabled="pageDisplay" />
                        </div>
                    </td>
                </li>

            </ul>
        </div>

    </div>
    <div class="btn_tr clearfix mt20">
        <button class="btn lebutt" ng-show="!pageDisplay" ng-disabled="flag" ng-click="saveSchedule()">保存</button>
        <!--<span >保存</span>-->
        <button class="btn no-bg rebutt" style="background-color: #2DBE61;color: #fff;}" ng-click="jumpWark()">退出</button>
        <!--<span class="no-bg">放弃</span>-->
    </div>
</div>
</div>
</div>
<!--text-indent:2em-->
<!--;padding: 10px 10px;-->
<style type="text/css">
    .addTiem{ list-style:none; padding:0px; margin:0px;
        height:20px; line-height:20px; font-size:12px;}
    .addTiem-ie{ display:block; width:122px; float:left;border-bottom:1px solid #99CC00;height: 34px;}
    .lebutt{width:100px;height: 30px;background-color: #2DBE61;color: #fff;}
    .rebutt{width: 100px;height: 30px;border: 1px solid #2DBE61;color: #2DBE61;}
</style>
