<!--
****************************************************************************
* DESC       ：国元农险理赔班表管理页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/29
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
*             ZhaoWenjie    11.29       班表管理页面搭建
****************************************************************************
-->
<div class="section">
    <div class="content_div content1-div">
        <div class="queryCriteria">
			<span class="queryCriteria_title">
              <label>查询条件</label>
              <div ng-click="searchConditionShow=!searchConditionShow" class="cur fr">
              </div>
          </span>

            <div class="condition_table">
                <form name="myForm">
                    <ul class="clearfix half-ul"   >
                        <li  class="condition_td fl half-li">
                            <label>险类</label>
                            <div class="half-div">

                                <select base-code="ClassCode"  style="color: #333 !important;width: 100%;"
                                        ng-options="codes.codecode as codes.codecname for codes in ClassCode"
                                        placeholder="查询或选择..."
                                        ng-model="jobManagerDto.classCode">
                                </select >
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>班表机构</label>
                            <div class="half-div">
                                <select base-code="Deptname"  style="color: #333 !important; width: 100%;"
                                        ng-options="codes.comCode as codes.comCName for codes in Deptname"
                                        ng-model="jobManagerDto.handleDept" >
                                </select>
                            </div>
                        </li>
                        <li class="condition_td half-li">
                            <label>日期</label>
                            <div class="half-div" style="width: 120px;">
                                <input type="text" style="width: 130px;color: #333 !important;" class="date-input date fl ng-isolate-scope ng-pristine ng-valid"  id="StatStartDate" ng-model="jobManagerDto.time1" jedate="" format="YYYY-MM-DD">
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label style="width: 42px;">到</label>
                            <div class="half-div">
                                <input type="text" style="width: 130px;color: #333 !important;" class="date-input date fl ng-isolate-scope ng-pristine ng-valid" id="StatStartDatdend" ng-model="jobManagerDto.time2" jedate="" format="YYYY-MM-DD">
                            </div>

                        </li>
                    </ul>
                </form>
                <div class="btn_tr btn-th1 clearfix">
                    <!--<span class="fl" ui-sref="UIAgriScheduleAdd">新班表</span>-->
                    <span class="fl" ng-click="goScheduleShow('myForm')">查询</span>
                    <!--<span class="fl" ng-click="regionalSetting=!regionalSetting;">区域设置</span>-->
                    <span class="fl" ng-click="goBack()">返回</span>
                </div>
            </div>
        </div>
        <!-- 关联弹层 -->

        <div ng-show="queryRegional">
            <div class="mask zIndex"></div>
            <div class="tip_success_info printLayer orderIntLayer1">
                <div class="remove_header">
                    <span>查询结果列表</span>
                    <i class="icon iconfont" ng-click="queryRegional=!queryRegional;">&#xe632;</i>
                </div>

                <table class="regional-table">
                    <thead>
                    <tr class="tr_top">
                        <td>日期</td>
                        <td>班次</td>
                        <td>查勘人员</td>
                        <td>联系电话</td>
                        <td>工作角色</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr_content" ng-repeat="result in dispatchList">
                        <td ng-bind="result.time"></td>
                        <td ng-if="result.dateType=='AM'">白班</td>
                        <td ng-if="result.dateType=='PM'">夜班</td>
                        <td ng-bind="result.handlerName"></td>
                        <td ng-bind="result.tel"></td>
                        <td ng-if="result.jobRole=='3'">非车查勘</td>
                        <td ng-if="result.jobRole!='3'">{{result.jobRole}}</td>
                    </tr>
                    </tbody>

                </table>

                <div ng-show="prpLregist===null||prpLregist.length==0" ng-class="{'not-query':prpLregist === null,'query-null':prpLregist.length==0}"></div>
                <div class="index_page">
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>

                <!--<div class="btn_tr btn-half btn-th1 clearfix">-->
                <!--<span class="fl">保存</span>-->
                <!--<span class="fr no-bg" ng-click="queryRegional=!queryRegional">放弃</span>-->
                <!--</div>-->
            </div>
        </div>


    </div>
</div>