<!--线下支付-->
<ul class="index_process">
    <li class="li_finish"><i></i><span>1.填写投保信息</span></li>
    <li class="li_active"><i class="i_1"></i><span>2.收费</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6>支付信息</h6></div>
        <ul class="list_ul list_ul1">
            <li><span>投保单号：</span></li>
            <li><span class="fl">{{proposalNo}}</span></li>
            <li></li>
            <li></li>
            <li><span>产品：</span></li>
            <li><input type="text" readonly ng-model="riskName" class="fl"></li>
            <li><span>应收金额：</span></li>
            <li><span class="fl order_money"><b ng-bind="sumPremium.toFixed(2)"></b>元</span></li>
            <li><span>投保人姓名/名称：</span></li>
            <li><input type="text" readonly="readonly" ng-model="applyName" class="fl"></li>
        </ul>
    </div>
    <div class="index_list">
        <ul class="list_ul ul_notice">
            <li class="li_first"><span>该投保单付款通知书已生成，请您下载。</span></li>
            <li><a href="javascript:void(0)" ng-click="downAdviceNote()">下载付款通知书</a></li>
            <li><a href="javascript:void(0)" ng-click="receiptOpenShow()">发送付款通知书邮件</a></li>
        </ul>
    </div>
    <div class="index_list">
        <ul class="list_ul ul_notice ul_notice1">
            <li><span>投保人支付后，请上传付款凭证。</span></li>
            <li><a href="javascript:void(0)" ng-click="FileshowInsure()">文件上传</a></li>
        </ul>
    </div>
    <!--弹层---文件上传-->
    <div data-ng-include="'components/prpins/proposal/tpl/applicationFileUploadLayer.html'"></div>
    <div ng-hide="onEmailLayer" data-ng-include="'components/payment/receipt/tpl/receiptSendEmailLayer.html'"></div>
    <div data-ng-include="'components/prpins/proposal/tpl/insuredOnlyOneLayer.html'"></div>
</div>