<!--线上支付-->
<ul class="index_process ng-scope">
    <li class="li_finish"><i></i><span>1.填写投保信息</span></li>
    <li class="li_active"><i class="i_1"></i><span>2.收费</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6>支付信息</h6></div>
        <ul class="list_ul list_ul1">
            <li><span>投保单号：</span></li>
            <li><span class="fl">{{proposalNo}}</span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span>产品：</span></li>
            <li>
                <input type="text" ng-model="riskName" readonly class="fl">
            </li>
            <li><span>应收金额：</span></li>
            <li><span class="fl order_money"><b ng-bind="sumPremium.toFixed(2)"></b>元</span></li>
            <li><span>投保人：</span></li>
            <li><input type="text" ng-model="applyName" readonly class="fl"></li>
        </ul>
    </div>
    <div class="index_btn1 index_btn3 fr">
        <button class="submit fr" ng-click="onLineSubmit()" ng-disabled="cannotSubmit" ng-class="{cannot_click:cannotSubmit}">立即支付</button>
        <sino-a class="look fr" on-before="beforePdfView();" st-href="pdfUrl">
            <span><i></i><em>预览投保单</em></span>
        </sino-a>
    </div>
</div>
<!--支付弹层-->
<div ng-if="onLineLayer" data-ng-include="'components/payment/charge/tpl/onLineChargeLayer.html'"></div>
<!--pdf预览-->
<div data-ng-include="'components/prpins/proposal/tpl/pdfLayer.html'"></div>
<!-- 公共错误提示 -->
<div data-ng-include="'components/payment/charge/tpl/onLineChargeFailLayer.html'"></div>




