<div class="index_tit"><h6>退费收款人信息</h6></div>
<ul class="list_ul">
    <li><span>收款人与投保人关系：</span></li>
    <li>
        <div class="ui-select" ng-click="autoPpayeeAccount()">
            <code-type class="seletc_bor" base-code="Insuredrelation" ng-model='endorseReturnDto.prpPpayeeAccountDto.accountType' ng-disabled="false" is-fuzzy="true"></code-type>
        </div>
    </li>

    <li><em>*</em><span>收款人姓名/名称：</span></li>
    <li>
        <input type="text" class="fl" ng-model="endorseReturnDto.prpPpayeeAccountDto.accountName" required  maxlength="40">
    </li>

    <li><em>*</em><span>收款人证件类型：</span></li>
    <li>
        <div class="ui-select" ng-click="autoPpayeeAccount()">
            <code-type ng-required="true" class="seletc_bor" base-code="IdentifyType" ng-model='endorseReturnDto.prpPpayeeAccountDto.identifyType'  ng-disabled="false" is-fuzzy="true"></code-type>
        </div>
    </li>
    <li><em>*</em><span>收款人证件号码：</span></li>
    <li>
        <input type="text" class="fl" ng-model="endorseReturnDto.prpPpayeeAccountDto.identifyNo" sv-credit="endorseReturnDto.prpPpayeeAccountDto.identifyType" required maxlength="20">
    </li>

    <li><em>*</em><span>退款账号开户银行：</span></li>
    <li>
        <div class="ui-select">
            <code-type ng-required="true" class="seletc_bor" base-code="BankType" ng-model='endorseReturnDto.prpPpayeeAccountDto.basicBankCode' ng-disabled="false" is-fuzzy="true"></code-type>
        </div>
    </li>
    <li><em>*</em><span>银行账号：</span></li>
    <li>
        <input type="text" class="fl" ng-model="endorseReturnDto.prpPpayeeAccountDto.accountNo" ng-required="true" maxlength="40"  ng-pattern="/^[0-9]*$/" warn-text="{'ErrPattern':'银行账号只能输入数字'}">
    </li>
</ul>