<!--合同信息-->
<div id="contract" class="contract_information" style="min-height: 0;">
  <!--合同信息的上半部分-->
  <div class="contract_information_first clearfix" ng-class="{stretchInformation:!isHidestretch}">
    <div class="contract_information_left left">
      <!--<img src="common/images/chenpeng/合同信息.png"/>-->
      <i class="iconfont">&#xe60e;</i>
      <p  ng-show="isHidestretch">合同信息</p>
    </div>
    <div class="contract_information_right left" style="position: relative;margin-bottom:40px;">
      <div class="stretch " ng-click="stretch()" style="position: absolute;top:8px;right:5px;">
        <i class="iconfont" ng-show="!isHidestretch">&#xe667;</i>
        <i class="iconfont" ng-show="isHidestretch">&#xe668;</i>
      </div>
      <div class="clearfix pt4 mainAgri" ng-show="isHidestretch">
        <ul class="contract_con_left left">
          <li>
            <label class="teaR">
              <i class="mes_sign" ng-show="queryHide">*</i>
              <span class="mesColor">投保方式</span>
            </label>
            <div class="clearfix codeType insuranceFashion">
              <ui-select ng-model="proposal.prpTmainDto.policyType" history ng-disabled="proposalQueryHide" ng-change="checkpolicyType(proposal.prpTmainDto.policyType) ">
                <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.codeCName}}">
                  {{$select.selected.codeCName}}
                </ui-select-match>
                <ui-select-choices repeat="code.codeCode as code in selectListData.policyTypeList | filter: $select.search">
                  <span ng-bind="code.codeCName" ng-attr-title="{{code.codeCName}}"></span>
                </ui-select-choices>
              </ui-select>
              <!--<code-type base-code="PolicyType" ng-change="changePolicyType()" ng-model='proposal.prpTmainDto.policyType' ng-disabled="proposalQueryHide" ></code-type>-->
            </div>
          </li>
          <li>
            <label class="teaR">
              <i class="mes_sign" ng-show="queryHide">*</i>
              <span class="mesColor">承保数量</span>
            </label>
            <input ng-model="proposal.prpTmainDto.statQuantity" class="num_wid" type="text" disabled="disabled" history/>
            <div class="clearfix codeType insuredAmount" style="height: 28px;">
              <ui-select ng-model="proposal.prpTmainDto.statUnitCode" ng-disabled="proposalQueryHide||endorseFlag">
                <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.codeCName}}">
                  {{$select.selected.codeCName}}
                </ui-select-match>
                <ui-select-choices repeat="code.codeCode as code in selectListData.unitList | filter: $select.search">
                  <span ng-bind="code.codeCName" ng-attr-title="{{code.codeCName}}"></span>
                </ui-select-choices>
              </ui-select>
              <!--<code-type base-code="PolicyType" ng-change="changePolicyType()" ng-model='proposal.prpTmainDto.policyType' ng-disabled="proposalQueryHide" ></code-type>-->
            </div>
            <!--<select ng-model="proposal.prpTmainDto.unitCode;" class="unit_wid"-->
            <!--ng-disabled="proposalQueryHide||endorseFlag">-->
            <!--<option value="">亩</option>-->
            <!--</select>-->
          </li>
          <li ng-show="isRaiseDate">
            <label class="teaR">
              <span  class="mesColor" ng-bind="trRaiseName"></span>
            </label>
            <!--<input type="text" id="RaiseDate" jedate class="date-input date " ng-change="compareraiseDate();"-->
                   <!--ng-model="proposal.prpTmainAgriDto.raiseDate" format="YYYY-MM-DD"-->
                   <!--ng-disabled="proposalQueryHide" history required/>-->
            <input type="text" id="RaiseDate" jedate class="date-input date "
                   ng-model="proposal.prpTmainAgriDto.raiseDate" format="YYYY-MM-DD"
                   ng-disabled="proposalQueryHide" history required/>
          </li>

          <li>
            <label class="teaR">
              <i class="mes_sign" ng-show="queryHide">*</i>
              <span class="mesColor">清单备注</span>
            </label>
            <input ng-model="proposal.prpTmainAgriDto.relationListNoRemark" type="text" disabled="disabled"/>
          </li>
        </ul>
        <ul class="contract_con_right left">
          <li ng-show="isProposalType">
            <label class="teaR amountCovered">
              <i class="mes_sign" ng-show="queryHide">*</i>
              <span class="mesColor ">保险金额确定方式</span>
            </label>
            <div class="clearfix codeType" id="codeTypeAmount">
              <code-type base-code="ProposalType" dfsec="true" ng-model='proposal.prpTmainAgriDto.remark'
                         ng-disabled="proposalQueryHide||endorseFlag"></code-type>
            </div>
          </li>
          <li ng-show="isRaiseType">
            <!--<label class="teaR">-->
            <!--<i class="mes_sign">*</i>-->
            <!--<span class="mesColor">养殖方式</span>-->
            <!--</label>-->
            <!--<div class="clearfix codeType" style="width: 40%">-->
            <!--<code-type base-code="RaiseType" dfsec="true" ng-model='proposal.prpTmainAgriDto.RaiseType'-->
            <!--ng-disabled="proposalQueryHide||endorseFlag"></code-type>-->
            <!--</div>-->
            <label class="teaR">
              <i class="mes_sign">*</i>
              <span class="mesColor">养殖方式</span>
            </label>
            <div class="clearfix codeType codeTypeDetail">
              <ui-select ng-model="proposal.prpTmainAgriDto.raiseType" ng-disabled="proposalQueryHide||endorseFlag">
                <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.codeCName}}">
                  {{$select.selected.codeCName}}
                </ui-select-match>
                <ui-select-choices repeat="code.codeCode as code in selectListData.raiseTypeList | filter: $select.search">
                  <span ng-bind="code.codeCName" ng-attr-title="{{code.codeCName}}"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </li>
          <li>
            <label class="teaR">
              <i class="mes_sign" ng-show="queryHide">*</i>
              <span class="mesColor">参保农户户次</span>
            </label>
            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" disabled readonly history/>
          </li>
          <li class="">
            <label class="teaR">
              <i class="mes_sign" ng-show="queryHide">*</i>
              <span class="mesColor">清单编号</span>
            </label>
            <input ng-model="proposal.insureMainListDto.insureListCode" type="text" disabled history/>
            <button class="particulars" ng-click="queryRelationListNoLayer(requestInsuranceQueryDto.insureListCode);requestInsurance($index)" style="outline: none">
              <a  style="font-size: 14px ;color: white ">查看</a></button>
            <!--<button class="particulars" ng-click="queryRelationListNoLayer(requestInsuranceQueryDto.insureListCode);requestInsurance($index)">-->
            <button class="particulars" ng-click="checkqd($event,proposal.insureMainListDto.insureListCode)">
              <a  style="font-size: 14px ;color: white ">详情</a></button>
            <div ng-show="relationListNoLayer"
                 data-ng-include="'common/business/common/proposal/riskScheme/UIPrPoEn.relationListNo.layer.html'"></div>
            <div ng-show="false">
              <label class="teaR">
                <span class="mesColor">我方清单号</span>
              </label>
              <input ng-model="proposal.prpTmainAgriDto.relationListNo" class="search_wid" type="text"
                     ng-disabled="disabledFlag"/>
            </div>
          </li>
          <li>
            <label class="teaR">
              <i class="mes_sign" ng-show="queryHide">*</i>
              <span class="mesColor">清单类型</span>
            </label>
            <input type="text" ng-model="proposal.insureMainListDto.listTypeFlag" disabled/>
          </li>
        </ul>
      </div>
      <div class="information_right_warn" style="line-height: 22px;width: 96%;"><p ng-show="!isHidestretch" class="">合同信息</p></div>
    </div>

  </div>
  <!--合同信息下半部分的表格部分-->
  <div class="contract_information_second clearfix"   ng-show="isHidestretch" style="min-height: 0;padding-bottom:20px;">
    <div class="plant_location_table">
      <div class="table_title">
        <span class="table_color" ng-bind="addressTitle"></span><i class="mes_sign" ng-show="queryHide">*</i>
        <i class="fr" style="cursor: pointer;" ng-click="addressHide();">
          <i class="iconfont fs_20" ng-show="!isHideaddress">&#xe667;</i>
          <i class="iconfont fs_20" ng-show="isHideaddress">&#xe668;</i>
        </i>
      </div>
      <table ng-show="isHideaddress">
        <tr class="tr_top">
          <td></td>
          <td>地址</td>
        </tr>
        <tr class="tr_content tr_bg">
          <td ng-bind="proposal.prpTaddressDto.addressNo"></td>
          <td>
            <input ng-model="proposal.prpTaddressDto.addressName" ng-disabled="proposalQueryHide" class="location_width" type="text"
                   history warn-layer="种植地址" maxlength="40">
            <!--ng-blur="checkLength($event.target)" ng-keyup="fieldInsertRow('Address')"-->
          </td>
        </tr>
      </table>
      <div class="plant_result" ng-show="isHideaddress">
        <span>共有<i>1</i>个地址</span>
      </div>
    </div>
    <!--主险-->
    <div class="main_risks_table">
      <div class="table_title clearfix">
        <span class="fl table_color">主险/附加险<i class="mes_sign" ng-show="queryHide">*</i></span>
        <i class="fr" style="cursor: pointer;" ng-click="changeIsHide();">
          <i class="iconfont fs_20" ng-show="!proposal.isHide">&#xe667;</i>
          <i class="iconfont fs_20" ng-show="proposal.isHide">&#xe668;</i>
        </i>
      </div>
      <table ng-show="proposal.isHide">
        <tr class="tr_top">
          <td class="w8">标的序号</td>
          <td class="w11_11">主险/附加险</td>
          <td ng-class="proposal.prpTitemKindDtoList.length>0?w20:''">险别</td>
          <td ng-class="proposal.prpTitemKindDtoList.length>0?w20:''">标的类型</td>
          <td ng-class="proposal.prpTitemKindDtoList.length>0?w20:''">标的项目</td>
          <td class="w8">保额</td>
          <td class="w8">费率(%)</td>
          <td class="w8">保费</td>
          <td class="w8">操作</td>
        </tr>
        <tr class="main_risks_tr tr_content tr_bg" ng-repeat="x in proposal.prpTitemKindDtoList track by $index" ng-class="{del_item:x.flag.substr(0,1)=='D',inser_item:x.flag.substr(0,1)=='I'}">
          <td class="w5" ng-bind="$index+1"></td>
          <td class="w10" ng-bind="x.radioType=='Y'?'主险':'附加险'"></td>
          <td class="w10" ng-bind="x.kindName"></td>
          <td class="w10" ng-bind="x.itemDetailName"></td>
          <td class="w10" ng-bind="x.model" >
            <!--<input type="text" class="endorse_disabled_input" ng-model="x.model" title="{{x.model}}" style="color: black" history disabled>-->
          </td>
          <td class="w8" ng-bind="x.amount" ng-model="x.amount"+$index history></td>
          <td class="w5" ng-bind="x.rate" ng-model="x.rate"+$index   history>
            <!--<input type="text" class="endorse_disabled_input " ng-model="x.rate" style="color: black" history disabled>-->
          </td>
          <td  class="w5" ng-bind="x.premium" ng-model="x.premium"+$index history ></td>
          <td class="w_13">
            <i class="cur mesColor" ng-click="mainAddRiskUpdata(x,$index)" ng-hide="proposalQueryHide||endorseFlag" ng-hide="disabledFlag">修改</i>
            <i class="cur mesColor" ng-click="mainAddRiskUpdata(x,$index)" ng-hide="endorHide">修改</i>
            <i class="cur mesColor" ng-click="mainAddRiskShow(x,$index)" ng-hide="disabledFlag">查看</i>
            <i class="cur mesColor" ng-click="mainAddRiskDel($index)" ng-hide="proposalQueryHide||endorseFlag">删除</i>
            <i class="cur mesColor" ng-click="mainAddRiskDel($index)" ng-hide="endorHide || deleteFlag">删除</i>
          </td>
        </tr>
      </table>
      <div class="main_risks_tax clearfix" ng-show="proposal.isHide" style="height:auto;position: relative;">
        <div class="">
          <div ng-show="absuDeduShowFirst">
            <span>绝对免赔率(%)：</span>
            <input type="text" ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" ng-model="proposal.engageQueryClause.absuDedu" history
                   ng-change="adjustMun2('absuDedu',2);" ng-blur="absuDeduRateForm()" ng-disabled="proposalQueryHide || endorseFlag" />
          </div>
          <div ng-if="proposal.prpTmainDto.riskCode == '3130' || proposal.prpTmainDto.riskCode == '3129'">
            <span>保险期间内草莓采收期起始日期<i class="mes_sign"> * </i>： 自</span>
            <input type="text" id="startDate" jedate class="date-input date " style="width: 115px;"
                   ng-model="proposal.prpTitemKindAgri.stratDate" format="YYYY-MM-DD"
                   ng-disabled="proposalQueryHide || endorseFlag" history required/>
            <span> 日起至 </span>
            <input type="text" id="endDate" jedate class="date-input date " style="width: 115px;"
                   ng-model="proposal.prpTitemKindAgri.endDate" format="YYYY-MM-DD"
                   ng-disabled="proposalQueryHide || endorseFlag" history required/>
          </div>
          <div style="border-top:1px solid #ccc;" ng-if="proposal.prpTmainDto.riskCode == '3134'||proposal.prpTmainDto.riskCode == '3147'||proposal.prpTmainDto.riskCode == '3129'">
            <span>免赔说明：</span>
            <input type="text" ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" ng-model="proposal.engageQueryClause.deduText" history
                   ng-disabled="proposalQueryHide || endorseFlag" maxlength="80"/>
          </div>
        </div>
        <div style="position: absolute;top:0;right:0;" >
          <div ng-show="!proposalShow" class="fr">
            <button class="btn btn-success fr mt10 mr10" ng-click="showHide('showaddpage','add')"
                    ng-disabled="mainOrSubMain||endorseFlag||disabledFlag||proposalQueryHide"> 新增
            </button>
          </div>

          <div ng-show="endorseShow=='1'" class="fr">
            <button class="btn btn-success fr mt10 mr10" ng-click="showHide('showaddpage','add')"
                    ng-disabled="mainOrSubMain"> 新增
            </button>
          </div>

          <div class="ml60 fr">
            总保额<span ng-bind="totalAmount" ng-model="totalAmount" history>{{totalAmount||0}}</span>({{currency||'人民币'}})总保费<span ng-bind="totalPay" ng-model="totalPay" history>{{totalPay||0}}</span>({{currency||'人民币'}})
          </div>
        </div>

      </div>
      <div class="main_risks_tax clearfix" ng-show="proposal.isHide && absuDeduShowSecond">
        <div>
          <span>绝对免赔率(%)：</span>
          <input type="text" ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" style="width: 115px;" ng-model="proposal.engageQueryClause.absuDedu" history
                 ng-change="adjustMun2('absuDedu',2);" ng-blur="absuDeduRateForm()" ng-disabled="proposalQueryHide || endorseFlag" />
          <span>免赔说明：</span>
          <input type="text" ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" ng-model="proposal.engageQueryClause.deduText" history
                 ng-disabled="proposalQueryHide || endorseFlag" maxlength="80"/>
        </div>
      </div>

    </div>
    <!--茬次信息-->
    <div class="payment_table" ng-show="!isTrue">
      <div class="table_title clearfix">
        <ul>
          <li><span class="table_color">茬次信息<i class="mes_sign">*</i></span></li>
          <li class="table_stretch" ng-click="tabBtnChange()" style="cursor: pointer;">
            <i class="iconfont fs_20" ng-show="!tabBtn">&#xe667;</i>
            <i class="iconfont fs_20" ng-show="tabBtn">&#xe668;</i>
          </li>
        </ul>
      </div >
      <div ng-show="tabBtn">
        <table>
          <tr class="tr_top">
            <td>茬次</td>
            <td>起始日期</td>
            <td>终止日期</td>
            <td>保险金额分布比例(%)</td>
            <td>茬次保险金额</td>
            <td ng-hide="proposalQueryHide || endorseFlag">操作</td>
          </tr>
          <tr class="payment_tr tr_content tr_bg" ng-class="{del_item:itemKind.flag=='D',inser_item:itemKind.flag=='I'}"
              ng-repeat="itemKind in proposal.prpTitemKindAgriDtoListCopy track by $index">
            <td>
              {{$index+1}}
              <input type="hidden" ng-model="itemKind.itemKindNo" name="标的序号"/>
            </td>
            <td>
              <input type="text" id="date1{{$index+1}}" jedate class="date-input date "
                     history ng-model="itemKind.stratDate" format="YYYY-MM-DD"
                     ng-disabled="proposalQueryHide || itemKind.flag=='D'" required ng-change="checkTimesDate(itemKind.stratDate,itemKind.endDate,$index);changeDate1(itemKind.stratDate,$index)"/>
            </td>
            <td>
              <input type="text" id="date2{{$index+1}}" jedate class="date-input date "
                     history ng-model="itemKind.endDate" format="YYYY-MM-DD"
                     ng-disabled="proposalQueryHide || itemKind.flag=='D'" required ng-change="checkTimesDate(itemKind.stratDate,itemKind.endDate,$index);changeDate2(itemKind.endDate,$index)"/>
            </td>
            <td class="money">
              <input ng-model="itemKind.distributingRate" history type="text" name="保险金额分布比例"
                     ng-disabled="proposalQueryHide||itemKind.flag=='D'" ng-blur="checkSumDistributingRate($event,itemKind.distributingRate,$index)"  ng-class="{'checkOutBdRed':check.distributingRate}" >
              <s ng-bind="check.distributingRate" style="margin-left:28%"></s>
            </td>
            <td class="money">
              <input class="rd_only_bg"  ng-model="itemKind.timesAmount" history value="0"  type="text" name="茬次保险金额"  readonly ng-disabled="proposalQueryHide">
            </td>
            <!--deleteEquipment($index);-->
            <td>
              <!-- ng-hide 批改时不允许删除数据-->
              <i  class="cur mesColor" ng-hide="proposalQueryHide " ng-click="deleteCoins2($index)">删除</i>
            </td>
          </tr>
        </table>
        <div class="contributing_result" ng-hide="proposalQueryHide">
          <button class="btn btn-success fr mr20 mt10"  ng-click="changeAdd();">新增</button>
        </div>
      </div>
    </div>

    <!--补贴信息-->
    <div class="subsidy_table">
      <div class="table_title clearfix">
        <span class="table_color">补贴信息<i class="mes_sign" ng-show="queryHide">*</i></span>
        <i class="fr" style="cursor: pointer;" ng-click="changesubsidy();">
          <i class="iconfont fs_20" ng-show="!isHidesubsidy">&#xe667;</i>
          <i class="iconfont fs_20" ng-show="isHidesubsidy">&#xe668;</i>
        </i>
      </div>
      <table ng-show="isHidesubsidy">
        <tr class="tr_top">
          <td style="width: 15%">补贴类型</td>
          <td style="width: 15%">补贴方式</td>
          <td>补贴单位</td>
          <td>补贴比例</td>
          <td>补贴金额</td>
          <td ng-hide="proposalQueryHide || endorseFlag">操作</td>
        </tr>
        <tr class="subsidy_tr tr_content tr_bg" ng-repeat="new in proposal.prpTsubsidyDtoList track by $index">
          <td>
            <div class="clearfix codeType pt4" style="width: 70%">
              <code-type
                      ng-change="checkSubsidyType(new.subsidyCode,$index);getSubsidyTypeName($index);resetSubsidy($index);
                setRefreshFlagFeeZero()"
                      base-code="SubsidyCode" ng-model='new.subsidyCode' reverse-data="getModleName" ng-disabled="proposalQueryHide||endorseFlag"
              ></code-type>
            </div>
            <INPUT type=hidden value=0 ng-model="proposal.prpMainDto.RefreshFlagCoins" description="关联联/共保信息的项刷新了但联/共保信息没有随之刷新的标志：0 联/共保信息没有刷新、1 联/共保信息已经刷新过了">
          </td>
          <td>
            <div class="clearfix codeType pt4" style="width: 70%">
              <code-type ng-change="checkBusinessType1();getSubsidyTypeName($index);resetSubsidy($index)"
                         base-code="Subsidytype" ng-model='new.subsidyType' reverse-data="getModleName" ng-disabled="proposalQueryHide||endorseFlag"
              ></code-type>
            </div>
          </td>
          <td><input ng-model="new.subsidyDepartment" type="text" ng-disabled="proposalQueryHide||endorseFlag"
                     maxlength="255"></td>
          <td><input id="subsidyRate{{$index}}" ng-model="new.subsidyRate" ng-disabled="new.subsidyType=='02'||proposalQueryHide|| endorseFlag" type="text" ng-change="checkPremiummm($index)"
                     history ng-blur="checksubsidyRate($index);checkIsNull(new);clearNoNum(new,'subsidyRate');" ng-change="checkBusinessType1();setRefreshFlagFeeZero();" history></td>
          <!--ng-blur="checkDecimal($event,5,2,'0','100')"-->
          <td><input name="subsidyPremium" ng-model="new.subsidyPremium"
                     ng-disabled="new.subsidyType=='01'||proposalQueryHide|| endorseFlag" type="text" history
                     ng-blur="clearNoNum(new,'subsidyPremium');checkExchangeRateFee1(new.subsidyType,$index)"></td>
          <td><i class="cur mesColor" ng-click="deletenNew($index)" ng-hide="proposalQueryHide||endorseFlag">删除</i></td>
        </tr>
      </table>
      <div class="main_risks_tax clearfix" ng-hide="addEquipmentFlag || proposalQueryHide || endorseFlag||!isHidesubsidy">
        <button class="btn btn-success fr mt10 mr10" ng-click="addEquipment()"> 新增
        </button>
      </div>
    </div>
    <!--币别信息-->
    <div class="currency_table pt4">
      <div class="table_title clearfix">
        <ul>
          <li><span class="table_color">币别信息<i class="mes_sign" ng-show="queryHide">*</i></span></li>
          <i class="fr" style="cursor: pointer;" ng-click="mesSignIsHide();">
            <i class="iconfont fs_20" ng-show="!isHidemesSign">&#xe667;</i>
            <i class="iconfont fs_20" ng-show="isHidemesSign">&#xe668;</i>
          </i>
        </ul>
      </div>
      <div class="currency_second" ng-show="isHidemesSign">
        <label class="currency_information">
          <label class="mesColor ">汇总币别</label>
          <div class="codeType1 max_w" style="height: 28px;">
            <ui-select ng-model="proposal.prpTfeeDto.currency2" ng-change="getCurrency($select.selected.currencyCName)"
                       ng-disabled="proposalQueryHide||endorseFlag || currencyDisable" >
              <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.currencyCode}}">
                {{$select.selected.currencyCode}}
              </ui-select-match>
              <ui-select-choices repeat="code.currencyCode as code in PrpDcurrencyDtoList | filter: $select.search">
                <span  ng-bind="code.currencyCName" ng-attr-title="{{code.currencyCode}}" disabled="disabled"></span>
              </ui-select-choices>
              <!--<input type="text" name="currency2Name" ng-model="proposal.prpTfeeDto.currency2Name">-->
              <!--<input type="hidden" ng-model="proposal.prpTfee.RefreshFlagFee" description="关联币别信息的项刷新了但币别信息没有随之刷新的标志：0 币别信息没有刷新、1 币别信息已经刷新过了">-->
            </ui-select>
          </div>
          <input ng-model="currency2Name" ng-disabled="proposalQueryHide ||endorseFlag || currencyDisable"  type="text">
        </label>
        <label class="payment_currency ">
          <label class="mesColor">支付币别</label>
          <div class="codeType max_w">
            <ui-select ng-model="proposal.prpTfeeDto.currency1" ng-disabled="proposalQueryHide||endorseFlag || currencyDisable" >
              <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.currencyCode}}">
                {{$select.selected.currencyCName}}
              </ui-select-match>
              <ui-select-choices repeat="code.currencyCode as code in PrpDcurrencyDtoList | filter: $select.search">
                <span ng-bind="code.currencyCName" ng-attr-title="{{code.currencyCode}}" ></span>
              </ui-select-choices>
              <!--<input type="hidden" ng-model="proposal.prpTfee.RefreshFlagFee" description="关联币别信息的项刷新了但币别信息没有随之刷新的标志：0 币别信息没有刷新、1 币别信息已经刷新过了">-->
            </ui-select>
          </div>
          <button class="btn btn-success" ng-click="checkPremium();" ng-disabled="proposalQueryHide">计算</button>
        </label>
      </div>
      <table style="margin-top:10px;" ng-show="isHidemesSign">
        <tr style="height:26px;border-top:1px solid #ccc;">
          <td class="tr_top" rowspan="2" style="border-left:1px solid #ccc;">原币</td>
          <td class="tr_top" rowspan="2">保额</td>
          <td class="tr_top" rowspan="2">保费</td>
          <td class="tr_top" rowspan="2">不含税保费</td>
          <td style="border-right: 1px solid #ccc" class="tr_top" rowspan="2">税额</td>
          <td style="border-bottom: 1px solid #ccc;border-right: 1px solid #ccc" colspan="5">汇总币别</td>
          <td style="border-bottom: 1px solid #ccc;border-right:1px solid #ccc;" colspan="5">支付币别</td>
        </tr>
        <tr class="tr_top" style="height:32px;">
          <td style="width: 6%">兑换率</td>
          <td>保额</td>
          <td>保费</td>
          <td>不含税保费</td>
          <td style="border-right: 1px solid #ccc">税额</td>
          <td style="width: 6%">兑换率</td>
          <td>保额</td>
          <td>保费</td>
          <td>不含税保费</td>
          <td style="border-right:1px solid #ccc;">税额</td>
        </tr>
        <tr class="currency_tr tr_content tr_bg">
          <td ng-bind="proposal.prpTfeeDto.currency"      history ng-model="proposal.prpTfeeDto.currency"></td>
          <td ng-bind="proposal.prpTfeeDto.amount"        history ng-model="proposal.prpTfeeDto.amount"></td>
          <td ng-bind="proposal.prpTfeeDto.premium "      history ng-model="proposal.prpTfeeDto.premium "></td>
          <td ng-bind="proposal.prpTfeeDto.noTaxPremium"  history ng-model="proposal.prpTfeeDto.noTaxPremium"></td>
          <td ng-bind="proposal.prpTfeeDto.taxFee"        history ng-model="proposal.prpTfeeDto.taxFee"></td>
          <td ng-bind="proposal.prpTfeeDto.exchangeRate2" history ng-model="proposal.prpTfeeDto.exchangeRate2" ></td>
          <td ng-bind="proposal.prpTfeeDto.amount2"       history ng-model="proposal.prpTfeeDto.amount2"></td>
          <td ng-bind="proposal.prpTfeeDto.premium2"      history ng-model="proposal.prpTfeeDto.premium2"></td>
          <td ng-bind="proposal.prpTfeeDto.noTaxPremium2" history ng-model="proposal.prpTfeeDto.noTaxPremium2" ></td>
          <td ng-bind="proposal.prpTfeeDto.taxFee2"       history ng-model="proposal.prpTfeeDto.taxFee2" ></td>
          <td ng-bind="proposal.prpTfeeDto.exchangeRate1" history ng-model="proposal.prpTfeeDto.exchangeRate1" ></td>
          <td ng-bind="proposal.prpTfeeDto.amount1"       history ng-model="proposal.prpTfeeDto.amount1"></td>
          <td ng-bind="proposal.prpTfeeDto.premium1"      history ng-model="proposal.prpTfeeDto.premium1"></td>
          <td ng-bind="proposal.prpTfeeDto.noTaxPremium1" history ng-model="proposal.prpTfeeDto.noTaxPremium1"></td>
          <td ng-bind="proposal.prpTfeeDto.taxFee1"       history ng-model="proposal.prpTfeeDto.taxFee1"></td>
      </table>
    </div>
    <!--缴费计划-->
    <div class="payment_table">
      <div class="table_title clearfix">
        <ul>
          <li><span class="table_color">缴费计划<i class="mes_sign" ng-show="queryHide">*</i></span></li>
          <li class="marMove" ng-hide="endorseFlag"> <!-- ng-hide  缴费计划不允许批改 只有当保费变化时直接-->

            <!--<input type="hidden" ng-model="proposal.prpTplanDto.PlanOneTimes" >-->
            <label class="mesColor">缴费</label>
            <input type="text" ng-model="proposal.prpTmainDto.payTimes" ng-init="proposal.prpTmainDto.payTimes=0"
                   history ng-change="changePayTplan(proposal.prpTmainDto.payTimes)" ng-disabled="proposalQueryHide||endorseFlag">
            <label class="mesColor">次</label>
          </li>
          <li class="table_stretch" ng-click="tabBtnChange()" style="cursor: pointer;">
            <i class="iconfont fs_20" ng-show="!tabBtn">&#xe667;</i>
            <i class="iconfont fs_20" ng-show="tabBtn">&#xe668;</i>
          </li>
        </ul>
      </div>
      <div ng-show="tabBtn">
        <table>
          <tr class="tr_top">
            <td>期次</td>
            <td>缴费原因</td>
            <td>缴费起期</td>
            <td>缴费止期</td>
            <td>币别</td>
            <td>应缴金额</td>
            <td>实缴金额</td>
            <td ng-hide="proposalQueryHide || endorseFlag">操作</td>
          </tr>
          <tr class="payment_tr tr_content tr_bg" ng-class="{del_item:tplan.flag=='D',inser_item:tplan.flag=='I'}"
              ng-repeat="tplan in proposal.prpTplanDtoList track by $index">
            <td>{{tplan.payNo}}</td>
            <td ng-hide="!(endorseFlag && !proposalQueryHide)">
              <code-type base-code="ShowPaymentReason" history ng-model='tplan.payReason' ng-change="ChangeReason(tplan);CheckSerialNo();CheckStartAndEndDate(tplan.payReason,$index);" ng-disabled='endorseFlag && !proposalQueryHide' required></code-type>
            </td>
            <td ng-hide="!(!endorseFlag && !proposalQueryHide)">
              <code-type base-code="PaymentReason" history ng-model='tplan.payReason' ng-change="ChangeReason(tplan);CheckSerialNo();CheckStartAndEndDate(tplan.payReason,$index);" ng-disabled="proposalQueryHide|| tplan.flag=='D'" required></code-type>
            </td>
            <td ng-hide="!proposalQueryHide">
              <code-type base-code="ShowPaymentReason" history ng-model='tplan.payReason' ng-change="ChangeReason(tplan);CheckSerialNo();CheckStartAndEndDate(tplan.payReason,$index);" ng-disabled="proposalQueryHide|| tplan.flag=='D'" required></code-type>
            </td>
            <td>
              <input type="text" id="planStartDate{{$index}}" jedate class="date-input date "
                     history ng-model="tplan.planStartDate" format="YYYY-MM-DD" ng-change="CheckDate(tplan.planStartDate,tplan.planDate);"
                     ng-disabled="proposalQueryHide || tplan.flag=='D'" required style="color: #333" />
            </td>
            <td>
              <input type="text" id="planDate{{$index}}" jedate class="date-input date"
                     history ng-model="tplan.planDate" format="YYYY-MM-DD" ng-change="CheckDate(tplan.planStartDate,tplan.planDate);"
                     ng-disabled="proposalQueryHide || tplan.flag=='D'" required style="color: #333" />
            </td>
            <td ng-bind="currency2Name"></td>
            <td class="money">
              <input ng-model="tplan.planFee" history type="text" name="应缴金额" ng-blur="checkDelinquentFee(tplan);checkPlanRate(tplan);"
                     ng-disabled="proposalQueryHide || tplan.flag=='D'|| planAmount" style="color: #333" >
            </td>
            <td class="money">
              <input class="rd_only_bg" history  ng-model="tplan.palnRealFee"   style="color: #333" type="text" name="实缴金额"   readonly ng-disabled="proposalQueryHide">
            </td>
            <!--deleteEquipment($index);-->
            <td>
              <!-- ng-hide 批改时不允许删除数据-->
              <i  class="cur mesColor" ng-hide="proposalQueryHide || endorseFlag" ng-click="changePayTplan2($index);CheckSerialNo();">删除</i>
            </td>
        </table>
        <div class="payment_file clearfix" ng-hide="proposalQueryHide || endorseFlag">
          <button class="btn btn-success fr mt10 mr10"  ng-click="addPayPlan();"> 新增</button> <!-- ng-hide 批改时不允许新增数据-->
        </div>
      </div>
    </div>
    <!--特约及附加信息-->
    <div class="contributing">
      <div class="table_title">
        <span class="table_color">特约及附加信息</span>
        <i class="fr" ng-click="tabBtnChange1()" style="cursor: pointer;">
          <i class="iconfont fs_20" ng-show="!tabBtn1">&#xe667;</i>
          <i class="iconfont fs_20" ng-show="tabBtn1">&#xe668;</i>
        </i>
      </div>
      <div ng-show="tabBtn1">
        <table>
          <tr class="tr_top">
            <td>序号</td>
            <td style="width: 15%">代码</td>
            <td>名称</td>
            <td>内容</td>
            <td ng-hide="proposalQueryHide">操作</td>
          </tr>
          <tr class="tr_content tr_bg" ng-class="{del_item:prpTengageDtoList.flag=='D',inser_item:prpTengageDtoList.flag=='I'}"
              ng-repeat="prpTengageDtoList in proposal.prpTengageDtoCopy track by $index">
            <td>
              {{$index+1}}
            </td><!--ng-model="prpTengageDtoList.serialNo"-->
            <td>
              <div class="codeType max_w">
                <ui-select ng-model="prpTengageDtoList.clauseCode" history
                           ng-change="engageQueryClause($select.selected.codeName,$index,$select.selected.clausesContext)"
                           ng-disabled="proposalQueryHide || prpTengageDtoList.flag=='D'">
                  <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.codeCode}}">
                    {{$select.selected.codeCode}}
                  </ui-select-match>
                  <ui-select-choices
                          repeat="code.codeCode as code in engageQueryClauseByRiskCodeList | filter: $select.search">
                    <span ng-bind="code.codeCode" ng-attr-title="{{code.codeCode}}"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </td>
            <td><input ng-model="prpTengageDtoList.clauses" maxlength="70" class="w90" type="text" history
                       disabled>
            </td><!--ng-show="!lookFlag"-->
            <td class="mesColor" ng-model="prpTengageDtoList.clausesContent"
                ng-click="lookClausesContext(prpTengageDtoList,$index)" style="cursor: pointer;">查看详情
            </td>
            <td class="mesColor" ng-click="deleteTeng($index)" ng-hide="proposalQueryHide" style="cursor: pointer;">删除</td>
            <!--<td class="mesColor" ng-click="deleteTeng($index)" style="cursor: pointer;">删除</td>-->
          </tr>
        </table>
        <div class="contributing_result" ng-hide="proposalQueryHide">
          <button class="btn btn-success fr mr20 mt10"  ng-click="addTeng();">新增</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--特约内容弹层-->
<div ng-show="lookFlag" class="all_payment layer-model">
  <div class="large-layer-content riskScheme" style="width:80%;left:10%;top:20%;">
    <div class="all_payment_head layer-header">
      <span>内容</span>
    </div>
    <div class="layer-con all_payment_content2" style="margin: auto;text-align: center;">
      <textarea style="width: 80%;height: 80%;" ng-model="curPrpTengage.clausesContent" maxlength="512"
                ng-disabled="disabledFlag || disabledContent"></textarea>
    </div>
    <div class="layer-footer">
      <button class="greenButton" ng-click="yeslookFlag()" ng-disabled="disabledFlag">确定</button>
    </div>
  </div>
</div>
<!--主险附加险弹层-->
<div class="all_payment layer-model btnDisbled" ng-show="showaddpage">
  <div class="tip_success_info printLayer riskForm">
    <div class="remove_header" style="text-align: center">
      <span>新增主险/附加险</span>
    </div>
    <span class="printLayer-tittle">主险/附加险</span>
    <div class="row row-customize clearfix">
      <div class="row-cus-l">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span> 标的序号：</span>
        <input class="rd_only_bg" type="text" style="color: black" ng-model="prpTitemKind.itemKindNo" ng-init="prpTitemKind.itemKindNo=0"
               disabled/>
      </div>
      <div class="row-cus-r">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span class="details-sp">主险/附加险：</span>
        <div class="radio_content">
          <div>
            <span ng-class="{true:'radio_select',false:'radio_text'}[radioType=='Y']"
                  ng-click="rdChange('Y')" ng-disabled="proposalQueryHide"></span>
            <i>主险</i>
            <span ng-class="{true:'radio_select',false:'radio_text'}[radioType=='N']"
                  ng-click="proposalQueryHide || mainSubFlag?'':rdChange('N')" ng-disabled="proposalQueryHide|| mainSubFlag"></span>
            <i>附加险</i>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-customize">
      <div class="row-cus-l">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>险别：</span>
        <table ng-show="false">
          <td id="tdDisCountMainType">
            <select ng-model="prpTitemKind.discountMainType" name="DisCountMainType" style="width:100%" ng-change="setMainInsuredRate(this);discountPremcalculateMain(this);">
              <option value=2>全额投保</option>
              <option value=1>基本险投保</option>
              <option value=3>个人比例</option>
              <option value=4>合作社比例</option>
            </select>
          </td>
          <td id="tdBenMarkPremiumMain">
            <input type="text" ng-model="prpTitemKind.benmarkPremiumMain" name="BenMarkPremiumMain" class="common" description="标准保费"
                   maxlength="15" style="width:100%"
                   onkeypress="return pressDecimal(event)"
                   onblur="checkDecimal(this,14,2,'0','');discountPremcalculateMain(this);"
                   onchange="calculateAll(true);discountPremcalculateMain(this);">
          </td>
          <td id="tdDisCountMain">
            <input type="text" ng-show="false" ng-model="prpTitemKind.discountMain" name="DisCountMain" class="common" description="投保比例" readonly
                   maxlength="14" style="width:100%" onkeypress="return pressDecimal(event)" value="0"
                   onblur="checkDecimal(this,5,2,'0','100');discountPremcalculateMain(this);"
                   onchange="discountPremcalculateMain(this);setRefreshFlagFeeZero();">
          </td>
          <td id="tdAdjustRateMain" style="display:none" description="无赔款优待金额">
            <input type="text" ng-show="false" style="width:100%" name="AdjustRateMain" class="common" discription="无赔款优待金额"
                   onkeypress="return pressDecimal(event)" onblur="calculatePremiumMain(this,1)" value="0.00" >
          </td>
        </table>
        <div class="codeType pt4 btnDisbled" style="color: #333">
          <input type="text" ng-show="onlyShow" style="color: black" class="rd_only_bg" ng-model='prpTitemKind.kindName' disabled/>
          <ui-select ng-model="prpTitemKind.kindCode" style="color:#333"  ng-show="!onlyShow" ng-click="checkClauseCode()" ng-disabled="endorShow"
                     ng-change="changeData($select.selected,'kindCode');setRefreshFlagFeeZero();claer()">
            <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.codeName}}">
              {{$select.selected.codeName}}
            </ui-select-match>
            <ui-select-choices repeat="code.codeCode as code in KindCodeList | filter: $select.search">
              <span ng-bind="code.codeName" ng-attr-title="{{code.codeName}}"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="row-cus-r">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>标的类型：</span>
        <div class="codeType pt4" style="color: #333">
          <input type="text" ng-show="onlyShow" class="rd_only_bg" style="color: #333;" ng-model='prpTitemKind.itemDetailName'
                 disabled/>
          <input type="hidden" ng-model="prpTitemKind.ItemCodeMain">
          <ui-select ng-model="prpTitemKind.itemCode" ng-change="recorver(prpTitemKind);getModelMain($select.selected);chgShortRateFlag($select.selected)"
                     ng-show="!onlyShow" ng-click="click()" ng-disabled="endorShow" style="color: #333">
            <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.codeName}}">
              {{$select.selected.codeName}}
            </ui-select-match>
            <ui-select-choices repeat="code.codeCode as code in itemDetailList | filter: $select.search">
              <span ng-bind="code.codeName" ng-attr-title="{{code.codeName}}"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row row-customize">
      <div class="row-cus-l">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>标的项目：</span>
        <div class="codeType">
          <input type="text" maxlength="120" ng-readonly="onlyShow" style="color: #333;" ng-class="{'rd_only_bg':onlyShow}"
                 ng-model='prpTitemKind.model' reverseData="getModelMainName" ng-disabled="true"/>

          <!--<ui-select ng-model="prpTitemKind.modelMain" ng-show="!onlyShow">-->
          <!--<ui-select-match   placeholder="查询或选择...">-->
          <!--{{$select.selected.userName}}-->
          <!--</ui-select-match>-->
          <!--<ui-select-choices repeat="code.userName as code in handCodeList | filter: $select.search">-->
          <!--<span ng-bind="code.userName"></span>-->
          <!--</ui-select-choices>-->
          <!--</ui-select>-->
        </div>
      </div>
      <div class="row-cus-r">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>币别：</span>
        <div class="codeType pt4" style="color: #333">
          <input type="text" ng-show="onlyShow" class="rd_only_bg" ng-model='prpTitemKind.currency' readonly/>
          <ui-select ng-model="prpTitemKind.currency" ng-init="prpTitemKind.currency='CNY'" ng-show="!onlyShow"   ng-disabled="endorShow"
                     ng-change="getCurrencyNameMain($select.selected.currencyCode);setRefreshFlagFeeZero()" color="#333">
            <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.currencyCode}}" color="#333">
              {{$select.selected.currencyCName}}
            </ui-select-match>
            <ui-select-choices repeat="code.currencyCode as code in PrpDcurrencyDtoList | filter: $select.search" color="#333">
              <span ng-bind="code.currencyCName" ng-attr-title="{{code.currencyCode}}"color="#333"></span>
            </ui-select-choices>
          </ui-select>
          <input type="hidden" ng-model="prpTitemKind.CurrencyNameMain" value="人民币" description="币别">
          <input type="hidden" ng-model="prpTitemKind.ExchangeRateMain">
        </div>
      </div>
    </div>
    <div class="row row-customize">
      <div class=" row-cus-l">
        <span>保费计算公式：</span>
        <div class=" codeType">
          <input type="text" ng-show="onlyShow" class="rd_only_bg" ng-value="prpTitemKind.premiumCalMethod=='0'?'常规公式':prpTitemKind.premiumCalMethod=='2'?'固定单位保费计算':prpTitemKind.premiumCalMethod=='1'?'约定公式':'无计算公式'" readonly/>
          <select name="premiumCalMethod" ng-show="!onlyShow"  style="color: #333"    ng-model="prpTitemKind.premiumCalMethod" ng-change="changeNnitPremium(prpTitemKind.premiumCalMethod)" ng-disabled="endorShow">
            <option value="0">常规公式</option>
            <option value="1">约定公式</option>
            <option value="9">无计算公式</option>
            <option ng-show="risksshow=='41'" value="2">固定保费计算</option>
          </select>
        </div>
      </div>
      <div class="row-cus-r">
        <span>单位保费：</span>
        <input type="text" maxlength="14" style="color: black" ng-blur="checkValue('unitPremium',prpTitemKind.unitPremium)" ng-model="prpTitemKind.unitPremium" ng-change="changeunitPremium()"  ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')" ng-disabled="premiumFixed" readonly/>
      </div>
    </div>

    <div class="row row-customize">
      <div class=" row-cus-l">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>短期费率方式：</span>
        <div class=" codeType pt4">
          <input type="text" ng-show="onlyShow" class="rd_only_bg"  ng-model='prpTitemKind.shortRateFlagName' readonly/>
          <code-type ng-show="!onlyShow"  base-code="ShortRateFlagMain" ng-model='prpTitemKind.shortRateFlag'  style="color: #333"
                     ng-init="prpTitemKind.shortRateFlag='3'" reverseData="getShortRateFlagName"  ng-disabled="endorShow"
                     ng-change="getShortRate(prpTitemKind.shortRateFlag)" required ></code-type>
        </div>
      </div>
      <div class="row-cus-r">
        <span>短期费率(%)：</span>
        <input ng-readonly="true" maxlength="9"  class='rd_only_bg' type="text"
               ng-model="prpTitemKind.shortRate" ng-init="prpTitemKind.shortRate='100.00'"
               ng-change="adjustMun('shortRate');setRefreshFlagFeeZero()"/>
      </div>
    </div>
    <div class="row row-customize">
      <div class="row-cus-l" >
        <span class="details-sp" ng-show="payDetail"><i class="mes_sign" ng-show="!hideStar">*</i>赔付明细：</span>
        <div class="details" ng-show="payDetail">
          <img ng-click="showHide('pay')" src="common/images/pointer.png" alt=""/>
          <div class="riskForm_tc riskForm_tcl" ng-if="pay">
            <div class="row" ng-show="!ZHshow1">
              <span>每次事故免赔率(%)</span>
              <input ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" type="text"   ng-disabled="deductibleRateType "
                     ng-model="prpTitemKind.deductibleRate" ng-blur="checkValue('deductibleRate',prpTitemKind.deductibleRate)" ng-change="adjustMun('deductibleRate','1')"
              />
            </div>
            <div class="row" ng-show="ZHshow">
              <span>绝对免赔率(%)：</span>
              <input type="text" ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" ng-model="prpTitemKind.stabilityFundRate"
                     ng-change="adjustMun2('absuDedu',2);" ng-blur="absuDeduRateForm(prpTitemKind.absuDedu)" ng-disabled="proposalQueryHide || endorseFlag" />
            </div>
            <div class="row" ng-show="isTriggerPoint">
              <span>起赔点(%)</span>
              <input ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" ng-disabled="triggerPointeType" type="text"
                     ng-model="prpTitemKind.triggerPoint" ng-change="adjustMun('triggerPoint','1')"  ng-blur="checkValue('triggerPoint',prpTitemKind.triggerPoint)" />

            </div>
            <div class="row" ng-show="isTotalLossRatio">
              <span>全损损失率(%)</span>
              <input ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" ng-disabled="totalLossRatioType" type="text"
                     ng-model="prpTitemKind.totalLossRatio" ng-change="adjustMun('totalLossRatio','1')" ng-blur="checkValue('totalLossRatio',prpTitemKind.totalLossRatio)" />
            </div>
            <button class="button_sure" ng-click="checkRatio('button',onlyShow)">确定</button>
          </div>
        </div>
        <p class="details_err" ng-if="payerr">*请选择按何种方式确定保险金额</p>
      </div>
      <div class="row-cus-r" ng-show="!ZHPFshow">
        <span class="details-sp"><i class="mes_sign" ng-show="!hideStar">*</i>承保明细：</span>
        <div class="details">
          <div class="riskForm_tc riskForm_tcr" ng-if="underwriting">
            <div class="row" ng-if="!showprice" ng-show="!isAgriUnitCostMain">
              <span ng-bind="prpTitemKind.agriUnitCostMaintitle"></span>
              <input ng-readonly="onlyShow"   ng-class="{'rd_only_bg':onlyShow}" type="text"  onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"
                     ng-model="prpTitemKind.agriUnitCostMain" ng-change="adjustMun('agriUnitCostMain','2')" ng-blur ="calculateAgriMain(prpTitemKind);checkValue('agriUnitCostMain',prpTitemKind.agriUnitCostMain)" maxlength="14"/>
              <i ng-bind="prpTitemKind.unitCostName"></i>
            </div>
            <div class="row" ng-if="showprice" ng-show="!isAgriUnitCostMain">
              <span ng-bind="prpTitemKind.agriUnitOutputMaintitle"></span>
              <input ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" type="text"  ng-blur="checkValue('agriUnitOutputMain',prpTitemKind.agriUnitOutputMain)"  onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"
                     ng-model="prpTitemKind.agriUnitOutputMain" />
              <i ng-bind="prpTitemKind.agriUnitOutputMainName"></i>
            </div>
            <div class="row" ng-show="isProportion">
              <span>投保成数</span>
              <input ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" type="text" ng-disabled="proposalQueryHide||endorseFlag"
                     ng-model="prpTitemKind.proportion" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" ng-blur="checkValue('proportion',prpTitemKind.proportion)" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')" />
              <i ng-bind="prpTitemKind.proportionName"></i>
            </div>
            <div class="row" ng-show="isDepreciationRate">
              <span>折旧率</span>
              <input ng-readonly="onlyShow"   ng-class="{'rd_only_bg':onlyShow}" type="text" ng-disabled="proposalQueryHide||endorseFlag" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"
                     ng-model="prpTitemKind.depreciationRate" ng-blur="checkValue('depreciationRate',prpTitemKind.depreciationRate)" />
              %
            </div>
            <div class="row" ng-show="amountAmount">
              <span>单位保险金额</span>
              <input ng-readonly="onlyShow" style="color: #333"  ng-class="{'rd_only_bg':onlyShow}" type="text" ng-disabled="proposalQueryHide||endorseFlag || endorShow" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"
                     ng-model="prpTitemKind.unitAmount"  ng-change="adjustMun('unitAmount','2')" ng-blur="checkValue('unitAmount',prpTitemKind.unitAmount)" maxlength="14"/>
              <i ng-bind="prpTitemKind.untilName"></i>
            </div>
            <div class="row" ng-show="!amountAmount">
              <span>单位保险金额</span>
              <input ng-readonly="onlyShow" style="color: #333" ng-class="{'rd_only_bg':onlyShow}" type="text" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"
                     ng-model="prpTitemKind.unitAmount" ng-change="adjustMun('unitAmount','2')" ng-blur="checkValue('unitAmount',prpTitemKind.unitAmount)" maxlength="14"
                      ng-disabled="endorShow"/>
              <i ng-bind="prpTitemKind.untilName"></i>
            </div>
            <div class="row">
              <span ng-bind="prpTitemKind.untilKindName"></span>
              <input ng-readonly="onlyShow"  style="color: #333"  ng-class="{'rd_only_bg':onlyShow}" type="text"   onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"
                     ng-model="prpTitemKind.agriGrossQuantityMain" ng-change="adjustMun('agriGrossQuantityMain','2')" ng-blur="checkValue('agriGrossQuantityMain',prpTitemKind.agriGrossQuantityMain)" maxlength="14"
                     ng-disabled="endorShow" />
              <i ng-bind="prpTitemKind.untilName1"></i>
            </div>
            <div class="row" ng-if="showprice" ng-show="isagriTimesAmount">
              <span>约定单价</span>
              <input ng-readonly="onlyShow"  ng-class="{'rd_only_bg':onlyShow}" type="text" ng-model="prpTitemKind.agriTimesAmount"   onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"
                     ng-change="adjustMun('agriTimesAmount','2')" ng-blur="checkValue('agriTimesAmount',prpTitemKind.agriTimesAmount)" maxlength="14" /><!-- 应取prpTitemKindAgrp TimesAmount字段-->
              元/公斤
            </div>
            <button class="button_sure" ng-click="showHide('underwriting');checkInsure();">确定</button>
          </div>
          <img ng-click="showHide('underwriting')" src="common/images/pointer.png" alt=""/>
          <!--<button class="button_sure fr" style="width: 50px">说明</button>-->
        </div>
        <p class="details_errR" ng-if="underwritingerr">*请选择按何种方式确定保险金额</p>
      </div>
    </div>
    <div class="row-cus-l" ng-show="isUnitAmountMain">
      <i class="mes_sign">*</i>
      <span>单位保额：</span>
      <input class="rd_only_bg"  type="text"  ng-model="prpTitemKind.unitAmountMain"  ng-blur="checkValue('unitAmountMain',prpTitemKind.unitAmountMain)" readonly/>
    </div>
    <div class="row-cus-l" ng-show="isQuantityMain">
      <i class="mes_sign">*</i>
      <span>承保数量：</span>
      <input class="rd_only_bg"  type="text" ng-model="prpTitemKind.quantityMain" ng-blur="checkValue('quantityMain',prpTitemKind.quantityMain)" readonly/>
    </div>
    <div class="row-cus-l" ng-show="isUnitMain">
      <i class="mes_sign">*</i>
      <span>数量单位：</span>
      <input class="rd_only_bg"  type="text" ng-model="prpTitemKind.unitMain" ng-blur="checkLength(10);checkValue('unitMain',prpTitemKind.unitMain)"/>
    </div>
    <div class="row row-customize">
      <div class="row-cus-l">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>保额：</span>
        <input class="rd_only_bg"  type="text" ng-model="prpTitemKind.amount"  ng-change="doSaveFlagChange();setRefreshFlagFeeZero()" readonly/>
      </div>
      <div class="row-cus-r">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>费率(%)：</span>
        <input type="text"  ng-disabled="rateflag || endorShow" style="color: #333"  ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow,'checkOutBdRed':checkOutBdRed}" ng-model="prpTitemKind.rate"  ng-disabled="proposalQueryHide||endorseFlag"
               ng-change="adjustMun('rate','2');setRefreshFlagFeeZero()" ng-blur="getRateAmount($event);checkValue('rate',prpTitemKind.rate)"/>
      </div>
    </div>
    <div class="row row-customize">
      <div class="row-cus-l">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>保费：</span>
        <input class="rd_only_bg"  type="text" ng-model="prpTitemKind.premium" ng-change="doSaveFlagChange();setRefreshFlagFeeZero()"
               readonly />
        <input type="hidden" ng-model="prpTitemKind.perPremiumMain" class="common" readonly description="自缴保费">
        <input type="hidden" ng-model="prpTitemKind.govPremiumMain" class="common" readonly description="补贴保费">
      </div>
      <div class="row-cus-r">
        <i class="mes_sign" ng-show="!hideStar">*</i>
        <span>标的清单：</span>
        <input type="text" ng-disabled="true"  style="color: #333" ng-readonly="onlyShow" ng-class="{'rd_only_bg':onlyShow}" ng-model="prpTitemKind.replyNo"/>
      </div>
    </div>
    <div class="remove_button no-line btn-a">
      <!--<button class="button_sure " ng-if="onlyShow" ng-click="showHide('showaddpage')">确定</button>-->
      <button class="button_sure btn-l" ng-if="!onlyShow" ng-click="printSure()">保存</button>
      <button class="button_sure " ng-click="showHide('showaddpage')">取消</button>
    </div>
  </div>
</div>