<!-- 整单支付 -->
<div class="main">
    <div class="section" style="height:auto;">
        <div class="position">
            <span>当前位置：</span>
            <span class="local-fir">支付信息维护> 支付信息录入 > </span>
            <span class="local-sec">整单支付</span>
        </div>

        <div class="">
            <div class="clause_information myPayInformation" style="overflow-x: visible">
                <div class="clause_queryResult_title">
                    <span class="table_color">基本信息</span>
                </div>
                <div class="pay_information_right pt4">
                    <ul class="clause_con_left left">

                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">领款人类型</span>
                            </label>
                            <div class="codeType" style="width: 235px">
                                <code-type base-code="ReceiverType" ng-model='endorse.prpPayMainDto.receiverType'
                                           ng-disabled="!isEdit" warn-layer></code-type>
                            </div>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">领款人证件类型</span>
                            </label>
                            <div class="codeType" style="width: 235px">
                                <code-type base-code="CertiType" ng-model='endorse.prpPayMainDto.certifyType'
                                           ng-disabled="!isEdit" warn-layer></code-type>
                            </div>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">紧急程度</span>
                            </label>
                            <div class="codeType" style="width: 235px">
                                <code-type base-code="UgentType" ng-model='endorse.prpPayMainDto.ugentType'
                                           ng-disabled="!isEdit"></code-type>
                            </div>
                        </li>
                    </ul>
                    <ul class="clause_con_right left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">领款人名称</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.receiverName"
                                   ng-class="{'checkOutBdRed':check.receiverName}"
                                   ng-blur="checkReceiverName($event,endorse.prpPayMainDto.receiverName)"
                                   ng-disabled="!isEdit" type="text" warn-layer/>
                            <s ng-bind="check.receiverName">ewdewde</s>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">证件号码</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.certifyNo"
                                   ng-blur="checkCertifyNo($event,endorse.prpPayMainDto.certifyNo)"
                                   ng-class="{'checkOutBdRed':check.certifyNo}" ng-disabled="!isEdit" type="text"/>
                            <s ng-bind="check.certifyNo"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">客户姓名</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.fName"
                                   ng-blur="checkFName($event,endorse.prpPayMainDto.fName)"
                                   ng-class="{'checkOutBdRed':check.fName}" type="text" ng-disabled="!isEdit"
                                   warn-layer/>
                            <s ng-bind="check.fName"></s>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clause_information myPayInformation">
                <div class="clause_queryResult_title clearfix">
                    <span class="table_color">账户信息</span>
                </div>
                <div class="pay_information_right1">
                    <ul class="clause_con_left left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">省份名称</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.bankProv"
                                   id='pro'
                                   ng-blur="checkBankProv($event,endorse.prpPayMainDto.bankProv)"
                                   ng-class="{'checkOutBdRed':check.bankProv}"
                                   type="text" ng-disabled="true" warn-layer/>
                            <s ng-bind="check.bankProv"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">账户属性</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.accountType" value="1" type="radio"
                                   ng-disabled="!isEdit" name="accountType"/>个人账户</input>
                            <input ng-model="endorse.prpPayMainDto.accountType" value="2" type="radio"
                                   ng-disabled="!isEdit" name="accountType"/>单位账户</input>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">银行大类</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.bankType"
                                   ng-blur="checkBankType($event,endorse.prpPayMainDto.bankType)"
                                   ng-class="{'checkOutBdRed':check.bankType}"
                                   id="bankType" onclick="suggestF.display(this,'',event);"
                                   onblur="item_suggest.item_onblur(this);"
                                   type="text"
                                   ng-disabled="!isEdit"
                                   warn-layer/>
                            <s ng-bind="check.bankType"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">银行账号</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.bankAccount"
                                   ng-blur="checkBankAccount($event,endorse.prpPayMainDto.bankAccount)"
                                   ng-class="{'checkOutBdRed':check.bankAccount}" type="text" ng-disabled="!isEdit"
                                   warn-layer/>
                            <s ng-bind="check.bankAccount"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">账户类型</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.accountFlag" value="00" type="radio"
                                   ng-disabled="!isEdit" name="accountFlag"/>银行卡</input>
                            <input ng-model="endorse.prpPayMainDto.accountFlag" value="01" type="radio"
                                   ng-disabled="!isEdit" name="accountFlag"/>存折</input>
                        </li>
                        </li>
                    </ul>
                    <ul class="clause_con_right left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">城市名称</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.bankCity"
                                   ng-blur="checkBankCity($event,endorse.prpPayMainDto.bankCity);"
                                   onclick="hukouSelect();"
                                   id="btn_hukou"
                                   style="font-size: 14px;height: 28px;line-height: 28px;border: 1px solid #ccc;padding-left: 10px;
                                   border-radius: 3px;color: #999;padding-right: 10px;width: 235px;"
                                   ng-class="{'checkOutBdRed':check.bankCity}" type="text" ng-disabled="!isEdit"
                                   warn-layer/>
                            <s ng-bind="check.bankCity"></s>
                        </li>
                        <li>
                            <div class="btn_tr clearfix" ng-show="isEdit">
                                <span ng-click="synchronize()">同步账户信息</span>
                            </div>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i> <span class="mesColor">开户银行</span>
                            </label>
                            <input ng-if="!isEdit" ng-model="endorse.prpPayMainDto.bank"
                                   ng-blur="checkBank($event,endorse.prpPayMainDto.bank)"
                                   ng-class="{'checkOutBdRed':check.bank}" type="text" ng-disabled="true" warn-layer/>
                            <div class="codeType" style="width:235px;" ng-if="isEdit">
                                <ui-select history ng-model="endorse.bank"
                                           ng-blur="checkBank($event,endorse.prpPayMainDto.bank)"
                                           ng-class="{'checkOutBdRed':check.bank}"
                                           ng-keyup="bankChange($select.search)"
                                           ng-keydown="bankChange($select.search)"
                                           warn-layer>
                                    <ui-select-match placeholder="查询或选择..."
                                                     ng-attr-title="{{$select.selected.bankName}}">
                                        <span ng-model="bankInfo">{{$select.selected.bankName}}</span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="code.bankNumber as code in selectListData.bankList | filter: $select.search">
                                        <span ng-click="selectBank(code)" ng-bind="code.bankName"
                                              ng-attr-title="{{code.bankName}}"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <s ng-bind="check.bank"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">账号确认</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.bankAccount1"
                                   ng-blur="checkBankAccount1($event,endorse.prpPayMainDto.bankAccount1)"
                                   ng-class="{'checkOutBdRed':check.bankAccount1}" type="text" ng-disabled="!isEdit"
                                   warn-layer/>
                            <s ng-bind="check.bankAccount1"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">支付方式</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.payType" value="1" type="radio"
                                   ng-disabled="!isEdit" name="payType"/>第三方支付</input>
                            <input ng-model="endorse.prpPayMainDto.payType" value="2" type="radio"
                                   ng-disabled="!isEdit" name="payType"/>传统方式支付</input>
                        </li>
                    </ul>
                </div>
                <div id="maskLayer" style="display:none">
                    <iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
                    <div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
                    <div id="drag">
                        <h3 id="drag_h"></h3>
                        <div id="drag_con"></div>
                        <div id="sublist"></div>
                    </div>
                </div>
            </div>
            <div class="clause_information myPayInformation">
                <div class="clause_queryResult_title clearfix">
                    <span class="table_color">领款人信息</span>
                </div>
                <div class="pay_information_right1">
                    <ul class="clause_con_left left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">手机号码</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.mobilePhone"
                                   ng-blur="checkMobilePhone($event,endorse.prpPayMainDto.mobilePhone)"
                                   ng-class="{'checkOutBdRed':check.mobilePhone}" type="text" ng-disabled="!isEdit"
                                   warn-layer/>
                            <s ng-bind="check.mobilePhone"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">办公号码</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.officePhone"
                                   ng-blur="checkOfficePhone($event,endorse.prpPayMainDto.officePhone)"
                                   ng-class="{'checkOutBdRed':check.officePhone}" type="text" ng-disabled="!isEdit"/>
                            <s ng-bind="check.officePhone"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">QQ号码</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.qqNumber"
                                   ng-blur="checkQqNumber($event,endorse.prpPayMainDto.qqNumber)"
                                   ng-class="{'checkOutBdReg':check.qqNumber}" type="text" ng-disabled="!isEdit"/>
                            <s ng-bind="check.qqNumber"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">单位联系人</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.unitLink" type="text"
                                   ng-blur="checkUnitLink($event,endorse.prpPayMainDto.unitLink)"
                                   ng-class="{'checkOutBdRed':check.unitLink}" ng-disabled="!isEdit"/>
                            <s ng-bind="check.unitLink"></s>
                        </li>

                    </ul>
                    <ul class="clause_con_right left">
                        <li>
                            <label class="teaR">
                                <span class="mesColor">家庭电话</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.familyPhone"
                                   ng-blur="checkFamilyPhone($event,endorse.prpPayMainDto.familyPhone)"
                                   ng-class="{'checkOutBdRed':check.familyPhone}" type="text" ng-disabled="!isEdit"/>
                            <s ng-bind="check.familyPhone"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">详细地址</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.address" type="text" ng-disabled="!isEdit"
                                   warn-layer/>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">电子邮箱</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.email"
                                   ng-blur="checkEmail($event,endorse.prpPayMainDto.email)"
                                   ng-class="{'checkOutBdRed':check.email}" type="text" ng-disabled="!isEdit"/>
                            <s ng-bind="check.email"></s>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">邮政编码</span>
                            </label>
                            <input ng-model="endorse.prpPayMainDto.postCode"
                                   ng-blur="checkPostCode($event,endorse.prpPayMainDto.postCode)"
                                   ng-class="{'checkOutBdRed':check.postCode}" type="text" ng-disabled="!isEdit"/>
                            <s ng-bind="check.postCode"></s>
                        </li>
                    </ul>
                    <li class="pay" style="margin-left: 0;">
                        <label class="teaR" style="width:20.4%;">
                            <span class="mesColor">用途说明</span>
                        </label>
                        <input ng-model="endorse.prpPayMainDto.payPurpose" type="text" ng-disabled="!isEdit" required/>
                    </li>
                </div>
            </div>
            <div class="queryResult">
                <div class="clause_queryResult_title clearfix">
                    <span class="table_color">退款信息</span>
                </div>
                <table>
                    <tr class="tr_top">
                        <td class="td1-dispatch">序号</td>
                        <td>批单号</td>
                        <td>保单号</td>
                        <td>被保险人</td>
                        <td>费用类型</td>
                        <td>结算金额</td>
                    </tr>
                    <tr class="tr_content" ng-repeat="info in endorseInfo">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="info.endorseNo"></td>
                        <td ng-bind="info.policyNo"></td>
                        <td ng-bind="info.insuredName"></td>
                        <td ng-bind="info.costType"></td>
                        <td ng-bind="info.chgPremium.toFixed(2)"></td>
                    </tr>
                </table>
                <div class=" clause_information" style="width: 90%;text-align:right;padding-bottom: 10px">
                    <label style="margin-right: 10px;">本次总支付金额</label><input ng-value="sumChgPremium.toFixed(2)"
                                                                             type="text" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="clause_td" ng-show="isEdit">
            <label ng-click="save()" style="line-height: 16px;" class="btn"
                   ng-disabled="saveTemporaryDisabled">保存</label>
            <label ng-click="cancel()">取消</label>
        </div>
        <div class="clause_td" ng-show="!isEdit">
            <label ng-click="cancel()">返回</label>
        </div>

    </div>
</div>