<div class="main">
    <div class="section" style="height:auto;">
        <div class="position">
            <span>当前位置：</span>
            <span class="local-fir">支付信息维护 > </span>
            <span class="local-sec">支付信息查询</span>
        </div>
        <div class="content_div content1-div">
            <div class="queryCriteria">
			<span class="queryCriteria_title">
				<label>查询条件</label>
			</span>
                <div class="condition_table">
                    <ul>
                        <li>
                            <ul class="clearfix ul_tr">
                                <li class="condition_td teaR fl">
                                    <label>批单号码</label><input ng-model="payInfoCondition.endorseNo" type="text"
                                                              class="">
                                </li>
                                <li class="condition_td teaC fl">
                                    <label>保单号码</label><input type="text" ng-model="payInfoCondition.policyNo"
                                                              class="">
                                </li>
                                <li class="condition_td teaL fl">
                                    <label>投保人名称</label><input type="text" ng-model="payInfoCondition.insuredName"
                                                              class="">
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="clearfix ul_tr">
                                <li class="condition_td teaR fl">
                                    <label>被保险人</label><input type="text" ng-model="payInfoCondition.appliName"
                                                               class="">
                                </li>
                                <!--<li class="condition_td teaR fl">
                                    <label>流入时间</label>
                                    <div class="data-box">
                                        <input type="text" id="endorDateStart" class="date-input date fl" jedate
                                               ng-model="payInfoCondition." format="YYYY-MM-DD">-<input
                                            type="text" id="endorDateEnd" class="date-input date fr" jedate
                                            ng-model="payInfoCondition." format="YYYY-MM-DD">
                                    </div>
                                </li>-->
                            </ul>
                        </li>
                    </ul>
                    <div class="btn_tr clearfix">
                        <span class="fl" ng-click="submit()">查询</span>
                        <span class="fr" ng-click="reset()">重置</span>
                    </div>
                </div>
            </div>
            <div class="queryResult">
                <div class="queryResult_title clearfix">
                    <span class="fl">查询结果</span>
                    <label class="fr" ng-click="test();configPrintSet()">清单支付</label>
                    <label class="fr" ng-click="test();configPrintSet1()">整单支付</label>
                </div>
                <table>
                    <tr class="tr_top">
                        <td class="w5">
                            <input type="checkbox" ng-model="select_all" ng-change="selectAll()">选择
                        </td>
                        <td class="w10">批单号码</td>
                        <td class="w10">保单号码</td>
                        <td class="w10">被保险人</td>
                        <!--<td class="w8">流入时间</td>-->
                        <td class="w10">结算金额</td>
                        <td class="w10">任务状态</td>
                        <td class="w10">承保机构</td>
                        <!--<td class="w10">说明</td>-->
                    </tr>
                    <tr class="tr_content F2F2F2" ng-repeat="info in QueryList track by $index">
                        <td>
                            <input ng-model="info.checked" type="checkbox"/>
                        </td>
                        <td class="C2DBE61 cur" ng-bind="info.endorseNo" ></td>
                        <td ng-bind="info.policyNo"></td>
                        <!--<td ng-bind="info.createdby"></td>-->
                        <td ng-bind="info.insuredName"></td>
                        <td ng-bind="info.chgPremium"></td>
                        <td ng-bind="info.underwriteFlag"></td>
                        <td ng-bind="info.makeComName"></td>
                        <!--<td ng-bind="info.A">王五</td>-->
                    </tr>
                </table>
                <div class="index_page">
                    <tm-pagination conf="paginationConfmm"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<!--清单支付弹层-->
<div class="printLayerBox" ng-show="inventoryShow">
    <!--控制弹层-->
    <div class="mask zIndex"></div>
    <div class="tip_success_info pay_manage">
        <!--条款详情样式-->
        <div class="clause_header">
            <span>清单支付信息录入</span>
            <i class="icon iconfont plusAndReduce" ng-click="configPrintSet()">&#xe632;</i>
        </div>
        <div class="pay-model">
            <div  class="clause_information1">
                <div class="clause_queryResult_title">
                    <span class="table_color">清单列表</span>
                </div>
                <div class="pay_queryResult">
                    <table>
                        <tr class="clause_tr_top">
                            <td class="w5">序号</td>
                            <td class="w8">批单号码</td>
                            <td class="w8">农户姓名</td>
                            <td class="w8">农户代码</td>
                            <td class="w8">身份证号码</td>
                            <td class="w8">待支付金额</td>
                            <td class="w8">银行大类</td>
                            <td class="w8">银行卡号</td>
                            <td class="w8">手机号码</td>
                            <td class="w8">操作</td>
                        </tr>
                        <tr class="tr_pay F2F2F2" ng-repeat="info in proposal.prpTmain.clausemanageQueryList1 track by $index" >
                            <td >1</td>
                            <td >123456789</td>
                            <td ><input type="text" ng-disabled="proposalQueryHide" required></td>
                            <td ><input type="text" ng-disabled="proposalQueryHide" required></td>
                            <td ><input type="text" ng-disabled="proposalQueryHide" required></td>
                            <td ><input type="text" ng-disabled="proposalQueryHide" required></td>
                            <td ><input type="text" ng-disabled="proposalQueryHide" required></td>
                            <td ><input type="text" ng-disabled="proposalQueryHide" required></td>
                            <td ><input type="text" ng-disabled="proposalQueryHide" required></td>
                            <td>
                                <img class="cur" src="common/images/chenpeng/delete.png" ng-click="deleteCoins2($index)" title="删除" alt="删除" >
                            </td>
                        </tr>
                    </table>
                    <div class="contributing_result">
                        <img class="cur fr mt10" src="common/images/chenpeng/add.png" ng-disabled="proposalQueryHide" ng-click="addCoins1();" title="新增" alt="新增">
                    </div>
                </div>
            </div>
            <div class="clause_td">
                <label ng-click="">导出清单列表</label>
                <label ng-click="">导入清单列表</label>
                <label ng-click="">确定</label>
            </div>
        </div>
    </div>
</div>
<!--清单支付弹层-->
<!--整单支付弹层-->
<div class="printLayerBox" ng-show="allinventoryShow">
    <!--控制弹层-->
    <div class="mask zIndex"></div>
    <div class="tip_success_info clause_manage">
        <!--条款详情样式-->
        <div class="pay_header">
            <span>整单支付信息录入</span>
            <i class="icon iconfont plusAndReduce" ng-click="configPrintSet1()">&#xe632;</i>
        </div>
        <div class="pay-model1">
            <div  class="clause_information">
                <div class="clause_queryResult_title">
                    <span class="table_color">基本信息</span>
                </div>
                <div class="pay_information_right left">
                    <ul class="clause_con_left left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">领款人类型</span>
                            </label>
                            <select ng-model="proposal.prpTmainDto.policyType">
                                <option value class>请选择</option>
                                <option value="0">被保险人</option>
                                <option value="1">投保人</option>
                                <option value="2">受益人</option>
                                <option value="3">其他个人</option>
                                <option value="4">其他单位</option>
                            </select>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor" >领款人证件类型</span>
                            </label>
                            <select ng-model="proposal.prpTmainDto.sumInsured">
                                <option value class>请选择</option>
                                <option value="0">居民身份证</option>
                                <option value="1">居民户口簿</option>
                                <option value="2">驾驶证</option>
                                <option value="3">军官证</option>
                                <option value="4">士兵证</option>
                                <option value="5">中国护照</option>
                                <option value="6">异常身份证</option>
                                <option value="7">港澳通行证</option>
                                <option value="8">台湾通行证</option>
                                <option value="9">回乡证</option>
                                <option value="10">外国护照</option>
                                <option value="11">旅行证</option>
                                <option value="12">居留证件</option>
                                <option value="13">组织机构代码证</option>
                                <option value="14">税务登记证</option>
                                <option value="15">营业执照</option>
                                <option value="16">其他证件</option>
                            </select>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">紧急程度</span>
                            </label>
                            <select ng-model="proposal.prpTmainDto.sumInsured">
                                <option value class>请选择</option>
                                <option value="0">30分钟</option>
                                <option value="1">1小时</option>
                                <option value="2">2小时</option>
                                <option value="3">3小时</option>
                                <option value="4">4小时</option>
                                <option value="5">8小时</option>
                                <option value="6">24小时</option>
                                <option value="7">48小时</option>
                            </select>
                        </li>
                    </ul>
                    <ul class="clause_con_right left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">领款人名称</span>
                            </label>
                            <input ng-model="proposal.prpTmainAgriDto.relationListNo" class="search_wid" type="text"/>
                            <button class="btn search_btn">查询</button>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">证件号码</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text"/>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">客户姓名</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text"/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clause_information">
                <div class="clause_queryResult_title clearfix">
                    <span class="table_color">账户信息</span>
                </div>
                <div class="pay_information_right1 left">
                    <ul class="clause_con_left left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">省份名称</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor" >账户属性</span>
                            </label>
                                <input ng-model="proposal.prpTmainDto.notificationFlag" value="1" type="radio" name="NotificationFlag" ng-disabled="proposalQueryHide" />个人账户</input>
                                <input ng-model="proposal.prpTmainDto.notificationFlag" value="1" type="radio" name="NotificationFlag" ng-disabled="proposalQueryHide" />单位账户</input>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">银行大类</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">银行账号</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">账户类型</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.notificationFlag" value="1" type="radio" name="NotificationFlag" ng-disabled="proposalQueryHide" />银行卡</input>
                            <input ng-model="proposal.prpTmainDto.notificationFlag" value="1" type="radio" name="NotificationFlag" ng-disabled="proposalQueryHide" />存折</input>
                        </li>
                        </li>
                    </ul>
                    <ul class="clause_con_right left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">城市名称</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>
                        <li>
                            <label></label>

                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">开户银行</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text"/>
                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">账号确认</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text"/>
                        </li>
                    </ul>
                </div>
            </div>

            <div  class="clause_information">
                <div class="clause_queryResult_title clearfix">
                    <span class="table_color">领款人信息</span>
                </div>
                <div class="pay_information_right1 left">
                    <ul class="clause_con_left left">
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">手机号码</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor" >办公号码</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">QQ号码</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">单位联系人</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>

                    </ul>
                    <ul class="clause_con_right left">
                        <li>
                            <label class="teaR">
                                <span class="mesColor">家庭电话</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                        </li>
                        <li>

                        </li>
                        <li>
                            <label class="teaR">
                                <i class="mes_sign">*</i>
                                <span class="mesColor">详细地址</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text"/>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">电子邮箱</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text"/>
                        </li>
                        <li>
                            <label class="teaR">
                                <span class="mesColor">邮政编码</span>
                            </label>
                            <input ng-model="proposal.prpTmainDto.sumInsured" type="text"/>
                        </li>
                    </ul>
                    <li class="pay">
                        <label class="teaR">
                            <span class="mesColor">用途说明</span>
                        </label>
                        <input ng-model="proposal.prpTmainDto.sumInsured" type="text" ng-disabled="proposalQueryHide" required/>
                    </li>
                </div>
            </div>
        </div>
        <div class="clause_td">
            <label ng-click="message2()">保存</label>
        </div>
    </div>
</div>
<!--整单支付弹层-->

