<div class="main">
    <div class="section commentWidth" style="height:auto;">
        <div class="position">
            <span>当前位置：</span>
            <span class="local-fir">客户设置 > </span>
            <span class="local-sec">客户查询</span>
        </div>
        <div class="content_div content1-div">
            <div class="queryCriteria">
			<span class="queryCriteria_title">
				<label>查询条件</label>
			</span>
                <div class="condition_table pt4">
                    <ul class="clearfix">
                        <li class="condition_td teaR fl">
                            <label>客户代码</label>
                            <div>
                                <input ng-model="proposal.customer.customerCode"  maxlength="40" ng-blur="checkcustomerCode($event,proposal.customer.customerCode,'1')" ng-class="{'checkOutBdRed':check.customerCode}" type="text" class="">
                                <s ng-bind="check.customerCode"></s>
                            </div>
                        </li>
                        <li class="condition_td teaC fl">
                            <label>客户姓名</label>
                            <div>
                                <input type="text" ng-blur="checkcustomerCname($event,proposal.customer.customerCname,'1')" maxlength="40" ng-class="{'checkOutBdRed':check.customerCname}" ng-model="proposal.customer.customerCname" class="">
                                <s ng-bind="check.customerCname"></s>
                            </div>
                        </li>
                        <li class="condition_td teaL fl">
                            <label>客户类型</label>
                            <div class="codeType" style="width: 55%;">
                                <code-type base-code="customerType" ng-change="isChange()" ng-model="proposal.customer.customerType"

                                           ng-init="proposal.customer.customerType='1'"></code-type>
                            </div>
                        </li>
                        <li class="condition_td teaR fl">
                            <label>证件类型</label>
                            <div class="codeType"  style="width: 55%;float: left">
                                <ui-select ng-model="proposal.customer.identifyType" ng-change="proposal.customer.identifyNumber=''" ng-click="getPrintFlagList('1')">
                                    <ui-select-match   placeholder="查询或选择..." >
                                        {{$select.selected.codeName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.codeCode as code in printFlagList | filter: $select.search">
                                        <span ng-bind="code.codeName"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </li>
                        <li class="condition_td teaR fl">
                            <label>证件号码</label>
                            <div>
                                <input type="text" ng-blur="checkidentifyNumber($event,proposal.customer.identifyNumber)" maxlength="40" ng-class="{'checkOutBdRed':check.identifyNumber}" maxlength="20" ng-model="proposal.customer.identifyNumber" class="">
                                <s ng-bind="check.identifyNumber"></s>
                            </div>
                        </li>
                    </ul>
                    <div class="btn_tr clearfix">
                        <span class="fl" ng-click="submit()">查询</span>
                        <span class="fr" ng-click="reset()">重置</span>
                    </div>
                </div>
            </div>
            <div class="queryResult">
                <div class="queryResult_title clearfix">
                    <span class="fl">查询结果</span>
                    <span  class="fr" style="width: 100px;height: 30px;background: #2DBE61;color: #fff;font-size: 14px; display: block;line-height: 30px;margin-top:8px;text-align: center;cursor: pointer;border-radius: 3px;" ng-click="goBackDashboard();">返回</span>
                </div>
                <table>
                    <tr class="tr_top">
                        <td class="w5">序号</td>
                        <td class="w8">客户代码</td>
                        <td class="w8">客户姓名</td>
                        <td class="w14_28">地址</td>
                        <td class="w8">状态</td>
                        <td class="w8">客户类型</td>
                        <td class="w8">操作</td>
                    </tr>
                    <tr class="tr_content F2F2F2" ng-repeat="info in proposal.customerQueryList track by $index">
                        <td>{{$index+1}}</td>
                        <td ng-bind="info.customerCode" ></td>
                        <td ng-bind="info.customerCName">客户姓名</td>
                        <td ng-bind="info.addressCName">地址</td>
                        <td ng-bind="info.validStatus=='1'?'有效':'无效'"></td>
                        <td ng-bind="proposal.customerType"></td>
                        <td>
                            <img class="cur" src="common/images/chenpeng/设置密码.png" ng-click="configPrintSet();onChang1(info)"title="设置密码" alt="设置密码" >
                            <img class="cur" src="common/images/chenpeng/风险.png" ng-click="configPrintSet2();onChang2(info,proposal.customerType)" title="设置客户风险等级" alt="设置客户风险等级" >
                        </td>
                    </tr>
                </table>
                <div class="index_page">
                    <div ng-show="isEmptyObject(proposal.customerQueryList)||proposal.customerQueryList.length==0" ng-class="{'not-query':isEmptyObject(proposal.customerQueryList),'query-null':proposal.customerQueryList.length==0}" class="not-query"></div>
                    <tm-pagination conf="paginationConfmm"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!--设置密码弹层-->
<div class="printLayerBox" ng-show="configPrintSetShow">
    <!--控制弹层-->
    <div class="mask" style="z-index: 2001;"></div>
    <div class="customer_success_info customer_manage" style="position: fixed;z-index: 2002;left:50%;margin-left:-220px;">
        <!--条款详情样式-->
        <div class="customer_header">
            <span>客户密码设置</span>
            <i class="icon iconfont plusAndReduce" ng-click="configPrintSet()">&#xe632;</i>
        </div>
        <div class="condition_table">
            <ul class="clearfix ul_tr">
                <li class="customer_td teaL fl">
                    <label>客户名称</label>
                    <input ng-model="proposal.customer.customerCname1" type="text" class="" readonly="readonly">
                </li>
            </ul>
            <ul class="clearfix ul_tr">
                <li class="customer_td teaL fl">
                    <label>客户代码</label>
                    <input ng-model="proposal.customer.customerCode1" type="text" class="" readonly="readonly">
                </li>
            </ul>
            <ul class="clearfix ul_tr">
                <li class="customer_td teaL fl " style="position: relative" >
                    <label>客户密码</label>
                    <input ng-model="proposal.customer.password1" ng-class="{'checkOutBdRed':check.password1}" ng-class="{red:proposal.originalPasswordError||proposal.Error}" type="{{typePass ? 'text' : 'password'}}" class="" ng-blur="checkpassword1($event,proposal.customer.password1)">
                    <span class="cur passEye"  ng-class="{'openEye':typePass}" ng-model="typePass" ng-click="change()"></span>
                    <s ng-bind="check.password1" style="padding-right:0;text-align: center;margin-left:28px;"></s>
                </li>
            </ul>

            <ul class="clearfix ul_tr">
                <li class="customer_td teaL fl" style="position: relative">
                    <label>确定密码</label>
                    <input ng-model="proposal.customer.password2" ng-class="{'checkOutBdRed':check.password2}" ng-class="{red:proposal.newPasswordError}"
                           type="{{typePass1 ? 'text' : 'password'}}"  class="" ng-blur="confirmPassword($event,proposal.customer.password1,proposal.customer.password2)">
                    <span class="cur passEye"  ng-class="{'openEye':typePass1}" ng-model="typePass" ng-click="change1()"></span>
                    <s ng-bind="check.password2" style="padding-right:0;text-align: center;"></s>
                </li>
            </ul>
            <ul class="clearfix ul-tr">
                <li>
                    <label style="font-size: 14px; color: #999;width: 15%; margin-left: 60px;">规则说明</label>
                    <i style="color:#f00;">新密码由6-20位字母和数字混合组成</i>

                </li>
            </ul>
        </div>
        <div class="clause_td" style="margin-top:8px;">
            <label ng-click="sendmessage();">确定</label>
            <label ng-click="message()">重置</label>
        </div>
    </div>
</div>
<!--设置密码弹层-->

<!--风险等级弹窗-->
 <div ng-show="consoleShow" class="all_payment layer-model" >
     <div ng-show="showLevelRisk" data-ng-include="'common/business/common/proposal/agriInsured/UIPrPoEn.agriInsuredLevelRisk.layer.html'"></div>
     <div class="large-layer-content all_payment_contain" style="top:15%">
         <div class="all_payment_head layer-header">
             <span>客户风险等级设置</span>
             <i class="icon iconfont plusAndReduce" ng-click="configPrintSet2()">&#xe632;</i>
         </div>
         <div class="layer-top" >
             <button  ng-class="{true:'greenButton',false:'whiteColor'}[show]"><span  ng-class="{true:'iconfont',false:'iconfontNone'}[show]">&#xe606;</span><span>个人</span></button>
             <input name="CustomerTypeHidden" type="hidden" ng-model="proposal.customerType" >
             <button ng-class="{true:'greenButton',false:'whiteColor'}[!show]"><span ng-class="{true:'iconfont',false:'iconfontNone'}[!show]">&#xe62a;</span><span>组织</span></button>
         </div>
         <div class="layer-con all_payment_content1">
             <div class="layer-con1">
                 <!--新增个人特有的信息-->
                 <!--基础信息-->
                 <div class="layer_basic_information pt4">
                     <div>
                         <ul class="clearfix w_100 mt10 ">
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_fLable1">
                                     <span class="mesColor">客户代码</span>
                                 </label>
                                 <div class="half-div fl " style="width: 200px">
                                     <input  type="text" class="w_100" ng-blur="checkcustomerCode($event,proposal.customerIdv.customerCode,'2')" ng-class="{'checkOutBdRed':check.customerCode1}"  ng-model="proposal.customerIdv.customerCode" >
                                     <s ng-bind="check.customerCode1" style="width: 113%"></s>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_rLable1">
                                     <span class="mesColor">客户姓名</span>
                                 </label>
                                 <div class="half-div fl" style="width:200px">
                                     <input  type="text" class="w_100" ng-blur="checkcustomerCname($event,proposal.customerIdv.customerCName,'2')" ng-class="{'checkOutBdRed':check.customerCName1}"  ng-model="proposal.customerIdv.customerCName" maxlength="30"><!--customer-name warn-text="客户姓名" required maxlength="6"-->
                                     <s ng-bind="check.customerCname1" style="width: 114%"></s>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100 customerIdvCustomerKind">
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_fLable1">
                                    <span class="mesColor">客户类型</span>
                                 </label>
                                 <div class="codeType fl" style="width:200px">
                                     <code-type base-code="customerType" ng-disabled="readonly" ng-change="isChange()" ng-model="proposal.customerIdv.customerKind"></code-type>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_rLable1">
                                     <span class="mesColor">证件类型</span>
                                 </label>
                                 <div class="codeType fl" style="width:200px">
                                     <ui-select ng-model="proposal.customerIdv.identifyType" ng-click="getPrintFlagList('2')">
                                         <ui-select-match   placeholder="查询或选择..." >
                                             {{$select.selected.codeName}}
                                         </ui-select-match>
                                         <ui-select-choices repeat="code.codeCode as code in printFlagList1 | filter: $select.search">
                                             <span ng-bind="code.codeName"></span>
                                         </ui-select-choices>
                                     </ui-select>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100">
                             <li  class="w_50 fl teaR "  ng-show="show2">
                                 <label  class="fl add_fLable1">
                                    <span class="mesColor">证件号码</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input  type="text"  class="w_100"   ng-blur="isNumber($event,proposal.customerIdv.identifyNumber)" ng-class="{'checkOutBdRed':check.identifyNumber1}"   warn-text="证件号码" ng-model="proposal.customerIdv.identifyNumber" maxlength="30">
                                     <s ng-bind="check.identifyNumber1" style="width: 125%"></s>
                                 </div>
                             </li>
                             <li  class="w_50 fl teaR "  ng-show="show3">
                                 <label  class="fl add_fLable1">
                                     <span class="mesColor">证件号码</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;" >
                                     <input  type="text"  class="w_100"  ng-blur="isNumber($event,proposal.customerIdv.organizeCode)" ng-class="{'checkOutBdRed':check.organizeCode}"     warn-text="证件号码" ng-model="proposal.customerIdv.organizeCode" maxlength="30">
                                     <s ng-bind="check.organizeCode"></s>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_rLable1">
                                     <span class="mesColor">证件有效期</span>
                                 </label>
                                 <div class="half-div fl" style="width:200px">
                                     <input type="text"  id="inputDate4" jedate class="date-input date w_100"
                                            ng-model="proposal.customerIdv.validPeriod3" format="YYYY-MM-DD" readonly maxlength="30"/>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100" ng-if="!show">
                             <li  class="w_50 fl teaR ">
                                 <label  class="fl add_fLable1">
                                     <span class="mesColor">公司性质</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;" >
                                     <input  type="text"  class="w_100" ng-blur="checked($event,proposal.customerIdv.comType,'1')" ng-class="{'checkOutBdRed':check.comType}"    warn-text="公司性质" ng-model="proposal.customerIdv.comType" maxlength="30">
                                     <s ng-bind="check.comType"></s>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_rLable1">
                                     <span class="mesColor">通讯地址</span>
                                 </label>
                                 <div class="half-div fl" style="width:200px">
                                     <input  type="text" class="w_100" ng-blur="checked($event,proposal.customerIdv.linkAddress,'2')" ng-class="{'checkOutBdRed':check.linkAddress}"  ng-model="proposal.customerIdv.linkAddress" maxlength="50">
                                     <s ng-bind="check.linkAddress"></s>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100" ng-if="!show">
                             <li  class="w_50 fl teaR ">
                                 <label  class="fl add_fLable1">
                                     <span class="mesColor">营业执照</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;" >
                                     <input  type="text"  class="w_100" ng-blur="card($event,proposal.customerIdv.businessLicenceNo)"  ng-class="{'checkOutBdRed':check.businessLicenceNo}"  warn-text="证件号码" ng-model="proposal.customerIdv.businessLicenceNo" maxlength="30">
                                     <s ng-bind="check.businessLicenceNo"></s>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_rLable1">
                                     <span class="mesColor">营业执照到期日</span>
                                 </label>
                                 <div class="half-div fl" style="width:200px">
                                     <input type="text"  id="inputDate3" jedate class="date-input date w_100"
                                            ng-model="proposal.customerIdv.businessLicenceValidPeriod" format="YYYY-MM-DD" readonly maxlength="30"/>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100" ng-if="!show">
                             <li  class="w_50 fl teaR ">
                                 <label  class="fl add_fLable1">
                                     <span class="mesColor">税务登记证</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;" >
                                     <input  type="text"  class="w_100" maxlength="15"  warn-text="税务登记证" ng-model="proposal.customerIdv.revenueCode" ng-blur="revenueCode($event,proposal.customerIdv.revenueCode,'1')"  ng-class="{'checkOutBdRed':check.revenueCode}" >
                                     <s ng-bind="check.revenueCode" ></s>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_rLable1">
                                     <span class="mesColor">税务登记证有效期</span>
                                 </label>
                                 <div class="half-div fl" style="width:200px">
                                     <input type="text"  id="inputDate2" jedate class="date-input date w_100"
                                            ng-model="proposal.customerIdv.revenuePeriod" format="YYYY-MM-DD" readonly maxlength="30"/>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100" ng-if="!show">
                             <li  class="w_50 fl teaR ">
                                 <label  class="fl add_fLable1">
                                     <span class="mesColor">其他证件号码</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;" >
                                     <input  type="text"  class="w_100" maxlength="15" ng-blur="revenueCode($event,proposal.customerIdv.otherCodeNo,'2')"  ng-class="{'checkOutBdRed':check.otherCodeNo}"   warn-text="其他证件号码" ng-model="proposal.customerIdv.otherCodeNo">
                                     <s ng-bind="check.otherCodeNo"></s>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_rLable1">
                                     <span class="mesColor">其他证件有效期</span>
                                 </label>
                                 <div class="half-div fl" style="width:200px">
                                     <input type="text"  id="inputDate1" jedate class="date-input date w_100"
                                            ng-model="proposal.customerIdv.otherCodeValidPeriod" format="YYYY-MM-DD" readonly maxlength="30"/>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100" ng-if="!show1">
                             <li  class="w_50 fl teaR ">
                                 <label class="fl add_fLable1">
                                     <span class="mesColor">国籍</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input  type="text" class="w_100" ng-blur="checked($event,proposal.customerIdv.nationality,'111')" ng-class="{'checkOutBdRed':check.nationality}"ng-model="proposal.customerIdv.nationality" maxlength="30">
                                     <s ng-bind="check.nationality"style="width: 102%"></s>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label  class="fl add_rLable1">
                                     <span class="mesColor">职业名称</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input  type="text" class="w_100"  ng-blur="checked($event,proposal.customerIdv.jobTitle,'3')" ng-class="{'checkOutBdRed':check.jobTitle}"   ng-model="proposal.customerIdv.jobTitle" maxlength="20">
                                     <s ng-bind="check.jobTitle"style="width: 105%"></s>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100">
                             <li  class="w_50 fl teaR ">
                                 <label class="fl add_fLable1">
                                     <span class="mesColor">客户地址</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input  type="text" ng-blur="checked($event,proposal.customerIdv.addressCName,'4')" ng-class="{'checkOutBdRed':check.addressCName}" class="w_100" ng-model="proposal.customerIdv.addressCName" maxlength="50">
                                     <s ng-bind="check.addressCName"></s>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label  class="fl add_rLable1">
                                     <span class="mesColor">邮编</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input  type="text" class="w_100" ng-model="proposal.customerIdv.postCode" maxlength="6" ng-class="{'checkOutBdRed':check.postCode}"ng-blur="postCode($event,proposal.customerIdv.postCode)" >
                                     <s ng-bind="check.postCode"style="width: 117%"></s>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100">
                             <li  class="w_50 fl teaR ">
                                 <label class="fl add_fLable1">
                                     <span class="mesColor">归属机构代码</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input  type="text" class="w_100" ng-model="proposal.customerIdv.comCode" readonly disabled maxlength="30">
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label  class="fl add_rLable1">
                                     <span class="mesColor">操作人员代码</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input  type="text" class="w_100" ng-model="proposal.customerIdv.operatorCode" readonly disabled maxlength="20">
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100">
                             <li  class="w_50 fl teaR ">
                                 <label class="fl add_fLable1">
                                     <span class="mesColor">输入日期</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input type="text"  id="inputDate" jedate class="date-input date w_100"
                                            ng-model="proposal.customerIdv.inputDate" format="YYYY-MM-DD" readonly disabled maxlength="30"/>
                                 </div>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label  class="fl add_rLable1">
                                     <span class="mesColor">修改日期</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input type="text" id="update_Date" jedate class="date-input date w_100"
                                            ng-model="proposal.customerIdv.update_Date" format="YYYY-MM-DD" readonly disabled maxlength="30"/>
                                 </div>
                             </li>
                         </ul>
                         <ul  class=" mt10 clearfix w_100">
                             <li  class="w_50 fl teaR ">
                                 <label class="fl add_fLable1">
                                     <span class="mesColor">最后一次修改人</span>
                                 </label>
                                 <div class="half-div fl" style="width: 200px;">
                                     <input  type="text" class="w_100" ng-model="proposal.customerIdv.updaterCode" readonly disabled maxlength="20">
                                 </div>
                             </li>
                             <li  class=" fl teaR sexBtnLi"  ng-if="!show1">
                                 <label class="fl add_rLable1">
                                     <span class="mesColor">性别</span>
                                 </label>
                                 <div class="boyBtn fl" ng-click="boyBtnChange()" ng-class="{false:'bodyBtn',true:'boyBtn'}[boyBtn]"><span class="iconfont">&#xe65b;</span></span><span >男</span></div>
                                 <div class="bodyBtn fl ml10" ng-click="girlBtnChange()" ng-class="{true:'bodyBtn',false:'girlBtn'}[girlBtn]"><span class="iconfont">&#xe603;</span><span >女</span></div>
                             </li>
                             </ul>
                         <ul  class=" mt10 clearfix w_100">
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_fLable1">
                                     <span class="mesColor">行业现金密度</span>
                                 </label>
                                 <i class=" radio-box pr_31 fl" style="padding-top: 8px;">
                                     <radio ng-model="proposal.customerIdv.cashFocus"
                                            ng-disabled="disabledFlag" base-code="whether" ></radio>
                                 </i>
                             </li>
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_rLable3" style="padding-top: 8px;">
                                     <span class="mesColor">客户是否关注审计、理赔、退保信息</span>
                                 </label>
                                 <i class=" radio-box  fl" id="customerIdvCareClai">
                                     <radio ng-model="proposal.customerIdv.isCareClaim"
                                            ng-disabled="disabledFlag" base-code="whether" ></radio>
                                 </i>
                             </li>

                         </ul>
                     <!--    <ul  class=" mt10 clearfix w_100">

                         </ul>-->
                         <ul  class=" mt10 clearfix w_100">
                             <li  class=" fl teaR w_50">
                                 <label class="fl add_fLable1">
                                     <span class="mesColor">风险等级</span>
                                 </label>
                                 <div class="fl codeType" style="width: 33%;max-width:200px">
                                     <code-type base-code="RiskLevel" ng-init="proposal.customerIdv.riskLevel='4'" ng-model='proposal.customerIdv.riskLevel' ng-disabled="proposalQueryHide" ></code-type>
                                 </div>
                                 <i class="fl fontCBlue cur" style="margin-top: 8px;padding-left: 5px;" ng-click="closeLevelRisk()">说明</i>
                             </li>

                         </ul>
                     </div>
                 </div>
             </div>
         </div>

         <div class="layer-footer">
             <button class="greenButton" ng-click="message2()" ng-disabled="saveTemporaryDisabled">保存</button>
             <button class="greenButton" ng-click="configPrintSet2()">取消</button>
         </div>
     </div>
 </div>