<div>
    <ui-select ng-hide="ngDisabled" ng-if="isFuzzy">
        <ui-select-match style="overflow: hidden" ng-model="ngModel" allow-clear="true" placeholder="查询或选择...">
            {{$select.selected.codeName}}
        </ui-select-match>
        <ui-select-choices repeat="code.codeCode as code in codeList | filter: $select.search">
            <span ng-bind="code.codeName"></span>
        </ui-select-choices>
    </ui-select>
    <input ng-show="ngDisabled" type="text" class="form-control" ng-value="ngModel"
           ng-disabled="disableReady || ngDisabled">
    <ui-select ng-hide="ngDisabled" ng-if="!isFuzzy">
        <ui-select-match style="overflow: hidden" ng-model="ngModel" allow-clear="true" placeholder="查询或选择...">
            {{$select.selected.codeName}}
        </ui-select-match>
        <ui-select-choices repeat="code.codeCode as code in codeList">
            <span ng-bind="code.codeName"></span>
        </ui-select-choices>
    </ui-select>
    <input ng-show="ngDisabled" type="text" class="form-control" ng-value="ngModel"
           ng-disabled="disableReady || ngDisabled">
</div>