<div ng-show="openListFlag" id="branch" style="position: absolute;">
    <ul style="display: block;top: 25px;" class="dropdown-menu dropdown-menu2" unselectable="on">
        <li class="branchHover" ng-repeat="node in codeList">
            <a class="txtl dblclickArea" id="selectDbl{{$index}}" ng-click="chooseList(node)">{{node.comCode}}--{{node.comCName}}</a>
        </li>
    </ul>
</div>
<input ng-show="displaytype=='CODE'" type="text" style="background: #ceffff" class="pt4-ie2 wid_input" ng-model="ngModel" ng-dblclick="modalOpen()" ng-keydown="modalOpen($event)" ng-blur="closeList()" ng-change="changeList()"
       ng-class="{'iptbgc2':ngDisabled,'iptbgc':!ngDisabled}"
       maxlength={{maxLength}}
       ng-disabled="ngDisabled" ng-required="ngRequired"/>
<input ng-show="displaytype!='CODE'" type="text" style="background: #ceffff" class="pt4-ie2 wid_input" ng-model="ngValue" ng-dblclick="modalOpen()" ng-keydown="modalOpen($event)" ng-blur="closeList()" ng-change="changeList()"
       ng-class="{'iptbgc2':ngDisabled,'iptbgc':!ngDisabled}"
       maxlength={{maxLength}}
       ng-disabled="ngDisabled" ng-required="ngRequired"/>
