<div class="mask"></div>
<div class="email_post">
    <ng-form novalidate="novalidate" name="emailForm" >
        <ul>
            <li class="remove_header">
                <span>发送电子邮件</span>
                <a href="javascript:void(0)"><i ng-click="receiptOpenClose()"></i></a>
            </li>
            </li>
            <li class="remove_content2">
                <span class="fl"><em>*</em>电子邮件：</span><input type="text" required ng-minlength="5" ng-maxlength="40" maxlength="40" warn-text="电子邮箱" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"  ng-model="prpCinvoiceDto.invoceEmail" class="fl"/>
            </li>
            <li class="remove_button">
                <div>
                    <button class="button_sure" ng-click="onSubmits()">发送</button>
                    <button class="button_cancel" ng-click="receiptOpenClose()">取消</button>
                </div>
            </li>
        </ul>
    </ng-form>
</div>

