<!--保额保费信息-->
<!--<div class="index_tit"><h6>保额/保费信息</h6></div>-->
<ul class="list_ul list_ul1">
    <li><span>总户数：</span></li>
    <li><input type="text" ng-model="vm.policy.prpTmain.insuredCount" ng-value="100" readonly/></li>
    <li><span>总保额（万元）：</span></li>
    <li>
        <input type="text" class="fl" ng-value="" ng-model="vm.policy.prpTmain.sumAmount" readonly/>
    </li>
    <li><span>不含税保费（元）：</span></li>
    <li><input type="text" class="fl" ng-value="" ng-model="vm.policy.prpTmain.noTaxPremium" readonly></li>
    <li><span>保费增值税额（元）：</span></li>
    <li><input class="fl" ng-value="" ng-model="vm.policy.prpTmain.taxAmount" readonly ></li>
    <li><span>总保费（元）：</span></li>
    <li><input type="text" readonly class="fl" ng-bind="insure[4].cont" ng-model="vm.policy.prpTmain.sumPremium"></li>
</ul>