<!-- start 内容 -->
<div class="Info">
    <div class="info-bj" style="padding-bottom:20px;">
        <div class="con po-relative">
            <div class="m20">
               <!-- <select class="banner-select fl">
                    <option value="">投保单</option>
                    <option value="">投保单1</option>
                    <option value="">投保单2</option>
                </select>-->

                <div class="search clearfix">
                   <!-- <input type="text" name="" placeholder="请输入搜索条件" class="fl search-input" value="12">
                    <i class="iconfont icon-search">&#xe620;</i>
                    <ul class="fl">
                        <li class="fl">搜索条件为：</li>
                        <li class="fl">投保单号、</li>
                        <li class="fl">保单号、</li>
                        <li class="fl">批单号、</li>
                        <li class="fl">投保人名称、</li>
                        <li class="fl">被保人名称</li>
                    </ul>-->
                    <span class="fr PlanBtn" ng-click="add()">功能定制</span>
                </div>
                <div class="choose clearfix">
                    <div class='choose-left fl' style="width:34%;">
                        <div class="choose-bg"></div>
                        <ul class="clearfix choose-ul" id="choose-ul">
                            <li class="fl">
                                <h2>当日签单</h2>

                                <div class="choose-d">
                                    <em>总保额</em>
                                    <h3><span ng-bind="premiumAndAmount.sumAmount==null? 0:money(premiumAndAmount.sumAmount,'sumAmount')"></span>
                                        <b style="font-weight: normal;" ng-bind="sumAmount">万</b>
                                    </h3>
                                </div>
                                <div class="choose-d">
                                    <em>总保费</em>
                                    <h3><span class="green" ng-bind="premiumAndAmount.sumPremium==null?0:money(premiumAndAmount.sumPremium,'sumPremium')"></span>
                                        <b style="font-weight: normal;" ng-bind="sumPremium">万</b>
                                    </h3>
                                </div>
                            </li>
                            <li class="fl">
                                <h2>未缴费保单</h2>

                                <div class="choose-d">
                                    <em>总保额</em>
                                    <h3>
                                        <span ng-bind="premiumAndAmount.delinQuentFeeSumAmount==null?0:money(premiumAndAmount.delinQuentFeeSumAmount,'delinQuentFeeSumAmount')"></span>
                                        <b style="font-weight: normal;" ng-bind="delinQuentFeeSumAmount">万</b>
                                    </h3>
                                </div>
                                <div class="choose-d">
                                    <em>总保费</em>

                                    <h3><span class="green" ng-bind="premiumAndAmount.delinQuentFeeSumPremium==null?0:money(premiumAndAmount.delinQuentFeeSumPremium,'delinQuentFeeSumPremium')"></span>
                                        <b style="font-weight: normal;" ng-bind="delinQuentFeeSumPremium">万</b>
                                    </h3>
                                </div>
                            </li>
                            <li class="fl">
                                <h2>应收保费</h2>

                                <div class="choose-d br-none">
                                    <em>总保额</em>

                                    <h3><span ng-bind="premiumAndAmount.unpaidSumAmount==null?0:money(premiumAndAmount.unpaidSumAmount,'unpaidSumAmount')"></span>
                                        <b style="font-weight: normal;" ng-bind="unpaidSumAmount">万</b>
                                    </h3>
                                </div>
                                <div class="choose-d br-none">
                                    <em>总保费</em>
                                    <h3><span class="green" ng-bind="premiumAndAmount.unpaidSumPremium==null?0:money(premiumAndAmount.unpaidSumPremium,'unpaidSumPremium')"></span>
                                        <b style="font-weight: normal;" ng-bind="unpaidSumPremium">万</b>
                                    </h3>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="choose-right fl" style="width:66%;max-height:250px;overflow-y: auto;">
                        <ul class="clearfix">
                           <li class="fl" ng-repeat="i in oriMenu" ng-click="goOriMenu($index)">
                                <div class="choose-bg"></div>
                                <div class="choose-div cur">

                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='001'">&#xe61d;</i>
                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='002'">&#xe61c;</i>
                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='003'">&#xe620;</i>
                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='004'">&#xe623;</i>
                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='005'">&#xe626;</i>
                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='006'">&#xe625;</i>
                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='007'">&#xe627;</i>
                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='008'">&#xe613;</i>
                                    <i class="iconfont icon-print" ng-if="i.iconExpand=='009'">&#xe60d;</i>
                                    <span ng-bind="i.menuCName"></span>
                                  <!--  <i class="iconfont icon-delete icon-delete-first" ng-click="delete('myFunction')">&#xe632;</i>-->
                                </div>
                            </li>
                          <!--  <li class="fl">
                                <div class="choose-bg"></div>
                                <div class="choose-div cur">
                                    <i class="iconfont icon-print" ng-click="deleteAll()">&#xe668;</i>
                                    <span>删除常用功能</span>
                                </div>
                            </li>-->

                         <!--   <li class="fl">
                                <div class="choose-bg"></div>
                                <div class="choose-div cur">
                                    <i class="iconfont icon-print" ng-click="delete('myFunction')">&#xe668;</i>
                                    <span>删除常用功能</span>
                                </div>
                            </li>-->
                           <!-- <li class="fl">
                                <div class="choose-bg"></div>
                                <div class="choose-div cur">
                                    <i class="iconfont icon-print" ng-click="add()">&#xe667;</i>
                                    <span>增加常用功能</span>
                                </div>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="con">
        <div class="m20">
            <div class="menu-list">
                <ul class="clearfix">
                    <li class="fl" ng-class="{'choose-active':type=='temporary'}" ng-click="changeClick('temporary')">
                        <span ng-click="businessNo=''" >待处理暂存单</span>
                        <i ng-bind="proposal.temporary"></i>
                    </li>
                    <li class="fl" ng-class="{'choose-active':type=='proposalNo'}"  ng-click="changeClick('proposalNo')">
                        <span ng-click="businessNo=''" >待处理投保单</span>
                        <i ng-bind="proposal.proposalNo"></i>
                    </li>
                    <li class="fl" ng-class="{'choose-active':type=='policyNo'}"  ng-click="changeClick('policyNo')">
                        <span ng-click="businessNo=''" >待处理保单</span>
                        <i ng-bind="proposal.policyNo"></i>
                    </li>
                    <li class="fl" ng-class="{'choose-active':type=='endorseNo'}"   ng-click="changeClick('endorseNo')">
                        <span ng-click="businessNo=''">待处理批单</span>
                        <i ng-bind="proposal.endorseNo"></i>
                    </li>
                </ul>
                <div class="menu-box">
                    <span class="fl hidden" style="margin-right:4px;">业务类型</span>
                    <select ng-model="businessType" style="margin-right:12px;border: 1px solid #ccc;height: 30px;line-height: 30px" class="fl hidden" type="text" >
                        <option  value="0">所有业务类型</option>
                        <option  value="1">暂存单</option>
                        <option  value="2">投保单</option>
                        <option  value="3">保单</option>
                        <option  value="4">批单</option>
                    </select>
                    <span class="fl" style="margin-right:4px;">操作类型</span>
                    <select id="opType" ng-model="opType" style="margin-right:12px;border: 1px solid #ccc;height: 30px;line-height: 30px" class="fl" ng-init="opType = oprateTypeDetail[0].title" type="text">
                        <option ng-value="item.code" ng-repeat="item in oprateTypeDetail track by $index">{{item.title}}</option>
                       <!-- <option  value="0" ng-init="opType='0'">所有类型</option>
                        <option  ng-show="tijiaohebao" value="1">待提交核保</option>
                        <option  ng-show="hebaotui" value="2">核保退回待修改</option>
                        <option  ng-show="tijiaohepi "value="3">待提交核批</option>
                        <option  ng-show="hebitui "value="4">核批退回待修改</option>
                        <option  ng-show="dayin "value="5">待打印</option>
                        <option  ng-show="baocun "value="6">待保存</option>-->
                    </select>
                    <span class="fl" style="margin-right:4px;">业务号</span>
                    <input ng-model="businessNo" style="border: 1px solid #ccc;height: 30px;line-height: 30px" class="fl" type="text"/>
                    <a class="fl" ng-click="queryClick(businessNo,businessType)">查询</a>
                    <a class="fl" ng-click="stateToNext()">重置</a>
                </div>
            </div>
            <div class="menu-detail clearfix">
                <table class="table">
                    <thead>
                    <tr class="th ">
                        <th class="check-box1" ng-show="false">
                            <label class="checkbox-label1 "  ng-class="{'checkbox-checked':select_all==true}" ng-click="selectAll()">
                                <span></span>
                                <input type="checkbox" name="checkbox" class="hide" ng-model="select_all"><em>全选</em>
                            </label>
                        </th>
                        <th class="w5">序号</th>
                        <th>业务号</th>
                        <th class="w5">险种</th>
                        <th class="w8">业务类型</th>
                        <th class="insurancePeriod">保险期间</th>
                        <th class="assured">被保险人</th>
                        <th>操作员</th>
                        <th>更新日期</th>
                        <th>操作类型</th>
                        <th>后续操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in list track by $index">
                        <td class="check-box1" ng-show="false">
                            <label style="position: relative;top:5px;left:15px;" class=" checkbox-label1 " ng-class="{'checkbox-checked':data.checked==true}" ng-click="selectOne()">
                                <span></span>
                                <input type="checkbox" name="checkbox" class="hide" ng-model="data.checked">
                            </label>
                        </td>
                        <td>{{$index+1}}</td>
                       <!-- <td class="highlight-text" ng-bind="data.number"></td>-->
                        <!--<td class="highlight-text" ng-bind="data.businessNo"></td>-->
                        <td class="highlight-text" >
                            <span ng-bind="data.businessNo" ng-click="getProposalInfo($index,'Examine')"></span>
                        </td>
                        <td ng-bind="data.riskCode" title="{{data.riskName}}"></td>
                        <td>{{data.businessType}}</td>
                        <td class="insurancePeriodContent">{{data.startDate}}至{{data.endDate}}</td>
                        <td ng-bind="data.appliName"></td>
                        <td ng-bind="data.operatorName"></td>
                        <td ng-bind="data.operateDate"></td>
                        <td ng-bind="data.status"></td>
                        <td class="btn-a">
                            <i class="iconfont icon-table cur fs_20" title="修改" ng-if="data.status =='待保存'" ng-click="getProposalInfo($index,'Edit')" >&#xe62c;</i>
                            <i class="iconfont icon-table cur fs_20" title="修改"  ng-if="data.status =='待提交核保'" ng-click="getProposalInfo($index,'Edit')" >&#xe62c;</i>
                            <i class="iconfont icon-table cur fs_20" title="修改"  ng-if="data.status =='核保退回待修改'" ng-click="getProposalInfo($index,'Edit')">&#xe62c;</i>
                            <i class="iconfont icon-table cur fs_20" title="撤单" ng-if="data.status =='待保存'" ng-click="revocationTem(data)" >&#xe61b;</i>
                            <i class="iconfont icon-table cur fs_20" title="撤单"  ng-if="data.status =='待提交核保'" ng-click="revocation(data)" >&#xe61b;</i>
                            <i class="iconfont icon-table cur fs_20" title="撤单"  ng-if="data.status =='核保退回待修改'" ng-click="revocation(data)">&#xe61b;</i>
                            <i class="iconfont icon-table cur fs_20" title="提交核保"  ng-if="data.status =='待提交核保'" ng-click="submitUndwrtByProposal(data)" >&#xe639;</i>
                            <i class="iconfont icon-table cur fs_20" title="提交核批"  ng-if="data.status =='待提交核批'" ng-click="submitEnorder(data.businessNo)" >&#xe639;</i>
                            <i class="iconfont icon-table cur fs_20" title="提交核保"  ng-if="data.status =='核保退回待修改'" ng-click="submitUndwrtByProposal(data)">&#xe639;</i>
                            <i class="iconfont icon-table cur fs_20" title="提交核保"  ng-if="data.status =='核批退回待修改'" ng-click="submitEnorder(data.businessNo)">&#xe639;</i>
                            <i class="iconfont icon-table cur fs_20" title="待打印" ng-if="data.status =='待打印'" ng-click="print(data.businessNo)" >&#xe61c;</i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- 分页控件 -->
                <div class="index_page">
                    <tm-pagination conf="paginationConfmm"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!--批单打印设置弹层-->
<div class="printLayerBox" ng-show="orderLayerShow">
    <div class="mask zIndex"></div>
    <div class="tip_success_info printLayer" style="position: fixed;">
        <div class="remove_header">
            <span>批单打印设置</span>
            <i class="icon iconfont plusAndReduce" ng-click="configPrintSetfa()">&#xe632;</i>
        </div>
        <div class="info_container">
            <div class="printSelet-box">
                <label class="" >单证号</label>
                <input class="printSelet-input" ng-model="pdendorseNo" disabled type="text"/>
                <label class=""  >单证类型</label>
                <select ng-model="visaCodeEndorse" value="" ng-disabled="policyDisabled" ng-change="changeVisaType(visaSerialNos)" ng-init="visaCodeEndorse=0">
                    <option  ng-value="info.visaCode"  ng-repeat="info in visaSerialNos track by $index"  ng-bind="info.visaType" ng-selected="codeName==info.visaType"></option>
                </select>
                <label class="" >流水起始号</label>
                <input class="printSelet-input" ng-model="proposal.visaSerisal" disabled type="text"/>
            </div>
            <div class="printType-box">
                <ul>
                    <li ng-click="choosePrintype('original')" class="first-printInfo "
                        ng-class="isActive('original')?'active':''">批单正本全打
                        <div ng-if="isActive('original')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('duplicate')" class="first-printInfo "
                        ng-class="isActive('duplicate')?'active':''">批单抄件打印
                        <div ng-if="isActive('duplicate')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('advice')" class="first-printInfo "
                        ng-class="isActive('advice')?'active':''">缴费通知书
                        <div ng-if="isActive('advice')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="remove_button no-line">
            <button class="button_sure" ng-click="printSure2(pdendorseNo);">确定</button>
        </div>
    </div>
</div>
<!--清单编号重复性校验弹框-->
<div class="all_payment layer-model" ng-show="relativeInsureListCode">
    <div class="large-layer-content relationListNo_layer" style="top:30% !important;">
        <div class="all_payment_head layer-header">
            <span>温馨提示</span>
        </div>
        <div class="layui-layer-content" style="padding:30px;line-height: 34px;font-size: 18px !important;">
            <p>该清单编号{{proposal.insureMainListDto.insureListCode}}存在已关联的有效保单，请确认是否继续？</p>
            <p>您可点击如下【查看详情】按钮，查看已关联的有效保单列表</p>
            <p><span class="highlight-text" ng-click="lookDetailRelativeInsureList()">查看详情</span></p>
        </div>
        <div class="layer-footer">
            <button class="greenButton" style="margin-right:80px;" ng-click="goRelativeInsureListCode()">继续</button>
            <button class="greenButton" ng-click="closeRelativeInsureListCode()">取消</button>
        </div>
    </div>
</div>
<!--关联有效保单列表弹框-->
<div class="all_payment layer-model" ng-show="showDetailRelativeInsure">
    <div class="large-layer-content relationListNo_layer">
        <div class="all_payment_head layer-header">
            <span>保单列表</span>
            <i class="icon iconfont" ng-click="closeDetailRelativeInsureList()">&#xe62f;</i>
        </div>
        <div class="queryResult" style="max-height:450px;overflow-y: auto;">
            <table>
                <tr class="tr_top">
                    <td >保单号</td>
                    <td>投保人名称</td>
                    <td >起保日期</td>
                    <td >终保日期</td>
                    <td >制单人</td>
                </tr>
                <tr class="tr_content F2F2F2" ng-repeat="relativeInsure in detailRelativeInsureList track by $index">
                    <td ng-bind="relativeInsure.policyNo" ng-click="getPolicyInfo(relativeInsure.policyNo)" target='_blank' ui-sref="UIPolicy3107show" style="color:#5a9cff;cursor: pointer;"></td>
                    <td ng-bind="relativeInsure.appliName"></td>
                    <td ng-bind="relativeInsure.startDate"></td>
                    <td ng-bind="relativeInsure.endDate"></td>
                    <td ng-bind="relativeInsure.operatorName"></td>
                </tr>
            </table>
            <div class="index_page">
                <tm-pagination conf="paginationConfmm4"></tm-pagination>
            </div>
        </div>
        <div class="layer-footer">
            <button class="greenButton" ng-click="closeDetailRelativeInsureList()">取消</button>
        </div>
    </div>
</div>
<!--常用功能已满弹层-->
<!--<div class="layer-demo" style="display:none;z-index:333;">
    <div class="mask"></div>
    <div class="layer-content">
        <div class="layer-header">
            <span>增加常用功能</span>
            <i class="icon iconfont" ng-click="delete_8()">&#xe632;</i>
        </div>
        <div class="layer-con">
            <div class="layer-con1">常用功能区已满！！！！</div>
        </div>
        <div class="layer-footer">
            <span class="layer-ok" ng-click="delete_8()">确 定</span>
          &lt;!&ndash;  <span class="layer-cancel">取 消</span>&ndash;&gt;
        </div>
    </div>
</div>

<!-- 弹层---修改密码 -->
<div class="layer-password hide">
    <div class="mask"></div>
    <div class="layer-content">
        <div class="layer-header">
            <span>修改用户密码</span>
            <i class="icon iconfont">&#xe632;</i>
        </div>
        <div class="layer-con">
            <div class="layer-con1">
                <ul class="layer-ul">
                    <li>
                        <span>用户工号</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span>原始密码</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span>新密码</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span>确定密码</span>
                        <input type="text"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layer-footer layer-foot h70">
            <span class="layer-ok">确 定</span>
        </div>
    </div>
</div>
<!-- 弹层---我的信息 -->
<div class="layer-message hide">
    <div class="mask"></div>
    <div class="layer-content">
        <div class="layer-header">
            <span>我的信息</span>
            <i class="icon iconfont">&#xe632;</i>
        </div>
        <div class="layer-con">
            <div class="layer-con1">
                <img class="img-head"  alt=""/>
                <ul class="layer-ul fr">
                    <li>
                        <span><i>*</i>姓名</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span><i>*</i>性别</span>

                        <div class="radio-con">
                            <span class="man active"><i class="iconfont">&#xe617;</i>男</span>
                            <span class="woman"><i class="iconfont">&#xe617;</i>女</span>
                        </div>
                    </li>
                    <li>
                        <span><i>*</i>身份证号码</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span><i>*</i>电话号码</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span><i>*</i>邮箱</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span>生日</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span>QQ</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span>微信</span>
                        <input type="text"/>
                    </li>
                    <li>
                        <span>家庭住址</span>
                        <input type="text"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layer-footer h70">
            <span class="layer-ok">保 存</span>
        </div>
    </div>
</div>
<!-- 弹层---修改常用功能 -->
<div class="layer-revise" style="display:none">
    <div class="mask"></div>
    <div class="layer-content">
        <div class="layer-header">
            <span>功能定制</span>
            <i class="icon iconfont" ng-click="delete_5()">&#xe632;</i>
        </div>
        <div class="layer-con">
            <div class="layer-con1">
                <div class="ovh mb15">
                    <span class="t-span">常用功能名称</span>
                    <div>
                        <select class="revise-select fl"  ng-model="menu" ng-options="menu for menu in data_menuList" >
                            <option value="" selected hidden></option>
                        </select>
                    </div>
                </div>
                <div class="ovh revise-bottom">

                    <ul class="comfun">
                        <li ng-click="chooseOne('One','001')">
                            <label style="position: relative">
                                <i class="iconfont" ng-class="isActive('One')?'active':''">&#xe61d;</i>
                                <div class="choose-background-dash" ng-if="isActive('One')" ><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                        <li ng-click="chooseOne('Two','002')">
                            <label>
                                <i class="iconfont" ng-class="isActive('Two')?'active':''">&#xe61c;</i>
                                <div class="choose-background-dash" ng-if="isActive('Two')"><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                        <li ng-click="chooseOne('Three','003')">
                            <label>
                                <i class="iconfont" ng-class="isActive('Three')?'active':''">&#xe620;</i>
                                <div class="choose-background-dash" ng-if="isActive('Three')"><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                        <li ng-click="chooseOne('Four','004')">
                            <label>
                                <i class="iconfont" ng-class="isActive('Four')?'active':''">&#xe623;</i>
                                <div class="choose-background-dash" ng-if="isActive('Four')"><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                        <li ng-click="chooseOne('Five','005')">
                            <label>
                                <i class="iconfont" ng-class="isActive('Five')?'active':''">&#xe626;</i>
                                <div class="choose-background-dash" ng-if="isActive('Five')"><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                        <li ng-click="chooseOne('Six','006')">
                            <label>
                                <i class="iconfont" ng-class="isActive('Six')?'active':''">&#xe625;</i>
                                <div class="choose-background-dash" ng-if="isActive('Six')"><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                        <li ng-click="chooseOne('Seven','007')">
                            <label>
                                <i class="iconfont"  ng-class="isActive('Seven')?'active':''">&#xe627;</i>
                                <div class="choose-background-dash" ng-if="isActive('Seven')"><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                        <li ng-click="chooseOne('Eight','008')">
                            <label>
                                <i class="iconfont"  ng-class="isActive('Eight')?'active':''">&#xe613;</i>
                                <div class="choose-background-dash" ng-if="isActive('Eight')"><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                        <li ng-click="chooseOne('Nine','009')">
                            <label>
                                <i class="iconfont"  ng-class="isActive('Nine')?'active':''">&#xe60d;</i>
                                <div class="choose-background-dash" ng-if="isActive('Nine')"><span class="choose-dui-dash">√</span></div>
                            </label>
                        </li>
                    </ul>
                    <button ng-click="addContent()">确认添加</button>
                </div>
                <div class="" style="max-height:134px;overflow-y: auto">
                    <span class="t-span">已有常用功能</span>
                    <ul class="has-comfun">

                        <li  ng-repeat="i in oriMenu">
                            <i class="iconfont icon-close" ng-click="deleteoriMenu($event,'0',i.menuCName)">&#xe632;</i>

                            <i class="iconfont icon-print" ng-if="i.iconExpand=='001'">&#xe61d;</i>
                            <i class="iconfont icon-print" ng-if="i.iconExpand=='002'">&#xe61c;</i>
                            <i class="iconfont icon-print" ng-if="i.iconExpand=='003'">&#xe620;</i>
                            <i class="iconfont icon-print" ng-if="i.iconExpand=='004'">&#xe623;</i>
                            <i class="iconfont icon-print" ng-if="i.iconExpand=='005'">&#xe626;</i>
                            <i class="iconfont icon-print" ng-if="i.iconExpand=='006'">&#xe625;</i>
                            <i class="iconfont icon-print" ng-if="i.iconExpand=='007'">&#xe627;</i>
                            <i class="iconfont icon-print" ng-if="i.iconExpand=='008'">&#xe613;</i>
                            <i class="iconfont icon-print" ng-if="i.iconExpand=='009'">&#xe60d;</i>
                            <span ng-bind="i.menuCName"></span>
                        </li>


                  <!--      <li ng-class="isFun('myFunction_1')?'delFunction':''">
                        &lt;!&ndash;    <i class="iconfont icon-close" ng-click="delete_6('Delete_1')">&#xe632;</i>&ndash;&gt;
                            <i class="iconfont">&#xe613;</i>
                            <span>投保单录入</span>
                        </li>
                        <li ng-class="isFun('myFunction_2')?'delFunction':''">
                          &lt;!&ndash;  <i class="iconfont icon-close" ng-click="delete_6('Delete_2')">&#xe632;</i>&ndash;&gt;
                            <i class="iconfont">&#xe60c;</i>
                            <span>普通批改</span>
                        </li>
                        <li ng-class="isFun('myFunction_3')?'delFunction':''">
                           &lt;!&ndash; <i class="iconfont icon-close"  ng-click="delete_6('Delete_3')">&#xe632;</i>&ndash;&gt;
                            <i class="iconfont">&#xe60b;</i>
                            <span>投保单打印</span>
                        </li>
                        <li ng-class="isFun('myFunction_4')?'delFunction':''">
                           &lt;!&ndash; <i class="iconfont icon-close" ng-click="delete_6('Delete_4')">&#xe632;</i>&ndash;&gt;
                            <i class="iconfont ml5" >&#xe60d;</i>
                            <span>投保单查询</span>
                        </li>

                        <li ng-class="isFun('myFunction_5')?'delFunction':''">
                            &lt;!&ndash;<i class="iconfont icon-close" ng-click="delete_6('Delete_5')">&#xe632;</i>&ndash;&gt;
                            <i class="iconfont ml5" >&#xe620;</i>
                            <span>影像管理</span>
                        </li>-->


                    </ul>
                </div>
            </div>
        </div>
        <div class="layer-footer h70" style="height: 46px;line-height: 28px;">
            <span class="layer-ok" ng-click="saveFunction()">保 存</span>
            <span class="layer-cancel" ng-click="oriFunction()">取 消</span>
        </div>
    </div>
</div>
<script>
    $(".drop-down").click(function () {
        $(this).find(".drop-down-con").slideToggle();
    });
</script>
<!--保单打印设置弹层-->
<div class="printLayerBox" ng-show="configPrintSetShow">
    <div class="mask zIndex"></div>
    <div class="tip_success_info printLayer" style="position: fixed;">
        <div class="remove_header">
            <span>打印设置</span>
            <i class="icon iconfont plusAndReduce" ng-click="configPrintSet()">&#xe632;</i>
        </div>
        <div class="info_container">
            <div class="printSelet-box">
                <label class="" >保单号</label>
                <input class="printSelet-input" ng-model="policyNo1" disabled type="text"/>
                <input class="printSelet-input" ng-model="proposalNo1" disabled type="hidden"/>
                <label class=""  >单证类型</label>
                <select ng-model="visaCodePolicy" value="" ng-disabled="policyDisabled" ng-change="changeVisaType(visaSerialNoList)" ng-init="visaCodePolicy=0">
                    <option  ng-value="info.visaCode"  ng-repeat="info in visaSerialNoList track by $index"  ng-bind="info.visaType" ng-selected="codeNamePolicy==info.visaType"></option>
                </select>
                <label class="" >流水起始号</label>
                <input class="printSelet-input" ng-model="proposal.visaSerisal" disabled type="text"/>
            </div>
            <div class="printType-box">
                <ul>
                    <li ng-click="choosePrintype('PolicyPrint')" class="first-printInfo "
                        ng-class="isActive('PolicyPrint')?'active':''">保单正本全打
                        <div ng-if="isActive('PolicyPrint')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <!--副本调用的接口一样，只是纸张大小不一样-->
                    <li ng-click="choosePrintype('PolicyPrint1')" class="first-printInfo "
                        ng-class="isActive('PolicyPrint1')?'active':''">保单副本打印
                        <div ng-if="isActive('PolicyPrint1')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('InsuranceFormPrint')" class="first-printInfo "
                        ng-class="isActive('InsuranceFormPrint')?'active':''">投保单打印
                        <div ng-if="isActive('InsuranceFormPrint')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('MainPrint')" class="first-printInfo "
                        ng-class="isActive('MainPrint')?'active':''">主险清单打印
                        <div ng-if="isActive('MainPrint')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('SpecialyAgreedPrint')" class="first-printInfo "
                        ng-class="isActive('SpecialyAgreedPrint')?'active':''">特别约定打印
                        <div ng-if="isActive('SpecialyAgreedPrint')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <!--<li ng-click="choosePrintype('PrpaddressPrint')" class="first-printInfo "-->
                    <!--ng-class="isActive('PrpaddressPrint')?'active':''">标的地址打印-->
                    <!--<div ng-if="isActive('PrpaddressPrint')" class="choose-background"><span class="choose-dui">√</span></div>-->
                    <!--</li>-->
                    <li ng-click="choosePrintype('SubPrint')" class="first-printInfo "
                        ng-class="isActive('SubPrint')?'active':''">附加险清单打印
                        <div ng-if="isActive('SubPrint')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('PaymentPlanPrint')" class="first-printInfo "
                        ng-class="isActive('PaymentPlanPrint')?'active':''">缴费计划打印
                        <div ng-if="isActive('PaymentPlanPrint')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('PaymentNoticePrint')" class="first-printInfo "
                        ng-class="isActive('PaymentNoticePrint')?'active':''">缴费通知书打印
                        <div ng-if="isActive('PaymentNoticePrint')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('FilePrint')" class="first-printInfo "
                        ng-class="isActive('FilePrint')?'active':''">承保卷宗打印
                        <div ng-if="isActive('FilePrint')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                    <li ng-click="choosePrintype('B5')" class="first-printInfo "
                        ng-class="isActive('B5')?'active':''">B5条款下载
                        <div ng-if="isActive('B5')" class="choose-background"><span class="choose-dui">√</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="remove_button no-line">
            <button class="button_sure" ng-click="printSure()">确 定</button>
        </div>
    </div>
</div>