<!--
****************************************************************************
* DESC       ：国元农险理赔特殊赔案处理页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2018/1/3
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->

<div class="section" style="height:auto;">
 <div class="content_div content1-div">
  <div class='damage clearfix'>
   <span class='fl damage_span' ng-click="communication()">理赔沟通</span>
   <span class='fl damage_span' ng-click="electronic()">电子单证</span>
  </div>
  <div class="queryCriteria">
        <span class="queryCriteria_title">
          <label>案件信息</label>
        </span>
   <div class="condition_table">
    <ul class="clearfix half-ul" >
     <li class="condition_td fl half-li">
      <label>预付赔款号</label>
      <div class="half-div">
       <input type="text"  ng-disabled="true" ng-model="prepayPageInit.prepayNo">
      </div>
     </li>
     <li class="condition_td fl half-li">
      <label>立案号</label>
      <div class="half-div">
       <input type="text" ng-model="prepayPageInit.claimNo" maxlength="21" ng-disabled="true" />
      </div>
     </li>
     <li class="condition_td fl half-li">
      <label>保单号码</label>
      <div class="half-div">
       <input type="text" ng-model="prepayPageInit.policyNo" ng-disabled="true"/>
      </div>
     </li>

     <li class="condition_td fl half-li">
      <label>已出险次数</label>
      <div class="half-div">
       <input class="danger_short grey ng-pristine ng-valid" type="text" ng-model="prepayPageInit.perilCount" ng-disabled="true" />
       <span class="fl danger_btn" ng-click="openPerilCount()">查看</span>
      </div>
     </li>
     <li class="condition_td fl half-li">
      <label>业务归属机构</label>
      <div class="half-div">
       <input type="text" ng-model="prepayPageInit.prpLPrepayDto.comName" ng-disabled="true"/>
      </div>
     </li>
     <li class="condition_td fl half-li clearfix">
      <label class='fl'>业务归属员</label>
      <div class="half-div">
       <input type="text" ng-model="prepayPageInit.prpLPrepayDto.handler1Name" ng-disabled="true"/>
      </div>
     </li>
     <li class="condition_td fl half-li clearfix">
      <label class='fl'>币别</label>
      <div class="half-div">
       <input type="text" ng-model="prepayPageInit.prpLPrepayDto.currencyName" ng-disabled="true"/>
      </div>
     </li>
     <li class="condition_td fl half-li clearfix">
      <label class='fl'>经办人</label>
      <div class="half-div">
       <input type="text" ng-model="prepayPageInit.userName" ng-disabled="showFlag"/>
      </div>
     </li>
     <li class="condition_td fl half-li clearfix">
      <label class='fl'><i class='i-col'>*</i>预赔金额</label>
      <div class="half-div">
       <input type="text"
              ng-model="prepayPageInit.prePaid"
              ng-pattern="/^(?!0+(?:\.0+)?$)(?:[1-9]\d*|0)(?:\.\d{1,2})?$/"
              warn-text="{'ErrPattern':'预赔金额只能输入数字,最多保留两位小数!',itemName:'预赔金额'}"
              ng-required="true"
              ng-disabled="showFlag"/>
      </div>
     </li>

     <li class="condition_td fl half-li clearfix">
      <label class='fl'><i class='i-col'>*</i>统计年月</label>
      <div class="half-div">
       <input type="text" class="date-input date fl" id="StatEndDate" ng-model="prepayPageInit.prpLPrepayDto.statisticSym"
              jedate format="YYYY-MM-DD" ng-disabled="showFlag"/>
      </div>
     </li>
    </ul>
   </div>
  </div>

  <div class="queryDanger">
        <span class="queryCriteria_title">
         <label class="tit-color font-bold">预赔报告</label>
        </span>
   <div class="input-content-box">
    <textarea rows="4" ng-required="true" ng-model="prepayPageInit.context" ng-disabled="showFlag"></textarea>
   </div>
  </div>

  <div class="queryResult">
   <div class="queryResult_title clearfix">
    <span class="fl tit-color font-bold">费用赔款信息</span>
   </div>

   <table class="condition-table">

    <thead>
    <tr class="tr_top">
     <td>序号</td>
     <td>费用名称</td>
     <td>币别</td>
     <td>费用金额</td>
     <td>操作</td>
     <!--  <td>状态</td>-->

    </tr>
    </thead>

    <tfoot>
    <tr class="tr_content" ng-repeat="(index,prpLPreChargeDto) in prepayPageInit.prpLpreChargeDtoList">
     <td>{{index+1}}</td>
     <td>
      <code-type base-code="charge_name" ng-model="prpLPreChargeDto.chargeCode" ng-disabled="seeFlag"></code-type>
     </td>
     <td>
      <code-type ng-model="prpLPreChargeDto.currency" base-code="Currency"
                 ng-init="prpLPreChargeDto.currency='CNY'" ng-disabled="true"></code-type>
     </td>
     <td>
      <div class="half-div">
      <input type="text" ng-model="prpLPreChargeDto.sumprePaid"
             ng-pattern="/^(?!0+(?:\.0+)?$)(?:[1-9]\d*|0)(?:\.\d{1,2})?$/"
             ng-disabled="showFlag"
             ng-blur="additionSum();"
             warn-text="{'ErrPattern':'费用金额只能输入数字,最多保留两位小数!',itemName:'费用金额'}"/>
      </div>
      <!--<code-type base-code="charge_name"  ng-model="prepayPageInit.sumprePaid"></code-type>-->
     </td>
     <td>
      <span ng-disabled="!showFlag" ng-click="deleteListWhear(index)"class="operation"><i class='i-col'>删除</i></span>
     </td>
    </tr>
    <tr class="tr_content">
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td>
      <span ng-show="!showFlag" ng-click="addListWhear()" class="operation">添加</span>
     </td>
    </tr>
    </tfoot>
   </table>
  </div>
  <div class="queryResult">
   <div class="queryResult_title clearfix">
    <span class="fl tit-color font-bold">预赔清单信息</span>
    <label class="fr" ng-show="!showFlag" ng-click="importList()">导入清单</label>
    <label class="fr" ng-click="downloadList()">下载清单</label><!-- ng-show="!showFlag"-->
   </div>

   <div class="condition_table">
    <ul class="clearfix half-ul" >
     <li class="condition_td fl half-li">
      <label>总赔付金额</label>
      <div class="half-div">
       <input type="text"  ng-disabled="true" ng-model="prepayPageInit.sumPaid"
              ng-pattern="regData.positiveNumber"
              warn-text="{'ErrPattern':'总付金额只能输入数字!',itemName:'总付金额'}">
       <input type="text"  ng-show="false" ng-model="prepayPageInit.listNo">
      </div>

     </li>
    </ul>
   </div>
  </div>
  <div class="btn_three clearfix w52">
   <span class="fl" ng-disabled="flag" ng-if="!showFlag" ng-click="applySave('2')">暂存</span>
   <span class="fl" ng-disabled="flag" ng-if="!showFlag" ng-click="applySave('4')">提交</span>
   <span class="fl" ng-disabled="flag" ng-if="!showFlag" ng-click="giveup()">放弃任务</span>
   <span class="fl" ng-click="goBack()">取消</span>
  </div>
 </div>
</div>

<!-- 弹层---我的信息 -->
<div ng-show="prepayMessage" ><!-- class="layer-message"-->
 <div class="mask"></div>
 <div style="width:50%;height: auto;background:#fff;border-radius:5px;overflow: hidden;position:fixed;top:40%;left:50%;margin-left:-370px;z-index: 1001;"><!--class=layer-content-->
  <div class="layer-header"><!---->
   <span>提示</span>
   <i class="icon iconfont" ng-click="goBack()">&#xe632;</i>
  </div>
  <div>
   <input style="width:100%;height:40px;position:relative;" ng-model="errMsg"/>
  </div>
  <div>
   <input style="width:30%;color:#2DBE61;height:40px;position:relative;" ng-click="goPrepaySee(result)" ng-model="businessNo"/>
  </div>
  <div>
   <input type="hidden">
  </div>
 </div>
</div>