<div>
    <input type="text" ng-model="message">
</div>

<div class="main">
    <div class="section" style="height:auto;">
        <div class="position">

        </div>
        <div class="content_div content1-div">
            <div class="queryResult">
                <div class="queryResult_title clearfix">
                    <span class="fl">信息提示</span>
                </div>
                <table>
                    <tr class="tr_top">
                        <td>
                            <input type="text"  ng-model="message" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
