<div class="main section commentWidth">
    <div class="section1" style="height:auto;padding:0;">
    <div class="position" style="margin-bottom: 0;padding-bottom: 10px;">
        <span class="ml10 uptext">当前位置：</span>
        <span class="local-fir uptext1">投保模版管理 > </span>
        <span class="local-fir" style="color:#5a9cff;">投保模版查询</span>
    </div>
    <div class="queryCriteria">
        <div class="queryResult_title clearfix" style="background: none;border-bottom:1px solid #dfdfdf;height:40px;">
            <span class="fl" style="margin-top:10px;">查询条件</span>
            <span class="click_img" ng-click="addFrom()">
                <img ng-src="{{SRC}}" alt="" style="margin-top:-16px;"/>
            </span>
        </div>
        <div class="condition_table" id="pt4">
            <ul class="clearfix">
                <li class="condition_td teaR fl">
                    <label>模版号码</label>
                    <div>
                        <input type="text" ng-blur="checkmodelCode($event,proposal.prpMmodelMainRequest.modelCode)" maxlength="40" ng-class="{'checkOutBdRed':check.modelCode}" ng-model="proposal.prpMmodelMainRequest.modelCode" ng-change="changemodelCode(proposal.prpMmodelMainRequest.modelCode)" class="">
                        <s ng-bind="check.modelCode"></s>
                    </div>
                </li>
                <li class="condition_td teaC fl">
                    <label>模版名称</label>
                    <div>
                        <input type="text" ng-blur="checkmodelName($event,proposal.prpMmodelMainRequest.modelName)" maxlength="40" ng-class="{'checkOutBdRed':check.modelName}" ng-model="proposal.prpMmodelMainRequest.modelName" class="">
                        <s ng-bind="check.modelName"></s>
                    </div>
                </li>
                <li class="condition_td teaL fl">
                    <label>模版创建日期</label>
                    <input style="width: 26%;position: relative;left:-3px;" type="text" id="idDataStart2" jedate
                           class="date-input proposal_date " ng-model="proposal.prpMmodelMainRequest.startDate"
                           format="YYYY-MM-DD" required readonly ng-change="compareDate(proposal.prpMmodelMainRequest.startDate,proposal.prpMmodelMainRequest.endDate)"/>
                    <!-- ng-init="proposal.prpMmodelMainRequest.startDate=time.year+'-'+time.month+'-01'"-->
                    <i class="fl">-</i>
                    <input style="width: 26%" type="text" id="idDataEnd2" jedate
                           class="date-input proposal_date " ng-model="proposal.prpMmodelMainRequest.endDate"  ng-change="compareDate(proposal.prpMmodelMainRequest.startDate,proposal.prpMmodelMainRequest.endDate)"
                           format="YYYY-MM-DD"
                           required readonly /><!--ng-init="proposal.prpMmodelMainRequest.endDate=time.year+'-'+time.month+'-'+time.date"-->
                </li>
                <!--<li class="condition_td teaR fl">
                    <label>适用机构</label>
                    <div>
                        <input type="text" ng-blur="checkcomCode($event,proposal.prpMmodelMainRequest.comCode)" maxlength="40" ng-class="{'checkOutBdRed':check.comCode}" ng-model="proposal.prpMmodelMainRequest.comCode" class="">
                        <s ng-bind="check.comCode"></s>
                    </div>
                </li>-->
                <li class="condition_td teaL fl">
                    <label>适用机构</label>
                    <div class="codeType codeNoBor"  >
                        <ui-select history ng-model="proposal.prpMmodelMainRequest.comCode"
                                   ng-click="getComCodeList()"
                        >
                            <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.comCName}}">
                                {{$select.selected.comCName}}
                            </ui-select-match>
                            <ui-select-choices repeat="code.comCode as code in selectListData.comCodeList | filter: $select.search">
                                <span ng-bind="code.comCName" ng-attr-title="{{code.comCName}}"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </li>
                <li class="condition_td teaC fl">
                    <label>险种</label>
                    <div>
                        <!--<input type="text"  ng-model="proposal.prpMmodelMainRequest.riskCode" >-->
                        <ui-select ng-model="proposal.prpMmodelMainRequest.riskCode" ng-click="queryByValid($select.selected)" ng-disabled="proposalQueryHide">
                            <ui-select-match   placeholder="查询或选择..." ng-attr-title="{{$select.selected.riskCName}}">
                                {{$select.selected.riskCName}}
                                <div ng-if="$select.selected.riskCName!=null?false:true">{{proposal.prpMmodelMainRequest.riskCName}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="code.riskCode as code in riskCodeList | filter: $select.search">
                                <span ng-bind="code.riskCName" ng-attr-title="{{code.riskCName}}"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </li>
                <li class="condition_td teaC fl">
                    <label>标的</label>
                    <div>
                        <input type="text" ng-blur="checkitemName($event,proposal.prpMmodelMainRequest.itemName)" maxlength="40" ng-class="{'checkOutBdRed':check.itemName}" ng-model="proposal.prpMmodelMainRequest.itemName" class="" style="max-width:246px;">
                        <s ng-bind="check.itemName"></s>
                    </div>
                </li>
                <li ng-show="conditionShow">
                    <ul class="clearfix">
                        <li class="condition_td teaR fl">
                            <label>创建人名称</label>
                            <div>
                                <input type="text" ng-blur="checkcreateBy($event,proposal.prpMmodelMainRequest.createBy)" maxlength="40" ng-class="{'checkOutBdRed':check.createBy}" ng-model="proposal.prpMmodelMainRequest.createBy" ng-keypress="pressDecimal($event)"/>
                                <s ng-bind="check.createBy"></s>
                            </div>
                        </li>
                        <li class="condition_td teaC fl">
                            <label>投保人名称</label>
                            <div>
                                <input type="text" ng-blur="checkapplayname($event,proposal.prpMmodelMainRequest.applayname)" maxlength="40"  ng-class="{'checkOutBdRed':check.applayname}" ng-model="proposal.prpMmodelMainRequest.applayname" ng-keypress="pressDecimal($event)"/>
                                <s ng-bind="check.applayname"></s>
                            </div>
                        </li>
                        <li class="condition_td teaL fl">
                            <label>被保险人名称</label>
                            <div>
                                <input  style="max-width:246px;" ng-blur="checkinsuredname($event,proposal.prpMmodelMainRequest.insuredname)" maxlength="40" ng-class="{'checkOutBdRed':check.insuredname}" type="text" ng-model="proposal.prpMmodelMainRequest.insuredname">
                                <s ng-bind="check.insuredname"></s>
                            </div>
                        </li>
                        <li class="condition_td teaL fl">
                            <label>政策/商业标志</label>
                            <div class="codeType" style="width: 55%;">
                                <code-type base-code="BusinessType1" dfsec=true ng-model="proposal.prpMmodelMainRequest.BusinessType1"ng-init="proposal.prpMmodelMainRequest.BusinessType1='01'"></code-type>
                            </div>
                        </li>
                        <li class="condition_td teaL fl">
                            <label>有效标准字段</label>
                            <select ng-model="proposal.prpMmodelMainRequest.validStatus" ng-init="proposal.prpMmodelMainRequest.validStatus='1'">
                                <!--<option value="" >选择所有</option>-->
                                <option value="1" >有效</option>
                                <option value="0" >无效</option>
                            </select>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="btn_tr clearfix">
                <span class="fl" ng-click="submit();">查询</span>
                <span class="fr" ng-click="reset();">重置</span>
            </div>
        </div>

        <div class="queryResult1" style="margin-left:0;">
            <div class="queryResult1_title ">
                <i class="fl" style="line-height:50px;padding-left:20px;">查询结果</i>
                <label class="fr" ng-click="goBackDashboard();">返回</label>
                <label class="fr" ng-click="flg('批删',null);">批量删除</label>
                <label class="fr" ng-click="newTemplate('type')">新建模版</label>
        </div>
        <table style="width:100%;">
            <tr class="tr_top">
                <td class="w8 check-box1" style="padding-left:14px;">
                    <label class="fl checkbox-label1"  ng-class="{'checkbox-checked':select_all==true}" ng-click="selectAll()"><!--box.checked=!box.checked-->
                        <span></span>
                        <input type="checkbox" name="checkbox" class="hide" ng-model="select_all"><em>全选</em>
                    </label>
                </td>
                <td>模版号码</td>
                <td>模版名称</td>
                <td class="w9">模版创建人</td>
                <td class="w9">创建日期</td>
                <td class="w8">状态</td>
                <td class="w14_28">操作</td>
            </tr>
            <tr class="tr_content F2F2F2" ng-repeat="info in proposal.clauseQueryList track by $index">
                <td class="check-box1" style="padding-left:14px;">
                    <!--<input ng-model="info.checked" type="checkbox" ng-change="selectOne(info)"/>-->
                    <label class="fl checkbox-label1 " ng-class="{'checkbox-checked':info.checked==true}" ng-click="selectOne(info)"><!--box.checked1=!box.checked1-->
                        <span></span>
                        <input type="checkbox" name="checkbox" class="hide" ng-model="info.checked">
                    </label>
                </td>
                <!--<td class="C2DBE61 cur" ui-sref="UIproposalshow" ng-bind="info.modelCode"></td>-->
                <td class="C2DBE61 cur">
                    <span ng-click="getProposalInfo(info.modelCode)" ng-bind="info.modelCode"></span>
                </td>
                <td ng-bind="info.modelName"></td>
                <td ng-bind="info.userName"></td>
                <td ng-bind="info.createDate|date:'yyyy-MM-dd'"></td>
                <td> {{info.validStatus1=='1'?'有效':'无效' }}</td>
                <td>
                    <img class="cur" ng-click="configPrintSet();sign1();writeclause();modifyModelInfo(info.modelCode)" src="common/images/chenpeng/revise.png" title="修改" alt="修改">
                    <img class="cur" ng-if="info.validStatus1=='1'" src="common/images/chenpeng/stop.png" ng-click="disableClause(info)" title="停用" alt="停用">
                    <img class="cur" ng-if="info.validStatus1!='1'" src="common/images/chenpeng/start.png" ng-click="disableClause(info)" title="启用" alt="启用">
                    <img class="cur" src="common/images/chenpeng/delete.png"  ng-click="flg('单删',info)" title="删除" alt="删除" >
                </td>
            </tr>
        </table>
            <div ng-show="isEmptyObject(proposal.clauseQueryList)||proposal.clauseQueryList.length==0" ng-class="{'not-query':isEmptyObject(proposal.clauseQueryList),'query-null':proposal.clauseQueryList.length==0}" class="not-query"></div>
            <div class="index_page">
            <tm-pagination conf="paginationConfmm"></tm-pagination>
        </div>
    </div>
    </div>
</div>
</div>