<!--主体内容-->
<div class="application_entering">
    <!--险种方案弹层-->
    <!--<div ng-controller="UIPrPoEnRiskSchemeCtrl"  data-ng-include="'common/business/common/proposal/riskScheme/UIPrPoEn.riskScheme.layer.html'"></div>-->
    <!--保存弹层-->
    <div ng-show="showSave"  class="all_payment layer-model">
        <div class="large-layer-content save_success">
            <div class="all_payment_head layer-header">
                <span>保存成功</span>
            </div>
            <div class="layer-con save_success_contain">
                <img src="" alt="">
                <h2>投保单保存成功</h2>
            </div>
            <div class="layer-footer">
                <button class="greenButton" ng-click="commitUnderwrite()">提交核保</button>
                <!--<button class="greenButton" ng-click="resetRisk()">继续完善</button>-->
                <button class="greenButton" ng-click="issueAgain()">再录一单</button>
            </div>
        </div>
    </div>
    <!--第一层-->
    <div class="application_entering_first">
        <ul class="container"  style="margin-right: -20px">

            <li class="fr">
                <button ng-show="infoReturn" ng-click="infoShowReturn()" class="whiteButton2" style="background: #2DBE61;color:#fff;">返回</button>
                <button ng-show="temporarySave" ng-click="infoShowSaveSuccess(0)" class="whiteButton2" style="background: #2DBE61;color:#fff;">暂存</button>
                <button  ng-show="allSave" ng-click="infoShowSaveSuccess(1)" class="whiteButton2" style="background: #2DBE61;color:#fff;">保存</button>
                <!--<button ng-click="showPage=!showPage" ng-show="showPage" class="whiteButton3" style="background: #fff">▼</button>-->
                <!--<button ng-click="showPage=!showPage" ng-hide="showPage" class="whiteButton3" style="background: #fff">▲</button>-->
                <!--<button class="buttonAdmin" ng-click="closeRiskScheme()" ng-if="showPage">险种方案修改</button>-->
            </li>
        </ul>

    </div>
    <!--右边的菜单栏  楼梯-->
    <div id="navbar-example" class="application_entering_asider">
        <ul class="application_entering_con">
            <li ng-click="goBasic()" class=" cur">
                <p><img src="common/images/chenpeng/write.png"/></p>
                <p>基本</p>
            </li>
            <li ng-click="goContract()"  class="cur">
                <p><img src="common/images/chenpeng/agreement.png"/></p>
                <p>合同</p>
            </li>
            <li ng-click="goClient()" class="cur">
                <p><img src="common/images/chenpeng/client.png"/></p>
                <p>客户</p>
            </li>
            <li ng-click="goOthers()"  class="cur">
                <p><img src="common/images/chenpeng/others.png"/></p>
                <p>其他</p>
            </li>
        </ul>
    </div>
    <!--主体内容-->
    <div data-spy="scroll" data-target="#navbar-example"  class="application_entering_section">
        <!--填写信息部分-->
            <div class="application_entering_mes">
            <!--险种方案-->
            <div ui-view="UIPrPoEnAdminrisk" ></div>
            <!--<div  data-ng-include="'common/business/common/proposal/riskScheme/UIPrPoEn.managementEditRisk.tpl.html'"></div>-->
            <!--基本信息-->
            <div ui-view="UIPrPoEnMainHead" ng-show="!showRiskScheme"></div>
            <!--<div ng-controller="UIPrPoEnMainHeadCtrl" data-ng-include="'common/business/common/proposal/mainHead/UIPrPoEn.mainHead.tpl.html'"></div>-->
            <!--合同信息-->
            <div ui-view="UIPrPoEnMainAgri" ng-show="!showRiskScheme"></div>
            <!--<div ng-controller="UIPrPoEnMainAgriCtrl"  data-ng-include="'common/business/common/proposal/mainAgri/UIPrPoEn.mainAgri.tpl.html'"></div>-->
            <!--客户信息-->
            <div ui-view="UIPrPoEnAgriInsured" ng-show="!showRiskScheme"></div>
            <!--<div ng-controller="UIPrPoEnAgriInsuredCtrl" data-ng-include="'common/business/common/proposal/agriInsured/UIPrPoEn.agriInsured.tpl.html'"></div>-->
            <!--其他信息-->
            <div ui-view="UIPrPoEnOther" ng-show="!showRiskScheme"></div>
            <!--<div ng-controller="UIPrPoEnOtherCtrl"  data-ng-include="'common/business/common/proposal/other/UIPrPoEn.other.tpl.html'"></div>-->
        </div>
    </div>
</div>