<div class="index_con produce_center">
    <!--销售费用率维护页面-->
    <ng-form novalidate="novalidate" name="expensesMaintainForm" >
        <div class="index_list">
            <div class="index_tit">
                <h6>销售费用率维护</h6>
            </div>
            <ul class="list_ul list_ul_2">
                <li><em>*</em><span>产品名称：</span></li>
                <li>
                    <select class="form-control"  ng-model="saleRatesDto.riskCode"  required ng-options="x.riskCode as x.riskCName for x in riskList">
                    </select>
                </li>
                <li >
                    <em>*</em><span>业务来源类别：</span>
                </li>
                <li class="sales_expense">
                    <div class="ui-select">
                        <code-type required ng-required="true" class="seletc_bor" base-code="BusinessNature" ng-model="saleRatesDto.businessNature" ng-disabled="false" is-fuzzy="true"></code-type>
                    </div>
                </li>
                <li class="file_name">
                    <em>*</em><span>生效日期：</span>
                </li>
                <li>
                    <input type="text" id="operateDate" jedate class="date-input fl date"  ng-model="saleRatesDto.effectDate" format="YYYY-MM-DD" required warn-text="生效日期" readonly/>
                </li>
                <li >
                    <em>*</em><span>销售费用率（%）：</span>
                </li>
                <li>
                    <input type="text date" value="" ng-model="saleRatesDto.salesRate" warn-text="输入0-100之间数字,最多保留两位小数，" ng-pattern="/^\d\.([0-9]{1,2}|[0-9][0-9])$|^[0-9]\d{0,1}(\.\d{1,2}){0,1}$|^100(\.0{1,2}){0,1}$/" required />
                </li>
            </ul>
        </div>
        <div class="index_btn1 index_btn2">
            <button class="submit" ng-class="{'ngdisable':buttonSure}" ng-click="expensesSave()" ng-disabled="buttonSure">确 认</button>
            <span class="edit" ng-click="expensesBack()">退 出</span>
        </div>
    </ng-form>
    <!--弹层---修改成功提示-->
    <div data-ng-include="'components/pms/expenses/tpl/expensesSuccessLayer.html'"></div>
    <!--弹层---修改失败提示-->
    <div data-ng-include="'components/pms/expenses/tpl/expensesErrorInfoLayer.html'"></div>
    <!--弹层---无响应提示-->
    <div data-ng-include="'components/pms/expenses/tpl/expensesFailLayer.html'"></div>
    <!--弹层---无响应提示-->
    <div data-ng-include="'components/pms/expenses/tpl/expensesMaintainBackLayer.html'"></div>
</div>