<!--基本信息-->
<div id="basic" class="basic_information clearfix">
    <div class="basic_information_left left">
        <div ng-show="isHide" style="height: 220px"></div>
        <div>
            <i class="iconfont">&#xe613;</i>
            <p ng-show="isHide">基本信息</p>
        </div>
        <div ng-show="isHide" style="height: 190px"></div>
    </div>
    <div class="basic_information_right left" style="padding-bottom:10px;">
        <div ng-click="isShow()" class="stretch cur" style="margin-right:10px;margin-top:12px;">
            <i class="iconfont" ng-show="!isHide">&#xe667;</i>
            <i class="iconfont" ng-show="isHide">&#xe668;</i>
        </div>
        <div ng-show="isHide" class="basic_information_con pt4">
            <ul class="basic_information_first">
                <li class="clearfix">
                    <div class="basic_information_scale fl" >
                        <span class="mesColor teaR"><i class="mes_sign" ng-show="queryHide">*</i>归属机构</span>
                        <div class="codeType codeNoBor codeTypeDetail" ng-show="!policy">
                            <ui-select history ng-model="proposal.prpTmainDto.comCode"  ng-disabled="proposalQueryHide||endorseFlag ||continue "
                                     ng-change="getHanCode($select.selected);setRefreshMaxPerformanceFlagZeror()"
                                     disabled>
                                    <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.comCName}}">
                                                        {{$select.selected.comCName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.comCode as code in selectListData.comCodeList | filter: $select.search">
                                                <span ng-bind="code.comCName" ng-attr-title="{{code.comCName}}"></span>
                                    </ui-select-choices>
                            </ui-select>
                            <input type="hidden" name="proposal.prpTmainDto.ServiceFlag" description="服务部标志">
                            <input type="hidden" name="proposal.prpTmainDto.UserFlag2" description="员工类型">
                            <input type="hidden" name="proposal.prpTmainDto.CompanyFlag" description="归属机构标志">
                            <input type="hidden" name="proposal.prpTmainDto.test" description="存无用字段">
                            <!-- 该域原没有name属性值导致批改setForPg函数调用出错 modify by luyang 2006-3-25 05:16下午 end -->
                            <input type="hidden" name="proposal.MakeCom" description="出单机构代码">
                        </div>
                        <div>
                            <input disabled  class="codeType codeNoBor handlerDetail" ng-show="policy" ng-model="proposal.prpTmainDto.comCodename1">
                        </div>
                    </div>
                    <div class="basic_information_scale fl" >
                     <span class="mesColor teaR" style="float: left"><i class="mes_sign"  ng-show="queryHide">*</i>归属业务员</span>
                        <div class="codeType codeNoBor handlerDetail" ng-show="!policy">
                         <ui-select ng-model="proposal.prpTmainDto.handler1Code"
                                    ng-disabled="proposalQueryHide||endorseFlag" history>
                                <ui-select-match   placeholder="查询或选择..." ng-attr-title="{{$select.selected.userName}}">
                                    {{$select.selected.userName}}
                                </ui-select-match>
                                <ui-select-choices repeat="code.userCode as code in selectListData.handCodeList | filter: $select.search">
                                    <span ng-bind="code.userName" ng-attr-title="{{code.userName}}"></span>
                                </ui-select-choices>
                         </ui-select>
                        <input type="hidden" name="proposal.prpTmainDto.HandlerCodeOld" description="经办人代码">
                            <input type="hidden" name="proposal.prpTmainDto.HandlerNameOld" description="经办人名称">
                        </div>
                        <div>
                            <input  disabled class="codeType codeNoBor handlerDetail" ng-show="policy" ng-model="proposal.prpTmainDto.handler1Code1">
                        </div>
                    </div>
                </li>
                <li  class="attribution_region">
                    <div class="basic_information_scale">
                        <span class="mesColor teaR"><i class="mes_sign" ng-show="queryHide">*</i>归属区域</span>
                        <div class="codeType">
                            <input type="text" ng-model="proposal.prpTmainDto.businessProvinceName" placeholder="省" disabled readonly/>
                        </div>
                        <div class="codeType">
                            <input type="text" ng-model="proposal.prpTmainDto.businessCityName" placeholder="市" disabled readonly/>
                            <!--<ui-select ng-model="proposal.prpTmainDto.businessCity" ng-change="getTogeDta('businessCity')">-->
                            <!--<ui-select-match   placeholder="查询或选择...">-->
                                <!--{{$select.selected.codeCName||'市'}}-->
                            <!--</ui-select-match>-->
                            <!--<ui-select-choices repeat="code.codeCName as code in CityList | filter: $select.search">-->
                                <!--<span ng-bind="code.codeCName"></span>'-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    </div>
                        <div class="codeType">
                            <input type="text" ng-model="proposal.prpTmainDto.businessCountyName" placeholder="区/县" disabled readonly/>
                            <!--<ui-select ng-model="proposal.prpTmainDto.businessArea" ng-change="getTogeDta('businessArea')">-->
                                <!--<ui-select-match   placeholder="查询或选择...">-->
                                    <!--{{$select.selected.codeCName||'区/县'}}-->
                                <!--</ui-select-match>-->
                                <!--<ui-select-choices repeat="code.codeCName as code in ProvinceList | filter: $select.search">-->
                                    <!--<span ng-bind="code.codeCName"></span>'-->
                                <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                        </div>
                        <div class="codeType">
                            <input type="text" ng-model="proposal.prpTmainDto.businessTownName" placeholder="乡/镇" disabled readonly/>
                            <!--<ui-select ng-model="proposal.prpTmainDto.businessTown" ng-change="getTogeDta('businessTown')">-->
                                <!--<ui-select-match   placeholder="查询或选择...">-->
                                    <!--{{$select.selected.codeCName||'乡/镇'}}-->
                                <!--</ui-select-match>-->
                                <!--<ui-select-choices repeat="code.codeCName as code in TownList | filter: $select.search">-->
                                    <!--<span ng-bind="code.codeCName"></span>'-->
                                <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                        </div>
                        <div class="codeType">
                            <input type="text" ng-model="proposal.prpTmainDto.businessAreaName" placeholder="村" disabled readonly/>
                            <!--<ui-select ng-model="proposal.prpTmainDto.businessCounty" ng-change="getTogeDta('businessCounty')">-->
                                <!--<ui-select-match   placeholder="查询或选择...">-->
                                    <!--{{$select.selected.codeCName||'村'}}-->
                                <!--</ui-select-match>-->
                                <!--<ui-select-choices repeat="code.codeCName as code in CountyList | filter: $select.search">-->
                                    <!--<span ng-bind="code.codeCName"></span>'-->
                                <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR"><i class="mes_sign" ng-show="queryHide">*</i> 业务来源</span>
                        <select history ng-model="proposal.prpTmainDto.businessNature"
                            ng-init="proposal.prpTmainDto.businessNature=0" ng-disabled="proposalQueryHide">
                            <option value="0">直接业务</option>
                        </select>
                        <!--<div class="codeType" style="width: 44%">-->
                            <!--<code-type base-code="BusinessNature" ng-model="proposal.prpTmainDto.businessNature" ng-change="setRefreshMaxPerformanceFlagZeror()" required></code-type>-->
                        <!--</div>-->
                    </div>
                    <div class="basic_information_scale1 fl">
                        <span class="mesColor teaR"><i class="mes_sign" ng-show="queryHide">*</i> 业务大类</span>
                        <!--<label ng-repeat="BusinessCategory in BusinessCategory track by $index">-->
                            <!--<input type="checkbox" ng-model="BusinessCategory.dd" ng-disabled="proposalQueryHide"-->
                                   <!--ng-change="selectOne1();setRefreshMaxPerformanceFlagZeror()">{{BusinessCategory.codeCName}}-->
                        <!--</label>-->
                        <check-box ng-click="oneSelect()" ng-change="setRefreshMaxPerformanceFlagZeror()" ng-model="proposal.prpTmainDto.businessCategory"
                            history data="{{BusinessCategory}}" ng-disabled="proposalQueryHide"></check-box>
                    </div>

                </li>
                <li class="clearfix">
                    <div class="basic_information_scale fl" ng-show="!proposal.businessType1Show">
                        <span class="mesColor teaR"><i class="mes_sign" ng-show="queryHide">*</i>政策/商业标志</span>
                        <input type="text" ng-model="proposal.prpTmainDto.businessType1Name" disabled/>
                             <input type="hidden" ng-model="proposal.prpTmainDto.businessType1">
                        </input>
                    </div>
                    <div class="basic_information_scale fl" ng-show="proposal.modelBusinessType1Show">
                        <span class="mesColor teaR"><i class="mes_sign" ng-show="queryHide">*</i>政策/商业标志</span>
                        <div class="codeType" style="width: 35%">
                            <code-type base-code="BusinessType1" ng-model="proposal.prpTmainDto.businessType1" ></code-type>
                        </div>
                    </div>
          <div class="basic_information_scale fl radio-box">
                        <span class="mesColor teaR">是否验标</span>
            <input type="hidden" ng-model="proposal.prpTmainDto.InceptionNotificationFlag">
            <radio ng-model="proposal.prpTmainDto.inceptionFlag" base-code="whether"
                   ng-disabled="proposalQueryHide" history></radio>
            <!--<label class="radio-label1 mt7" ng-class="{'radio-checked':proposal.prpTmainDto.inceptionFlag==1}" ng-click="proposal.prpTmainDto.inceptionFlag=1" ng-disabled="proposalQueryHide">-->
            <!--<span></span>-->
            <!--<input type="radio" name="InceptionFlag" class="hide" ng-model="proposal.prpTmainDto.inceptionFlag" value="1"><em>是</em>-->
            <!--</label>-->
            <!--<label class="radio-label1 mt7" ng-class="{'radio-checked':proposal.prpTmainDto.inceptionFlag==2}" ng-click="proposal.prpTmainDto.inceptionFlag=2" ng-disabled="proposalQueryHide">-->
            <!--<span></span>-->
            <!--<input type="radio" name="InceptionFlag" class="hide" ng-model="proposal.prpTmainDto.inceptionFlag" value="2"><em>否</em>-->
            <!--</label>-->
                    </div>
                </li>
                <li class="clearfix">
                    <div class="basic_information_scale fl radio-box">
                        <span class="mesColor teaR">是否承保公示</span>
            <radio ng-model="proposal.prpTmainDto.notificationFlag" base-code="whether" ng-disabled="proposalQueryHide"
                     history></radio>

            <!--<label class="radio-label1 mt7" ng-class="{'radio-checked':proposal.prpTmainDto.notificationFlag==1}" ng-click="proposal.prpTmainDto.notificationFlag=1" ng-disabled="proposalQueryHide">-->
            <!--<span></span>-->
            <!--&lt;!&ndash;<input type="hidden" ng-model="proposal.prpTmainDto.notificationFlag" history>&ndash;&gt;-->
            <!--<input type="radio" name="NotificationFlag" class="hide" ng-model="proposal.prpTmainDto.notificationFlag" value="1"  history><em>是</em>-->
            <!--</label>-->
            <!--<label class="radio-label1 mt7" ng-class="{'radio-checked':proposal.prpTmainDto.notificationFlag==2}" ng-click="proposal.prpTmainDto.notificationFlag=2" ng-disabled="proposalQueryHide">-->
            <!--<span></span>-->
            <!--<input type="radio" name="NotificationFlag" class="hide" ng-model="proposal.prpTmainDto.notificationFlag" value="2"  history><em>否</em>-->
            <!--</label>-->
                        <!--{{proposal.prpTmainDto.notificationFlag}}-->
                    </div>
                    <div class="basic_information_scale fl radio-box">
                        <span class="mesColor teaR"><i class="mes_sign" ng-show="queryHide">*</i> 是否扶贫项目</span>
                        <input type="hidden" ng-model="proposal.prpTmainDto.povertyNotificationFlag">
                        <radio ng-model="proposal.prpTmainDto.eccFlag" base-code="whether"
                               ng-disabled="proposalQueryHide" history ></radio>
                    </div>
                </li>
                <li class="clearfix">
          <div class="basic_information_scale fl radio-box po-relative">
                        <span class="mesColor teaR"><i class="mes_sign" ng-show="queryHide">*</i>是否通过第三方识别</span>
            <radio ng-model="proposal.prpTmainDto.thirdKnow" base-code="whether" ng-disabled="proposalQueryHide" history></radio>
            <!--<label class="radio-label1 mt7" ng-class="{'radio-checked':proposal.prpTmainDto.thirdKnow==1}"-->
                   <!--ng-click="proposal.prpTmainDto.thirdKnow=1" ng-disabled="proposalQueryHide">-->
              <!--<span></span>-->
              <!--<input type="radio" name="ThirdKnow" class="hide" ng-model="proposal.prpTmainDto.thirdKnow" value="1"-->
                     <!--history><em>是</em>-->
            <!--</label>-->
            <!--<label class="radio-label1 mt7" ng-class="{'radio-checked':proposal.prpTmainDto.thirdKnow==2}"-->
                   <!--ng-click="proposal.prpTmainDto.thirdKnow=2" ng-disabled="proposalQueryHide">-->
              <!--<span></span>-->
              <!--<input type="radio" name="ThirdKnow" class="hide" ng-model="proposal.prpTmainDto.thirdKnow" value="2"-->
                     <!--history><em>否</em>-->
            <!--</label>-->
                        <i ng-click="explainClick()" class="explain">说明
                            <p ng-show="explain">
                                <b>第三方识别概念</b><br>
                                委托出单点对客户进行身份识别，或委托法人单位（投保人）对本单位参保人员（被保险人）进行身份识别（如团意险因参保员工过多，我司为逐一取得参保人员身份证明，而委托参保公司进行身份识别）的团单业务，并符合非自热人或自然人身份识别规则。对出单点出单的及团单业务，设定选择权：是，委托第三方识别/否，公司逐一取得客户身份资料并自行识别。
                            </p>
                        </i>
                    </div>
                    <div class="basic_information_scale fl" style="position: relative;top:-4px;">
                        <span class="mesColor teaR">缴费方式</span>

                        <div class="codeType codeTypeDetail codeTypeDetail">
                            <code-type base-code="AutoTransRenewFlag1"
                         ng-model="proposal.prpTmainDto.autoTransRenewFlag" ng-disabled="proposalQueryHide" ng-init="proposal.prpTmainDto.autoTransRenewFlag='1'"
                         history></code-type>
                            <!--<select ng-model="proposal.prpTmainDto.autoTransRenewFlag1" ng-options="AutoTransRenewFlag1.codeCode as AutoTransRenewFlag1.codeName for AutoTransRenewFlag1 in AutoTransRenewFlag1" ng-disabled="proposalQueryHide">-->
                            <!--<option value="">&#45;&#45; 请选择 &#45;&#45;</option>-->
                            <!--&lt;!&ndash;<option ng-repeat="AutoTransRenewFlag1 in AutoTransRenewFlag1" ng-bind="AutoTransRenewFlag1.codeName" value="{{AutoTransRenewFlag1.codeCode}}"></option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="1">现金</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="2">银行卡</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="3">其他</option>&ndash;&gt;-->
                            <!--</select>-->
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="basic_information_second">
                <li style="position: relative;">
                    <span class="mesColor teaR">保险期间</span>
                    <input type="hidden" ng-model="proposal.prpTmainDto.Period_Flag">
                    <input type="text" id="StartDate" jedate class="date-input date "
                 ng-model="proposal.prpTmainDto.startDate" format="YYYY-MM-DD"
                 ng-disabled="proposalQueryHide||endorseFlag" history
                           ng-init="proposal.prpTmainDto.startDate=''+getdatestar.year+'-'+dataNum(getdatestar.month)+'-'+dataNum(getdatestar.day)"
                           required ng-change="compareDate(proposal.prpTmainDto.signDate,proposal.prpTmainDto.startDate,'保险开始');
                           checkStartDate(proposal.prpTmainDto.startDate);checkEndDateWithOperateDate();checkCoinsTreaty1()"/>
                    日
                    <input style="width: 3%;margin: 0 3px;" ng-model="proposal.prpTmainDto.startHour"
                           ng-init="proposal.prpTmainDto.startHour=0" disabled>
                    时起至
                    <input type="text" id="EndDate" jedate class="date-input date "
                 ng-model="proposal.prpTmainDto.endDate" format="YYYY-MM-DD"
                 ng-disabled="proposalQueryHide||endorseFlag" history
                           ng-init="proposal.prpTmainDto.endDate=''+(getdate.year+1)+'-'+getdate.endMonth+'-'+(getdate.endDay)"
                           required ng-change="compareDate(proposal.prpTmainDto.startDate,proposal.prpTmainDto.endDate,'保险截止');
                           checkEndDateWithOperateDate();"/>
                    <input style="width: 4%;margin: 0 3px;" ng-model="proposal.prpTmainDto.endHour"
                           ng-init="proposal.prpTmainDto.endHour=24" disabled>时止
                </li>
            </ul>
            <ul class="basic_information_third">
                <li class="clearfix">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">投保日期</span>
                        <input type="text" id="operateDate" jedate class="date-input date "  history
                               ng-model="proposal.prpTmainDto.operateDate" format="YYYY-MM-DD"
                               ng-init="proposal.prpTmainDto.operateDate=''+getdate.year+'-'+dataNum(getdate.month+1)+'-'+dataNum(getdate.day)"
                   ng-disabled="proposalQueryHide" required
                   ng-change="compareDate(proposal.prpTmainDto.operateDate,proposal.prpTmainDto.signDate,'投保日期')"/>

                    </div>
                    <div id="signDateClass " class="basic_information_scale fl">
                        <span class="mesColor teaR">制单日期</span>
            <input type="text" ng-model="proposal.prpTmainDto.signDate" jedate class="date-input date "
                   format="YYYY-MM-DD" ng-init="proposal.prpTmainDto.signDate=signDate" disabled/></input>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="basic_information_scale fl" style="position: relative;">
                        <span class="mesColor teaR">投保单号</span>
                        <input type="text" ng-model="proposal.prpTmainDto.proposalNo" disabled/></input>
                        <i class="cur relativeBtn" style="color:#00A1CB" ng-if="!hideRelativeBtn&&proposalQueryHide" ng-click="relativeMessage(proposal.prpTmainDto.proposalNo)">关联</i>
                    </div>
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">保单号</span>
                        <input type="text" ng-model="proposal.prpTmainDto.policyNo" disabled/>
                    </div>
                </li>
               <!--批单新加字段-->
                <li class="clearfix" ng-show="showEndrose.index=='1'">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">批单号</span>
                        <input type="text"  ng-attr-title="{{proposal.prpPheadDto.endorseNo}}" ng-model="proposal.prpPheadDto.endorseNo" disabled/></input>
                    </div>
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">生效日期</span>
                        <input type="text" ng-model="proposal.prpPheadDto.validDate" jedate class="date-input date "
                               format="YYYY-MM-DD"
                               ng-init="proposal.prpPheadDto.validDate=signDate" disabled/></input>
                    </div>
                </li>
                <li class="clearfix" ng-show="showEndrose.index=='1'">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">批改方式</span>
                        <input type="text" ng-model="proposal.prpPheadDto.endorType" disabled/></input>
                    </div>
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">批改方式原因</span>
                        <input ng-model="proposal.prpPheadDto.endorseType" type="hidden" disabled/>
                        <button class="particulars" ng-click="configPrintSet2()"><a  style="font-size: 14px ;color: white ">查看</a></button>
                        <div class="printLayerBox" ng-show="consoleShow">
                            <div class="mask zIndex"></div>
                            <div class="tip_success_info clause1_manage" style="height:auto;position: fixed; top:30%;left:50%;margin-left:-40%;background: #fff;width:80%;">
                                <!--批改方式原因详情样式-->
                                <div class="clause_header">
                                    <span>批改方式原因</span>
                                    <i class="icon iconfont plusAndReduce" ng-click="configPrintSet2()">&#xe632;</i>
                                </div>
                                <div class="clause2_manage" style="width: 90%;margin:0 auto;">
                                    <textarea style="width: 100%;height: 200px;overflow-y: auto"   ng-disabled="disabledContent" ng-bind="proposal.prpPheadDto.endorseMessage" class="clause2_manage"></textarea>
                                </div>
                                <div class="clause_td">
                                    <label ng-click="configPrintSet2()">取消</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
               <!--新加字段结束-->
                <li class="clearfix">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">操作人</span>
                        <input ng-model="proposal.prpTmainDto.operatorName" type="text" disabled/>
                    </div>
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">操作日期</span>
            <input ng-model="proposal.prpTmainDto.inputDate" type="text" disabled
                   ng-init="proposal.prpTmainDto.inputDate=signDate"/>
                        <input type="hidden" ng-model="proposal.prpTmainDto.InputHour" description="操作小时">
                    </div>
                </li>
                <li class="clearfix">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">最近修改人</span>
                        <input ng-model="proposal.prpTmainDto.updaterName" type="text" disabled/>
                    </div>
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">最近修改日期</span>
            <input ng-model="proposal.prpTmainDto.updateDate" type="text" disabled
                   ng-init="proposal.prpTmainDto.updateDate=signDate"/>
                        <input type="hidden" ng-model="proposal.prpTmainDto.UpdateHour" description="最近修改小时">
                    </div>
                </li>
                <li class="clearfix">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">司法管辖</span>
                        <div class="codeType codeTypeDetail">
                            <code-type base-code="JudicalScope"
                                       ng-model="proposal.prpTmainDto.judicalScope" ng-disabled="proposalQueryHide" ng-init="proposal.prpTmainDto.judicalScope='1'"
                                       history></code-type>
                        </div>
                    </div>
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">合同争议解决方法</span>
                        <div class="codeType codeTypeDetail">
                            <code-type base-code="ContractType"
                                       ng-model="proposal.prpTmainDto.contractType" ng-disabled="proposalQueryHide" ng-init="proposal.prpTmainDto.contractType='1'"
                                       history></code-type>
                        </div>
                    </div>

                    <!--<div class="basic_information_scale1 fl">-->
                        <!--<span class="mesColor teaR">合同争议解决方式</span>-->
                        <!--<select history ng-model="proposal.prpTmainDto.ContractType"-->
                                <!--ng-init="proposal.prpTmainDto.businessNature=0" ng-disabled="">-->
                            <!--<option value="0">诉讼</option>-->
                        <!--</select>-->
                    <!--</div>-->

                </li>
                <li class="clearfix">
                    <div class="basic_information_scale messageFa fl">
                        <span class="mesColor teaR message" style="float: left;position: relative;right:-15px;">出单员意见</span>
                        <textarea  ng-disabled="proposalQueryHide"  ng-model="proposal.prpTmainDto.reMark" history style="color: #93A2B2;position: relative;left:14px;" maxlength="255" ng-blur="checkLength1(255)" ></textarea>
                    </div>
                </li>

            <ul ng-show="!queryHide0" class="basic_information_third" style="margin-bottom: 20px;">
                <li class="clearfix" style="margin-bottom: 10px;" >
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">语种</span>
                        <input ng-model="proposal.prpTmainDto.language" type="text" disabled/>
                    </div>
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">保单种类</span>
                        <input ng-model="proposal.prpTmainDto.policySort" type="text" disabled/>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">核保通过日期</span>
                        <input ng-model="proposal.prpTmainDto.underwriteEndDate" type="text" disabled/>
                    </div>
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">核保人</span>
                        <input ng-model="proposal.prpTmainDto.underwriteName" type="text" disabled/>
                    </div>
                </li>
                <!--新加字段开始-->
                <li class="clearfix" ng-show="showEndrose.index=='1'">
                    <div class="basic_information_scale fl">
                        <span class="mesColor teaR">批改日期</span>
                        <input type="text" ng-model="proposal.prpPheadDto.endorDate" jedate class="date-input date "
                               format="YYYY-MM-DD" ng-init="proposal.prpPheadDto.endorDate=signDate" disabled/></input>
                    </div>
                </li>
                <!--新加字段结束-->
            </ul>
            <li class="clearfix"  ng-show="languagePolicySort" style="margin-bottom: 10px;">
                <div class="basic_information_scale fl">
                    <span class="mesColor teaR">语种</span>
                    <input ng-model="proposal.prpTmainDto.language" type="text" disabled/>
                </div>
                <div class="basic_information_scale fl">
                    <span class="mesColor teaR">保单种类</span>
                    <input ng-model="proposal.prpTmainDto.policySort" type="text" disabled/>
                </div>
            </li>
        </div>
        <div class="information_right_warn" style="line-height: 104px;"><p ng-show="!isHide">基本信息</p></div>
    </div>
</div>
<!--关联信息-->
<div class="all_payment layer-model" ng-show="showRelativeMessage">
    <div class="large-layer-content relationListNo_layer" style="top:24% !important;">
        <div class="all_payment_head layer-header">
            <span>关联信息</span>
            <i class="icon iconfont" ng-click="showRelative()">&#xe62f;</i>
        </div>
        <div class="queryResult relativeMessage">
            <div class="clearfix">
                <ul>
                    <li>
                        <span>投保单:</span>
                        <a href="javascript:;" class="cur">
                            <i ng-click="goProposalNoDetail(relationPrposalNo)">{{relationPrposalNo}}</i>
                        </a>
                    </li>
                    <li>
                        <span>批单:</span>
                        <a href="javascript:;" class="cur pidan">
                            <i  ng-repeat="info in prpPheadDtoList track by $index" ng-click="goPrpheadDetail(info.endorseNo)">{{info.endorseNo}}</i>
                        </a>
                    </li>
                    <li>
                        <span>报案:</span>
                        <a href="javascript:;" class="cur pidan">
                            <i ng-repeat="info in prpLRegistDtoList" ng-click="goRegistDetail(info)">{{info.registNo}}</i>
                         </a>
                    </li>
                    <li>
                        <span>预赔:</span>
                        <a href="javascript:;" class="cur pidan">
                            <i  ng-repeat="info in prpLPrepayDtoList" ng-click="goPreCompensateDetail(info)">{{info.preCompensateNo}}</i>
                         </a>
                    </li>
                </ul>
                <ul>
                    <li style="height: 24px;">
                        <span>保单:</span>
                        <a href="javascript:" class="cur" ng-click="goPolicyNoDetail(relationPolicyNo)" >{{relationPolicyNo}}</a>
                    </li>
                    <li>
                        <span>再保:</span>
                        <a href="javascript:;" class="cur pidan">{{relationRepolicyNo}}</a>
                    </li>
                    <li>
                        <span>立案:</span>
                        <a href="javascript:;" class="cur pidan">
                            <i ng-repeat="info in prpLclaimDtoList" ng-click="goClaimDetail(info)">{{info.claimNo}}</i>
                         </a>
                    </li>
                    <li>
                        <span>实赔:</span>
                        <a href="javascript:;" class="cur pidan" >
                            <i ng-repeat="info in prpLCompensateDtoList" ng-click="goCompensateDetail(info)">{{info.compensateNo}}</i>
                         </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
