<!-- 公用头部 -->
<div class="main">
<div class="content_div section commentWidth">
    <div class="position">
        <span class="ml10">当前位置：</span>
        <span class="local-fir">凭证短信发送 > </span>
        <span class="local-sec">短信发送查询</span>
    </div>
    <div class="queryCriteria">
        <span class="queryCriteria_title">
            <label>查询条件</label>
            <span class="click_img" ng-click="addFrom()">
                <img ng-src="{{SRC}}" alt=""/>
            </span>
        </span>
        <div class="condition_table" id="pt4">
            <ul class="clearfix">
                <li class="condition_td teaR fl">
                    <label>保单号码</label>
                    <div>
                        <input type="text" ng-model="smsConditionDto.policyNo" class="" maxlength="40" ng-change="policyNoChang(smsConditionDto.policyNo)"
                               ng-keypress="pressDecimal($event)" ng-blur="checkpolicyNo($event,smsConditionDto.policyNo)"  ng-class="{'checkOutBdRed':check.policyNo}">
                        <s ng-bind="check.policyNo"></s>
                    </div>
                </li>
                <li class="condition_td teaC fl">
                    <label>手机号</label>
                    <div>
                        <input type="text" ng-model="smsConditionDto.phoneNo" maxlength="40" ng-blur="checkphoneNo($event,smsConditionDto.phoneNo)"  ng-class="{'checkOutBdRed':check.phoneNo}" class="">
                        <s ng-bind="check.phoneNo"></s>
                    </div>
                </li>
                <li class="condition_td teaL fl">
                    <label>投保人名称</label>
                    <div>
                        <input type="text" ng-model="smsConditionDto.appName" maxlength="40" ng-blur="checkappName($event,smsConditionDto.appName)" ng-class="{'checkOutBdRed':check.appName}" class="">
                        <s ng-bind="check.appName"></s>
                    </div>
                </li>
                <li class="condition_td teaR fl">
                    <label>投保人代码</label>
                    <div>
                        <input type="text" ng-model="smsConditionDto.appCode" maxlength="40" ng-blur="checkappCode($event,smsConditionDto.appCode)" ng-class="{'checkOutBdRed':check.appCode}" class="">
                        <s ng-bind="check.appCode"></s>
                    </div>
                </li>
                <li class="condition_td teaC fl">
                    <label>被保险人名称</label>
                    <div>
                        <input type="text" ng-model="smsConditionDto.insuredName" maxlength="40" ng-blur="checkinsuredName($event,smsConditionDto.insuredName)" ng-class="{'checkOutBdRed':check.insuredName}" class="">
                        <s ng-bind="check.insuredName"></s>
                    </div>
                </li>
                <li class="condition_td teaL fl">
                    <label>被保险人代码</label>
                    <div>
                        <input type="text" ng-model="smsConditionDto.insuredCode" maxlength="40" ng-blur="checkinsuredCode($event,smsConditionDto.insuredCode)" ng-class="{'checkOutBdRed':check.insuredCode}" class="">
                        <s ng-bind="check.insuredCode"></s>
                    </div>
                </li>
                <li ng-show="sendMessageShow">
                    <ul class="clearfix">
                        <li class="condition_td teaR fl">
                            <label>起保日期</label>
                            <!--<input type="text" id="DataStart2" jedate-->
                            <!--class="date-input proposal_date" ng-model="smsConditionDto.startDateStart"-->
                            <!--format="YYYY-MM-DD" required readonly/>-->
                            <div class="data-box">
                                <input type="text" readonly style="width:48%;" id="startDate" jedate ng-change="compareDate11(smsConditionDto.startDateStart,smsConditionDto.startDateEnd);" ng-model="smsConditionDto.startDateStart" class="date-input date"  format="YYYY-MM-DD"/>
                                <i class="fl">-</i>
                                <input type="text" readonly style="width:48%;" id="startDateEnd"jedate ng-change="compareDate1(smsConditionDto.startDateStart,smsConditionDto.startDateEnd);" ng-model="smsConditionDto.startDateEnd" class="date-input date" format="YYYY-MM-DD"/>
                            </div>
                        </li>
                        <li class="condition_td teaC fl">
                            <label>终保日期</label>
                            <!--<input type="text" id="DataStart3" jedate-->
                            <!--class="date-input proposal_date" ng-model="smsConditionDto.startDateEnd"-->
                            <!--format="YYYY-MM-DD" required readonly ng-change="compareDate(smsConditionDto.startDateStart,smsConditionDto.startDateEnd)"/>-->
                            <div class="data-box">
                                <input type="text" readonly style="width:48%;" class="date-input date" jedate id="endDate" ng-model="smsConditionDto.endDateStart" ng-change="compareDate33(smsConditionDto.endDateStart,smsConditionDto.endDateEnd);" format="YYYY-MM-DD"/><!-- ng-init="smsConditionDto.endDateStart=time.year+1+'-'+time.month+'-01'"  -->
                                <i class="fl">-</i>
                                <input type="text" readonly style="width:48%;" jedate ng-change="compareDate3(smsConditionDto.endDateStart,smsConditionDto.endDateEnd);" class="date-input date" id="endStartDate" ng-model="smsConditionDto.endDateEnd" format="YYYY-MM-DD"/><!-- ng-init="smsConditionDto.endDateEnd=time.year+1+'-'+time.month+'-'+time.date"  format="YYYY-MM-DD"-->
                            </div>
                        </li>
                        <!--<li class="condition_td teaL fl">
                            <label>出单机构</label>
                            <div>
                                <input type="text" ng-model="smsConditionDto.makeCom" maxlength="40" ng-blur="checkmakeCom($event,smsConditionDto.makeCom)" ng-class="{'checkOutBdRed':check.makeCom}">
                                <s ng-bind="check.makeCom"></s>
                            </div>
                        </li>-->
                        <li class="condition_td teaL fl">
                            <label>出单机构</label>
                            <div class="codeType codeNoBor"  >
                                <ui-select history ng-model="smsConditionDto.makeCom"
                                           ng-click="getComCodeList()"
                                >
                                    <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.comCName}}">
                                        {{$select.selected.comCName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.comCode as code in selectListData.comCodeList | filter: $select.search">
                                        <span ng-bind="code.comCName" ng-attr-title="{{code.comCName}}"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="btn_tr clearfix">
                <span class="fl" ng-click="submit();changecolor()">查询</span>
                <span class="fr" ng-click="reset()">重置</span>
            </div>
        </div>
    </div>
    <div class="queryResult">
        <div class="queryResult_title clearfix">
            <span class="fl">查询结果</span>
        </div>
        <table>
            <tr class="tr_top">
                <td class="w8">序号</td>
                <td class="w8">手机号</td>
                <td class="w8">发送时间</td>
                <td class="w8">收件人</td>
                <td class="w8">状态</td>
                <td class="w8">险种</td>
                <td class="w8">投保人</td>
                <td class="w8">操作</td>
            </tr>
            <tr class="tr_content F2F2F2" ng-repeat="info in list track by $index">
                <td>{{$index+1}}</td>
                <td ng-bind="info.phoneNo"></td>
                <td ng-bind="info.sendTime"></td>
                <td ng-bind="info.appName"></td>

                <td ng-if="info.distributed == '0'" style="color: #ff0000">发送失败</td>
                <td ng-if="info.distributed == '1'" style="color: #333">未发送</td>
                <td ng-if="info.distributed == '2'" style="color: #333">正在发送</td>
                <td ng-if="info.distributed == '3'" style="color: #333">发送成功</td>

                <td ng-bind="info.kindName"></td>
                <td ng-bind="info.appName"></td>
                <td>
                    <img class="cur" ng-if="info.distributed == '0'" src="common/images/chenpeng/resend.png"
                         ng-click="sendsuccess(info)" title="重新发送" alt="重新发送">
                    <img class="cur" ng-if="info.distributed == '3'" src="common/images/chenpeng/view.png"
                         ng-disabled="coinsuranceCount"
                         ng-click="coinsurance(info)" title="查看" alt="查看">
                    <img class="cur" ng-if="info.distributed == '0'" src="common/images/chenpeng/view.png"
                         ng-disabled="coinsuranceCount"
                         ng-click="coinsurance(info)" title="查看" alt="查看">
                </td>
            </tr>
        </table>
        <div ng-show="isEmptyObject(list)||list.length==0" ng-class="{'not-query':isEmptyObject(list),'query-null':list.length==0}" class="not-query"></div>
        <!--<div ng-show="messageAgentShow">-->
        <!--<table>-->
        <!--<td class="tr_top">-->
        <!--<td class="w10"></td>-->
        <!--<td class="w8">发送内容：</td>-->
        <!--<td style="border:1px solid #999;padding:3px;">-->
        <!--{{content}}-->
        <!--</td>-->
        <!--</tr>-->
        <!--</table>-->
        <!--</div>-->
        <div class="index_page">
            <tm-pagination conf="paginationConfmm"></tm-pagination>
        </div>
    </div>
</div>


<div class="printLayerBox" ng-show="messageDetailsShow">
    <!--控制弹层-->
    <div class="mask zIndex"></div>
    <div class="tip_success_info clause_manage" style="top:26%;height:300px;position: fixed;left:50%;margin-left:-500px;">
        <div class="clause_header">
            <span>短信详情</span>
            <i class="icon iconfont plusAndReduce" ng-click="closeMessageDetailsShow()">&#xe632;</i>
        </div>
        <table>
            <tr class="tr_top">
                <td class="w8">手机号</td>
                <td class="w8">发送时间</td>
                <td class="w8">收件人</td>
                <td class="w8">状态</td>
                <td class="w8">险种</td>
                <td class="w8">投保人</td>
            </tr>
            <tr class="tr_content F2F2F2" >
                <td > {{content.phoneNo}}</td>
                <td >{{content.sendTime}}</td>
                <td >{{content.appName}}</td>

                <td ng-if="content.distributed == '0'" style="color: #ff0000">发送失败</td>
                <td ng-if="content.distributed == '1'" style="color: #333">未发送</td>
                <td ng-if="content.distributed == '2'" style="color: #333">正在发送</td>
                <td ng-if="content.distributed == '3'" style="color: #333">发送成功</td>

                <td ng-bind="content.kindName"></td>
                <td ng-bind="content.appName"></td>

            </tr>
        </table>
        <table>
            <td class="tr_top">
            <td class="w10"></td>
            <td class="w8">发送内容：</td>
            <td style="border:1px solid #999;padding:3px;">
                {{content.content}}
            </td>
            </tr>
        </table>


    </div>


</div>
</div>