<!--
****************************************************************************
* DESC       ：国元农险理赔结案任务查询页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/28
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
            zhaowenjie     2017.12.6
****************************************************************************
-->
<div class="section">

  <div class="view-record">
    <span ng-click="showCompensateComm()">理赔沟通</span>
  </div>
  <div class="content_div content1-div">
    <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>结案登记</label>
                    <div class="cur fr">
                       <!-- <i class="iconfont click_img">&#xe667;</i>
                        <i class="iconfont click_img hide">&#xe668;</i>-->
                    </div>
                </span>
      <div class="condition_table">
        <ul class="clearfix half-ul">
          <li class="condition_td fl half-li">
            <label>险种名称</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.riskName" ng-disabled="true" type="text" class="grey"  />

            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>立案号</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.claimNo" ng-disabled="true" maxlength="19" type="text" class="grey"   />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>保单号码</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.policyNo" ng-attr-title="{{PrpLClaimEndCaseDto.policyNo}}" style="width: 65%"
                     ng-disabled="true" type="text" class="danger_short grey"  />
              <span class='fl danger_btn' ng-click="showRelateInfo()">关联</span>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>报案号</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.registNo" maxlength="19" ng-disabled="true" type="text" class="grey"  />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>理赔类型</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.lFlag"  ng-required="true" class="grey" ng-disabled="seeFlag" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>语种</label>
            <div class="half-div">
              <input  ng-model="PrpLClaimEndCaseDto.language"
                       ng-required="true"
                       class="grey"
                       ng-disabled="seeFlag"/>

            </div>
          </li>
        </ul>
        <ul class="clearfix half-ul">
          <li class="condition_td fl half-li">
            <label>被保险人名称</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.insuredName" ng-disabled="true" type="text" class="grey"   />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>投保人名称</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.appliName" ng-disabled="true" type="text" class="grey"   />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>保险期间</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.startDate" ng-disabled="true" type="text" class="grey"  />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>币别</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.currency" ng-disabled="true" type="text" class="grey"   />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>保险金额</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.sumAmount"  ng-required="true" class="grey"  ng-disabled="seeFlag"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>受损标的</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.lossName"  ng-required="true" class="grey"  ng-disabled="seeFlag" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>出险时间</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.damageStartDate" ng-disabled="true" type="text" class="grey"   />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>出险地点</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.damageAddress" ng-disabled="true" type="text" class="grey"  />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>出险原因</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.damageName" ng-disabled="true" type="text" class="grey"  />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>立案日期</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.claimDate" ng-disabled="true" type="text" class="grey"  />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>估损金额</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.sumClaim"  ng-required="true" class="grey"  ng-disabled="seeFlag"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>赔付金额</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.sumPaid"  ng-required="true" class="grey"  ng-disabled="seeFlag" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>保单业务归属部门</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.comName" ng-disabled="true" type="text" class="grey"   />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>归属业务员</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.handler1Name" ng-disabled="true" type="text" class="grey"   />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>理赔部门</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.makeComName"  ng-required="true" class="grey"  ng-disabled="seeFlag" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>操作员</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.operatorName"  ng-required="true" class="grey"  ng-disabled="seeFlag" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>输单日期</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.inputDate" ng-disabled="true" type="text" class="grey"  />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>结案日期</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.endCaseDate" ng-disabled="true" type="text" class="grey"  />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>结案员</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.endCaserName" ng-disabled="true" type="text" class="grey"  />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>注销日期</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.cancelDate" ng-disabled="true" type="text" class="grey" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>注册人</label>
            <div class="half-div">
              <input ng-model="PrpLClaimEndCaseDto.dealerName"  ng-required="true" class="grey"  ng-disabled="seeFlag" />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="queryDanger">
                <span class="queryCriteria_title">
                    <label>结案报告</label>
                </span>
      <div class="input-content-box">
        <textarea ng-model="PrpLClaimEndCaseDto.context" ng-disabled="!showFlag" rows="5"></textarea>
      </div>
    </div>
    <div class="btn_tr clearfix mt20">
      <span class="btn"  ng-disabled="flag" ng-click="submitEndCase()" ng-if="showFlag">提交</span>
      <span class="btn" ng-if="showFlag" ng-click="giveUp()">放弃任务</span>
      <span class="btn" onclick="javascript:history.back(-1);">取消</span>
    </div>
  </div>
</div>

<!-- 关联弹层-->
<!--<div ui-view="connect"></div>-->
<div class="orderlayerBox" style="max-height:700px " ng-show="relateInfo">
  <div class="mask zIndex"></div>
  <div class="tip_success_info printLayer orderIntLayer">
    <div class="remove_header">
      <span>保单信息</span>
      <i class="icon iconfont" ng-click="closeRelative()">&#xe632;</i>
    </div>
    <div class="info_container">
      <div >
        <!--<div class="remove_header">-->
        <!--<span>保单信息</span>-->
        <!--</div>-->
        <div class="condition_table">
          <ul class="clearfix">
            <li class="condition_td fl long-li">
              <label>保单号</label>
              <input type="text" style="width: 37%" ng-model="relateInfoDto.prpCmainDto.policyNo" disabled="disabled">
              <span class='fl danger_btn' ng-click="policyShow(PrpLClaimEndCaseDto.policyNo)">出险时保单信息</span>
            </li>
            <li class="condition_td fl long-li">
              <label>保险期限</label>
              <!--<input type="text" ng-model="relateInfoDto.prpCmainDto.insuredName"  maxlength="19" disabled="disabled">-->
              <div class="data-box">
                <input type="text" id="startDate" style="width: 30%" class="date-long-input fl date" ng-model="relateInfoDto.prpCmainDto.startDate" jedate format="YYYY-MM-DD" ng-disabled="true"/>
                <span class='fl long-span'>零时起至</span>
                <input type="text" id="endDate" style="width: 30%" class="date-long-input fl date" ng-model="relateInfoDto.prpCmainDto.endDate" jedate format="YYYY-MM-DD" ng-disabled="true"/>
                <span class='fl'>二十四时止</span>
              </div>
            </li>
            <li class="condition_td fl long-li">
              <label>被保险人名称</label><input type="text" style="width: 37%" ng-model="relateInfoDto.prpCmainDto.insuredName"  disabled="disabled">
            </li>
          </ul>
        </div>
      </div>
      <div class="queryCriteria" style="border-top: none;width: 100%;">
        <div class="remove_header">
          <span>批单信息</span>
        </div>
        <table class="condition_table" style="margin-top: 0px">
          <tr class="tr_top">
            <td class="w8">序号</td>
            <td class="w8">批单号码</td>
            <td class="w8">核批完成日期</td>
          </tr>
          <tr class="tr_content F2F2F2" ng-repeat="result in relateInfoDto.prpPheadDtoList">
            <td ng-bind="$index+1"></td>
            <td ng-bind="result.endorseNo" ></td>
            <td ng-bind="result.underwriteEndDate"></td>
          </tr>
        </table>
      </div>
      <div class="queryCriteria" style="border-top: none;width: 100%;">
        <div class="remove_header">
          <span>理赔信息</span>
        </div>
        <table class="condition_table" style="margin-top: 0px">
          <thead>
          <tr class="tr_top">
            <td class="w8">序号</td>
            <td class="w8">报案号</td>
            <td class="w8">出险时间</td>
            <td class="w8">赔付金额</td>
            <td class="w8">流程图</td>
          </tr>
          </thead>
          <tbody  style="height: 100px;overflow-y: scroll;">
          <tr class="tr_content F2F2F2" ng-repeat="result in relateInfoDto.prpLregistDtoList">
            <td ng-bind="$index+1"></td>
            <td ng-bind="result.registNo" ></td>
            <td ng-bind="result.damageStartDate"></td>
            <td ng-bind="result.estimateLoss"></td>
            <td class="local-sec" ng-click="showFlow(result)">查看</td>
          </tr>
          </tbody >
        </table>
      </div>
    </div>
  </div>
</div>
