<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.pms.core.productrule.dao.UtiFactorMapper" >
  <resultMap id="BaseResultMap" type="UtiFactor" >
		<result column="RiskCode" property="riskCode" jdbcType="VARCHAR" ></result>
		<result column="FactorCode" property="factorCode" jdbcType="VARCHAR" ></result>
		<result column="ClauseCode" property="clauseCode" jdbcType="VARCHAR" ></result>
		<result column="KindCode" property="kindCode" jdbcType="VARCHAR" ></result>
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" ></result>
		<result column="FactorName" property="factorName" jdbcType="VARCHAR" ></result>
		<result column="Scope" property="scope" jdbcType="VARCHAR" ></result>
		<result column="FactorType" property="factorType" jdbcType="VARCHAR" ></result>
		<result column="ControlType" property="controlType" jdbcType="VARCHAR" ></result>
		<result column="ShortRateCalcFlag" property="shortRateCalcFlag" jdbcType="VARCHAR" ></result>
		<result column="FromTable" property="fromTable" jdbcType="VARCHAR" ></result>
		<result column="FromColumn" property="fromColumn" jdbcType="VARCHAR" ></result>
		<result column="CodeType" property="codeType" jdbcType="VARCHAR" ></result>
		<result column="Message" property="message" jdbcType="VARCHAR" ></result>
		<result column="FactorSourceType" property="factorSourceType" jdbcType="VARCHAR" ></result>
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" ></result>
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" ></result>
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" ></result>
		<result column="ValidDate" property="validDate" jdbcType="DATE" ></result>
		<result column="InvalidDate" property="invalidDate" jdbcType="DATE" ></result>
		<result column="Remark" property="remark" jdbcType="VARCHAR" ></result>
		<result column="Flag" property="flag" jdbcType="VARCHAR" ></result>
		<result column="InsertTimeForHis" property="insertTimeForHis" jdbcType="DATE" ></result>
		<result column="OperateTimeForHis" property="operateTimeForHis" jdbcType="DATE" ></result>
		<result column="RiskCode" property="riskCode" jdbcType="VARCHAR" ></result>
		<result column="FactorCode" property="factorCode" jdbcType="VARCHAR" ></result>
		<result column="ClauseCode" property="clauseCode" jdbcType="VARCHAR" ></result>
		<result column="KindCode" property="kindCode" jdbcType="VARCHAR" ></result>
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" ></result>
		<result column="FactorName" property="factorName" jdbcType="VARCHAR" ></result>
		<result column="Scope" property="scope" jdbcType="VARCHAR" ></result>
		<result column="FactorType" property="factorType" jdbcType="VARCHAR" ></result>
		<result column="ControlType" property="controlType" jdbcType="VARCHAR" ></result>
		<result column="ShortRateCalcFlag" property="shortRateCalcFlag" jdbcType="VARCHAR" ></result>
		<result column="FromTable" property="fromTable" jdbcType="VARCHAR" ></result>
		<result column="FromColumn" property="fromColumn" jdbcType="VARCHAR" ></result>
		<result column="CodeType" property="codeType" jdbcType="VARCHAR" ></result>
		<result column="Message" property="message" jdbcType="VARCHAR" ></result>
		<result column="FactorSourceType" property="factorSourceType" jdbcType="VARCHAR" ></result>
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" ></result>
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" ></result>
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" ></result>
		<result column="ValidDate" property="validDate" jdbcType="DATE" ></result>
		<result column="InvalidDate" property="invalidDate" jdbcType="DATE" ></result>
		<result column="Remark" property="remark" jdbcType="VARCHAR" ></result>
		<result column="Flag" property="flag" jdbcType="VARCHAR" ></result>
		<result column="InsertTimeForHis" property="insertTimeForHis" jdbcType="DATE" ></result>
		<result column="OperateTimeForHis" property="operateTimeForHis" jdbcType="DATE" ></result>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  riskCode,factorCode,clauseCode,kindCode,comCode,factorName,scope,factorType,controlType,shortRateCalcFlag,fromTable,fromColumn,codeType,message,factorSourceType,creatorCode,updaterCode,validStatus,validDate,invalidDate,remark,flag,insertTimeForHis,operateTimeForHis
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="UtiFactorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" ></include>
    from UtiFactor 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" ></include>
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="UtiFactorKey" >
    select 
    <include refid="Base_Column_List" ></include>
    from UtiFactor 
    where 
	 RiskCode = #{riskCode,jdbcType=VARCHAR} and  FactorCode = #{factorCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="UtiFactorKey" >
    delete from UtiFactor 
    where 
		 RiskCode = #{riskCode,jdbcType=VARCHAR} and  FactorCode = #{factorCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="UtiFactor" >
    insert into UtiFactor  (RiskCode,FactorCode,ClauseCode,KindCode,ComCode,FactorName,Scope,FactorType,ControlType,ShortRateCalcFlag,FromTable,FromColumn,CodeType,Message,FactorSourceType,CreatorCode,UpdaterCode,ValidStatus,ValidDate,InvalidDate,Remark,Flag,InsertTimeForHis,OperateTimeForHis)
    values (#{riskCode,jdbcType=VARCHAR},#{factorCode,jdbcType=VARCHAR},#{clauseCode,jdbcType=VARCHAR},#{kindCode,jdbcType=VARCHAR},#{comCode,jdbcType=VARCHAR},#{factorName,jdbcType=VARCHAR},#{scope,jdbcType=VARCHAR},#{factorType,jdbcType=VARCHAR},#{controlType,jdbcType=VARCHAR},#{shortRateCalcFlag,jdbcType=VARCHAR},#{fromTable,jdbcType=VARCHAR},#{fromColumn,jdbcType=VARCHAR},#{codeType,jdbcType=VARCHAR},#{message,jdbcType=VARCHAR},#{factorSourceType,jdbcType=VARCHAR},#{creatorCode,jdbcType=VARCHAR},#{updaterCode,jdbcType=VARCHAR},#{validStatus,jdbcType=VARCHAR},#{validDate,jdbcType=DATE},#{invalidDate,jdbcType=DATE},#{remark,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},#{insertTimeForHis,jdbcType=DATE},#{operateTimeForHis,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="UtiFactor" >
    insert into UtiFactor
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="riskCode != null" >
        RiskCode,
		</if>
<if test="factorCode != null" >
        FactorCode,
		</if>
<if test="clauseCode != null" >
        ClauseCode,
		</if>
<if test="kindCode != null" >
        KindCode,
		</if>
<if test="comCode != null" >
        ComCode,
		</if>
<if test="factorName != null" >
        FactorName,
		</if>
<if test="scope != null" >
        Scope,
		</if>
<if test="factorType != null" >
        FactorType,
		</if>
<if test="controlType != null" >
        ControlType,
		</if>
<if test="shortRateCalcFlag != null" >
        ShortRateCalcFlag,
		</if>
<if test="fromTable != null" >
        FromTable,
		</if>
<if test="fromColumn != null" >
        FromColumn,
		</if>
<if test="codeType != null" >
        CodeType,
		</if>
<if test="message != null" >
        Message,
		</if>
<if test="factorSourceType != null" >
        FactorSourceType,
		</if>
<if test="creatorCode != null" >
        CreatorCode,
		</if>
<if test="updaterCode != null" >
        UpdaterCode,
		</if>
<if test="validStatus != null" >
        ValidStatus,
		</if>
<if test="validDate != null" >
        ValidDate,
		</if>
<if test="invalidDate != null" >
        InvalidDate,
		</if>
<if test="remark != null" >
        Remark,
		</if>
<if test="flag != null" >
        Flag,
		</if>
<if test="insertTimeForHis != null" >
        InsertTimeForHis,
		</if>
<if test="operateTimeForHis != null" >
        OperateTimeForHis
		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="riskCode != null" >
        RiskCode,jdbcType=VARCHAR,
		</if>
		<if test="factorCode != null" >
        FactorCode,jdbcType=VARCHAR,
		</if>
		<if test="clauseCode != null" >
        ClauseCode,jdbcType=VARCHAR,
		</if>
		<if test="kindCode != null" >
        KindCode,jdbcType=VARCHAR,
		</if>
		<if test="comCode != null" >
        ComCode,jdbcType=VARCHAR,
		</if>
		<if test="factorName != null" >
        FactorName,jdbcType=VARCHAR,
		</if>
		<if test="scope != null" >
        Scope,jdbcType=VARCHAR,
		</if>
		<if test="factorType != null" >
        FactorType,jdbcType=VARCHAR,
		</if>
		<if test="controlType != null" >
        ControlType,jdbcType=VARCHAR,
		</if>
		<if test="shortRateCalcFlag != null" >
        ShortRateCalcFlag,jdbcType=VARCHAR,
		</if>
		<if test="fromTable != null" >
        FromTable,jdbcType=VARCHAR,
		</if>
		<if test="fromColumn != null" >
        FromColumn,jdbcType=VARCHAR,
		</if>
		<if test="codeType != null" >
        CodeType,jdbcType=VARCHAR,
		</if>
		<if test="message != null" >
        Message,jdbcType=VARCHAR,
		</if>
		<if test="factorSourceType != null" >
        FactorSourceType,jdbcType=VARCHAR,
		</if>
		<if test="creatorCode != null" >
        CreatorCode,jdbcType=VARCHAR,
		</if>
		<if test="updaterCode != null" >
        UpdaterCode,jdbcType=VARCHAR,
		</if>
		<if test="validStatus != null" >
        ValidStatus,jdbcType=VARCHAR,
		</if>
		<if test="validDate != null" >
        ValidDate,jdbcType=DATE,
		</if>
		<if test="invalidDate != null" >
        InvalidDate,jdbcType=DATE,
		</if>
		<if test="remark != null" >
        Remark,jdbcType=VARCHAR,
		</if>
		<if test="flag != null" >
        Flag,jdbcType=VARCHAR,
		</if>
		<if test="insertTimeForHis != null" >
        InsertTimeForHis,jdbcType=DATE,
		</if>
		<if test="operateTimeForHis != null" >
        OperateTimeForHis,jdbcType=DATE
		</if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="UtiFactor" >
    update UtiFactor set
    <set >
		

<if test="clauseCode  != null" >      
        ClauseCode = #{clauseCode ,jdbcType=VARCHAR} , </if>
<if test="kindCode  != null" >      
        KindCode = #{kindCode ,jdbcType=VARCHAR} , </if>
<if test="comCode  != null" >      
        ComCode = #{comCode ,jdbcType=VARCHAR} , </if>
<if test="factorName  != null" >      
        FactorName = #{factorName ,jdbcType=VARCHAR} , </if>
<if test="scope  != null" >      
        Scope = #{scope,jdbcType=VARCHAR} , </if>
<if test="factorType  != null" >      
        FactorType = #{factorType ,jdbcType=VARCHAR} , </if>
<if test="controlType  != null" >      
        ControlType = #{controlType ,jdbcType=VARCHAR} , </if>
<if test="shortRateCalcFlag  != null" >      
        ShortRateCalcFlag = #{shortRateCalcFlag ,jdbcType=VARCHAR} , </if>
<if test="fromTable  != null" >      
        FromTable = #{fromTable ,jdbcType=VARCHAR} , </if>
<if test="fromColumn  != null" >      
        FromColumn = #{fromColumn ,jdbcType=VARCHAR} , </if>
<if test="codeType  != null" >      
        CodeType = #{codeType ,jdbcType=VARCHAR} , </if>
<if test="message  != null" >      
        Message = #{message ,jdbcType=VARCHAR} , </if>
<if test="factorSourceType  != null" >      
        FactorSourceType = #{factorSourceType ,jdbcType=VARCHAR} , </if>
<if test="creatorCode  != null" >      
        CreatorCode = #{creatorCode ,jdbcType=VARCHAR} , </if>
<if test="updaterCode  != null" >      
        UpdaterCode = #{updaterCode ,jdbcType=VARCHAR} , </if>
<if test="validStatus  != null" >      
        ValidStatus = #{validStatus ,jdbcType=VARCHAR} , </if>
<if test="validDate  != null" >      
        ValidDate = #{validDate ,jdbcType=DATE} , </if>
<if test="invalidDate  != null" >      
        InvalidDate = #{invalidDate ,jdbcType=DATE} , </if>
<if test="remark  != null" >      
        Remark = #{remark ,jdbcType=VARCHAR} , </if>
<if test="flag  != null" >      
        Flag = #{flag ,jdbcType=VARCHAR} , </if>
<if test="insertTimeForHis  != null" >      
        InsertTimeForHis = #{insertTimeForHis ,jdbcType=DATE} , </if>
<if test="operateTimeForHis  != null" >      
        OperateTimeForHis = #{operateTimeForHis ,jdbcType=DATE} </if>
    </set>
    where 
		<if test="riskCode  != null" >
        RiskCode = #{riskCode ,jdbcType=VARCHAR} and 
      </if>	<if test="factorCode  != null" >
        FactorCode = #{factorCode ,jdbcType=VARCHAR}
      </if>		
  </update>
  <update id="updateByPrimaryKey" parameterType="UtiFactor" >
    update UtiFactor
    set 
				
		
<if test="clauseCode  != null" >ClauseCode = #{clauseCode ,jdbcType=VARCHAR}, </if>		
<if test="kindCode  != null" >KindCode = #{kindCode ,jdbcType=VARCHAR}, </if>		
<if test="comCode  != null" >ComCode = #{comCode ,jdbcType=VARCHAR}, </if>		
<if test="factorName  != null" >FactorName = #{factorName ,jdbcType=VARCHAR}, </if>		
<if test="scope  != null" >Scope = #{scope,jdbcType=VARCHAR}, </if>		
<if test="factorType  != null" >FactorType = #{factorType ,jdbcType=VARCHAR}, </if>		
<if test="controlType  != null" >ControlType = #{controlType ,jdbcType=VARCHAR}, </if>		
<if test="shortRateCalcFlag  != null" >ShortRateCalcFlag = #{shortRateCalcFlag ,jdbcType=VARCHAR}, </if>		
<if test="fromTable  != null" >FromTable = #{fromTable ,jdbcType=VARCHAR}, </if>		
<if test="fromColumn  != null" >FromColumn = #{fromColumn ,jdbcType=VARCHAR}, </if>		
<if test="codeType  != null" >CodeType = #{codeType ,jdbcType=VARCHAR}, </if>		
<if test="message  != null" >Message = #{message ,jdbcType=VARCHAR}, </if>		
<if test="factorSourceType  != null" >FactorSourceType = #{factorSourceType ,jdbcType=VARCHAR}, </if>		
<if test="creatorCode  != null" >CreatorCode = #{creatorCode ,jdbcType=VARCHAR}, </if>		
<if test="updaterCode  != null" >UpdaterCode = #{updaterCode ,jdbcType=VARCHAR}, </if>		
<if test="validStatus  != null" >ValidStatus = #{validStatus ,jdbcType=VARCHAR}, </if>		
<if test="validDate  != null" >ValidDate = #{validDate ,jdbcType=DATE}, </if>		
<if test="invalidDate  != null" >InvalidDate = #{invalidDate ,jdbcType=DATE}, </if>		
<if test="remark  != null" >Remark = #{remark ,jdbcType=VARCHAR}, </if>		
<if test="flag  != null" >Flag = #{flag ,jdbcType=VARCHAR}, </if>		
<if test="insertTimeForHis  != null" >InsertTimeForHis = #{insertTimeForHis ,jdbcType=DATE}, </if>		
<if test="operateTimeForHis  != null" >OperateTimeForHis = #{operateTimeForHis ,jdbcType=DATE}</if>		
    where 
			<if test="riskCode  != null" >
        RiskCode = #{riskCode ,jdbcType=VARCHAR} and 
      </if>	<if test="factorCode  != null" >
        FactorCode = #{factorCode ,jdbcType=VARCHAR}
      </if>	
  </update>


<resultMap id="selectPremiumFactorByCondtionResult" type="java.util.Map" >
	<result column="factorcode" property="factorCode" jdbcType="VARCHAR" ></result>
	<result column="factortype" property="factorType" jdbcType="VARCHAR" ></result>
	<result column="relatedfactorcodes" property="relatedFactorCodes" jdbcType="VARCHAR" ></result>
	<result column="fromcolumn" property="fromColumn" jdbcType="VARCHAR" ></result>
	<result column="factorsourcetype" property="factorSourceType" jdbcType="VARCHAR" ></result>
</resultMap>
<select id="selectPremiumFactorByCondtion" parameterType="java.util.Map" resultMap="selectPremiumFactorByCondtionResult" >
	select 
		distinct f.factorcode,
                f.factortype,
                s.relatedfactorcodes,
                f.fromcolumn,
                f.factorsourcetype
	  from utifactor f
	  left join utifactorrelaship s
	    on f.factorcode = s.factorcode
	   and f.riskcode = s.riskcode
	   and f.clausecode = s.clausecode
	   and f.kindcode = s.kindcode
	   and f.comcode = s.comcode
	 where f.validstatus = '1'
	   and (sysdate > f.validdate or f.validdate is null)
	   and (f.invaliddate > sysdate or f.invaliddate is null)
	   and (s.validstatus = '1' or s.factorcode is null)
	   and (sysdate > s.validdate or s.validdate is null)
	   and (s.invaliddate > sysdate or s.invaliddate is null) and
		F.RiskCode = #{riskCode,jdbcType=VARCHAR} and
		F.ClauseCode = #{clauseCode,jdbcType=VARCHAR} and
		F.KindCode = #{kindCode,jdbcType=VARCHAR} and
		F.ComCode = #{comCode,jdbcType=VARCHAR}
	 start with f.factorcode in (
		<foreach collection="factorCodeList" item="listItem" separator="," >
		#{listItem}
		</foreach>
	 )
	connect by instr(prior s.relatedfactorcodes, f.factorcode) > 0
</select>



</mapper>