<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.pms.core.productrule.dao.UtiFactorRelashipMapper" >
  <resultMap id="BaseResultMap" type="UtiFactorRelaship" >
		<result column="RiskCode" property="riskCode" jdbcType="VARCHAR" ></result>
		<result column="FactorCode" property="factorCode" jdbcType="VARCHAR" ></result>
		<result column="ClauseCode" property="clauseCode" jdbcType="VARCHAR" ></result>
		<result column="KindCode" property="kindCode" jdbcType="VARCHAR" ></result>
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" ></result>
		<result column="RelatedFactorCodes" property="relatedFactorCodes" jdbcType="VARCHAR" ></result>
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" ></result>
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" ></result>
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" ></result>
		<result column="ValidDate" property="validDate" jdbcType="DATE" ></result>
		<result column="InvalidDate" property="invalidDate" jdbcType="DATE" ></result>
		<result column="Remark" property="remark" jdbcType="VARCHAR" ></result>
		<result column="Flag" property="flag" jdbcType="VARCHAR" ></result>
		<result column="InsertTimeForHis" property="insertTimeForHis" jdbcType="DATE" ></result>
		<result column="OperateTimeForHis" property="operateTimeForHis" jdbcType="DATE" ></result>
		<result column="RiskCode" property="riskCode" jdbcType="VARCHAR" ></result>
		<result column="FactorCode" property="factorCode" jdbcType="VARCHAR" ></result>
		<result column="ClauseCode" property="clauseCode" jdbcType="VARCHAR" ></result>
		<result column="KindCode" property="kindCode" jdbcType="VARCHAR" ></result>
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" ></result>
		<result column="RelatedFactorCodes" property="relatedFactorCodes" jdbcType="VARCHAR" ></result>
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" ></result>
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" ></result>
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" ></result>
		<result column="ValidDate" property="validDate" jdbcType="DATE" ></result>
		<result column="InvalidDate" property="invalidDate" jdbcType="DATE" ></result>
		<result column="Remark" property="remark" jdbcType="VARCHAR" ></result>
		<result column="Flag" property="flag" jdbcType="VARCHAR" ></result>
		<result column="InsertTimeForHis" property="insertTimeForHis" jdbcType="DATE" ></result>
		<result column="OperateTimeForHis" property="operateTimeForHis" jdbcType="DATE" ></result>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  riskCode,factorCode,clauseCode,kindCode,comCode,relatedFactorCodes,creatorCode,updaterCode,validStatus,validDate,invalidDate,remark,flag,insertTimeForHis,operateTimeForHis
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="UtiFactorRelashipExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" ></include>
    from UtiFactorRelaship 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" ></include>
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="UtiFactorRelashipKey" >
    select 
    <include refid="Base_Column_List" ></include>
    from UtiFactorRelaship 
    where 
	 RiskCode = #{riskCode,jdbcType=VARCHAR} and  FactorCode = #{factorCode,jdbcType=VARCHAR} and  ClauseCode = #{clauseCode,jdbcType=VARCHAR} and  KindCode = #{kindCode,jdbcType=VARCHAR} and  ComCode = #{comCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="UtiFactorRelashipKey" >
    delete from UtiFactorRelaship 
    where 
		 RiskCode = #{riskCode,jdbcType=VARCHAR} and  FactorCode = #{factorCode,jdbcType=VARCHAR} and  ClauseCode = #{clauseCode,jdbcType=VARCHAR} and  KindCode = #{kindCode,jdbcType=VARCHAR} and  ComCode = #{comCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="UtiFactorRelaship" >
    insert into UtiFactorRelaship  (RiskCode,FactorCode,ClauseCode,KindCode,ComCode,RelatedFactorCodes,CreatorCode,UpdaterCode,ValidStatus,ValidDate,InvalidDate,Remark,Flag,InsertTimeForHis,OperateTimeForHis)
    values (#{riskCode,jdbcType=VARCHAR},#{factorCode,jdbcType=VARCHAR},#{clauseCode,jdbcType=VARCHAR},#{kindCode,jdbcType=VARCHAR},#{comCode,jdbcType=VARCHAR},#{relatedFactorCodes,jdbcType=VARCHAR},#{creatorCode,jdbcType=VARCHAR},#{updaterCode,jdbcType=VARCHAR},#{validStatus,jdbcType=VARCHAR},#{validDate,jdbcType=DATE},#{invalidDate,jdbcType=DATE},#{remark,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},#{insertTimeForHis,jdbcType=DATE},#{operateTimeForHis,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="UtiFactorRelaship" >
    insert into UtiFactorRelaship
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="riskCode != null" >
        RiskCode,
		</if>
<if test="factorCode != null" >
        FactorCode,
		</if>
<if test="clauseCode != null" >
        ClauseCode,
		</if>
<if test="kindCode != null" >
        KindCode,
		</if>
<if test="comCode != null" >
        ComCode,
		</if>
<if test="relatedFactorCodes != null" >
        RelatedFactorCodes,
		</if>
<if test="creatorCode != null" >
        CreatorCode,
		</if>
<if test="updaterCode != null" >
        UpdaterCode,
		</if>
<if test="validStatus != null" >
        ValidStatus,
		</if>
<if test="validDate != null" >
        ValidDate,
		</if>
<if test="invalidDate != null" >
        InvalidDate,
		</if>
<if test="remark != null" >
        Remark,
		</if>
<if test="flag != null" >
        Flag,
		</if>
<if test="insertTimeForHis != null" >
        InsertTimeForHis,
		</if>
<if test="operateTimeForHis != null" >
        OperateTimeForHis
		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="riskCode != null" >
        RiskCode,jdbcType=VARCHAR,
		</if>
		<if test="factorCode != null" >
        FactorCode,jdbcType=VARCHAR,
		</if>
		<if test="clauseCode != null" >
        ClauseCode,jdbcType=VARCHAR,
		</if>
		<if test="kindCode != null" >
        KindCode,jdbcType=VARCHAR,
		</if>
		<if test="comCode != null" >
        ComCode,jdbcType=VARCHAR,
		</if>
		<if test="relatedFactorCodes != null" >
        RelatedFactorCodes,jdbcType=VARCHAR,
		</if>
		<if test="creatorCode != null" >
        CreatorCode,jdbcType=VARCHAR,
		</if>
		<if test="updaterCode != null" >
        UpdaterCode,jdbcType=VARCHAR,
		</if>
		<if test="validStatus != null" >
        ValidStatus,jdbcType=VARCHAR,
		</if>
		<if test="validDate != null" >
        ValidDate,jdbcType=DATE,
		</if>
		<if test="invalidDate != null" >
        InvalidDate,jdbcType=DATE,
		</if>
		<if test="remark != null" >
        Remark,jdbcType=VARCHAR,
		</if>
		<if test="flag != null" >
        Flag,jdbcType=VARCHAR,
		</if>
		<if test="insertTimeForHis != null" >
        InsertTimeForHis,jdbcType=DATE,
		</if>
		<if test="operateTimeForHis != null" >
        OperateTimeForHis,jdbcType=DATE
		</if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="UtiFactorRelaship" >
    update UtiFactorRelaship set
    <set >
		




<if test="relatedFactorCodes  != null" >      
        RelatedFactorCodes = #{relatedFactorCodes ,jdbcType=VARCHAR} , </if>
<if test="creatorCode  != null" >      
        CreatorCode = #{creatorCode ,jdbcType=VARCHAR} , </if>
<if test="updaterCode  != null" >      
        UpdaterCode = #{updaterCode ,jdbcType=VARCHAR} , </if>
<if test="validStatus  != null" >      
        ValidStatus = #{validStatus ,jdbcType=VARCHAR} , </if>
<if test="validDate  != null" >      
        ValidDate = #{validDate ,jdbcType=DATE} , </if>
<if test="invalidDate  != null" >      
        InvalidDate = #{invalidDate ,jdbcType=DATE} , </if>
<if test="remark  != null" >      
        Remark = #{remark ,jdbcType=VARCHAR} , </if>
<if test="flag  != null" >      
        Flag = #{flag ,jdbcType=VARCHAR} , </if>
<if test="insertTimeForHis  != null" >      
        InsertTimeForHis = #{insertTimeForHis ,jdbcType=DATE} , </if>
<if test="operateTimeForHis  != null" >      
        OperateTimeForHis = #{operateTimeForHis ,jdbcType=DATE} </if>
    </set>
    where 
		<if test="riskCode  != null" >
        RiskCode = #{riskCode ,jdbcType=VARCHAR} and 
      </if>	<if test="factorCode  != null" >
        FactorCode = #{factorCode ,jdbcType=VARCHAR} and 
      </if>	<if test="clauseCode  != null" >
        ClauseCode = #{clauseCode ,jdbcType=VARCHAR} and 
      </if>	<if test="kindCode  != null" >
        KindCode = #{kindCode ,jdbcType=VARCHAR} and 
      </if>	<if test="comCode  != null" >
        ComCode = #{comCode ,jdbcType=VARCHAR}
      </if>		
  </update>
  <update id="updateByPrimaryKey" parameterType="UtiFactorRelaship" >
    update UtiFactorRelaship
    set 
				
		
		
		
		
<if test="relatedFactorCodes  != null" >RelatedFactorCodes = #{relatedFactorCodes ,jdbcType=VARCHAR}, </if>		
<if test="creatorCode  != null" >CreatorCode = #{creatorCode ,jdbcType=VARCHAR}, </if>		
<if test="updaterCode  != null" >UpdaterCode = #{updaterCode ,jdbcType=VARCHAR}, </if>		
<if test="validStatus  != null" >ValidStatus = #{validStatus ,jdbcType=VARCHAR}, </if>		
<if test="validDate  != null" >ValidDate = #{validDate ,jdbcType=DATE}, </if>		
<if test="invalidDate  != null" >InvalidDate = #{invalidDate ,jdbcType=DATE}, </if>		
<if test="remark  != null" >Remark = #{remark ,jdbcType=VARCHAR}, </if>		
<if test="flag  != null" >Flag = #{flag ,jdbcType=VARCHAR}, </if>		
<if test="insertTimeForHis  != null" >InsertTimeForHis = #{insertTimeForHis ,jdbcType=DATE}, </if>		
<if test="operateTimeForHis  != null" >OperateTimeForHis = #{operateTimeForHis ,jdbcType=DATE}</if>		
    where 
			<if test="riskCode  != null" >
        RiskCode = #{riskCode ,jdbcType=VARCHAR} and 
      </if>	<if test="factorCode  != null" >
        FactorCode = #{factorCode ,jdbcType=VARCHAR} and 
      </if>	<if test="clauseCode  != null" >
        ClauseCode = #{clauseCode ,jdbcType=VARCHAR} and 
      </if>	<if test="kindCode  != null" >
        KindCode = #{kindCode ,jdbcType=VARCHAR} and 
      </if>	<if test="comCode  != null" >
        ComCode = #{comCode ,jdbcType=VARCHAR}
      </if>	
  </update>
</mapper>