<!--理赔文件上传-->
<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6>理赔excel上传</h6></div>
        <ng-form name="fileUploadForm" novalidate="novalidate">
                 <ul class="list_ul list_ul_file">
                    <li>
                        <span>excel文件：</span>
                    </li>
                    <li class="file_up">
                        <div class="file-box">
                            <input type='text' ng-model="imgFile.showFilePath" warn-text="" class='txt fl' ng/>
                            <input type='button' class='btn fl btn_look' value='浏 览'/>
                            <input type="file" class="file fl"  nv-file-select="" uploader="fileUploader" ng-click="clearItems()"/>
                        </div>
                   </li>
                </ul>
        </ng-form>
    </div>
    <div class="index_btn1">
        <span class="submit" ng-disabled="false" ng-click="submitUploadFile()">上 传</span>
        <span class="edit" ng-click="onEdit()">退 出</span>
    </div>
    <div class="index_list" ng-if="showAbnormal">
        <div class="index_tit"><h6>异常单号读取</h6></div>
        <ul class="list_ul">
            <li>
                <span>异常单号：</span>
            </li>
            <li class="li_remark li_record li_upClear">
                <textarea ng-readonly="true" class="upLoadErrorData" ng-bind="answerData.list"></textarea>
            </li>
        </ul>
    </div>
</div>