<!--线下收费待确认-->
<div class="index_con">
    <!--搜索条件-->
    <div class="index_list">
        <div class="index_tit"><h6>搜索条件</h6></div>
        <ng-form novalidate="novalidate" name="chargeConfirmSearchForm">
            <ul class="list_ul list_ul_bor">
                <li class="hide"><span>收费类型：</span></li>
                <li class="hide">
                    <div class="ui-select">
                        <code-type  class="seletc_bor" base-code="PayRefReason" ng-model='proposalInfoDto.payType' ng-disabled="false" is-fuzzy="true"></code-type>
                    </div>
                </li>
                <li class="hide"></li>
                <li class="hide"></li>
                <li><span>投保单号：</span></li>
                <li><input type="text" class="fl" ng-model="proposalInfoDto.bussNo"   ng-maxlength="30" maxlength="30" warn-text="{'ErrPattern':'保单号码只能输入字母和数字'}"  ng-pattern="/^[A-Za-z0-9]*$/"  ></li>
                <li><span>投保人名称：</span></li>
                <li>
                    <input type="text" class="fl" ng-model="proposalInfoDto.applyName"  ng-maxlength="30" maxlength="30">
                </li>
                <li><span>保单生效日（开始）：</span></li>
                <li><input type="text" id="startDateBegin" class="date-input fl date" ng-model="proposalInfoDto.startDateBegin" jedate format="YYYY-MM-DD" readonly ></li>
                <li><span>保单生效日（结束）：</span></li>
                <li><input type="text" id="startDateEnd" class="date-input fl date" ng-model="proposalInfoDto.startDateEnd" jedate format="YYYY-MM-DD" readonly></li>
            </ul>
            <div class="pending_btn">
                <div class="pending_btn1">
                    <button class="a_search" ng-click="offLineChargeConfirmQuery()">搜 索</button>
                    <span class="a_reset" ng-click="resetForm()">重 置</span>
                </div>
            </div>
        </ng-form>
    </div>
    <!--搜索结果-->
    <div class="index_list">
        <div class="index_tit">
            <h6 class="fl">搜索结果</h6>
        </div>
        <table class="table table-striped table-bordered table-hover" id="offlineTable">
            <tr>
                <th class="t_first"></th>
                <th ng-click="col='proposalNo';desc=!desc">投保单号码</th>
                <th ng-click="col='applyName';desc=!desc">投保人名称</th>
                <th ng-click="col='startDate';desc=!desc">保单生效日</th>
                <th ng-click="col='inputTime';desc=!desc">投保日期</th>
                <th ng-click="col='sumPremium';desc=!desc">保费(元)</th>
                <th ng-click="col='sumPremium';desc=!desc">收费类型</th>
                <th ng-click="col='sumPremium';desc=!desc">待收保费(元)</th>
            </tr>
            <tr ng-repeat="d in pendingdata|orderBy:col:desc">
                <td class="t_first"><input type="radio"  name="radioCheck" value="{{d|json}}" ng-click="radioSelectClick()" /></td>
                <td>
                    <a ng-bind="d.bussNo" ng-click="queryProposal(d.bussNo)"></a>
                </td>
                <td ng-bind="d.applyName"></td>
                <td ng-bind="d.startDate|date:'yyyy-MM-dd'"></td>
                <td ng-bind="d.operateDate|date:'yyyy-MM-dd'"></td>
                <td ng-bind="(d.sumPremium).toFixed(2)"></td>
                <td ng-bind="d.payReasonName"></td>
                <td ng-bind="(d.planFee).toFixed(2)"></td>

            </tr>
        </table>
        <div class="index_page">
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
    <!--缴费信息-->
    <ng-form novalidate="novalidate" name="chargeConfirmProposalForm">
        <div class="index_list">
            <div class="index_tit"><h6>缴费信息</h6></div>
            <ul class="list_ul">
                <li><em>*</em><span>缴费银行账号：</span></li>
                <li>
                    <input type="text" class="fl" required ng-model="prpJPayExchDto.payBankaccount" ng-maxlength="30"  maxlength="30" ng-pattern="/^[0-9]*$/" warn-text="{'NonEmpty':'缴费银行账号不能为空','ErrPattern':'缴费银行账号只能是数字'}">
                </li>
                <li><span>缴费金额：</span></li>
                <li>
                    <span  class="fl" ng-bind="(prpJPayExchDto.planFee).toFixed(2)"></span>
                </li>
                <li><em>*</em><span>缴费日期：</span></li>
                <li>
                    <input type="text" warn-text="{'NonEmpty':'缴费日期不能为空'}" class="fl date" jedate  format="YYYY-MM-DD"  ng-model="prpJPayExchDto.payDate" id="payDate"  required  readonly />
                </li>

                <li><span>缴费附言：</span></li>
                <li>
                    <input type="text" mc-placeholder="请填写客户缴费时的附言" class="fl"    ng-model="prpJPayExchDto.payPostScript"  ng-maxlength="100"  maxlength="100" >
                </li>
            </ul>
        </div>
        <!--btn-->
        <div class="index_btn1">
            <button class="submit" ng-click="confirmProposalSubmit()">确认收费</button>
            <button class="edit" ng-click="confirmProposalEdit()">退出</button>
        </div>
    </ng-form>
    <!---->
</div>
<!-- 弹层 -->
<div data-ng-include="'components/prpins/proposal/tpl/insuredOnlyOneLayer.html'"></div>
<!--  引入 保单详情页面 容器，需要在 查阅保单详情 按钮上 增加显示 隐藏开关 -->
<div data-ng-include="'components/prpins/endorse/tpl/policyDetail.html'"></div>
<div data-ng-include="'components/payment/chargeConfirm/tpl/zezaocheng.html'"></div>