<!--批改信息确认-->
<ul class="index_process">
    <li class="li_finish"><i></i><span>1.批改信息录入</span></li>
    <li class="li_active"><i class="i_1_1"></i><span>2.批改信息确认</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <!--批改基本信息-->
    <div class="index_list">
        <div class="index_tit"><h6>批改基本信息</h6></div>
        <ul class="list_ul list_ul_hei">
            <li><span>批改类型：</span></li>
            <li>
                <span class="fl" ng-bind="surrenderData.endorTypeName"></span>
            </li>

            <li><em>*</em><span>批改生效日：</span></li>
            <li><span class="fl" ng-bind="surrenderData.validDate"></span><span class="fl" >&nbsp;&nbsp;0时</span></li>
        </ul>
    </div>
    <!--批改内容-->
    <div class="index_list">
        <div class="index_tit"><h6>批改内容</h6></div>
        <div class="correct_content">
            <span ng-bind-html="surrenderData.endorseText"></span>
        </div>
    </div>
    <div class="index_list list_money">
        <p>保费变化量：<b ng-bind="surrenderData.chgSumPremium |number:2"></b>元 </p>
    </div>
    <div class="index_btn" >
            <span class="a_2" ng-click="returnUpdate()"  ng-hide="isHiddenConfirm">
                <i class="i_5" ></i><em>返回修改</em>
            </span>
            <span   ng-click="returnDelete()" ng-hide="isHiddenConfirm">
                <i class="i_2"></i><em>删除</em>
            </span>
            <span class="policy_info" ng-click="nuclearViewClick()" ng-if="policyInfoShow">
                <i></i><em>查看核批记录</em>
            </span>
    </div>
    <div class="index_btn1">
        <span class="submit" ng-click="endorseConfirmSubmit()">提交批改</span>
        <span class="edit"  ng-click="exitEndorse()" >退出</span>
    </div>
    <!--查看核批意见-->
    <div ng-hide="endorseNuclearLayer" data-ng-include="'components/prpins/endorse/tpl/endorseNuclearLayer.html'"></div>
    <!--提示-->
    <div data-ng-include="'components/prpins/proposal/tpl/insuredOnlyOneLayer.html'"></div>
    <!--弹层---删除-->
    <div ng-if="!deleteLayer" data-ng-include="'components/prpins/endorse/tpl/endorseDeleteLayer.html'"></div>
</div>