<!--更改业务信息-->
<ul class="index_process">
    <li class="li_active"><i></i><span>1.批改信息录入</span></li>
    <li><i class="i_1_1"></i><span>2.批改信息确认</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <!--保单基本信息-->
    <ng-form novalidate="novalidate" name="endorseBusinessForm">
        <div class="index_list">
            <div class="index_tit"><h6>保单基本信息</h6></div>
            <ul class="list_ul list_ul1">
                <li><span>保单号码：</span></li>
                <li><span class="fl"  ng-bind="endorseReturnDto.copyPolicyDto.prpCopyMainDto.policyNo"></span></li>
                <li><em>*</em><span>投保日期：</span></li>
                <li>
                    <span class="fl"  ng-bind="endorseReturnDto.copyPolicyDto.prpCopyMainDto.operateDate |date:'yyyy-MM-dd'">2016-07-20</span>

                </li>
                <li><em>*</em><span>保单生效日：</span></li>
                <li><span class="fl"  ng-bind="endorseReturnDto.copyPolicyDto.prpCopyMainDto.startDate |date:'yyyy-MM-dd'">2017-07-19</span><span class="fl">&nbsp;&nbsp;0时</span></li>
                <li><span>保单终止日：</span></li>
                <li><span class="fl"  ng-bind="endorseReturnDto.copyPolicyDto.prpCopyMainDto.endDate |date:'yyyy-MM-dd'">2017-07-19&nbsp;&nbsp;&nbsp;&nbsp;24时</span><span class="fl">&nbsp;&nbsp;24时</span></li>
            </ul>
        </div>
        <!--批改基本信息-->
        <div class="index_list">
            <div class="index_tit"><h6>批改基本信息</h6></div>
            <ul class="list_ul">
                <li><span>批改类型：</span></li>
                <li>
                    <span ng-bind="endorseReturnDto.prpPheadDto.endorType" class="hide"></span>
                    <span class="fl" ng-bind="endorseReturnDto.prpPheadDto.endorTypeName"></span>
                </li>

                <li><span>批改申请号码：</span></li>
                <li><span class="fl" ng-bind="endorseReturnDto.prpPheadDto.applyNo"></span></li>

                <li><em>*</em><span>批改申请日：</span></li>
                <li><span class="fl" ng-bind="endorseReturnDto.prpPheadDto.endorDate"></span></li>
                <li>
                    <em>*</em><span>批改生效日：</span></li>
                <li class="effective_date"><span class="fl"  ng-bind="endorseReturnDto.prpPheadDto.validDate"></span>  <span   class="fl" > &nbsp;&nbsp;0时</span>
                </li>

                <li><span>批改原因说明：</span></li>
                <li class="correct_reason"><input type="text" maxlength="40" class="fl" ng-model="endorseReturnDto.prpPheadDto.reasonText"/></li>
            </ul>
        </div>
        <!--业务相关信息-->
        <div class="index_list">
            <div class="index_tit"><h6>业务相关信息</h6></div>
            <ul class="list_ul">
                <li><em>*</em><span>业务来源：</span></li>
                <li>
                    <span class="fl" ng-bind="endorseReturnDto.copyPolicyDto.prpCopyMainDto.businessNatureName"></span>
                </li>

                <li><em>*</em><span>出单省级机构：</span></li>
                <li>
                    <span class="fl" ng-bind="endorseReturnDto.copyPolicyDto.prpCopyMainDto.comCodeName"></span>
                </li>

                <li><em>*</em><span>出单分支机构代码：</span></li>
                <li>
                    <input  type="text"  maxlength="20"  class="fl"   ng-pattern="/^[A-Za-z0-9]*$/" warn-text="{'NonEmpty':'出单分支机构不能为空','ErrPattern':'出单分支机构只能输入字母和数字'}"  ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.cityCode" required>
                </li>

                <li><span>业务归属机构代码：</span></li>
                <li>
                    <input  type="text"  maxlength="20"  class="fl bor box_shadow"  ng-pattern="/^[A-Za-z0-9]*$/" warn-text="{'ErrPattern':'业务归属机构代码只能输入字母和数字'}" ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.makeCom" readonly />
                </li>

                <li><span>渠道代码：</span></li>
                <li><input type="text" class="fl" ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.handlerCode" maxlength="30" ng-pattern="/^[A-Za-z0-9]*$/" warn-text="{'ErrPattern':'渠道代码只能输入字母和数字'}"/></li>
                <li><span>渠道名称：</span></li>
                <li><input type="text" class="fl" ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.handlerName" maxlength="25"/></li>
                <li><span>协议代码：</span></li>
                <li><input type="text" class="fl" ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.contractNo" maxlength="22" ng-pattern="/^[A-Za-z0-9_-]*$/" warn-text="{'ErrPattern':'协议代码只能输入字母、数字、下划线和横杠'}"/></li>
                <li></li>
                <li></li>
                <li><em>*</em><span>归属业务员代码：</span></li>
                <li>
                    <input  type="text" required maxlength="20" class="fl"  ng-pattern="/^[A-Za-z0-9]*$/" warn-text="{'ErrPattern':'归属业务员代码只能输入字母和数字'}" ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.handler1Code">
                </li>

                <li><em>*</em><span>归属业务员姓名：</span></li>
                <li>
                    <input  type="text" required maxlength="25" class="fl" ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.handler1Name" warn-text="">
                </li>
                <li><em>*</em><span>录单人员代码：</span></li>
                <li>
                    <input  type="text"  required maxlength="20" class="fl" ng-pattern="/^[A-Za-z0-9]*$/" warn-text="{'ErrPattern':'录单人员代码只能输入字母和数字'}" ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.operatorCode" warn-text="">
                </li>

                <li><em>*</em><span>录单人员姓名：</span></li>
                <li>
                    <input  type="text" required maxlength="25" class="fl" ng-model="endorseReturnDto.copyPolicyDto.prpCopyMainDto.operatorName" warn-text="">
                </li>

                <li><span>批改录入人员代码：</span></li>
                <li>
                    <input type="text"  maxlength="20"  class="fl" value=""  ng-model="endorseReturnDto.prpPheadDto.operatorCode" ng-pattern="/^[A-Za-z0-9]*$/" warn-text="{'ErrPattern':'批改录入人员代码只能输入字母和数字'}">
                </li>

                <li><span>批改录入人员姓名：</span></li>
                <li>
                    <input type="text"   maxlength="25"  warn-text="批改录入人员姓名"    class="fl" ng-model="endorseReturnDto.prpPheadDto.operatorName" >
                </li>

                <li><span>批改申请人员代码：</span></li>
                <li>
                    <input type="text"   maxlength="20"   ng-model="endorseReturnDto.prpPheadDto.operatorApplyCode" class="fl" ng-pattern="/^[A-Za-z0-9]*$/" warn-text="{'ErrPattern':'批改申请人员代码只能输入字母和数字'}">
                </li>

                <li><span>批改申请人员姓名：</span></li>
                <li>
                    <input type="text"  maxlength="15"    ng-model="endorseReturnDto.prpPheadDto.operatorApplyName" class="fl">
                </li>
            </ul>
        </div>
        <div class="index_btn">
            <span class="policy_info" ng-click="policyDetailShow()">
                <i></i><em>查阅保单详情</em>
            </span>
            <span ng-click="FileshowInsure()">
                <i class="i_1"></i><em>上传</em>
            </span>
            <span ng-click="deleteshowInsure()">
                <i class="i_2"></i><em>删除</em>
            </span>
            <span ng-click="surrendSave()">
                <i class="i_3"></i><em>暂存</em>
            </span>
        </div>
        <div class="index_btn1">
            <span class="submit" ng-click="surrendNext()">下一步</span>
            <span class="edit" ng-click="exitEndorse()">退出</span>
        </div>
    </ng-form>
</div>

<!--弹层---文件上传-->
<div data-ng-include="'components/prpins/proposal/tpl/applicationFileUploadLayer.html'"></div>
<!--暂存成功-->
<div data-ng-include="'components/prpins/proposal/tpl/insuredOnlyOneLayer.html'"></div>
<!--  引入 保单详情页面 容器，需要在 查阅保单详情 按钮上 增加显示 隐藏开关 -->
<div data-ng-include="'components/prpins/endorse/tpl/policyDetail.html'"></div>
<!--弹层---删除-->
<div ng-if="!deleteLayer" data-ng-include="'components/prpins/endorse/tpl/endorseDeleteLayer.html'"></div>
