<!--新增批改弹层-->
<div class="mask"></div>
<div class="mask_remove">
    <ng-form novalidate="novalidate" name="newEndorseLayerForm">
        <ul>
            <li class="remove_header">
                <span>新增批改</span>
                <em ng-click="newEndorsehide()"><i></i></em>
            </li>
            <li class="remove_content1 remove_content2">
                <span class="fl"><em>*</em>批改类型：</span>
                <div class="ui-select select_wid" >
                    <code-type ng-required="true" id="typeTest" class="seletc_bor" base-code="EndorType" ng-required="true" ng-model='endorseDto.endorType' ng-disabled="false" is-fuzzy="true"></code-type>
                </div>
            </li>
            <li class="remove_content1 remove_content2">
                <span class="fl"><em>*</em>批改申请日：</span>
                <span><input type="text" id="endorDate" ng-model="endorseDto.endorDate"   max-date="{{endorDateMax}}" readonly class="date-input fl date" jedate format="YYYY-MM-DD" required></span>
            <li class="remove_content1 remove_content2"  ng-hide="validDateFlag">

                <span class="fl"><em>*</em>批改生效日：</span>
                <span><input type="text" id="validDate" ng-model="endorseDto.validDate" class="date-input fl date" readonly  max-date="{{validDateMAX}}"  min-date="{{validDateMin}}"  jedate format="YYYY-MM-DD" required>&nbsp;0时</span>

            </li>
            <li class="remove_button">
                <div>
                    <span class="button_sure" ng-click="newEndorseConfirm()">确认</span>
                    <span class="button_cancel" ng-click="newEndorsehide()">返回</span>
                </div>
            </li>
        </ul>
    </ng-form>
</div>
