<!--清单号无输入查询-->
<div class="all_payment layer-model" ng-show="showImportList">
    <style type="text/css" class="ng-scope">
        .a-upload {height: 40px;line-height: 34px;position: relative;cursor: pointer;color: #888;border-radius: 4px;display: inline-block;*display: inline;*zoom: 1}
        .a-upload input {font-size: 16px;cursor: pointer;border: 1px solid #ddd;background: #fafafa;padding-left: 0px;}
    </style>
    <div class="large-layer-content importList">
        <div class="all_payment_head layer-header">
            <span>导入清单</span>
            <i class="icon iconfont" ng-click="closeImportListLayer();clearItems();">&#xe62f;</i>
        </div>
        <div class="importList_con">
            <div class="condition_table">
                <ul>
                    <li>
                        <label class="cur"><input type="radio" ng-model="listType" value="1">耳标号清单补录</label>
                        <label class="cur"><input type="radio" ng-model="listType" value="2">连带被保险人清单导入</label>
                    </li>
                    <li>
                        <button class="greenButton" ng-click="downloadTemplate(listType)">下载模板</button>
                    </li>
                    <li>
                        <i>耳标号清单导入：</i>
                        <!--<input type="text" class="importList_con_inp">-->
                        <!--<button class="greenButton" type="" id="lookInput">浏览...</button>-->
                        <a href="javascript:;" class="a-upload">
                            <input type="file" id="file" nv-file-select ng-click="clearItems();" ng-model="proposal.insureMainListDto.businessno" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" uploader="uploader"/>
                        </a>
                        <button class="greenButton" ng-click="checkFileType()">上传</button>
                    </li>
                </ul>
            </div>
            <div class="btn_tr clearfix">
                <span class="fl"  ng-click="uploadPayListExcel()">确定</span>
                <span class="fr" ng-click="closeImportListLayer();clearItems();">返回</span>
            </div>
        </div>
    </div>
</div>

<div class="completeList" style="min-height:89%;height:auto;" >
    <div class="layer-header">
        <span ng-bind="'清单补全'"></span>
    </div>
    <div class="completeList-con" style="padding:20px 8%;">
        <div>
            <i class="mes_sign">*</i>
            <span >清单编号</span>
            <input type="text" id="insureListCode" ng-model="proposal.insureMainListDto.insureListCode" ng-blur="checkCode(proposal.insureMainListDto.insureListCode)" ng-change="clearDataList()">
            <button class="greenButton" ng-click="checkinsureListCode($event,proposal.insureMainListDto.insureListCode);">查询</button>
            <button class="greenButton" ng-click="checkqd($event,proposal.insureMainListDto.insureListCode)">详情</button>
            <button class="greenButton" ng-click="openImportListLayer()">清单导入</button>
        </div>
        <div class="completeList-bot">
            <div class="chose_clause_title">投保单列表</div>
            <div>
                <table style="margin-bottom: 20px;">
                    <tr class="tr_top">
                        <td class="w5">序号</td>
                        <td class="w11_11">投保单号</td>
                        <td class="w9">投保人名称</td>
                        <td class="w11_11">被保险人名称</td>
                        <td class="w12">险种</td>
                        <td style="width:16%;">归属机构</td>
                        <td class="w9">归属业务员</td>
                        <td class="w8">制单人</td>
                    </tr>
                    <tr class="tr_content" ng-repeat="info in list track by $index">
                        <td>{{$index+1}}</td>
                        <td class="highlight-text ng-binding">
                            <span ng-click="getProposalInfo(info.proposalNo,'Examine')">{{info.proposalNo}}</span>
                        </td>
                        <td>{{info.appliName}}</td>
                        <td>{{info.insuredName}}</td>
                        <td>{{info.riskName}}</td>
                        <td>{{info.comName}}</td>
                        <td>{{info.handler1Name}}</td>
                        <td>{{info.operatorName}}</td>
                    </tr>
                </table>
                <div class="index_page">
                    <tm-pagination conf="paginationConfmm2"></tm-pagination>
                </div>
            </div>
            <div class="teaC">
                <button class="greenButton" ng-click="goBackDashboard();">返回</button>
            </div>
        </div>
    </div>
    <div ng-show="relationListQueryLayer">
        <!--清单号无输入查询-->
        <div class="all_payment layer-model">
            <div class="large-layer-content relationListNo_layer">
                <div class="all_payment_head layer-header">
                    <span>清单查询</span>
                    <i class="icon iconfont" ng-click="closeRelationListLayer()">&#xe62f;</i>
                </div>
                <div style="max-height:460px; overflow-y: auto;">
                    <div >
            <span class="relationListNo_layer_title">
                <span>按条件查询</span>
            </span>
                        <div class="condition_table">
                            <ul class="clearfix" id="checkList">
                                <li class="condition_td teaR fl">
                                    <label>清单编号</label>
                                    <div class="half-div">
                                        <input type="text" maxlength="30" ng-model="requestInsuranceQueryDto.insureListCode" ng-blur="Code($event,requestInsuranceQueryDto.insureListCode)"  ng-class="{'checkOutBdRed':check.insureListCode}" >
                                        <s ng-bind="check.insureListCode"></s></div>
                                </li>
                                <li class="condition_td teaC fl">
                                    <label>清单名称</label>
                                    <div class="half-div">
                                        <input type="text " warn-text="清单名称" ng-model="requestInsuranceQueryDto.listAlias" maxlength="20" ng-blur="listAlias($event,requestInsuranceQueryDto.listAlias)"  ng-class="{'checkOutBdRed':check.listAlias}">
                                        <s ng-bind="check.listAlias"></s></div>
                                </li>
                                <li class="condition_td teaR fl"  id="listDates">
                                    <label>清单缮制日期</label>
                                    <input style="width: 28%;padding-left:0;" type="text" id="DataStart2" jedate
                                           class="date-input proposal_date" ng-model="requestInsuranceQueryDto.beginTime"
                                           format="YYYY-MM-DD"
                                           ng-change="compareDate11(requestInsuranceQueryDto.beginTime,requestInsuranceQueryDto.endTime)"
                                           required readonly/>
                                    <i class="fl">-</i>
                                    <input style="width: 28%;padding-left:0;" type="text" id="DataEnd2" jedate
                                           class="date-input proposal_date" ng-model="requestInsuranceQueryDto.endTime"
                                           format="YYYY-MM-DD"
                                           ng-change="compareDate1(requestInsuranceQueryDto.beginTime,requestInsuranceQueryDto.endTime)"
                                           required readonly/>
                                </li>
                                <li class="condition_td teaL fl">
                                    <label>缮制人名称</label>
                                    <div class="half-div">
                                        <input type="text"  warn-text="缮制人名称" ng-model="requestInsuranceQueryDto.opName" maxlength="10"ng-blur="opName($event,requestInsuranceQueryDto.opName)"  ng-class="{'checkOutBdRed':check.opName}">
                                        <s ng-bind="check.opName"></s></div>
                                </li>
                                <li class="condition_td4 fl teaR" style="margin-left: 20px">
                                    <span class="teaR" style="margin-right: -5px">归属区域</span>
                                    <div class="codeType codeNoBor areaCodeType" >
                                        <ui-select history ng-model="requestInsuranceQueryDto.fProvinceCode" ng-click="getUserRegion('0',1)" ng-disabled="proposalQueryHide" >
                                            <ui-select-match placeholder="省/市" ng-attr-title="{{$select.selected.regionname}}">
                                                {{$select.selected.regionname}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="code.gbbh as code in businessProvince | filter: $select.search">
                                                <span ng-bind="code.regionname" ng-attr-title="{{code.regionname}}"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="codeType codeNoBor areaCodeType">
                                        <!--<input  type="hidden" ng-model="cityNameRegionid"><input>-->
                                        <ui-select history ng-model="requestInsuranceQueryDto.fCityCode" ng-click="getUserRegion2()" ng-disabled="proposalQueryHide" >
                                            <ui-select-match placeholder="市" ng-attr-title="{{$select.selected.regionname}}">
                                                {{$select.selected.regionname}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="code.gbbh as code in businessTown | filter: $select.search">
                                                <span ng-bind="code.regionname" ng-attr-title="{{code.regionname}}"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="codeType codeNoBor areaCodeType">
                                        <!--<input  type="hidden" ng-model="countyRegionid"><input>-->
                                        <ui-select history ng-model="requestInsuranceQueryDto.fCountyCode" ng-click="getUserRegion3()" ng-disabled="proposalQueryHide" >
                                            <ui-select-match placeholder="县/区" ng-attr-title="{{$select.selected.regionname}}">
                                                {{$select.selected.regionname}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="code.gbbh as code in businessCounty | filter: $select.search">
                                                <span ng-bind="code.regionname" ng-attr-title="{{code.regionname}}"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="codeType codeNoBor" style="width:16%;">
                                        <!--<input  type="hidden" ng-model="townRegionid"><input>-->
                                        <ui-select history ng-model="requestInsuranceQueryDto.fTownCode" ng-click="getUserRegion4()" ng-disabled="proposalQueryHide" >
                                            <ui-select-match placeholder="乡/镇" ng-attr-title="{{$select.selected.regionname}}">
                                                {{$select.selected.regionname}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="code.gbbh as code in businessCity | filter: $select.search">
                                                <span ng-bind="code.regionname" ng-attr-title="{{code.regionname}}"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="codeType codeNoBor" style="width:16%;">
                                        <!--<input type="hidden" ng-model="areaRegionid"><input>-->
                                        <ui-select history ng-model="requestInsuranceQueryDto.fVillageCode" ng-click="getUserRegion5()" ng-disabled="proposalQueryHide" >
                                            <ui-select-match placeholder="村/社区" ng-attr-title="{{$select.selected.regionname}}">
                                                {{$select.selected.regionname}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="code.gbbh as code in businessAreaName | filter: $select.search">
                                                <span ng-bind="code.regionname" ng-attr-title="{{code.regionname}}"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </li>
                            </ul>
                            <div class="btn_tr clearfix">
                                <span class="fl" ng-click="queryGisInsure()">查询</span>
                                <span class="fr" ng-click="resetQueryGisInsure()">重置</span>
                            </div>
                        </div>
                    </div>
                    <div class="queryResult">
                        <div class="queryResult_title clearfix">
                            <span class="fl ">查询结果列表</span>
                        </div>
                        <div>
                            <table >
                                <tr class="tr_top">
                                    <td >选择</td>
                                    <td >清单编号</td>
                                    <td >清单名称</td>
                                    <td >缮制日期</td>
                                    <td >缮制人</td>
                                    <td >操作</td>
                                </tr>
                                <tr class="tr_content F2F2F2" ng-repeat="requestInsuranceQueryDto in requestInsuranceQueryDto.queryList track by $index">
                                    <td><input type="radio"  name="select" ng-click="isSelected($index)"/></td><!--
                            <td class="mesColor cur"  ng-click="queryRelationListNoLayer(requestInsuranceQueryDto.insureListCode);requestInsurance($index)">
                                <a >{{requestInsuranceQueryDto.insureListCode}}</a></td>-->
                                    <td class="hidden" ng-bind="requestInsuranceQueryDto.serialNo"></td>
                                    <td ng-bind="requestInsuranceQueryDto.insureListCode" ></td>
                                    <td ng-bind="requestInsuranceQueryDto.listAlias"></td>
                                    <td ng-bind="requestInsuranceQueryDto.listAffrimTime"></td>
                                    <td ng-bind="requestInsuranceQueryDto.opName"></td>
                                    <td ><a  class="C2DBE61 cur"  ng-click="checkqd($event,requestInsuranceQueryDto.insureListCode)">详情</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="index_page">
                            <tm-pagination conf="paginationConfmm"></tm-pagination>
                        </div>
                    </div>
                </div>
                <div class="layer-footer">
                    <button class="greenButton" ng-click="closeRelationListNoLayer('sure')">确定</button>
                    <button class="greenButton" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>
        <div ng-if="loading" style="position: absolute;z-index: 3000;top:0;width: 100%;height: 100%;background:rgba(0,0,0,0.6);text-align: center;">
            <span style="position: absolute;top: 50%;color:#ffffff"><img src="common/images/lightbox/loading.gif" style="width: 24px;">&nbsp;加载中。。。</span>
        </div>
    </div>

</div>