<div class="section insurPeriod">
    <div class="gy-common con">
        <div class="position">
            <span>当前位置：</span>
            <span class="local-fir">批改管理 > </span>
            <span class="local-fir">特殊批改查询 > </span>
            <span class="local-sec">全单退保</span>
        </div>
        <div ng-show="!isAdjust" class="content_div content1-div">
            <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>批改信息</label>
                </span>
                <div class="condition_table">
                    <div>
                        <ul class="clearfix ul_tr">
                            <li class="condition_td fl">
                                <label>批改日期</label><input type="text" ng-model="endorse.prpCmain.insuredName" class="">
                            </li>
                            <li class="condition_td fl">
                                <label>批改申请人</label><input type="text" ng-model="endorse.prpCmain.appliName" class="">
                            </li>
                            <li class="condition_td avail-li fl">
                                <label>批改生效日期</label>
                                <input type="text" ng-model="endorse.prpCmain.appliCode.day" class=" avail-day"><span class="avail-day-span">日</span>
                                <input type="text" ng-model="endorse.prpCmain.appliCode.hour" class=" avail-time"/><span class="avail-day-span">时</span>
                            </li>
                        </ul>
                        <ul class="clearfix ul_tr">
                            <li class="condition_td fl">
                                <label>归属部门</label><input type="text" ng-model="endorse.prpCmain.codeName" class="">
                            </li>
                            <li class="condition_td fl">
                                <label>投保人</label><input type="text" ng-model="endorse.prpPhead.appliName" class="">
                            </li>
                            <li class="condition_td fl">
                                <label>短期费率方式</label>
                                <select>
                                    <option value="">11</option>
                                    <option value="">22</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="btn_tr clearfix">
                        <span class="fl" ng-click="showPrevPage()">上一步</span>
                        <span class="fr no-bg" ng-click="showAdjust()">下一步</span>
                    </div>
                </div>
            </div>
            <div class="queryResult">
                <div class="queryResult_title clearfix">
                    <span class="fl">保单列表</span>
                </div>
                <table>
                    <tr class="tr_top">
                        <td>序号</td>
                        <td>保单号</td>
                        <td>投保人名称</td>
                        <td>被保人名称</td>
                        <td>保险起期</td>
                        <td>保险止期</td>
                        <td>操作员</td>
                    </tr>
                    <tr class="tr_content tr_content-bg" ng-repeat="x in fullSurrenderList track by $index">
                        <td class="C2DBE61" ng-bind="$index+'1'"></td>
                        <td ng-bind="x.endorseNo">121212121</td>
                        <td ng-bind="x.appliName">张三</td>
                        <td ng-bind="x.insuredName">李四</td>
                        <td ng-bind="x.startData">2017-07-07</td>
                        <td ng-bind="x.endData">>2017-07-07</td>
                        <td ng-bind="x.operatorCode">王五</td>
                    </tr>

                </table>
                <div class="index_page">
                    <tm-pagination conf="paginationConfmm"></tm-pagination>
                </div>
            </div>
        </div>
        <div ng-show="isAdjust" class="content_div content1-div">
            <div class="queryCriteria queryResult mt0">
                <span class="queryCriteria_title">
                    <label>全单退保后调整</label>
                </span>
                <table>
                    <tr class="tr_top">
                        <td>保单号</td>
                        <td>总保额</td>
                        <td>到期保费</td>
                        <td>未到期保费</td>
                    </tr>
                    <tr class="tr_content tr_content-bg" ng-repeat="x in fullSurrenderList">
                        <td ng-bind="x.policyNoSign">121212121</td>
                        <td ng-bind="x.TotalInsured">100.00</td>
                        <td ng-bind="x.MaturePremium">20.00</td>
                        <td ng-bind="x.UnearnedPremium">200.00</td>
                    </tr>
                </table>
                <div class="condition_table">
                    <div class="btn_tr clearfix">
                        <span class="fl" ng-click="showPrevPage(e)">上一步</span>
                        <span class="fr no-bg" ng-click="showAdjust()">下一步</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
