<div ng-show="deleteLayer">
    <ng-form novalidate="novalidate" name="deleteProposalForm">
        <div class="mask"></div>
        <div class="mask_remove">
            <ul>
                <li class="remove_header">
                    <span>删除投保</span>
                    <a href="javascript:void(0)" ng-click="deletehideInsure()"><i></i></a>
                </li>
                <li class="remove_content1">
                    <span class="fl"><em>*</em>删除原因：</span>
                    <div class="ui-select fl select_wid">
                        <code-type required class="seletc_bor" base-code="ProposalDelRes" ng-model='proposalDelConditionDto.delReasonCode' ng-disabled="false" is-fuzzy="true"></code-type>
                    </div>
                </li>
                <li class="remove_content2">
                    <span class="fl">说明信息：</span>
                    <input type="text" ng-if="!delReasonFlag" required class="fl" maxlength="200" ng-model="proposalDelConditionDto.delReasonDesc"/>
                    <input type="text" ng-if="delReasonFlag"  class="fl" maxlength="200" ng-model="proposalDelConditionDto.delReasonDesc"/>
                </li>
                <li class="remove_button">
                    <div>
                        <a href="javascript:void(0)" class="button_sure" ng-click="deleteConfirm()" ng-class="{noneClick:deleteConfirmFlag}">确认</a>
                        <a href="javascript:void(0)" class="button_cancel" ng-click="deletehideInsure()">取消</a>
                    </div>

                </li>
            </ul>
        </div>
    </ng-form>
</div>