<div ng-controller="importInsuredCtrl">
    <div class="mask"></div>
    <div class="file_down">
        <div class="remove_header">
            <span>导入被保险人及标的的列表</span>
            <a href="javascript:void(0)" ng-click="hideImport()"><i></i></a>
        </div>
        <ul class="list_ul">
            <li>
                <span>模板下载 :</span>
            </li>
            <li>
                <a href="javascript:void(0)" ng-click="downLoadExcel()">下载</a>
            </li>
            <li class="file_demo">
                <span>被保险人及标的的文件 :</span>
            </li>
            <li class="file_up">
                <div class="file-box">
                    <input type='text' ng-model="excelFile.textfield" class='txt fl'/>
                    <input type='button' class='btn fl' value='浏览'/>
                    <input type="file" class="file fl"  nv-file-select="" uploader="insuredUploader"/>
                    <input type="submit" name="submit" class="btn_up fl"  value="上传" ng-disabled="!insuredUploader.getNotUploadedItems().length" ng-click="InsuredSaveA()"/>
                </div>
            </li>
        </ul>
    </div>
</div>