<div ng-if="downloadHistoryLayer">
    <div class="mask"></div>
    <div class="insure">
        <div class="remove_header">
            <span>历次导入失败信息</span>
            <a href="javascript:void(0)"><i ng-click="closeDownloadErrTable()"></i></a>
        </div>
        <div class="insure_content up_history">
            <div class="insured_table">
                <div class="file_list">
                    <span><i></i>历次导入失败列表</span>
                </div>
                <img id="showImgFile" data-original="images/bank_01.png" src="" class="hide"/>
                <table>
                    <tr>
                        <th ng-click="col='proposalNo';desc=!desc" class="hide">投保单号</th>
                        <th class="ser" ng-click="col='serialNo';desc=!desc">序号</th>
                        <!--<th ng-click="col='batchNo';desc=!desc">批次号</th>-->
                        <th class="date" ng-click="col='startTime';desc=desc">导入日期</th>
                        <th class="msg" ng-click="col='errorMsg';desc=!desc">错误信息</th>
                        <th class="t_last">操作</th>
                    </tr>
                    <tr ng-repeat="d in progressDatas|orderBy:col:desc">
                        <td ng-bind="(pagInsuredErrConf.currentPage-1) * pagInsuredErrConf.itemsPerPage+$index+1" class="t_first"></td>
                        <!--<td ng-bind="d.batchNo"></td>-->
                        <td ng-bind="d.startTime"></td>
                        <td ng-bind-html="d.errorMsg"></td>
                        <td class="t_last"><a href="javascript:void(0)" ng-click="downloadInsErrMsg(d.batchNo)">下载</a></td>
                    </tr>
                </table>
                 <div class="index_page">
                    <tm-pagination conf="pagInsuredErrConf"></tm-pagination>
                </div>
             </div>       
        </div>
        <div class="layer_btn1">
                <button class="button_sure"  ng-click="closeDownloadErrTable()">确认</button>
        </div>
    </div>
</div>