<div ng-show="insuredMustOneLayer">
    <div class="mask"></div>
    <div class="tip_success_info">
        <div class="remove_header">
            <span>温馨提示</span>
            <a href="javascript:void(0)"><i ng-click="insuredMustOneClose()"></i></a>
        </div>
        <div class="info_container">
            <i class="tip_2"></i>
            <span>至少需要录入一个被保险人！</span>
        </div>
        <div class="remove_button">
            <button class="button_sure" ng-click="insuredMustOneClose()">返 回</button>
        </div>
    </div>
</div>