<div ng-show="addLayer">
    <div class="mask"></div>
    <div class="revise_insurant">
        <ng-form novalidate="novalidate" name="insuredForm">
            <div class="remove_header">
                <span>被保险人及标的</span>
                <span class="insurant"  ng-class="{'click_checked':toggle}"  ng-show="InsuredSameShows" ng-click="InsuredSame()">
                    <em>
                        <i></i>
                    </em>同投保人
                </span>
                <a href="javascript:void(0)" ng-click="addhideInsure()"><i></i></a>
            </div>
            <div class="layerOver">
                <ul class="list_ul list_ul_bor list_ul_wid">
                <li>
                    <em>*</em><span>姓名：</span>
                </li>
                <li>
                    <input type="text" ng-model="PrpTinsuredPropDto.insuredName"  ng-blur="insuredNewBlur()" required maxlength="30" warn-text="姓名"/>
                </li>
                <li></li>
                <li></li>
                <li>
                    <span><em>*</em>证件类型：</span>
                </li>
                <li>
                    <div class="ui-select">
                        <!--
                        <code-type base-code="PersonalIdentifyType" class="seletc_bor" is-fuzzy="true" ng-model="PrpTinsuredPropDto.identifyType"  ng-disabled="false" required warn-text="" ></code-type>
                        -->
                        <input type="text" class="fl" ng-model="PrpTinsuredPropDto.identifyType" />
                    </div>
                </li>
                <li>
                    <span><em>*</em>证件号码：</span>
                </li>
                <li>
                    <input type="text" class="fl" name="identifyNumber" ng-model="PrpTinsuredPropDto.identifyNumber" warn-text="" sv-credit="PrpTinsuredPropDto.identifyType" required maxlength="20"/>
                </li>
                <li>
                    <span>证件到期日：</span>
                </li>
                <li>
                    <input type="text" id="identityEndDate_Prop" jedate format="YYYY-MM-DD" class="date-input fl date" ng-model="PrpTinsuredPropDto.identityEndDate" maxlength="20" readonly/>
                </li>
                <li>
                    <span>性别：</span>
                </li>
                <li>
                    <div class="marr43">
                        <label class="mar_right" ng-class="{true:'radio',false:'on'}[insuredSexManFlag]" ng-click="radioSexClick2()">
                            <input type="radio" class="hide" value="1" name="trafficIns" ng-model="PrpTinsuredPropDto.sex"/><em>男</em>
                        </label>
                        <label ng-class="{true:'on',false:'radio'}[insuredSexWomanFlag]" ng-click="radioSexClick3()">
                            <input type="radio"  class="hide" value="2" name="trafficIns" ng-model="PrpTinsuredPropDto.sex"/><em>女</em>
                        </label>
                    </div>
                </li>
                <li>
                    <span>手机号码：</span>
                </li>
                <li>
                    <input type="text" value="" ng-model="PrpTinsuredPropDto.mobile" maxlength="11" warn-text="手机号码" ng-pattern="/^1[3-8][0-9]{9}$/" />
                </li>
                <li>
                    <span>电子邮箱：</span>
                </li>
                <li>
                    <input type="email" name="email" ng-model="PrpTinsuredPropDto.email" ng-minlength="5" maxlength="40" warn-text="电子邮箱" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"/>
                </li>
                <li>
                    <span>联系地址：</span>
                </li>
                <li class="long_width"><input type="text" maxlength="100" ng-model="PrpTinsuredPropDto.insuredAddress"></li>
            </ul>
            <ul class="list_ul revise_info">
                <li>
                    <span><em>*</em>投保房屋所在区县：</span>
                </li>
                <li >
                    <!--<ui-select ng-model="PrpTinsuredPropDto.provinceCode" on-select="selectCode($select.selected, 'province');return;" required class="fl select">
                        <ui-select-match style="overflow: hidden" placeholder="请选择省">{{$select.selected.codeName}}</ui-select-match>
                        <ui-select-choices repeat="code.codeCode as code in provinceList  | filter: $select.search">
                            <span ng-bind="code.codeName"></span>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select ng-model="PrpTinsuredPropDto.cityCode" on-select="selectCode($select.selected, 'city');return;" required class="fl select">
                        <ui-select-match style="overflow: hidden" placeholder="请选择市">{{$select.selected.codeName}}</ui-select-match>
                        <ui-select-choices repeat="code.codeCode as code in cityList  | filter: $select.search">
                            <span ng-bind="code.codeName"></span>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select ng-model="PrpTinsuredPropDto.townCode" on-select="selectCode($select.selected, 'town');return;" required class="fl select">
                        <ui-select-match style="overflow: hidden" placeholder="请选择区">{{$select.selected.codeName}}</ui-select-match>
                        <ui-select-choices repeat="code.codeCode as code in townList  | filter: $select.search">
                            <span ng-bind="code.codeName"></span>
                        </ui-select-choices>
                    </ui-select>-->
                    <input type="text" ng-model="PrpTinsuredPropDto.provinceCode" maxlength="100" required warn-text="请选择省">
                </li>
                <li>
                    <input type="text" ng-model="PrpTinsuredPropDto.cityCode" maxlength="100" required warn-text="请选择市">
                </li>
                <li>
                    <input type="text" ng-model="PrpTinsuredPropDto.townCode" maxlength="100" required warn-text="请选择区">
                </li>

                <li>
                    <span><em>*</em>乡镇/街道/小区/门牌号：</span>
                </li>
                <li class="long_width">
                    <input type="text" ng-model="PrpTinsuredPropDto.address" maxlength="100" required warn-text="乡镇/街道/小区/门牌号">
                </li>
                <li>
                    <span>纬度(六位小数)：</span>
                </li>
                <li>
                    <input type="text" ng-model="PrpTinsuredPropDto.latitude" maxlength="15" warn-text="{'ErrPattern':'纬度只能在正负90度之间，最多6位小数！'}" ng-pattern="/^(-|\+)?((90|90\.0{1,6})|([1-8]\d|\d)(\.\d{1,6}){0,1})$/"/>
                </li>
                <li>
                    <span>经度(六位小数)：</span>
                </li>
                <li>
                    <input type="text" ng-model="PrpTinsuredPropDto.longitude" maxlength="15" warn-text="{'ErrPattern':'经度只能在正负180度之间，最多6位小数！'}" ng-pattern="/^(-|\+)?((180|180\.0{1,6})|([1-9]\d|1[0-7]\d|\d)(\.\d{1,6}){0,1})$/"/>
                </li>
                <li>
                    <span><em>*</em>住宅类型：</span>
                </li>
                <li class="li_home">
                    <div class="marr43">
                        <label class="mar_right1" ng-class="{true:'radio',false:'on'}[houseCityFlag]" ng-click="radioHouseClick()">
                            <input type="radio" class="hide" value="01" name="trafficIns"  ng-model="PrpTinsuredPropDto.houseType"/><em>城市住宅</em>
                        </label>
                        <label ng-class="{true:'on',false:'radio'}[houseCountryFlag]" ng-click="radioHouseClick1()">
                            <input type="radio" checked="checked" class="hide" value="02" name="trafficIns" ng-model="PrpTinsuredPropDto.houseType"/><em>农村住宅</em>
                        </label>
                    </div>
                </li>
                <li>
                    <span>建筑类型：</span>
                </li>
                <li class="auto_width">
                    <div class="marr43">
                        <label class="mar_right5" ng-class="{true:'radio',false:'on'}[buildTypeFlag]" ng-click="buildTypeClick()">
                            <input type="radio" class="hide" value="02" name="trafficIns"  ng-model="PrpTinsuredPropDto.buildType"/><em>平房</em>
                        </label>
                        <label class="floor_width" ng-class="{true:'on',false:'radio'}[buildTypeSqueryFlag]" ng-click="buildTypeClick1()">
                            <!--<input type="radio" class="hide" value="1" name="trafficIns"  ng-model="PrpTinsuredPropDto.buildType"/>
                            <em>楼房</em>-->
                            <input type="radio"   ng-model="PrpTinsuredPropDto.buildType" class="hide" value="01" name="trafficIns" />
                            <em>楼房（位于第</em>
                            <input type="text" class="floor_num" ng-model="PrpTinsuredPropDto.buildFloor" warn-text="{'ErrPattern':'只能输入字母数字'}" ng-pattern="/^[A-Za-z0-9]*$/" maxlength="3" />
                            <em class="em_last">层）</em>
                        </label>
                    </div>
                </li>
                <li>
                    <span><em>*</em>建筑结构：</span>
                </li>
                <li class="li_question">
                    <div class="ui-select">
                        <!--<code-type ng-required="true" class="seletc_bor" base-code="ConstructType" ng-model='PrpTinsuredPropDto.buildStructure' ng-disabled="false" is-fuzzy="true"></code-type>-->
                        <input type="text" ng-model="PrpTinsuredPropDto.buildStructure" maxlength="40" />
                    </div>
                    <a href="javascript:void(0)" class="struct_icon" ng-click="structureClick()"></a>
                </li>
                <li ng-if="structFlag">
                    <span>其他结构备注：</span>
                </li>
                <li ng-if="structFlag">
                    <input type="text" ng-model="PrpTinsuredPropDto.buildStructureDes" maxlength="40" />
                </li>
                <li>
                    <span>建筑面积：</span>
                </li>
                <li >
                    <input type="text" ng-model="PrpTinsuredPropDto.buildArea" warn-text="{'NonEmpty':'不允许为空','ErrPattern':'整数不超过6位小数不超过2位'}" maxlength="9" ng-pattern="/^(?:(0\.\d{1,2}|[1-9][0-9]{0,5})|([1-9][0-9]{0,5}\.\d{1,2}))$/"/>
                    <span>㎡</span>
                </li>
                <li>
                    <span>建造时间：</span>
                </li>
                <li>
                    <input type="text" id="buildDate" class="date-input fl date" ng-model="PrpTinsuredPropDto.buildDate" jedate format="YYYY-MM-DD" max-date="{{maxOperateDate}}" readonly>
                </li>
                <li>
                    <span>是否整修：</span>
                </li>
                <li>
                    <div class="marr43">
                        <label class="mar_right" ng-class="{true:'radio',false:'on'}[refurbishedYesFlag]" ng-click="refurbishedClick()">
                            <input type="radio" class="hide" value="Y" name="trafficIns" ng-model="PrpTinsuredPropDto.repairFlag"/><em>是</em>
                        </label>
                        <label ng-class="{true:'on',false:'radio'}[refurbishedNoFlag]" ng-click="refurbishedClick1()" >
                            <input type="radio" class="hide" value="N" name="trafficIns" ng-model="PrpTinsuredPropDto.repairFlag"/><em>否</em>
                        </label>
                    </div>
                </li>
                <li ng-if="buildTime">
                    <span>整修时间：</span>
                </li>
                <li ng-if="buildTime">
                    <input type="text" class="date-input fl date" id="repairDate" jedate format="YYYY-MM-DD" ng-model="PrpTinsuredPropDto.repairDate" max-date="{{maxOperateDate}}" readonly>
                </li>
                <li>
                    <span><em>*</em>保险金额：</span>
                </li>
                <li class="auto_width1">
                    <input type="text" ng-model="PrpTinsuredPropDto.amount" required warn-text="{'NonEmpty':'保险金额不能为空','ErrPattern':'保险金额只能输入整数'}" maxlength="17" ng-pattern="/^(?:(0\.\d{1,2}|[1-9][0-9]{0,13})|([1-9][0-9]{0,13}))$/" ng-blur="amountBlur()" ng-if="!amountFlag"/>
                    <input type="text" ng-model="PrpTinsuredPropDto.amount" required warn-text="{'NonEmpty':'保险金额不能为空','ErrPattern':'保险金额只能输入整数'}" maxlength="17" ng-pattern="/^(?:(0\.\d{1,2}|[1-9][0-9]{0,13})|([1-9][0-9]{0,13}))$/" readonly ng-if="amountFlag"/>
                    <span>万元</span>
                    <strong>{{PrpTinsuredPropDto.msg}}</strong>
                </li>
            </ul>
            <div class="config_button">
                <button ng-click="InsuredSave(insuredForm)">确 定</button><!-- ng-class="{'ngdisable':buttonSure}" ng-disabled="buttonSure"-->
            </div>
            </div>
        </ng-form>
    </div>
</div>