<div ng-show="insuredsHasErrLayer">
    <div class="mask"></div>
    <div class="tip_success_info">
        <div class="remove_header">
            <span>温馨提示</span>
            <a href="javascript:void(0)"><i ng-click="insuredsHasErrClose()"></i></a>
        </div>
        <div class="info_container">
            <i class="tip_2"></i>
            <span ng-bind="importErrMsg"></span><!--导入被保险人清单存在错误信息，请下载失败记录！-->
        </div>
        <div class="remove_button">
            <button class="button_sure" ng-click="insuredsHasErrClose()">返 回</button>
        </div>
    </div>
</div>