<ul class="index_process">
    <li class="li_active"><i></i><span>1.填写投保信息</span></li>
    <li><i class="i_1"></i><span>2.收费</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <ng-form novalidate="novalidate" name="proposalForm" >
        <div class="hide">
            <div class="copy_input">
                <input type="text" class="fl" value="" ng-model="copyObjectId" mc-placeholder="请输入投保单号码或保单号码" ng-maxlength="22"/>
            </div>
            <div class="copy"><button class="submit" ng-click="copyProposalOrPolicy()">复 制</button></div>
        </div>
        <!--业务相关信息-->
        <div ng-repeat="risk in riskList">
            <div info="{{risk.index}}" class="index_list" ng-include src="risk.url"></div>
        </div>
        <!--争议处理方式-->
        <div  ng-show="indexFlag">
            <div class="index_list">
                <div class="index_tit"><h6>争议处理方式</h6></div>
                <ul class="list_ul list_ul_radio">
                    <li><span>处理方式：</span></li>
                    <li class="li_wid">
                        <div>
                            <label class="mar_right" ng-class="{true:'on',false:'radio'}[stuFlag]" ng-click="stuClick()">
                                <input type="radio" class="hide" value="1" name="trafficIns"  ng-check="checked"  ng-model="policy.prpTmain.arguesolution"/><em>诉讼</em>
                            </label>
                            <label class="mar_right4" ng-class="{true:'radio',false:'on'}[stuZFlag]" ng-click="stuClick1()">
                                <input type="radio" class="hide" value="2" name="trafficIns"
                                       ng-model="policy.prpTmain.arguesolution"/><em>仲裁</em>
                                <div class="arbitration">
                                    <span class="fl">约定仲裁机构名称：</span>
                                    <input type="text" ng-maxlength="30" maxlength="30" ng-model="policy.prpTmain.arbitBoardName" ng-if="!argues"/>
                                    <input type="text" ng-maxlength="30" maxlength="30" ng-model="policy.prpTmain.arbitBoardName" required ng-if="argues"/>
                                </div>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <!--收费方式-->
            <div class="index_list" ng-if="!payType">
                <div class="index_tit"><h6>收费方式</h6></div>
                <ul class="list_ul list_ul_radio">
                    <li><span>处理方式：</span></li>
                    <li>
                        <div>
                            <label class="mar_right" ng-class="{true:'on',false:'radio'}[onlineFlag]" ng-click="onlineClick()">
                                <input type="radio" class="hide" value="01" name="trafficIns" ng-checked="checked" ng-model="policy.prpTmain.payMode"/><em>线上收费</em>
                            </label>
                            <label ng-class="{true:'radio',false:'on'}[lineFlag]" ng-click="lineClick()">
                                <input type="radio" class="hide" value="02" name="trafficIns" ng-model="policy.prpTmain.payMode"/><em>线下收费</em>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <!--btn-->
            <div class="index_btn">
                <sino-a on-before="beforePdfView();" st-href="pdfUrl">
                    <span><i></i><em>预览</em></span>
                </sino-a>
                <!--<a href="#/pdf/?pdfUrl={{policy}}" target="_blank">
                    <span>
                        <i></i><em>预览</em>
                    </span>
                </a>-->
                <span ng-click="FileshowInsure()">
                    <i class="i_1"></i><em>上传</em>
                </span>
                <span ng-click="deleteshowInsure()">
                    <i class="i_2"></i><em>删除</em>
                </span>
                <span ng-click="savePause()">
                    <i class="i_3"></i><em>暂存</em>
                </span>
            </div>
            <div class="index_btn1">
                <button class="submit" ng-click="onSubmit()" ng-disabled="cannotSubmit" ng-class="{cannot_click:cannotSubmit}">提交审核</button>
                <button class="edit" ng-click="onEdit()">退出</button>
            </div>
        </div>
    </ng-form>
    <!---->
</div>
<!--弹层---删除投保-->
<div data-ng-include="'components/prpins/proposal/tpl/applicationDeleteLayer.html'"></div>
<!-- 弹层---添加被保险人 -->
<div data-ng-include="'components/prpins/proposal/tpl/InsuredNew.html'"></div>
<!-- 弹层---文件上传 -->
<div data-ng-include="'components/prpins/proposal/tpl/applicationFileUploadLayer.html'"></div>
<!-- 导入文件 -->
<div ng-if="BatchImport"  data-ng-include="'components/prpins/proposal/tpl/applicationImportLayer.html'"></div>
<!-- 文件上传失败 -->
<div data-ng-include="'components/prpins/proposal/tpl/applicationFileFailLayer.html'"></div>
<!-- 投保个人客户搜索 -->
<div ng-if="personnalSearchLayer" data-ng-include="'components/prpins/customer/tpl/customerLayer.html'"></div>
<!--  投保团体客户搜索 -->
<div ng-if="groupSearchLayer" data-ng-include="'components/prpins/customer/tpl/teamLayer.html'"></div>
<!-- 被保险人客户搜索 -->
<div ng-if="insuredPersonSearchLayer" data-ng-include="'components/prpins/customer/tpl/insuredNameLayer.html'"></div>
<!-- 确认线上收费 -->
<div data-ng-include="'components/prpins/proposal/tpl/publicOnLineLayer.html'"></div>
<!-- 确认线下收费 -->
<div data-ng-include="'components/prpins/proposal/tpl/publicOffLineLayer.html'"></div>
<!-- 建筑结构 -->
<div ng-if="insuredStructrueLayer" data-ng-include="'components/prpins/proposal/tpl/insuredStructrueLayer.html'"></div>
<!-- 公共成功 -->
<div data-ng-include="'components/prpins/proposal/tpl/applicationSucLayer.html'"></div>
<!-- 批量删除公共提示 -->
<div data-ng-include="'components/prpins/proposal/tpl/publicDeleteLayer.html'"></div>
<!-- 单个删除公共提示 -->
<div data-ng-include="'components/prpins/proposal/tpl/publicDeleteLayerOne.html'"></div>
<!-- 个单被保险人 -->
<div data-ng-include="'components/prpins/proposal/tpl/insuredOnlyOneLayer.html'"></div>
<!-- 公共提示 -->
<div data-ng-include="'components/prpins/proposal/tpl/publicHtmlLayer.html'"></div>
<!-- 提交审核被保险人必须有一条数据 -->
<div data-ng-include="'components/prpins/proposal/tpl/insuredMustOneLayer.html'"></div>
<!-- 被保险人正在导入 -->
<div ng-if="processImport"></div>
<!-- 个单被保险不能批量导入 -->
<div data-ng-include="'components/prpins/proposal/tpl/insuredBatchOnlyGroupLayer.html'"></div>
<!-- 被保险人导入信息错误 -->
<div data-ng-include="'components/prpins/proposal/tpl/insuredImportHasErrLayer.html'"></div>
<!-- 历史上传记录 -->
<div data-ng-include="'components/prpins/proposal/tpl/downloadHistoryLayer.html'"></div>
<!--  pdf预览 -->
<!--<div  data-ng-include="'components/prpins/proposal/tpl/pdfLayer.html'"></div>-->
<!--  mask -->
<div  data-ng-include="'components/prpins/proposal/tpl/layer.html'"></div>