<!--
****************************************************************************
* DESC       ：国元农险理赔支付信息管理查询页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/6
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section commentWidth">
  <div class="content_div content1-div">
    <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>查询条件</label>
                    <div class="cur fr">
                      <!--  <i class="iconfont click_img">&#xe667;</i>
                        <i class="iconfont click_img hide">&#xe668;</i>-->
                    </div>
                </span>
      <div class="condition_table">
        <form name="agriPaymentForm">
          <ul class='clearfix half-ul'>
            <li class="condition_td fl half-li">
              <label>赔款计算书号</label>
              <div class="half-div">
                <input type="text" ng-model="paymentMent.compensateNo"
                       ng-minLength="15"
                       maxlength="25"
                       style="color: #333 ;"
                       ng-pattern="regData.compensateNo"
                       ng-change="changeendorseNo(paymentMent.compensateNo)"
                       warn-text="{'ErrPattern':'赔款计算书号格式错误，请修改!',itemName:'赔款计算书号'}"
                       />
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>报案号码</label>
              <div class="half-div">
                <input type="text" style="color: #333 ;" ng-model="paymentMent.registNo"
                       ng-change="changeendorseNo(paymentMent.registNo)"
                       ng-minLength="15"
                       maxlength="21" ng-pattern="regData.number"
                       warn-text="{'ErrPattern':'报案号码格式错误，请修改!',itemName:'报案号码'}"
                       />
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>保单号码</label>
              <div class="half-div">
                <input type="text" style="color: #333 ;" ng-model="paymentMent.policyNo"
                       ng-change="changeendorseNo(paymentMent.policyNo)"
                       ng-pattern="regData.number"
                       maxlength="21" ng-minLength="15"
                       warn-text="{'ErrPattern':'保单号码格式错误，请修改!',itemName:'保单号码'}"
                       />
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>批次号</label>
              <div class="half-div">
                <input type="text" style="color: #333 ;" ng-model="paymentMent.billNo"
                       ng-pattern="regData.code"
                       warn-text="{'ErrPattern':'批次号格式错误，请修改!',itemName:'批次号'}"
                       />
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>支付单号</label>
              <div class="half-div">
                <input type="text" style="color: #333 ;" ng-model="paymentMent.serialNo"
                       ng-pattern="regData.code"
                       warn-text="{'ErrPattern':'支付单号格式错误，请修改!',itemName:'支付单号'}"
                      />
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>被保险人</label>
              <div class="half-div">
                <input type="text" style="color: #333 ;" ng-model="paymentMent.insuredName"
                       ng-pattern="regData.chineseNumber"
                       warn-text="{'ErrPattern':'被保险人格式错误，请修改!',itemName:'被保险人'}"
                    />
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>赔款类型</label>
              <div class="half-div">
                <ui-select style="color: #333 ;" ng-model="paymentMent.paymentType">
                  <ui-select-match placeholder="请选择">
                    <span ng-bind="$select.selected.codeName"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (PAYMENTTYPE | filter:$select.search)">
                    <span ng-bind="item.codeName"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>处理状态</label>
              <div class="half-div">
                <ui-select style="color: #333 ;" ng-model="paymentMent.thirdPayFlag">
                  <ui-select-match placeholder="请选择">
                    <span ng-bind="$select.selected.codeName"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (THIRDPAYFLAG | filter:$select.search)">
                    <span ng-bind="item.codeName"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>案件类型</label>
              <div class="half-div">
                <label><input class="ieCheckBox" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="infoToView.typeCase.typeCaseComCode" style="margin: 0px;margin-left: 23px;width: 22%;" />本机构</label>
                <label><input class="ieCheckBox" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="infoToView.typeCase.typeCaseNot" style="margin: 0px;margin-left: 23px;width: 22%;" />代查勘</label>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>流入时间</label>
              <div class="half-div condition-div">
                <div class="data-box">
                  <input type="text" style="color: #333 ;"  class="date-input date fl" id="flowStartDate" ng-model="paymentMent.flowStartDate"name="流入时间" max-date="{{paymentMent.flowEndDate}}" jedate format="YYYY-MM-DD"/><span class="data-span">-</span>
                  <input type="text" style="color: #333 ;"  class="date-input date fl" id="flowEndDate" ng-model="paymentMent.flowEndDate" name="流入时间" value="1" min-date="{{paymentMent.flowStartDate}}" jedate format="YYYY-MM-DD"/>
                </div>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>支付类型</label>
              <div class="half-div">
                <label><input class="ieCheckBox" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="infoToView.typePayment.typePaymentP3" style="margin: 0px;margin-left: 23px;width: 22%;" />实赔</label>
                <label><input class="ieCheckBox" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="infoToView.typePayment.typePaymentP1" style="margin: 0px;margin-left: 23px;width: 22%;" />预赔</label>
              </div>
            </li>
          </ul>
        </form>
        <div class="btn_tr clearfix">
          <span ng-click="query()">查询</span>
          <span ng-click="resetForm()">重置</span>
        </div>
      </div>
    </div>
    <div class="queryResult">
      <!--<div class="queryResult_title clearfix">-->
        <!--<span class="fl tit-color font-bold">查询结果列表</span>-->
      <!--</div>-->
      <div class="queryResult_title clearfix">
        <span class="fl tit-color font-bold">查询结果列表</span>
        <button class="fr" ng-click="goNext()">支付信息录入</button>
      </div>
      <table>
        <thead>
        <tr class="tr_top">
          <th>序号</th>
          <th>支付单号</th>
          <th>报案号码</th>
          <th>保单号码</th>
          <th>赔款计算书号</th>
          <th>批次号</th>
          <th class="w9">支付金额</th>
          <th class="w6">赔款类型</th>
          <th>被保险人</th>
          <th class="w9">处理状态</th>
          <th class="w6">操作</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr class="tr_content" ng-repeat="result in prpLregist">-->
        <tr class="tr_content" ng-repeat="result in prpLregist">
          <th>{{$index+1}}</th>
          <th><div class="w50oh w100oh" ng-attr-title="{{result.serialNo}}">{{result.serialNo}}</div></th>
          <th><div class="w50oh w100oh" ng-attr-title="{{result.registNo}}">{{result.registNo}}</div></th>
          <th><div class="w50oh w100oh" ng-attr-title="{{result.policyNo}}">{{result.policyNo}}</div></th>
          <th><div class="w50oh w100oh" style="white-space: nowrap;" ng-attr-title="{{result.compensateNo}}">{{result.compensateNo}}</div></th>
          <th><div class="w50oh w100oh" ng-attr-title="{{result.billNo}}">{{result.billNo}}</div></th>
          <th>{{result.payAmount}}</th>
          <th>
            <label ng-if="result.paymentType=='P60'">赔款</label>
            <label ng-if="result.paymentType=='GS60'">代付共保赔款</label>
            <label ng-if="result.paymentType=='P63'">施救费</label>
            <label ng-if="result.paymentType=='P62'">查勘费</label>
            <label ng-if="result.paymentType=='P64'">诉讼费</label>
            <label ng-if="result.paymentType=='P61'">检验鉴定费</label>
            <label ng-if="result.paymentType=='F67'">公估费</label>
            <label ng-if="result.paymentType=='P65'">系统内代查勘</label>
            <label ng-if="result.paymentType=='P68'">律师费</label>
            <label ng-if="result.paymentType!='P60'&&result.paymentType!='GS60'&&result.paymentType!='P63'
                        &&result.paymentType!='P62'&&result.paymentType!='P64'&&result.paymentType!='P61'
                        &&result.paymentType!='F67'&&result.paymentType!='P65'&&result.paymentType!='P68'">其他</label>
          </th>
          <th>{{result.insuredName}}</th>
          <!--第三方支付标识 0待提交 1待审核 2审核不通过
              3 支付中心待处理 4 支付中心退回 5 已打包待审核
              6 打包审核通过待发送 7 已发往银行 在途 8 银行打回
              9 支付成功 m 默认成功 n 银行退回支付中心-->
          <th>
            <label ng-if="result.thirdPayFlag==null">未处理</label>
            <label ng-if="result.thirdPayFlag=='0'">待提交</label>
            <label ng-if="result.thirdPayFlag=='1'">待审核</label>
            <label ng-if="result.thirdPayFlag=='2'">审核不通过</label>
            <label ng-if="result.thirdPayFlag=='3'">支付中心待处理</label>
            <label ng-if="result.thirdPayFlag=='4'">支付中心退回</label>
            <label ng-if="result.thirdPayFlag=='5'">已打包待审核</label>
            <label ng-if="result.thirdPayFlag=='6'">打包审核通过待发送</label>
            <label ng-if="result.thirdPayFlag=='7'">已发往银行</label>
            <label ng-if="result.thirdPayFlag=='8'">银行打回</label>
            <label ng-if="result.thirdPayFlag=='9'">支付成功</label>
            <label ng-if="result.thirdPayFlag=='m'">默认成功</label>
            <label ng-if="result.thirdPayFlag=='n'">银行退回支付中心</label>
          </th>
          <th>
            <div class="operation"  style="text-align: left;">
            <span class="C2DBE61" ng-if="result.thirdPayFlag=='0' || result.thirdPayFlag==null"
                  ng-click="goModify(result,'EDIT')" title="修改">修改</span>
            <span class="C2DBE61" ng-if="result.thirdPayFlag=='1' || result.thirdPayFlag=='3' ||
                  result.thirdPayFlag=='5' || result.thirdPayFlag=='6' || result.thirdPayFlag=='7' ||
                  result.thirdPayFlag=='n' || result.thirdPayFlag=='9'"
                  ng-click="goSee(result,'SHOW')" title="查看">查看</span>
            <span class="C2DBE61" ng-if="result.thirdPayFlag=='2' || result.thirdPayFlag=='4'"
                  ng-click="goDel(result)" title="作废">作废</span>
            <span class="C2DBE61" ng-if="result.thirdPayFlag=='4'" ng-click="goModify(result,'EDIT')" title="重新处理">重新处理</span>
            <span class="C2DBE61" ng-if="result.thirdPayFlag=='9'" ng-click="goDownload(result)" title="下载">下载</span>
              </div>
          </th>
        </tr>
        </tbody>
      </table>
      <div ng-show="prplregist===null||prplregist.length==0" ng-class="{'not-query':prplregist===null,'query-null':prplregist.length==0}"></div>
      <div class="index_page">
        <tm-pagination conf="paginationConf"></tm-pagination>
      </div>
    </div>
   <!-- <div class="btn_tr clearfix mt20">
      <span ng-click="goBack()">返回</span>
      &lt;!&ndash;<span ng-click="goPaymentFull()">整单支付</span>  &ndash;&gt;
      &lt;!&ndash;<span ng-click="goPaymentBill()">清单支付</span>&ndash;&gt;
    </div>-->
  </div>
</div>
<!--支付信息录入-->
<div class="section" ng-if="false">
  <div class="content_div content1-div">
    <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>查询条件</label>
                    <div class="cur fr">
                        <i class="iconfont click_img">&#xe667;</i>
                        <i class="iconfont click_img hide">&#xe668;</i>
                    </div>
                </span>
      <div class="condition_table">
        <form name="agriPaymentForm">
          <ul class='clearfix half-ul'>
            <li class="condition_td fl half-li">
              <label>赔款计算书号</label>
              <div class="half-div">
                <input type="text" ng-model="paymentMent.compensateNo"
                       ng-minLength="15"
                       ng-pattern="regData.compensateNo"
                       warn-text="{'ErrPattern':'赔款计算书号只能输入-和数字!',itemName:'赔款计算书号'}"
                       class=""/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>报案号码</label>
              <div class="half-div">
                <input type="text" ng-model="paymentMent.registNo"
                       ng-pattern="regData.numberSign"
                       warn-text="{'ErrPattern':'报案号码只能输入字母和数字!',itemName:'报案号码'}"
                       class=""/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>保单号码</label>
              <div class="half-div">
                <input type="text" ng-model="paymentMent.policyNo"
                       ng-pattern="regData.numberSign"
                       warn-text="{'ErrPattern':'保单号码只能输入*_和数字!',itemName:'保单号码'}"
                       class=""/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>被保险人</label>
              <div class="half-div">
                <input type="text" ng-model="paymentMent.insuredName"
                       ng-pattern="regData.Chinese"
                       warn-text="{'ErrPattern':'被保人名称只能输入汉字!',itemName:'被保人名称'}"
                       class=""/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>赔款类型</label>
              <div class="half-div">
                <ui-select ng-model="paymentMent.paymentType">
                  <ui-select-match placeholder="请选择">
                    <span ng-bind="$select.selected.codeName"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (PAYMENTTYPE | filter:$select.search)">
                    <span ng-bind="item.codeName"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>流入时间</label>
              <div class="half-div condition-div">
                <div class="data-box">
                  <input type="text" class="date-input date fl" id="StatStartDate" ng-model="paymentMent.flowStartDate" max-date="{{payment.prpLcompensate.InputDate1}}" jedate format="YYYY-MM-DD"/><span class="data-span">-</span>
                  <input type="text" class="date-input date fl" id="StatEndDate" ng-model="paymentMent.flowEndDate" min-date="{{payment.prpLcompensate.InputDate2}}" jedate format="YYYY-MM-DD"/>
                </div>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>案件类型</label>
              <div class="half-div">
                <label><input type="checkbox" class="ieCheckBox" ng-true-value="true" ng-false-value="false" ng-model="infoToView.typeCase.typeCaseComCode" style="margin: 0px;margin-left: 23px;width: 28px;" />本机构</label>
                <label><input type="checkbox" class="ieCheckBox" ng-true-value="true" ng-false-value="false" ng-model="infoToView.typeCase.typeCaseNot" style="margin: 0px;margin-left: 23px;width: 28px;" />代查勘</label>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>支付类型</label>
              <div class="half-div">
                <label><input type="checkbox" class="ieCheckBox" ng-true-value="true" ng-false-value="false" ng-model="infoToView.typePayment.typePaymentP3" style="margin: 0px;margin-left: 23px;width: 28px;" />实赔</label>
                <label><input type="checkbox" class="ieCheckBox" ng-true-value="true" ng-false-value="false" ng-model="infoToView.typePayment.typePaymentP1" style="margin: 0px;margin-left: 23px;width: 28px;" />预赔</label>
              </div>
            </li>
          </ul>
        </form>
        <div class="btn_tr clearfix">
          <span ng-click="query()">查询</span>
          <span ng-click="resetInformation()">重置</span>
        </div>
      </div>
    </div>
    <div class="queryResult">
      <!--<div class="queryResult_title clearfix">-->
      <!--<span class="fl tit-color font-bold">查询结果列表</span>-->
      <!--</div>-->
      <div class="queryResult_title clearfix">
        <span class="fl tit-color font-bold">查询结果列表</span>
      </div>
      <table>
        <thead>
        <tr class="tr_top">
          <th>选择</th>
          <th>报案号码</th>
          <th>保单号码</th>
          <th>赔款计算书号</th>
          <th>赔款类型</th>
          <th>被保险人</th>
          <th>总赔款金额</th>
          <th>已赔付金额</th>
          <th>待赔付金额</th>
          <th>本次支付金额</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr class="tr_content" ng-repeat="result in prpLregist">-->
        <tr class="tr_content" ng-repeat="(index,result) in prpLregist">
          <th><input type="checkbox"></th>
          <th>{{result.serialNo}}</th>
          <th>{{result.registNo}}</th>
          <th>{{result.policyNo}}</th>
          <th>{{result.compensateNo}}</th>
          <th>{{result.billNo}}</th>
          <th>{{result.payAmount}}</th>
          <th>
            <label ng-if="result.paymentType=='P60'">赔款</label>
            <label ng-if="result.paymentType=='GS60'">代付共保赔款</label>
            <label ng-if="result.paymentType=='P63'">施救费</label>
            <label ng-if="result.paymentType=='P62'">查勘费</label>
            <label ng-if="result.paymentType=='P64'">诉讼费</label>
            <label ng-if="result.paymentType=='P61'">检验鉴定费</label>
            <label ng-if="result.paymentType=='F67'">公估费</label>
            <label ng-if="result.paymentType=='P65'">系统内代查勘</label>
            <label ng-if="result.paymentType=='P68'">已作废</label>
            <label ng-if="result.paymentType=='else'">其他</label>
          </th>
          <th>{{result.insuredName}}</th>
          <th>
            <label ng-if="result.thirdPayFlag=='0'">正在处理</label>
            <label ng-if="result.thirdPayFlag=='1'">已处理</label>
            <label ng-if="result.thirdPayFlag=='2'">审核退回/审核不通过</label>
            <label ng-if="result.thirdPayFlag=='3'">审核通过</label>
            <!--<label ng-if="result.thirdPayFlag=='2'">审核不通过</label>-->
            <label ng-if="result.thirdPayFlag=='6'">支付中心处理中</label>
            <label ng-if="result.thirdPayFlag=='4'">支付中心退回</label>
            <label ng-if="result.thirdPayFlag=='9'">支付成功</label>
            <label ng-if="result.thirdPayFlag=='8'">已作废</label>
          </th>
        </tr>
        </tbody>
      </table>
      <div ng-show="prplregist===null||prplregist.length==0" ng-class="{'not-query':prplregist===null,'query-null':prplregist.length==0}"></div>
      <div class="index_page">
        <tm-pagination conf="paginationConf"></tm-pagination>
      </div>
    </div>
    <div class="btn_tr clearfix mt20">
      <span ng-click="goPaymentFull()">整单支付</span>
      <span ng-click="goPaymentBill()">清单支付</span>
    </div>
  </div>
</div>