
<!-- start 内容 -->
<!--
****************************************************************************
* DESC       ：国元农险理赔立案任务处理---种植险/养殖险
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/12
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section" id="claim_handle">
    <div class="content_div content1-div">
        <div class='damage clearfix' ng-if="false">
            <span class='fl damage_span' ng-click="openCommunicationLayer()">理赔沟通</span>
            <span class='fl damage_span' ng-click="openEleDocumentLayer()">电子单证</span>
            <!--<span class="fl damage_span" ng-show="!isAquaculture">注销/拒赔信息</span>-->
            <!--<span class="fl damage_span" ng-show="isAquaculture" ng-click="openInforListLayer()">索赔清单</span>-->
            <span class="fl damage_span" ng-click="openInforListLayer()">索赔清单</span>
        </div>
        <div class="queryCriteria">
      <span class="queryCriteria_title">
          <label>支付信息修改</label>
          <span class="click_img"></span>
      </span>
            <div class="condition_table">
                <form name="transferForm">
                    <ul class="clearfix half-ul">
                        <li class="condition_td fl half-li">
                            <label>计算书号</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentSetMent.prpLsumpayDto.compensateNo" ng-disabled="true"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>立案号</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentSetMent.prpLsumpayDto.claimNo" ng-disabled="true"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>保单号码</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentSetMent.prpLsumpayDto.claimNo" ng-disabled="true"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>被保险人名称</label>
                            <div class="half-div">
                                <input type="text" maxlength="19" ng-model="paymentSetMent.prpcmainDto.insuredName" ng-disabled="true" value="87654324567898765435678987654567890876543"/>
                            </div>
                        </li>
                        <li class="condition_td fl"  style="width: 100%">
                            <label style="width: 20%">保险期间</label>
                            <div class="half-div">
                                <input type="text" class="danger_short" ng-model="paymentSetMent.date" ng-disabled="true"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>出险时间</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentSetMent.prpLClaimDto.damageStartDate" ng-disabled="true"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>出险地点</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentSetMent.prpLClaimDto.damageAddress" ng-disabled="true"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>币别</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentSetMent.curryncyName" ng-disabled="true"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>赔付金额</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentSetMent.prpLsumpayDto.sumthisPay" ng-disabled="true"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>业务归属机构</label>
                            <div class="half-div">
                                <input type="text" ng-disabled="true" ng-model="paymentSetMent.comName"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label> 归属业务员</label>
                            <div class="half-div">
                                <input type="text" ng-disabled="true" ng-model="paymentSetMent.prpLClaimDto.handler1Code">
                            </div>
                        </li>
                        <li class="condition_td fl half-li" ng-if="paymentSetMent.prpLsumpayDto.payType">
                            <label>赔款类型</label>
                            <div class="half-div">
                                <input ng-disabled="true" ng-value="paymentSetMent.prpLsumpayDto.payType==1?'赔款':'费用'"/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li" ng-show="prpLaccountBankShow">
                            <label>开户行</label>
                            <div class="half-div">
                                <input type="text" ng-disabled="true" ng-model="paymentSetMent.prpLsumpayDto.accountBank">
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>账户名</label>
                            <div class="half-div">
                                <input type="text" ng-disabled="true" ng-model="paymentSetMent.prpLsumpayDto.accountName">
                            </div>

                        </li>

                        <li class="condition_td fl half-li">
                            <label>账号</label>
                            <div class="half-div">
                                <input type="text" ng-disabled="true" ng-model="paymentSetMent.prpLsumpayDto.accountNo" />
                            </div>
                        </li>

                        <li class="condition_td fl half-li" >
                            <label>账户属性</label>
                            <div class="half-div">
                                <code-type base-code="payMentGetFlag" ng-disabled="true" ng-model="paymentSetMent.prpLsumpayDto.flag"></code-type>
                            </div>
                        </li>
                        <li class="condition_td fl half-li" ng-if="accountPresidiShow">
                            <label>结算方式</label>
                            <div class="half-div">
                                <code-type base-code="SettlementMode" ng-disabled="true" ng-model="paymentSetMent.prpLsumpayDto.SettlementMode"></code-type>
                            </div>
                        </li>
                        <li class="condition_td fl half-li" ng-if="accountPresidiShow">
                            <label>卡/折标识</label>
                            <div class="half-div">
                                <code-type ng-disabled="true" base-code="payMentCardType" ng-model="paymentSetMent.prpLsumpayDto.CardType"></code-type>
                            </div>
                        </li>
                        <li class="condition_td fl half-li" ng-if="accountPresidiShow">
                            <!--没有设置好的-->
                            <label>省市代码</label>
                            <div class="half-div">
                                <ui-select ng-model="paymentSetMent.prpLsumpayDto.presidial" ng-change="getModelName($select.selected.codecname,'presidialName')" ng-disabled="true" >
                                    <ui-select-match  allow-clear placeholder="查询或选择...">
                                        {{$select.selected.codeName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.codeCode as code in aTSAreaCodeList | filter: $select.search">
                                        <span ng-bind="code.codeName"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <!--<code-type base-code="riskType" ng-value="swflogDto.handlerName" ng-model="swflogDto.handlerCode"></code-type>-->
                            </div>
                            <!--<code-type base-code="aTSAreaCode" ng-model="q"></code-type>-->

                        </li>
                        <li class="condition_td fl half-li" ng-if="prpLaccountBankShow">
                            <!--没有设置好的-->
                            <label>省/市代码</label>
                            <div class="half-div">
                                <ui-select ng-model="paymentSetMent.prpLsumpayDto.presidial" ng-change="getCantonalList($select.selected.codeCode)" ng-disabled="true" >
                                    <ui-select-match  allow-clear placeholder="查询或选择...">
                                        {{$select.selected.codeName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.codeCode as code in povinceList | filter: $select.search">
                                        <span ng-bind="code.codeName"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <!--<code-type base-code="riskType" ng-value="swflogDto.handlerName" ng-model="swflogDto.handlerCode"></code-type>-->
                            </div>
                            <!--<code-type base-code="aTSAreaCode" ng-model="q"></code-type>-->

                        </li>
                        <li class="condition_td fl half-li" ng-if="prpLaccountBankShow">
                            <!--没有设置好的-->
                            <label>市/区代码</label>
                            <div class="half-div">
                                <ui-select ng-model="paymentSetMent.prpLsumpayDto.remark" ng-change="getBankCode(paymentSetMent.prpLsumpayDto.accountCode,$select.selected.codecname)" ng-disabled="true" >
                                    <ui-select-match  allow-clear placeholder="查询或选择...">
                                        {{$select.selected.codeName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.codeCode as code in cantonalList | filter: $select.search">
                                        <span ng-bind="code.codeName"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <!--<code-type base-code="riskType" ng-value="swflogDto.handlerName" ng-model="swflogDto.handlerCode"></code-type>-->
                            </div>
                            <!--<code-type base-code="aTSAreaCode" ng-model="q"></code-type>-->

                        </li>
                        <li class="condition_td fl half-li" ng-if="accountPresidiShow">
                            <!--没有设置好的-->
                            <label>银行代码</label>
                            <div class="half-div">
                                <ui-select  ng-model="paymentSetMent.prpLsumpayDto.accountCode" ng-change="getModelName($select.selected.codecname,'accountName')" ng-disabled="true">
                                    <ui-select-match   placeholder="查询或选择...">
                                        {{$select.selected.codeName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.codeCode as code in BankList | filter: $select.search">
                                        <span ng-bind="code.codeName"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </li>
                        <li class="condition_td fl half-li" ng-if="accountPresidiShow">
                            <label>联行号</label>
                            <div class="half-div">
                                <ui-select  ng-model="paymentSetMent.prpLsumpayDto.relatebankCode" ng-change="getModelName($select.selected.codecname,'accountName')" ng-disabled="true">
                                    <ui-select-match   placeholder="查询或选择...">
                                        {{$select.selected.codeName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.codeCode as code in relatebankList | filter: $select.search">
                                        <span ng-bind="code.codeName"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </li>
                        <li class="condition_td fl half-li" ng-if="accountPresidiShow">
                            <label>付款备注信息:</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentSetMent.prpLsumpayDto.remarkInfo"  ng-disabled="true"/>
                            </div>
                        </li>
                        <!--<li class="condition_td fl full_li" >-->
                            <!--<label><i class='i-col'>*</i>审核意见</label>-->
                            <!--<div class="half-div">-->
                               <!--<textarea rows="2" cols="40" ng-model="paymentSetMent.prpLsumpayDto.backReason">-->

                               <!--</textarea>-->
                            <!--</div>-->
                        <!--</li>-->
                        <li class="condition_td fl  full_li">
                            <label><i class='i-col'>*</i>审核意见</label>
                            <div class="half-div">
                                <textarea rows="2" cols="40" ng-model="paymentSetMent.prpLsumpayDto.opinions">

                                </textarea>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="btn_tr btn_mid">
                <span class="fl" ng-click="save('5')">保存</span>
                <span class="fr" ng-click="save('2')">退回</span>
            </div>
        </div>

    </div>
</div>
</div>
<!--理赔沟通弹层-->
<!--<div ui-view="communication"></div>-->
<!--电子单证弹层-->
<!--<div ui-view="eleDocument"></div>-->
<!--索赔资料清单弹层-->
<!--<div ui-view="inforList"></div>-->


