<!--
****************************************************************************
* DESC       ：国元农险理赔支付信息管理查询页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/6
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
          zhaowenjie    12.8          整单支付
****************************************************************************
-->
<style type="text/css">
  *{margin:0;padding:0;list-style-type:none;}

  table{empty-cells:show;border-collapse:collapse;border-spacing:0;}

  .demo{width:670px;margin:20px auto;}
  .inputbox{border:1px solid #7f9db9;height:10px;line-height:10px;width: 99%;}
  .inputbox .stext{border:0px;height:18px;line-height:18px;width: 100%;margin:0;padding:0;float:left;color:#000;}
  .inputbox .keyicon{margin:3px;padding:0;float:right}
  .inputbox .keyicon img{cursor:pointer;}
  /* 选择城市样式 */
  .search_li02{width:150px;}
  .list_main{width:150px;}
  .choose_frame{clear:both;float:left;text-align:left;width:372px;}
  .choose_frame .list_head{border-bottom:1px dashed #D7D7D7;height:27px;padding-left:5px;width:367px;}
  .choose_frame .list_head .fleft li {cursor:pointer;float:left;height:27px;line-height:27px;margin-right:2px;text-align:center;width:26px;}

  .choose_frame .list_head .fcenter{float:left;line-height:27px;padding-left:10px;}
  .choose_frame .list_head .fright{float:right;padding-right:10px;padding-top:7px;}
  .city_sugg{clear:both;float:left;line-height:22px;width:372px;}
  .city_sugg li{float:left;padding-left:11px;width:50px;}
  .more_city{float:right;padding-bottom:5px;padding-right:12px;}
  .search_li02{background:no-repeat scroll 0 2px transparent;font-weight:bold;}

  .city_list2{border-bottom:1px dashed #D7D7D7;height:27px;line-height:27px;width:372px;}
  .city_list2 li{float:left;padding-left:7px;}
  .city_list2 a:hover{color:#FF6000;font-size:16px;font-weight:bold;}
  .unshow{display:none;}
  .link01 a:link, .link01 a{color:#2860AE;text-decoration:none;}
  .link01 a:visited{color:#2860AE;text-decoration:none;}
  .link01 a:hover{color:#FF6000;text-decoration:none;}
  .link01 a:active{color:#2860AE;text-decoration:none;}
  .list_main{float:left;width:372px;}
  .suggest-container{background:none repeat scroll 0 0 white;float:left;width:175px;z-index:99999;}
  .suggest-container .ds_input_tips{color:#666666;line-height:22px;text-align:left;}
  .suggest-container .ds_input_tips_no{background-color:#FF8040;margin:0;padding-left:10px;width:165px;}
  .suggest-container .ds_input_tips_one{border-bottom:1px dashed #AAAAAA;margin:0 5px;padding-left:5px;width:160px;}
  .suggest-container .ds_input_tips_full{border-bottom:1px dashed #AAAAAA;margin:0 5px;padding-left:5px;width:160px;}
  .suggest-container ol{float:left;padding:2px 5px;width:165px;}
  .suggest-container li{border-bottom:1px solid #FFFFFF;border-top:1px solid #FFFFFF;color:#0055AA;float:left;font-size:12px;line-height:20px;padding:1px 0 2px;width:100%;}
  .suggest-container dl{float:left;font-size:12px;line-height:20px;padding:0 2px;width:95%;}
  .suggest-container dt, .suggest-container dd{color:#414141;float:left;font-size:12px;line-height:20px;list-style:none outside none;width:99%;}
  .suggest-container .top_mover{background:none repeat scroll 0 0 #E7F1FD;border-bottom:1px solid #7F9DB9;border-top:1px solid #7F9DB9;color:#0055AA;cursor:pointer;}
  .suggest-container .top_mout{background:none repeat scroll 0 0 #FFFFFF;border-bottom:1px solid #FFFFFF;border-top:1px solid #FFFFFF;color:#0055AA;}
  .suggest-container .ds_selected{background:none repeat scroll 0 0 #C8E3FC;color:#0055AA;cursor:pointer;}
  .suggest-container .ds_selected span{color:#0055AA;cursor:pointer;}
  .suggest-container .suggest-result{color:#0055AA;cursor:pointer;float:right;padding-right:5px;text-align:right;white-space:nowrap;}
  .suggest-container .suggest-key{float:left;padding-left:5px;text-align:left;}
  .suggest-container li, .suggest-bottom{clear:both;overflow:hidden;}
  .suggest-shim{z-index:99998;}
  .suggest-bottom{padding:0 5px 5px;}
  .suggest-close-btn{float:right;}
  .on{color:#FF6000;font-size:16px;font-weight:bold;}
  .off{color:#195CB5;}
  .city_sugg a:link{color:#333;}
  .city_sugg a:hover{color:#FF6600;}

</style>
<div class="section">

  <div class="content_div content1-div">
    <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>基本信息</label>
                </span>
      <div class="condition_table">
        <ul class='clearfix half-ul'>
          <li class="condition_td fl half-li">
            <label>收付编号</label>
            <div class="half-div">
              <input ng-model="queryDto.paymentNo" type="text" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>领款人类型</label>
            <div class="half-div">
              <!--<ui-select style="color: #333 ;" ng-model="queryDto.receiverTypeOther" ng-disabled="showFlag">
                <ui-select-match placeholder="请选择">
                  <span ng-bind="$select.selected.codeName"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (RECEIVERTYPE | filter:$select.search)">
                  <span ng-bind="item.codeName"></span>
                </ui-select-choices>
              </ui-select>-->
              <code-type ng-model="queryDto.receiverTypeOther" base-code="receiverTypeOthers" ng-disabled="showFlag"></code-type>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>领款人名称</label>
            <div class="half-div">
              <input ng-model="queryDto.receiverFullName" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.chineseNumber"
                     warn-text="{'ErrPattern':'领款人名称格式错误，请修改!',itemName:'领款人名称'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>领款人证件类型</label>
            <div class="half-div queryTyeUiselect">
              <!--<ui-select style="color: #333 ;" ng-model="queryDto.certifType" ng-disabled="showFlag">
                <ui-select-match placeholder="请选择">
                  <span ng-bind="$select.selected.codeName"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (CERTITYPE | filter:$select.search)">
                  <span ng-bind="item.codeName"></span>
                </ui-select-choices>
              </ui-select>-->
              <code-type ng-model="queryDto.certifType" base-code="certifTypes" ng-disabled="showFlag"></code-type>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>证件号码</label>
            <div class="half-div">
              <input ng-model="queryDto.certifNo" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.identityType"
                     warn-text="{'ErrPattern':'证件号码格式错误，请修改!',itemName:'证件号码'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>紧急程度</label>
            <div class="half-div queryTyeUiselect">
              <!--<ui-select style="color: #333 ;" ng-model="queryDto.urgentType" ng-disabled="showFlag">
                <ui-select-match placeholder="请选择">
                  <span ng-bind="$select.selected.codeName"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (URGENTTYPE | filter:$select.search)">
                  <span ng-bind="item.codeName"></span>
                </ui-select-choices>
              </ui-select>-->
              <code-type ng-model="queryDto.urgentType" base-code="urgentTypes" ng-disabled="showFlag"></code-type>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="queryCriteria mt20">
                <span class="queryCriteria_title">
                    <label>账户信息</label>
                    <div class="cur fr">
                        <!--  <i class="iconfont click_img">&#xe667;</i>
                          <i class="iconfont click_img hide">&#xe668;</i>-->
                    </div>
                </span>
      <div class="condition_table">
        <ul class='clearfix half-ul'>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>省份名称</label>
            <div class="half-div">
              <input ng-model="queryDto.provinceCode" type="text" value='' ng-disabled="true"
                     id='pro' ng-pattern="regData.Chinese"
                     warn-text="{'ErrPattern':'省份名称格式错误，请修改!',itemName:'省份名称'}"/>
            </div>
            <div id="sublist" style="display:none"></div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>城市名称</label>
            <div class="half-div">
              <input ng-model="queryDto.cityCode" type="text" value='' ng-disabled="showFlag"
                     id="btn_hukou" onclick="hukouSelect()"
                     style="font-size: 14px;height: 28px;line-height: 28px;border: 1px solid #ccc;padding-left: 10px;
                     border-radius: 3px;color: #999;padding-right: 10px;width: 83%;"
                     ng-pattern="regData.Chinese"
                     warn-text="{'ErrPattern':'城市名称格式错误，请修改!',itemName:'城市名称'}" />
            </div>
            <!-- alpha div -->
            <div id="maskLayer" style="display:none">
              <iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
              <div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
              <div id="drag">
                <h3 id="drag_h"></h3>
                <div id="drag_con"></div><!-- drag_con end -->
              </div>
            </div><!-- maskLayer end -->
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i> 账号属性</label>
            <div class="half-div">
              <label style="width: 117px;text-align: left;"><input type="radio" class="radioWidth1" value="1" ng-model="queryDto.accountType"
                                                  style="margin: 0px;" ng-disabled="showFlag" />个人账号</label>
              <label style="width: 117px;text-align: left;"><input type="radio"  class="radioWidth1" value="2" ng-model="queryDto.accountType"
                                                  style="margin: 0px;" ng-disabled="showFlag" />单位账号</label>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label class="opacity-0"><i class='i-col'>*</i> 账号属性</label>
            <div class="half-div" >
              <span class='btn fl danger-btn' ng-click ="SynchAccount();" ng-disabled="showFlag">同步账户信息</span>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>银行大类</label>
            <div class="half-div">
              <input ng-model="queryDto.bankType" type="text" value='' ng-disabled="showFlag"
                     id="bankType" onclick="suggestF.display(this,'',event);"
                     onblur="item_suggest.item_onblur(this);" onpropertychange="proBank();"
                     ng-pattern="regData.chineseNumber" onkeydown="item_suggest.item_display(this,'',event);"
                     warn-text="{'ErrPattern':'银行大类格式错误，请修改!',itemName:'银行大类'}" /><!--item_suggest.item_display(this,'',event);-->
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>开户银行</label>
            <div class="half-div">
              <input ng-model="queryDto.bank" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.chineseNumber" onkeyup="item_suggest1.item_display1(this,'',event);"
                     warn-text="{'ErrPattern':'开户银行格式错误，请修改!',itemName:'开户银行'}" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>银行账号</label>
            <div class="half-div">
              <input ng-model="queryDto.bankAccount" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.number"
                     maxlength="22"
                     warn-text="{'ErrPattern':'银行账号格式错误，请修改!',itemName:'银行账号'}" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>账号确认</label>
            <div class="half-div">
              <input ng-model="queryDto.bankAccount2" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.number"
                     maxlength="22"
                     warn-text="{'ErrPattern':'银行账号格式错误，请修改!',itemName:'银行账号'}" />
            </div>
          </li>
          <li class="condition_td fl half-li" style="width: 517px !important;">
            <label class="w32label"><i class='i-col'>*</i> 账号类型</label>
            <div class="half-div">
              <label style="width: 103px;text-align: left;"><input type="radio" class="radioWidth2" value="00" ng-model="queryDto.accountFlag"
                                                  style="margin: 0px;" ng-disabled="showFlag" />银行卡</label>
              <label style="width: 90px;text-align: left;"><input type="radio" class="radioWidth3" value="01" ng-model="queryDto.accountFlag"
                                                 style="margin: 0px;" ng-disabled="showFlag" />存折</label>
              <label style="width: 117px;text-align: left;"><input type="radio" class="radioWidth1" value="03" ng-model="queryDto.accountFlag"
                                                  style="margin: 0px;" ng-disabled="showFlag" />对公账号</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="queryCriteria mt20">
                <span class="queryCriteria_title">
                    <label>领款人信息</label>
                    <div class="cur fr">
                          <!--<i class="iconfont click_img">&#xe667;</i>
                          <i class="iconfont click_img hide">&#xe668;</i>-->
                      </div>
                </span>
      <div class="condition_table">
        <ul class='clearfix half-ul'>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>手机号码</label>
            <div class="half-div">
              <input ng-model="queryDto.mobilePhone" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.mobilePhone"
                     warn-text="{'ErrPattern':'手机号码格式错误，请修改!',itemName:'手机号码'}" />
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>家庭电话</label>
            <div class="half-div">
              <input ng-model="queryDto.familyPhone" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.phone"
                     warn-text="{'ErrPattern':'家庭电话格式错误，请修改!',itemName:'家庭电话'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>办公电话</label>
            <div class="half-div">
              <input ng-model="queryDto.officePhone" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.phone"
                     warn-text="{'ErrPattern':'家庭电话格式错误，请修改!',itemName:'家庭电话'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>详细地址</label>
            <div class="half-div">
              <input ng-model="queryDto.address" type="text" value='' ng-disabled="showFlag"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>QQ号码</label>
            <div class="half-div">
              <input ng-model="queryDto.qqNumber" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.qq"
                     warn-text="{'ErrPattern':'QQ号码格式错误，请修改!',itemName:'QQ号码'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>电子邮件</label>
            <div class="half-div">
              <input ng-model="queryDto.email" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.email"
                     warn-text="{'ErrPattern':'电子邮件格式错误，请修改!',itemName:'电子邮件'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>单位联系人</label>
            <div class="half-div">
              <input ng-model="queryDto.unitLink" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.chineseNumber"
                     warn-text="{'ErrPattern':'单位联系人格式错误，请修改!',itemName:'单位联系人'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>邮政编码</label>
            <div class="half-div">
              <input ng-model="queryDto.postCode" type="text" value='' ng-disabled="showFlag"
                     ng-pattern="regData.postCode"
                     warn-text="{'ErrPattern':'邮政编码格式错误，请修改!',itemName:'邮政编码'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i> 支付方式</label>
            <div class="half-div">
              <label style="width: 131px;text-align: left;"><input type="radio" value="1" ng-model="queryDto.payWay" class="radioWidth4"
                                                  style="margin: 0px;" ng-disabled="showFlag" />第三方支付</label>
              <label style="width: 117px;text-align: left;"><input type="radio" value="2" ng-model="queryDto.payWay" class="radioWidth1"
                                                  style="margin: 0px;" ng-disabled="showFlag" />平台支付</label>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>用途说明</label>
            <div class="half-div">
              <input ng-model="queryDto.payPurpose" type="text" value='' ng-disabled="showFlag" />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="queryCriteria mt20">
      <span class="queryCriteria_title">
        <label>赔付信息</label>
        <div class="cur fr">
      <!--    <i class="iconfont click_img">&#xe667;</i>
          <i class="iconfont click_img hide">&#xe668;</i>-->
        </div>
      </span>
      <div class="condition_table">
        <table>
          <thead>
          <tr class="tr_top">
            <th>序号</th>
            <th>报案号码</th>
            <th>被保险人</th>
            <th>理算书号</th>
            <th>赔款类型</th>
            <th>结案金额</th>
            <th>已支付金额</th>
            <th>本次支付金额</th>
          </tr>
          </thead>
          <tbody>
          <tr class="tr_content" ng-repeat="result in prpLregist">
            <td ng-bind="$index+1"></td>
            <td >
              <div class="w50oh w100oh" ng-attr-title="{{result.registNo}}" ng-bind="result.registNo"></div>
            </td>
            <td ng-bind="result.insuredName "></td>
            <td>
              <div class="w50oh w100oh" style="white-space: nowrap;" ng-attr-title="{{result.compensateNo}}" ng-bind="result.compensateNo"></div>
            </td>
            <td>
            <label ng-if="result.paymentType=='P60'">赔款</label>
            <label ng-if="result.paymentType=='GS60'">代付共保赔款</label>
            <label ng-if="result.paymentType=='P63'">施救费</label>
            <label ng-if="result.paymentType=='P62'">查勘费</label>
            <label ng-if="result.paymentType=='P64'">诉讼费</label>
            <label ng-if="result.paymentType=='P61'">检验鉴定费</label>
            <label ng-if="result.paymentType=='F67'">公估费</label>
            <label ng-if="result.paymentType=='P65'">系统内代查勘</label>
            <label ng-if="result.paymentType=='P68'">律师费</label>
            <label ng-if="result.paymentType!='P60'&&result.paymentType!='GS60'&&result.paymentType!='P63'
                        &&result.paymentType!='P62'&&result.paymentType!='P64'&&result.paymentType!='P61'
                        &&result.paymentType!='F67'&&result.paymentType!='P65'&&result.paymentType!='P68'">其他</label>
            </td>
            <td ng-bind="result.payTotalAmount"></td>
            <td ng-bind="result.havePayAmount"></td>
            <td ng-bind="result.payAmount"></td>
          </tr>
          </tbody>
        </table>
        <ul class='clearfix half-ul ul-box'>
          <li class="condition_td fr half-li">
            <div class="half-div">
              <!--<input ng-model="queryDto.payAmount" type="text" value='' />-->
              <input ng-model="queryDto.payAmount" value="{{queryDto.payAmount.toFixed(2)}}" type="text" ng-disabled="true" />
            </div>
            <label><i class='i-col'>*</i>本次总支付金额</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="queryDanger">
                <span class="queryCriteria_title">
                    <label>处理意见</label>
                </span>
      <div class="input-content-box ovh">
        <span class="fl">录入情况</span>
        <textarea class="fr text-inlineblock" ng-model="newContext" rows="5"></textarea>
      </div>
      <div class="condition_table">
        <table>
          <thead>
          <tr class="tr_top">
            <th>序号</th>
            <th>处理地点</th>
            <th>流出时间</th>
            <th>占用时间</th>
            <th>操作人员</th>
            <th>处理机构</th>
            <th>处理意见</th>
            <th>补充说明</th>
          </tr>
          </thead>
          <tbody>
            <tr class="tr_content" ng-repeat="result in payPurposeDtoList">
              <td ng-bind="$index+1"></td>
              <td ng-bind="result.nodeName"></td>
              <td ng-bind="result.outputTime "></td>
              <td ng-bind="result.occupyTime"></td>
              <td ng-bind="result.operatorName"></td>
              <td ng-bind="result.comName"></td>
              <td ng-bind="result.notionName"></td>
              <td ng-bind="result.context"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="btn_tr clearfix mt20">
      <span ng-click="submit('0')" ng-show="!showFlag">暂 存</span>
      <span class="btn"  ng-disabled="flag" ng-click="submit('1')" ng-show="!showFlag">提 交</span>
      <span ng-click="goBack()" ng-disabled="showFlag">返 回</span>
    </div>
  </div>
</div>