<!--
****************************************************************************
* DESC       ：国元农险理赔支付信息管理查询页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/6
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section" >
    <div class="content_div content1-div">
        <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>查询条件</label>
                    <div class="cur fr">
                        <i class="iconfont click_img">&#xe667;</i>
                        <i class="iconfont click_img hide">&#xe668;</i>
                    </div>
                </span>
            <div class="condition_table">
                <form name="agriPaymentForm">
                    <ul class='clearfix half-ul'>
                        <li class="condition_td fl half-li">
                            <label>立案号</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentMent.certiNo"
                                       class=""/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>保单号</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentMent.letterNumSign"
                                       class=""/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>险种</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentMent.policyNo"
                                       class=""/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>计算书号</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentMent.billNo"
                                       class=""/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>报案号</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentMent.serialNo"
                                       class=""/>
                            </div>
                        </li>
                        <li class="condition_td fl half-li">
                            <label>账户名</label>
                            <div class="half-div">
                                <input type="text" ng-model="paymentMent.insuredName"
                                       class=""/>
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="btn_tr clearfix">
                    <span ng-click="query()">查询</span>
                    <span ng-click="resetInformation()">重置</span>
                </div>
            </div>
        </div>
        <div class="queryResult">
            <!--<div class="queryResult_title clearfix">-->
            <!--<span class="fl tit-color font-bold">查询结果列表</span>-->
            <!--</div>-->
            <div class="queryResult_title clearfix">
                <span class="fl tit-color font-bold">查询结果列表</span>
                <button class="fr" class="fr" title="{{(checkedList.length==0||!checkedList.length)?'请先选择你要操作的数据':''}}" ng-click="">支付信息录入</button>
            </div>
            <table>
                <thead>
                <tr class="tr_top">
                    <th>序号</th>
                    <th>状态</th>
                    <th>立案号</th>
                    <th>保单号码</th>
                    <th>险种</th>
                    <th>被保险人</th>
                    <th>操作人员</th>
                    <th>流入时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr_content" ng-repeat="result in prplregist track by $index">
                    <th>{{$index+1}}</th>
                    <th>
                        <label ng-if="result.status=='0'">初始状态</label>
                        <label ng-if="result.status=='1'">无需审核</label>
                        <label ng-if="result.status=='3'">退回</label>
                        <label ng-if="result.status=='4'">提交审核</label>
                        <label ng-if="result.status=='5'">审核成功</label>
                    </th>
                    <th>{{result.claimNo}}</th>
                    <th>{{result.policyNo}}</th>
                    <th>{{result.riskCname}}</th>
                    <th>{{result.insuredName}}</th>
                    <th>{{result.handlerName}}</th>
                    <th>{{result.handleTime}}</th>
                    <th ng-click="go(result)"><i class="iconfont">&#xe62c;</i></th>
                </tr>
                </tbody>
            </table>
            <div ng-show="prplregist===null||prplregist.length==0" ng-class="{'not-query':prplregist === null,'query-null':prplregist.length==0}"></div>
            <div class="index_page">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
        <div class="btn_tr clearfix mt20">
            <span ng-click="goBack()">返回</span>
        </div>
    </div>
</div>
