<!--
****************************************************************************
* DESC       ：国元农险理赔报案任务查看页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/12 
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section">
  <div class="content_div content1-div">
    <div class='damage clearfix'>
      <span class='fl damage_span' ng-click="showCompensateComm()">理赔沟通</span>
      <span class='fl damage_span' ng-click="showElectronicDocu()">电子单证</span>
      <!--<span class="fl damage_span" ng-show="!isAquaculture">注销/拒赔信息</span>-->
      <span class="fl damage_span" ng-click="openInforListLayer()">索赔清单</span>
      <span class='fl damage_span' ng-click="showSurveyReport()">调查报告</span>
    </div>
    </div>
    <div class="queryCriteria">
      <span class="queryCriteria_title">
        <label>立案登记</label>
        <span class="click_img"></span>
      </span>
      <div class="condition_table">
        <ul class="clearfix half-ul">
          <li class="condition_td fl half-li">
            <label>险种名称</label>
            <div class="half-div">
              <input type="text" ng-model="claim.riskName" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>报案号</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.registNo" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>保单号码</label>
            <div class="half-div">
              <input type="text" ng-model="claim.policyNo"  style="width: 68%" class="danger_short" ng-disabled="true"/>
              <span class='fl danger_btn'  ng-click="showRelateInfo()">关联</span>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>立案号</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.claimNo" maxlength="21" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>已出险次数</label>
            <div class="half-div">
              <input type="text" class="danger_short" ng-model="claim.perilCount" ng-disabled="true"/>
              <span class='fl danger_btn' ng-click="openPerilCount()">查看</span>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>被保险人姓名</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.insuredNameShow" ng-disabled="true"/>
              <!--<span class='fl danger_btn1'>出险时保单信息</span>-->
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>出险时间</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.damageStartDate" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>出险地点</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.damageAddress" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>币别</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.currency" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>保险金额</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.sumAmount" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>出险原因</label>
            <div class="half-div">
              <ui-select ng-disabled="true" ng-model="claim.prpLClaimDto.damageCode" >
                <ui-select-match  allow-clear placeholder="查询或选择...">
                  {{$select.selected.codecname}}
                </ui-select-match>
                <ui-select-choices repeat="code.codecode as code in codeListData.DamageCode | filter: $select.search">
                  <span ng-bind="code.codecname"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>受损标的</label>
            <div class="half-div">
              <input type="text"  ng-model="claim.prpLClaimDto.lossCode" ng-disabled="true">
              <input type="text" ng-show="false"  ng-model="claim.prpLClaimDto.lossName" ng-disabled="true">
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>是否可能有追偿</label>
            <div class="half-div">
              <code-type base-code="remark_flag" ng-model="claim.prpLClaimDto.replevyFlag" ng-disabled="true">
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>是否可有其他理赔机构</label>
            <div class="half-div">
              <code-type base-code="remark_flag" ng-model="claim.prpLClaimDto.thirdComFlag" ng-disabled="true">
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>估损金额CNY</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.sumClaim" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
          <label>立案日期</label>
          <div class="half-div">
            <input type="text" ng-model="claim.prpLClaimDto.claimDate" ng-disabled="true"/>
          </div>
          </li>
          <li class="condition_td fl half-li">
            <label>业务归属机构</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.comName" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>归属业务员</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.handler1Name" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>接报案人</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.operatorName" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>理赔登记部门</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.makeComName" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>赔付数量</label>
            <div class="half-div">
              <input type="text" class="danger_short" ng-model="claim.prpLClaimDto.lossesNumber" ng-disabled="true"/>
              <div class="select_arrow"><i class="caretSelf"></i></div>
              <select class="fl danger_select" ng-if="claim.riskType!='I'||claim.riskCode=='3224'||claim.riskCode=='3237'" ng-disabled="showFlag">
                <option>亩</option>
              </select>
              <select class="fl danger_select" ng-if="claim.riskType=='I'&&claim.riskCode!='3224'&&claim.riskCode!='3237'" ng-disabled="showFlag">
                <option>头</option>
              </select>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label><i class='i-col'>*</i>出险户次</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.damageInsured" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li" ng-if="!isAquaculture">
            <label><i class='i-col'>*</i>受灾面积</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.disasterArea" class="danger_short" ng-disabled="true"/>
              <div class="select_arrow"><i class="caretSelf"></i></div>
              <select class="fl danger_select" ng-if="claim.riskType!='I'||claim.riskCode=='3224'||claim.riskCode=='3237'" ng-disabled="showFlag">
                <option>亩</option>
              </select>
              <!--<select class="fl danger_select" ng-if="claim.riskType==='I'" ng-disabled="showFlag">-->
                <!--<option>头</option>-->
              <!--</select>-->
            </div>
          </li>
          <li class="condition_td fl half-li" ng-if="!isAquaculture">
            <label><i class='i-col'>*</i>成灾面积</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.affectedArea" class="danger_short" ng-disabled="true"/>
              <div class="select_arrow"><i class="caretSelf"></i></div>
              <select class="fl danger_select" ng-if="claim.riskType!='I'||claim.riskCode=='3224'||claim.riskCode=='3237'" ng-disabled="showFlag">
                <option>亩</option>
              </select>
              <!--<select class="fl danger_select" ng-if="claim.riskType==='I'" ng-disabled="showFlag">-->
                <!--<option>头</option>-->
              <!--</select>-->
            </div>
          </li>
          <li class="condition_td fl half-li" ng-if="!isAquaculture">
            <label><i class='i-col'>*</i>绝产面积</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.noProductionArea" class="danger_short" ng-disabled="true"/>
              <div class="select_arrow"><i class="caretSelf"></i></div>
              <select class="fl danger_select" ng-if="claim.riskType!='I'||claim.riskCode=='3224'||claim.riskCode=='3237'" ng-disabled="showFlag">
                <option>亩</option>
              </select>
              <!--<select class="fl danger_select" ng-if="claim.riskType==='I'" ng-disabled="showFlag">-->
                <!--<option>头</option>-->
              <!--</select>-->
            </div>
          </li>
          <li class="condition_td fl half-li" ng-if="!isAquaculture">
            <label><i class='i-col'>*</i>估损数量</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.lossQuantity" class="danger_short" ng-disabled="true"/>
              <div class="select_arrow"><i class="caretSelf"></i></div>
              <select class="fl danger_select" ng-if="claim.riskType!='I'||claim.riskCode=='3224'||claim.riskCode=='3237'" ng-disabled="showFlag">
                <option>亩</option>
              </select>
              <select class="fl danger_select" ng-if="claim.riskType=='I'&&claim.riskCode!='3224'&&claim.riskCode!='3237'" ng-disabled="showFlag">
                <option>头</option>
              </select>
            </div>
          </li>
          <!--<li class="condition_td fl half-li">-->
            <!--<label>关联损失清单</label>-->
            <!--<div class="half-div">-->
              <!--<input type="text" class="danger_short" ng-disabled="true"/>-->
              <!--<span class='fl danger_btn'>查询</span>-->
            <!--</div>-->
          <!--</li>-->

          <li class="condition_td fl half-li" ng-if="isAquaculture">
            <label><i class='i-col'>*</i>死亡数量</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.deathQuantity" ng-disabled="true" style="width: 185px"/>
              <div class="select_arrow"><i class="caretSelf"></i></div>
              <select class="fl danger_select" ng-disabled="showFlag">
                <option>头</option>
              </select>
            </div>
          </li>
          <li class="condition_td fl half-li" ng-if="isAquaculture">
            <label><i class='i-col'>*</i>扑杀数量</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLClaimDto.killQuantity" ng-disabled="true"style="width: 185px"/>
              <div class="select_arrow"><i class="caretSelf"></i></div>
              <select class="fl danger_select" ng-disabled="showFlag">
                <option>头</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="queryResult" ng-show="isAquaculture">-->
      <!--<div class="queryResult_title clearfix">-->
        <!--<span class="fl tit-color font-bold"><i class='i-col'>*</i>耳根号清单</span>-->
        <!--<label class="fr">耳根号验证</label>-->
      <!--</div>-->
      <!--<table>-->
        <!--<tr class="tr_top">-->
          <!--<td>客户代码</td>-->
          <!--<td>证件号码</td>-->
          <!--<td>姓名</td>-->
          <!--<td>开户行名称</td>-->
          <!--<td>银行账号</td>-->
          <!--<td>耳标号</td>-->
          <!--<td>估损金额</td>-->
          <!--<td>操作</td>-->
        <!--</tr>-->
        <!--<tr class="tr_content">-->
          <!--<td ng-bind="claim.prplcompensateear.fcode"></td>-->
          <!--<td ng-bind="claim.prplcompensateear.id_card"></td>-->
          <!--<td ng-bind="claim.prplcompensateear.name"></td>-->
          <!--<td ng-bind="claim.prplcompensateear.bank"></td>-->
          <!--<td ng-bind="claim.prplcompensateear.account"></td>-->
          <!--<td><input type="text" ng-model="claim.prplcompensateear.earno"></td>-->
          <!--<td><input type="text" ng-model="claim.prplcompensateear.estimateloss"></td>-->
          <!--<td><a href="javascript:void(0)" class="remove-a">删除</a></td>-->
        <!--</tr>-->
      <!--</table>-->
      <!--<p class='add_p'>添加</p>-->
      <!--&lt;!&ndash;<div class="index_page">&ndash;&gt;-->
      <!--&lt;!&ndash;<tm-pagination conf="paginationConfmm"></tm-pagination>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <div class="queryDanger">
      <span class="queryCriteria_title">
        <label>出险摘要</label>
      </span>
      <div class="input-content-box">
        <textarea rows="4" ng-model="claim.context" ng-disabled="true"></textarea>
        <!--<ul class="clearfix half-ul">-->
          <!--<li class="condition_td fl half-li mt_li">-->
            <!--<label>理赔清单</label>-->
            <!--<div class="half-div">-->
              <!--<input type="text" ng-model="claim.Settlemainlist.settleListCode" ng-disabled="true"/>-->
            <!--</div>-->
          <!--</li>-->
          <!--<label class="fr condition_label">查看理赔清单</label>-->
          <!--<label class="fr condition_label">预缮制理赔清单</label>-->
        <!--</ul>-->
      <!--</div>-->
    </div>

  </div>
    <div class="queryResult">
      <div class="queryResult_title clearfix">
        <span class="fl tit-color font-bold"><i class='i-col'>*</i>险别估损金额信息</span>
        <!--<label class="fr condition_label" ng-click="">汇总</label>-->
      </div>
      <table>
        <tr class="tr_top">
          <td>被保险人</td>
          <td>标的序号</td>
          <td>险别</td>
          <td>标的名称</td>
          <td>币别</td>
          <td>预计给付金额</td>
          <td>类别</td>
          <td>输入日期</td>
          <!--<td>操作</td>-->
        </tr>
        <tr class="tr_content" ng-repeat="result in assessment">
          <td ng-bind="result.familyName"></td>
          <td ng-bind="result.serialNo"></td>
          <td ng-bind="result.kindName"></td>
          <td ng-bind="result.itemDetailName"></td>
          <td ng-bind="result.currency"></td>
          <td ng-bind="result.sumClaim"></td>
          <td ng-bind="result.lossFeeType=='P'?'赔款':'费用'"></td>
          <td ng-bind="result.inputDate"></td>
          <!--<td><a href="javascript:void(0)" class="remove-a">删除</a></td>-->
        </tr>
      </table>
      <!--<p class='add_p'>添加</p>-->
    </div>
    <div class="queryResult">
      <div class="queryResult_title clearfix">
        <span class="fl tit-color font-bold"><i class='i-col'>*</i>危险单位信息</span>
        <label class="fr">生成危险单位</label>
      </div>
      <table>
        <tr class="tr_top">
          <td>标的序号</td>
          <td>危险单位号</td>
          <td>危险单位描述</td>
          <td>地址描述</td>
          <td>币别</td>
          <td>估损金额</td>
          <td>占比</td>
          <td>险别代码</td>
          <td>险别名称</td>
          <td>标的代码</td>
          <td>标的名称</td>
          <td>是否危险单位</td>
        </tr>
        <tr class="tr_content">
          <td ng-bind="dangerUnit.itemKind"></td>
          <td ng-bind="dangerUnit.dangerNo"></td>
          <td ng-bind="dangerUnit.dangerDesc"></td>
          <td ng-bind="dangerUnit.addressName"></td>
          <td ng-bind="dangerUnit.currency"></td>
          <td ng-bind="dangerUnit.sumLoss"></td>
          <td ng-bind="dangerUnit.dangerKindShare"></td>
          <td ng-bind="dangerUnit.kindCode"></td>
          <td ng-bind="dangerUnit.kindName"></td>
          <td ng-bind="dangerUnit.itemKindCode"></td>
          <td ng-bind="dangerUnit.itemKindName"></td>
          <!--<td><a href="javascript:void(0)" class="remove-a">删除</a></td>-->
        </tr>
      </table>
      <!--<div class="index_page">-->
      <!--<tm-pagination conf="paginationConfmm"></tm-pagination>-->
      <!--</div>-->
    </div>
    <div class="btn_tr btn-planting clearfix mt20">
      <!--<span>上传理赔清单</span>-->
      <!--<span>关联并下载清单</span>-->
      <!--<span>发起调查</span>-->
      <!--<span>提交</span>-->
      <span ng-click="goBack()">返回</span>
    </div>
  </div>
</div>

<!-- 关联弹层-->
<!--<div ui-view="connect"></div>-->
<div class="orderlayerBox" style="max-height:700px " ng-show="relateInfo">
  <div class="mask zIndex"></div>
  <div class="tip_success_info printLayer orderIntLayer">
    <div class="remove_header">
      <span>保单信息</span>
      <i class="icon iconfont" ng-click="closeRelative()">&#xe632;</i>
    </div>
    <div class="info_container">
      <div >
        <!--<div class="remove_header">-->
        <!--<span>保单信息</span>-->
        <!--</div>-->
        <div class="condition_table">
          <ul class="clearfix">
            <li class="condition_td fl long-li">
              <label>保单号</label>
              <input type="text" style="width: 37%" ng-model="relateInfoDto.prpCmainDto.policyNo" disabled="disabled">
              <span class='fl danger_btn' ng-click="policyShow(claim.policyNo)">出险时保单信息</span>
            </li>
            <li class="condition_td fl long-li">
              <label>保险期限</label>
              <!--<input type="text" ng-model="relateInfoDto.prpCmainDto.insuredName"  maxlength="19" disabled="disabled">-->
              <div class="data-box">
                <input type="text" id="startDate" style="width: 30%" class="date-long-input fl date" ng-model="relateInfoDto.prpCmainDto.startDate" jedate format="YYYY-MM-DD" ng-disabled="true"/>
                <span class='fl long-span'>零时起至</span>
                <input type="text" id="endDate" style="width: 30%" class="date-long-input fl date" ng-model="relateInfoDto.prpCmainDto.endDate" jedate format="YYYY-MM-DD" ng-disabled="true"/>
                <span class='fl'>二十四时止</span>
              </div>
            </li>
            <li class="condition_td fl long-li">
              <label>被保险人名称</label><input type="text" style="width: 37%" ng-model="relateInfoDto.prpCmainDto.insuredName"  disabled="disabled">
            </li>
          </ul>
        </div>
      </div>
      <div class="queryCriteria" style="border-top: none;width: 100%;">
        <div class="remove_header">
          <span>批单信息</span>
        </div>
        <table class="condition_table" style="margin-top: 0px">
          <tr class="tr_top">
            <td class="w8">序号</td>
            <td class="w8">批单号码</td>
            <td class="w8">核批完成日期</td>
          </tr>
          <tr class="tr_content F2F2F2" ng-repeat="result in relateInfoDto.prpPheadDtoList">
            <td ng-bind="$index+1"></td>
            <td ng-bind="result.endorseNo" ></td>
            <td ng-bind="result.underwriteEndDate"></td>
          </tr>
        </table>
      </div>
      <div class="queryCriteria" style="border-top: none;width: 100%;">
        <div class="remove_header">
          <span>理赔信息</span>
        </div>
        <table class="condition_table" style="margin-top: 0px">
          <thead>
          <tr class="tr_top">
            <td class="w8">序号</td>
            <td class="w8">报案号</td>
            <td class="w8">出险时间</td>
            <td class="w8">赔付金额</td>
            <td class="w8">流程图</td>
          </tr>
          </thead>
          <tbody  style="height: 100px;overflow-y: scroll;">
          <tr class="tr_content F2F2F2" ng-repeat="result in relateInfoDto.prpLregistDtoList">
            <td ng-bind="$index+1"></td>
            <td ng-bind="result.registNo" ></td>
            <td ng-bind="result.damageStartDate"></td>
            <td ng-bind="result.estimateLoss"></td>
            <td class="local-sec" ng-click="showFlow(result)">查看</td>
          </tr>
          </tbody >
        </table>
      </div>
    </div>
  </div>
</div>
<!--理赔沟通弹层-->
<!--<div ui-view="communication"></div>-->
<!--电子单证弹层-->
<!--<div ui-view="eleDocument"></div>-->
<!--索赔资料清单弹层-->
<div ui-view="inforList"></div>
