<div class="container-fluid index_top" ng-controller="headerCtrl">
    <div class="row">
        <div class="logo fl">
            <img  class="logo1" src="images/logo1.png" alt="">
            <!--<img  class="logo2 fl" src="images/logo.png" alt=""/>-->
            <span>系统开发框架</span>
        </div>
        <div class="top_right fr">
            <div class="logo_p">
                <img src="images/logo_p.jpg">
            </div>            
            <div class="fl logo_span">
                <span>姓名：{{loginUser.userName}}</span>
                <span>编号：{{loginUser.userCode}}</span>
            </div>
            <div class="fl logo_span">
                <span>选择语言</span>
                <select ng-change="switchLanguage()" ng-model="loginUser.language" ng-options="lang.code as lang.name for lang in langs">
                </select>
            </div>
            <span ng-click="logout()" class="fr icon_a"><i></i></span>
        </div>
    </div>
</div>