<div>
    <div class="modal-header">
        <h1 class="font-large">下载清单</h1>
        <i class="icon iconfont modal-header-close" ng-click="closeModal()">&#xe632;</i>
    </div>
    <div class="modal-body">
        <button class="btn-success" ng-click="download('LossRateList')">下载定损清单</button>
        <button class="btn-success" ng-click="download('ClaimList')">下载理赔清单</button>
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button class="btn-cancel" ng-click="closeModal()">返回</button>
    </div>
</div>