<div>
    <div class="modal-header">
        <h1 class="font-large">关联清单</h1>
        <i class="icon iconfont modal-header-close" ng-click="closeModal()">&#xe632;</i>
    </div>
    <div class="modal-body">
        <div class="queryResult">
            <div class="queryResult_title clearfix">
                <span class="fl tit-color font-bold">定损清单列表</span>
            </div>
            <table>
                <tr class="tr_top">
                    <td>选择</td>
                    <td>定损清单号</td>
                    <td>定损清名称</td>
                    <td>归属区域</td>
                    <td>绘制日期</td>
                    <td>绘制人</td>
                </tr>
                <tr class="tr_content" >
                    <td><input type="radio" /></td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button class="btn-success" ng-click="closeModal()">确定</button>
        <button class="btn-cancel" ng-click="closeModal()">返回</button>
    </div>
</div>