<div ng-if="!showLoading">
    <div class="modal-header">
        <h1 class="font-large">审核意见</h1>
        <i class="icon iconfont modal-header-close" ng-click="closeModal()">&#xe632;</i>
    </div>
    <div class="queryResult" ng-repeat="result in communication">
        <ul class="clearfix">
            <li class="condition_td fl half-li">
                <label><span ng-bind="$index+1"></span>级别名称</label>
                <div class="half-div">
                    <input type="text" ng-model="result.nodeName" disabled="disabled">
                </div>
            </li>
            <li class="condition_td fl half-li">
            </li>
            <li class="condition_td fl half-li">
                <label>处理人员</label>
                <div class="half-div">
                    <input type="text" ng-model="result.opertorName" disabled="disabled">
                </div>
            </li>
            <li class="condition_td fl half-li">
                <label>处理部门</label>
                <div class="half-div">
                    <input type="text" ng-model="result.deptName" disabled="disabled">
                </div>
            </li>
            <li class="condition_td fl half-li">
                <label>级别状态</label>
                <div class="half-div">
                    <input type="text" ng-model="result.nodeStatus" disabled="disabled">
                </div>
            </li>
            <li class="condition_td fl half-li">
                <label>流向</label>
                <div class="half-div">
                    <input type="text" ng-model="result.flowStatus" disabled="disabled">
                </div>
            </li>
            <li class="condition_td fl half-li">
                <label>提交时间</label>
                <div class="half-div">
                    <input type="text" ng-model="result.flowInTime" disabled="disabled">
                </div>
            </li>
            <li class="condition_td fl half-li">
                <label>处理完毕时间</label>
                <div class="half-div">
                    <input type="text" ng-model="result.submitTime" disabled="disabled">
                </div>
            </li>
            <li class="condition_td fl half-li" style="width:100%;margin-bottom:-8px;height:auto;">
                <label style="width: 20%;">审核意见</label>
                <div class="half-div" style="width:75%;">
                    <textarea class="" ng-model="result.handleText" rows="3" disabled="disabled" style="width: 100%"></textarea>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn_tr btn_write clearfix mt100"  style="padding-left: 43%;padding-top: 5%">
        <span class="btn" ng-click="closeModal()">关 闭</span>
    </div>
</div>