<!--
****************************************************************************
* DESC: 农险angular－特殊批改保单查询界面
* AUTHOR     ：阳光项目组
* Created by sen on 2017/11/12.
* --------------------------------------------------------
*       sunyaohui       2018-01-06     项目部署
****************************************************************************
-->
<!-- start 内容 -->
<div class="main">
    <div class="section commentWidth" style="height:auto;">
        <div class="position">
            <span>当前位置：</span>
            <span class="local-fir">批改管理 > </span>
            <span class="local-sec">特殊批改查询</span>
        </div>
        <div class="content_div content1-div">
            <div class="queryCriteria">
			<span class="queryCriteria_title">
				<label>查询条件</label>
				<span class="icon iconfont click_img  plus" ng-show="!showOther" ng-click="showOther=!showOther">&#xe667;</span>
                <span class="icon iconfont click_img reduce" ng-show="showOther" ng-click="showOther=!showOther">&#xe668;</span>
			</span>
                <form name="myForm" style="border:none;">
                    <div class="condition_table" id="pt4">
                        <ul class="clearfix">
                            <li class="condition_td fl special clearfix">
                                <label>保单号</label>
                                <div class="clearfix">
                                    <p class="fl" style="width: 100%;height: 46px;">
                                        <span class="splice-mark" style="margin-right:4px;">从</span>
                                        <input  ng-blur="checkpolicyNo($event,endorse.policyNo)" maxlength="40" ng-class="{'checkOutBdRed':check.policyNo}" type="text" style="float: none;width:90%;" class="have-two-input" name="policyNo"  onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"
                                               maxlength="21" autocomplete="off" ng-model="endorse.policyNo" ng-change="queryResultsNo();changepolicyNo(endorse.policyNo)" />
                                        <s style="margin-left: 21px;"  ng-bind="check.policyNo"></s>
                                    </p>
                                    <p class="fl"  style="width: 100%;height: 46px;">
                                        <span class="splice-mark teaR"  style="margin-right:4px;">到</span>
                                        <input type="text" ng-blur="checkpolicyNo2($event,endorse.policyNoEnd)" maxlength="40" ng-class="{'checkOutBdRed':check.policyNo2}" class="have-two-input" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"
                                               maxlength="21" ng-model="endorse.policyNoEnd" ng-change="changepolicyNo(endorse.policyNoEnd)"  style="float: none;width:90%;"/>
                                        <s style="margin-left: 21px;"  ng-bind="check.policyNo2"></s>
                                    </p>
                                </div>

                            </li>
                            <li class="condition_td fl special2">
                                <label>保单号</label>
                                <!--<input type="text" class="long-input" ng-model="endorse.policyEndStart" ng-pattern="/^[0-9]*$/" warn-layer="保单号" disabled/>-->
                                <div style="width: 79.5%;">
                                    <textarea class="long-input" style="outline:none;height: 72px;width: 100%;" ng-change="changepolicyNo(endorse.policyEndStart)" ng-blur="checkpolicyEndStart($event,endorse.policyEndStart)" ng-class="{'checkOutBdRed':check.policyEndStart}" placeholder="请输入21位的保单号，多个保单号之间用英文状态下的逗号隔开。如：保单号1,保单号2,....." ng-model="endorse.policyEndStart"  onkeyup="this.value=this.value.replace(/[^\d,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d,]/g,'')" name="" id=""></textarea>
                                    <s  ng-bind="check.policyEndStart"></s>
                                </div>
                            </li>
                            <li class="searchHidden fl" style="width: 100%;margin-top:10px;" ng-show="showOther">
                                <ul class="clearfix ul_tr">
                                    <li class="condition_td fl">
                                        <label>投保单号码</label>
                                        <div>
                                            <input type="text" class=""  maxlength="40" ng-blur="checkproposalNo($event,endorse.proposalNo)" ng-change="changepolicyNo(endorse.proposalNo)"  ng-class="{'checkOutBdRed':check.proposalNo}" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')" ng-model="endorse.proposalNo" /><!--ng-pattern="/^[T]{1}[0-9]{20}$/" warn-layer="投保单号码"-->
                                            <s ng-bind="check.proposalNo"></s>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>投保人名称</label>
                                        <div>
                                            <input type="text" ng-blur="checkappliName($event,endorse.appliName)" maxlength="40" ng-class="{'checkOutBdRed':check.appliName}" class="" ng-model="endorse.appliName" ng-maxlength="50"/>
                                            <s ng-bind="check.appliName"></s>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>投保人代码</label>
                                        <div>
                                            <input type="text" ng-blur="checkappliCode($event,endorse.appliCode)" maxlength="40" ng-class="{'checkOutBdRed':check.appliCode}" class="" ng-model="endorse.appliCode"/>
                                            <s ng-bind="check.appliCode"></s>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>被保人名称</label>
                                        <div>
                                            <input type="text" class="" ng-blur="checkinsuredName($event,endorse.insuredName)"maxlength="40" ng-class="{'checkOutBdRed':check.insuredName}"  ng-model="endorse.insuredName"  ng-maxlength="50" />
                                            <s ng-bind="check.insuredName"></s>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>被保人代码</label>
                                        <div>
                                            <input type="text" ng-blur="checkinsuredCode($event,endorse.insuredCode)" maxlength="40" ng-class="{'checkOutBdRed':check.insuredCode}" class="" ng-model="endorse.insuredCode" ng-maxlength="20" />
                                            <s ng-bind="check.insuredCode"></s>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>总保险金额</label>
                                        <div>
                                            <input type="text" class=""ng-blur="checksumAmount($event,endorse.sumAmount)"maxlength="40"  ng-class="{'checkOutBdRed':check.sumAmount}" ng-model="endorse.sumAmount"  onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"/>
                                            <s ng-bind="check.sumAmount"></s>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>总保险费</label>
                                        <div>
                                            <input type="text" class="" ng-blur="checksumPremium($event,endorse.sumPremium)" maxlength="40" ng-class="{'checkOutBdRed':check.sumPremium}" ng-model="endorse.sumPremium" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"/>
                                            <s ng-bind="check.sumPremium"></s>
                                        </div>
                                    </li>
                                    <!--<li class="condition_td fl">
                                        <label>归属机构</label>
                                        <div>
                                            <input type="text"  ng-blur="checkcomCode($event,endorse.comCode)" maxlength="40" ng-class="{'checkOutBdRed':check.comCode}" class="" ng-model="endorse.comCode"  ng-maxlength="20"/>
                                            <s ng-bind="check.comCode"></s>
                                        </div>
                                    </li>-->

                                    <li class="condition_td teaL fl">
                                        <label>归属机构</label>
                                        <div class="codeType codeNoBor"  >
                                            <ui-select history ng-model="endorse.comCode"
                                                       ng-click="getComCodeList()"
                                            >
                                                <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.comCName}}">
                                                    {{$select.selected.comCName}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="code.comCode as code in selectListData.comCodeList | filter: $select.search">
                                                    <span ng-bind="code.comCName" ng-attr-title="{{code.comCName}}"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>业务员代码</label>
                                        <div>
                                            <input type="text" ng-blur="checkhandlerCode($event,endorse.handlerCode)" maxlength="40" ng-class="{'checkOutBdRed':check.handlerCode}" class="" ng-model="endorse.handlerCode" ng-maxlength="20"/>
                                            <s ng-bind="check.handlerCode"></s>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>操作员代码</label>
                                        <div>
                                            <input type="text" ng-blur="checkoperatorCode($event,endorse.operatorCode)" maxlength="40" ng-class="{'checkOutBdRed':check.operatorCode}" class="" ng-model="endorse.operatorCode" ng-maxlength="20"/>
                                            <s ng-bind="check.operatorCode"></s>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>起保日期</label>
                                        <div class="data-box">
                                            <input class="date-input date fl" style="width: 48%;" id="startDate" jedate  ng-model="endorse.startDate" ng-change="queryResultsDate(endorse.startDate,endorse.startDateEnd,'起保日期')" format="YYYY-MM-DD" readonly/>
                                            <span class="fl">-</span>
                                            <input class="date-input date fl" style="width: 49%;" id="startDateEnd" jedate  ng-model="endorse.startDateEnd" ng-change="queryResultsDate(endorse.startDate,endorse.startDateEnd,'起保日期')" format="YYYY-MM-DD" readonly/>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>终保日期</label>
                                        <div class="data-box">
                                            <input class="date-input date fl" style="width: 48%;" id="endDate" jedate  ng-model="endorse.endDate" ng-change="queryResultsDate(endorse.endDate,endorse.endStartDate,'终保日期')" format="YYYY-MM-DD" readonly/>
                                            <span class="fl">-</span>
                                            <input class="date-input date fl" style="width: 49%;" id="endStartDate" jedate  ng-model="endorse.endStartDate" ng-change="queryResultsDate(endorse.endDate,endorse.endStartDate,'终保日期')" format="YYYY-MM-DD" readonly/>
                                        </div>
                                    </li>
                                    <li class="condition_td fl">
                                        <label>制单日期</label>
                                        <div class="data-box">
                                                <input class="date-input date fl" style="width: 48%;" id="operateDateStart" jedate  format="YYYY-MM-DD" ng-change="queryResultsDate(endorse.operateDateStart,endorse.operateDateEnd,'制单日期')" ng-model="endorse.operateDateStart" format="YYYY-MM-DD" readonly/>
                                                <span class="fl">-</span>
                                            <input class="date-input date fl" style="width: 49%;" id="operateDateEnd" jedate  format="YYYY-MM-DD"  ng-change="queryResultsDate(endorse.operateDateStart,endorse.operateDateEnd,'制单日期')" ng-model="endorse.operateDateEnd" format="YYYY-MM-DD" readonly/>
                                        </div>
                                    </li>
                                   <!-- <li class="condition_td fl">
                                        <label>制单日期止期</label>
                                        <div class="data-box">
                                            <input class="date-input date fl" style="width: 95%;" id="operateDateEnd" jedate  format="YYYY-MM-DD" ng-model="endorse.operateDateEnd" format="YYYY-MM-DD" readonly/>
                                        </div>
                                    </li>-->
                                    <li class="condition_td fl">
                                        <label>政策/商业标志</label>
                                        <div style="display:inline-block; width: 55%;" id="myInput"><code-type base-code="BusinessType1" ng-model="endorse.BusinessType1" ng-init="endorse.BusinessType1='01'"></code-type></div>
                                    </li>
                                    <!--<li class="condition_td fl">-->
                                        <!--<label>投保状态</label>-->
                                        <!--<div style="display:inline-block; width: 42%;"><code-type base-code="underWriteFlag" ng-model="endorse.underWriteFlag"></code-type></div>-->
                                    <!--</li>-->
                                </ul>
                            </li>
                        </ul>
                        <div class="btn_tr clearfix">
                            <span class="fl" ng-click="querySpecial('myForm')">查询</span>
                            <span class="fr no-bg" ng-click="reset1()">重置</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="queryResult">
                <div class="queryResult_title clearfix">
                    <span class="fl">查询结果</span>
                    <button class="btn-success fr btn_front" style="margin: 10px;border-radius: 6px;" ng-click="goBackDashboard();">返回</button>
                    <button class="btn-success fr btn_front" style="margin: 10px;border-radius: 6px;" ng-click="nextStep()">下一步</button>
                </div>
                <table>
                    <tr class="tr_top">
                        <td class="w8 check-box1" style="position: relative;left:14px;">
                            <label class=" checkbox-label1 " ng-class="{'checkbox-checked':select_all==true}" ng-click="selectAll();"><!--box.checked=!box.checked-->
                                <span></span>
                                <input type="checkbox" name="checkbox" class="hide ng-pristine ng-valid" ng-model="select_all"><em>全选</em>
                            </label>
                        </td>
                        <td>保单号</td>
                        <td>投保人名称</td>
                        <td>被保人名称</td>
                        <td class="w9">保险起期</td>
                        <td class="w9">保险止期</td>
                        <td class="w5">操作员</td>
                        <td class="w9">制单日期</td>
                        <td>状态</td>
                    </tr>
                    <tr class="tr_content check-box1 tr_content-bg" ng-repeat="queryResult in queryResults">
                        <td>
                            <!--<input type="checkbox" ng-model="queryResult.choosed" ng-change="checkListener(queryResult)"/>-->
                            <label class=" checkbox-label1 " ng-class="{'checkbox-checked':queryResult.choosed==true}"  ng-click="selectOne()"><!--box.checked1=!box.checked1-->
                                <span></span>
                                <input type="checkbox" name="checkbox" class="hide" ng-model="queryResult.choosed">
                            </label>
                        </td>
                        <td class="C2DBE61">
                            <span ng-click="getPolicyInfo(queryResult.policyNo)">{{queryResult.policyNo}}</span>
                        </td>
                        <td>{{queryResult.appliName}}</td>
                        <td>{{queryResult.insuredName}}</td>
                        <td>{{queryResult.startDate}}</td>
                        <td>{{queryResult.endDate}}</td>
                        <td>{{queryResult.operatorName}}</td>
                        <td>{{queryResult.inputDate}}</td>
                        <td>{{queryResult.othFlag}}
                            <!--<span ng-if="queryResult.underWriteFlag == 0">初始值</span>-->
                            <!--<span ng-if="queryResult.underWriteFlag == 1">通过</span>-->
                            <!--<span ng-if="queryResult.underWriteFlag == 2">不通过</span>-->
                            <!--<span ng-if="queryResult.underWriteFlag == 3">无需核批</span>-->
                            <!--<span ng-if="queryResult.underWriteFlag == 4">见费出单没收费</span>-->
                            <!--<span ng-if="queryResult.underWriteFlag == 9">待核批</span>-->
                        </td>
                    </tr>
                </table>
                <div ng-show="isEmptyObject(queryResults)||queryResults.length==0" ng-class="{'not-query':isEmptyObject(queryResults),'query-null':queryResults.length==0}" class="not-query"></div>
                <div class="index_page">
                    <tm-pagination conf="paginationConfmm"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!--下一步弹层-->
<div class="choooseCorrTypeLayer" ng-show="eject">
    <div class="mask zIndex"></div>
    <div class="tip_success_info choooseCorrType-box" style="position: fixed;">
        <div class="remove_header">
            <span>选择批改类型</span>
            <i class="icon iconfont plusAndReduce" ng-click="closeModel()">&#xe632;</i>
        </div>
        <div class="info_container">
            <ul class="choooseCorrType-list" ng-repeat="info in queryListAll track by $index">

                    <li><input value="info.codeCode"  type="radio" ng-model="queryList" ng-value="info.codeName"  name="type" ng-click="changeSpecialType(info,$event,$index);" ng-change="checked(info)"/>{{info.codeName}}</li>

            </ul>
        <div class="remove_button no-line">
            <button class="button_sure" ng-click="printSure()">下一步</button>
        </div>
        </div>
    </div>
</div>