<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%5p]:%d{ISO8601} -- %c -- %m%n" />
		</layout>
	</appender>

	<appender name="fileLog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/fileserver.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50000KB" />
		<param name="MaxBackupIndex" value="10" />
		 <param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%5p]:%d{ISO8601} -- %c -- %m%n" />
		</layout>
		<!-- <filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" /> 
		</filter>-->
	</appender>

    <!-- 系统日志输出开始 -->
	<logger name="com.sinosoft" additivity="false">
		<level value="debug" />
		<appender-ref ref="fileLog" />
		<appender-ref ref="console" />
	</logger>
	<!-- 系统日志输出结束 -->
	
	
	<!-- 下面是打印mybatis语句的配置 -->
	<logger name="com.alibaba.druid" additivity="false">
		<level value="debug" />
		<appender-ref ref="fileLog" />
	</logger>
	<logger name="druid.sql" additivity="false">
		<level value="debug" />
		<appender-ref ref="fileLog" />
	</logger>
	
	<logger name="org.springframework">
		<level value="debug" />
	</logger>
	<logger name="com.alibaba.dubbo">
		<level value="debug" />
	</logger>
	<logger name="org.dozer">
		<level value="debug" />
	</logger>
	<logger name="org.apache">
		<level value="debug" />
	</logger>
	<logger name="org.mybatis">
		<level value="debug" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="fileLog" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>
