<div class="main">
  <div class="section commentWidth" style="height:auto;">
    <div class="position">
      <span>当前位置：</span>
      <span class="local-sec">流程查询</span>
    </div>
    <div class="content_div content1-div">
      <div class="queryCriteria">
			<span class="queryCriteria_title">
				<label>查询条件</label>
			</span>
        <div class="condition_table">
          <ul class="clearfix">
            <li class="condition_td teaR fl">
              <label>投保单号</label>
              <input ng-model="proposal.prpTmain.proposalNo" maxlength="40" type="text" class="">
            </li>
            <li class="condition_td teaC fl">
              <label>保单号</label>
              <input type="text" ng-model="proposal.prpTmain.policyNo" maxlength="40" class="">
            </li>
            <li class="condition_td teaL fl">
              <label>清单编号</label>
              <input type="text" maxlength="40" ng-model="proposal.prpTmain.checklistNo">
            </li>
            <li class="condition_td teaR fl">
              <label>批单号</label>
              <input ng-model="proposal.prpTmain.endorsement" maxlength="40" type="text" class="">
            </li>
            <li class="condition_td teaC fl">
              <label>投保人名称</label>
              <input type="text" maxlength="40" ng-model="proposal.prpTmain.appliName" class="">
            </li>
            <li class="condition_td teaL fl">
              <label>被保险人名称</label>
              <input type="text" maxlength="40" ng-model="proposal.prpTmain.insuredName" class="">
            </li>
            <li class="condition_td fl">
              <label>险类</label>
              <div class="riskScheme_codeType" style="width: 55%;">
                <code-type base-code=""  ng-model='proposal.prpTmain.riskclass' reverse-data="reverseData"></code-type>
              </div>
            </li>
            <li class="condition_td fl">
              <label>险种</label>
              <div class="riskScheme_codeType" style="width: 55%;">
                <code-type base-code=""  ng-model='proposal.prpTmain.risktype' reverse-data="reverseData"></code-type>
              </div>
            </li>
          </ul>
          <div class="btn_tr clearfix">
            <span class="fl" ng-click="submit()">查询</span>
            <span class="fr" ng-click="reset()">重置</span>
          </div>
        </div>
      </div>
      <div class="queryResult">
        <div class="queryResult_title clearfix">
          <span class="fl">查询结果</span>
          <span  class="fr" style="width: 100px;height: 30px;background: #2DBE61;color: #fff;font-size: 14px; display: block;line-height: 30px;margin-top:8px;text-align: center;cursor: pointer;border-radius: 3px;" ng-click="goBackDashboard();">返回</span>
        </div>
        <table>
          <tr class="tr_top">
            <td class="w5">序号</td>
            <td class="w8">投保单号</td>
            <td class="w8">保单号</td>
            <td class="w8">清单编号</td>
            <td class="w8">投保人名称</td>
            <td class="w8">险类</td>
            <td class="w8">险种</td>
            <td class="w8">起保日期</td>
            <td class="w8">终保日期</td>
            <td class="w8">制单人</td>
            <td class="w8">操作</td>
          </tr>
          <tr class="tr_content F2F2F2" ng-repeat="info in proposal.customerQueryList track by $index">
            <td>{{$index+1}}</td>
            <td ng-bind="" class="C2DBE61">投保单号</td>
            <td ng-bind="" class="C2DBE61">保单号</td>
            <td ng-bind="" class="C2DBE61">清单编号</td>
            <td ng-bind="">投保人名称</td>
            <td ng-bind="">险类</td>
            <td ng-bind="">险种</td>
            <td ng-bind="">起保日期</td>
            <td ng-bind="">终保日期</td>
            <td ng-bind="">制单人</td>
            <td class="C2DBE61">查看</td>
          </tr>
        </table>
        <!--<div class="index_page">-->
          <!--<tm-pagination conf="paginationConfmm"></tm-pagination>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>