<!--信息提示--失败-->
<div ng-hide="areaquotaErrorInfoLayer">
    <div class="mask">
    </div>
    <div class="tip_success_info">
        <div class="remove_header">
            <span>信息提示</span>
            <a href="javascript:void(0)"><i ng-click="layerClose()"></i></a>
        </div>
        <div class="info_container">
            <i class="tip_2"></i>
            <span>{{areaquotaSaveAnswer.resultMsg}}</span>
        </div>
        <div class="remove_button">
            <button class="button_sure" ng-click="layerClose()">返 回</button>
        </div>
    </div>
</div>