<!--版次号弹层-->
<div ng-hide="areaquotaDetailsLayer">
    <div class="mask"></div>
    <div class="group_search member_details">
        <div class="remove_header">
            <span>区域销售限额</span>
            <a href="javascript:void(0)"><i ng-click="areaquotaDetailsLayerClose()"></i></a>
        </div>
        <div class="insure_content insure_content_1">
            <table>
                <tr>
                    <th class="member_first" ng-click="list='areaCName';desc=!desc">省/自治区/直辖市</th>
                    <th class="member_second" ng-click="list='salesLimit';desc=!desc">销售限额（亿元）</th>
                </tr>
            </table>
            <div class="tbody_scroll">
                <table>
                    <tr ng-repeat="d in versionNumber | orderBy:list:desc">
                        <td class="member_first1" ng-bind="d.areaCName"></td>
                        <td class="member_second1" ng-bind="d.salesLimit">30</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="config_button move_up">
            <button ng-click="areaquotaDetailsLayerClose()">退 出</button>
        </div>
    </div>
</div>