<div class="head-con zIndex">
    <div class="TopNav clearfix">
        <div class="TN-left fl">
            <span class="Logo"></span>
            <span class="name">农险理赔系统</span>
        </div>
        <div class="TN-right fr">
            <ul class="clearfix">
			    <li class="fl cus_point">
                    <i class="iconfont icon-help">&#xe62a;</i>
                    <select  value="" class="top-select" id="comInfo" ng-change="isChange(value)" ng-model="value" ng-init="value=0">
                        <option  ng-value="info.comCode"  ng-repeat="info in comCodeList track by $index" ng-bind="info.comCName" ng-selected="code==info.comCode"></option>
                    </select>
                </li>
                <li class="fl pointer" >
                    <i class="iconfont icon-help">&#xe604;</i>
                    <span class='li-text main-span' ng-click="goBackDashboard()">主页</span>
                </li>
                <li class="fl pointer" >
                    <i class="iconfont icon-help">&#xea27;</i>
                    <span class='li-text help-span'>帮助</span>
                </li>
                <li class="fl drop-down" ng-click="dropDownShow =! dropDownShow">
                    <img src="common/images/man.png" ng-show="personalInfor.sex==1"  alt="头像"  class="man-img" >
                    <img src="common/images/women.png" ng-show="personalInfor.sex==2"  alt="头像"  class="man-img" >
                    <span class='li-text' ng-bind="user.userName"></span>
                    <i class="iconfont icon-select">&#xe605;</i>
                    <div class="drop-down-con" ng-show="dropDownShow">
                        <!--<i></i>-->
                        <i class="iconfont">&#xe607;</i>
                        <ul>
                            <li ng-click="logout()">重新登录</li>
                            <li ng-click="changePassword()">修改密码</li>
                            <li ng-click="modifyMyInfo(this)">我的信息</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 弹层---修改密码 -->
<div class="layer-password myInfo"  ng-show="changePasswordDialog">
    <div class="mask"></div>
    <div class="layer-content">
        <div class="layer-header">
            <span>修改用户密码</span>
            <i class="icon iconfont" ng-click="delete_5()">&#xe632;</i>
        </div>
        <div class="layer-con">
            <form id="cpwform">
                <div class="layer-con1">
                    <ul class="layer-ul">
                        <li>
                            <span>用户工号</span>
                            <input   ng-model="personalInfor.userCode" readonly disabled type="text"/>
                        </li>
                        <li style="position: relative;">
                            <span>原始密码</span>
                            <input ng-model="personalInfor.originalPassword"  ng-class="{red:personalInfor.originalPasswordError||personalInfor.Error}" minlength="6" maxlength="20" type="{{typePass ? 'text' : 'password'}}" />
                            <span class="cur passEye"  ng-class="{'openEye':typePass}" ng-model="typePass" ng-click="change()"></span><!--ng-blur="originalPasswordBlur($event)"-->
                            <!--<p ng-bind="proposal.originalPasswordError"></p>-->
                        </li>
                        <li  style="position: relative;">
                            <span>新密码</span>
                            <input  ng-model="personalInfor.newPassword" ng-class="{red:personalInfor.newPasswordError}" ng-blur="newPasswordBlur($event)"  type="{{typePass2 ? 'text' : 'password'}}" minlength="6" maxlength="20"/>
                            <span class="cur passEye"  ng-class="{'openEye':typePass2}" ng-model="typePass2" ng-click="change2()"></span>
                            <p ng-bind="personalInfor.newPasswordError"></p>
                        </li>
                        <li style="position: relative;">
                            <span>重复新密码</span>
                            <input ng-model="personalInfor.password" ng-class="{red:personalInfor.passwordError}" ng-blur="passwordBlur($event)" minlength="6" maxlength="20" type="{{typePass3 ? 'text' : 'password'}}"/>
                            <span class="cur passEye"  ng-class="{'openEye':typePass3}" ng-model="typePass3" ng-click="change3()"></span>
                            <p ng-bind="personalInfor.passwordError"></p>
                            <p ng-bind="personalInfor.Error" ></p>
                        </li>
                        <li>
                            <span>规则说明</span>
                            <ruby><i style="color: red">新密码由6-20位字母和数字混合组成</i></ruby>
                        </li>
                    </ul>
                </div>
            </form>

        </div>
        <div class="layer-footer layer-foot h70">
            <span class="layer-ok" ng-click="check(personalInfor.originalPassword,personalInfor.newPassword,personalInfor.password)">确 定</span>
        </div>
    </div>
</div>

<!--&lt;!&ndash; 弹层-&#45;&#45;修改密码成功 &ndash;&gt;-->
<!--<div class="layer-demo" ng-show="changePasswordDialog">-->
<!--<div class="mask"></div>-->
<!--<div class="layer-content">-->
<!--<div class="layer-header">-->
<!--<span>您的用户密码已经修改成功！！</span>-->
<!--&lt;!&ndash; <i class="icon iconfont">&#xe632;</i>&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; <div class="layer-con">-->
<!--<div class="layer-con1">您的用户密码已经修改成功！！</div>-->
<!--</div>&ndash;&gt;-->
<!--<div class="layer-footer">-->
<!--<span class="layer-ok" ng-click="delete_7()">完 成</span>-->
<!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;ng-show="userMessageiDalog"-->
<!--</div>-->

<!-- 弹层---我的信息 -->
<div class="layer-message"ng-show="userMessageiDalog" >
    <div class="mask"></div>
    <div class="layer-content">
        <div class="layer-header">
            <span>我的信息</span>
            <i class="icon iconfont" ng-click="userMessageiDalog=false">&#xe632;</i>
        </div>
        <div class="layer-con">
            <div class="layer-con1">
                <ul class="layer-ul fl">
                    <article>我的信息</article>
                    <aside class="iconfont-man"><img src="common/images/man.png"  alt="头像"  class="man1-img"></aside>
                    <aside class="iconfont-woman" style="display:none"><img src="common/images/women.png"  alt="头像" class="man1-img" ></aside>                </ul>
                <!--   <img class="img-head" src="common/images/head.png" alt=""/>-->
                <form name="userForm">
                    <ul class="layer-ul fr">
                        <li class="clearfix">
                            <span><i class="i-col">*</i>姓名</span>
                            <input type="text" ng-required="true" ng-bulr="myClaimName($even)" ng-model="personalInfor.userName" maxlength="20"/>
                            <p class="i-col" ng-bind="personalInfor.userNameError"></p>
                        </li>
                        <li class="clearfix">
                            <span><i class="i-col">*</i>身份证号码</span>
                            <input ng-model="personalInfor.identifyNumber"  ng-blur="myClaimIdNumber($event)" maxlength="18" type="text"/>
                            <p class="i-col"  ng-bind="personalInfor.identifyNumberError"></p>
                        </li>
                        <li class="clearfix">
                            <span><i class="i-col">*</i>性别</span>
                            <div class="radio-con">
                                <span class="man active" ng-model="personalInfor.sex" ng-click='male()'><i class="iconfont"></i>男</span>
                                <span class="woman" ng-model="personalInfor.sex" ng-click='female()'><i class="iconfont"></i>女</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <span><i class="i-col">*</i>电话号码</span>
                            <input type="text" ng-blur="myClaimMobile($even)" ng-model="personalInfor.mobile" maxlength="11"/>
                            <p class="i-col"  ng-bind="personalInfor.mobileError"></p>
                        </li>
                        <li class="clearfix">
                            <span><i class="i-col">*</i>邮箱</span>
                            <input id ="input2"  ng-blur="myClaimEmail($even)"
                                   ng-model="personalInfor.email"
                                   maxlength="50"
                                   ng-class="{red:proposal.myEmailError}"
                                   ng-blur="myEmailBlur($event)"
                                   list="input_list" type="text"/>
                            <p ng-bind="proposal.myEmailError"></p>
                            <datalist id="input_list"></datalist>
                        </li>
                        <li>
                        <span>生日</span>
                            <input type="text"  jedate id="birthday" ng-blur="myClaimBirth($even)" ng-model="personalInfor.birthday"/>
                            <p class="i-col"  ng-bind="personalInfor.birthdayError"></p>
                        </li>
                        <li class="clearfix">
                            <span>QQ</span>
                            <input type="text"
                                   ng-model="personalInfor.qq"
                                   ng-class="{red:personalInfor.qqError}"
                                   ng-blur="myClaimQQ($even)"
                                   ng-keypress="pressDecimal($event)"
                                   maxlength="20" />
                            <p class="i-col"  ng-bind="personalInfor.qqError"></p>
                        </li>
                        <li class="clearfix">
                            <span>微信</span>
                            <input type="text" ng-model="personalInfor.weChat" maxlength="50"/>
                        </li>
                        <li class="clearfix">
                            <span>家庭住址</span>
                            <input type="text" ng-model="personalInfor.address" ng-attr-title="{{personalInfor.address}}" maxlength="60" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="layer-footer h70">
            <span class="layer-ok" ng-click="saveUserInfo(this)">保 存</span>
        </div>
    </div>
</div>
