<!--
****************************************************************************
* DESC       ：国元农险理赔并案管理-立案任务处理查询页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/8
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section commentWidth">
  <div class="content_div content1-div">
    <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label style="margin-left: 45%">查询条件</label>
                </span>
      <div class="condition_table">
        <form name="CombineTaskQueryForm" >
        <ul class='clearfix half-ul'>
          <li class="condition_td fl half-li">
            <label>报案号</label>
            <div class="half-div">
              <input type="text" style="color: #333 ;" ng-model="ComClaimQueryInDto.registNo"
                     ng-change="changeendorseNo(ComClaimQueryInDto.registNo)"
                     maxlength="21" ng-pattern="regData.number"
                     warn-text="{'ErrPattern':'报案号格式错误，请修改!',itemName:'报案号'}"  ng-minLength="15"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>保单号</label>
            <div class="half-div">
              <input type="text" style="color: #333 ;" ng-model="ComClaimQueryInDto.policyNo"
                     ng-change="changeendorseNo(ComClaimQueryInDto.policyNo)"
                     maxlength="21"
                     ng-pattern="regData.number" warn-text="{'ErrPattern':'保单号码格式错误，请修改!',itemName:'保单号码'}" ng-minLength="15"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>被保险人</label>
            <div class="half-div">
              <input type="text" style="color: #333 ;" ng-model="ComClaimQueryInDto.insuredName"
                     ng-pattern="regData.chineseNumber" warn-text="{'ErrPattern':'被保险人格式错误，请修改!',itemName:'被保险人'}"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>流入时间</label>
            <div class="half-div condition-div">
              <div class="data-box">
                <input type="text" class="date-input date fl" name="流入时间" id="flowInTimeStart" style="color: #333 ;" ng-model="ComClaimQueryInDto.flowInTimeStart" max-date="{{ComClaimQueryInDto.flowInTimeEnd}}" jedate format="YYYY-MM-DD"/><span class="data-span">-</span>
                <input type="text" class="date-input date fl" name="流入时间" value="1" id="flowInTimeEnd" style="color: #333 ;" ng-model="ComClaimQueryInDto.flowInTimeEnd" min-date="{{ComClaimQueryInDto.flowInTimeStart}}" jedate format="YYYY-MM-DD"/>
              </div>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>并案号</label>
            <div class="half-div">
              <input type="text" style="color: #333 ;" ng-model="ComClaimQueryInDto.combineNo"
                     ng-change="changeendorseNo(ComClaimQueryInDto.combineNo)"
                     maxlength="21"
                     ng-pattern="regData.code" warn-text="{'ErrPattern':'并案号格式错误，请修改!',itemName:'并案号'}" ng-minLength="15"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>案件状态</label>
            <div class="half-div">
              <code-type base-code="checkNodeStatus"  style="color: #333 ;" ng-model="ComClaimQueryInDto.nodeStatus"></code-type>
            </div>
          </li>
        </ul>
        <div class="btn_tr clearfix">
          <span ng-click="query()">查询</span>
          <span ng-click="resetForm()">重置</span>
        </div>
        </form>
      </div>
    </div>
    <div class="queryResult">
      <div class="queryResult_title clearfix">
        <span class="fl tit-color font-bold" style="margin-left: 45%">查询结果列表</span>
      </div>
      <table>
        <thead>
        <tr class="tr_top">
          <td>序号</td>
          <th class="w9">报案号</th>
          <td class="w9">保单号码</td>
          <th class="w9">并案号</th>
          <td>险种</td>
          <th>被保险人</th>
          <th class="w9">出险标的</th>
          <th class="w11_11">流入时间</th>
          <th class="w9">案件状态</th>
          <th class="w9">处理人员</th>
          <th class="w6">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr_content" ng-repeat="result in PageInfo">
          <td ng-bind="$index+1"></td>
          <td class="operation" ng-click="goTaskHandle(result)">
            <div class="w100oh w50oh" ng-bind="result.registNo" ng-attr-title="{{result.registNo}}"></div>
          </td>
          <td>
            <div class="w50oh w100oh" ng-bind="result.policyNo" ng-attr-title="{{result.policyNo}}"></div>
          </td>
          <td>
            <div class="w50oh w100oh" ng-attr-title="{{result.combineNo}}" ng-bind="result.combineNo"></div>
          </td>
          <td ng-bind="result.riskCode"></td>
          <td ng-bind="result.insuredName"></td>
          <td ng-bind="result.lossName"></td>
          <td ng-bind="result.flowInTime"></td>
          <td>
             <span ng-show="result.nodeStatus==='0'">未处理</span>
             <span ng-show="result.nodeStatus==='2'">正在处理</span>
             <span ng-show="result.nodeStatus==='4'">已处理</span>
          </td>
          <td ng-bind="result.handlerName"></td>
          <td class="operation">
            <span ng-if="result.nodeStatus==='0'" ng-click="deal(result)" class="fl">处理</span>
            <span ng-if="result.nodeStatus==='2'" ng-click="edit(result)" class="fl">修改</span>
            <span ng-if="result.nodeStatus==='4'" ng-click="show(result)">查看</span>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-show="PageInfo===null||PageInfo.length==0" ng-class="{'not-query':PageInfo===null,'query-null':PageInfo.length==0}"></div>
      <div class="index_page">
        <tm-pagination conf="paginationConf"></tm-pagination>
      </div>
    </div>
  </div>
</div>