<!--
****************************************************************************
* DESC       ：国元农险合并案件查询页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/28
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section">
    <div class="content_div content1-div">
        <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label style="margin-left: 45%">查询条件</label>
                    <div ng-click="searchConditionShow=!searchConditionShow" class="cur fr">
                      <!--  <i class="iconfont click_img reduce">&#xe667;</i>
                        <i class="iconfont click_img plus">&#xe668;</i>-->
                    </div>
                </span>
            <div class="condition_table">
                <form name="CombineQueryForm">
                <ul class='clearfix half-ul'>
                    <li class="condition_td fl half-li">
                        <label>保单号</label>
                        <div class="half-div">
                            <input style="color: #333 ;" ng-model="ComCaseQueryInDto.policyNo" ng-change="changeendorseNo(ComCaseQueryInDto.policyNo)"
                                   type="text"
                                   ng-pattern="regData.number" warn-text="{'ErrPattern':'保单号码格式错误，请修改!',itemName:'保单号码'}"
                                   ng-minLength="15" maxlength="21"/>
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>被保险人</label>
                        <div class="half-div">
                            <input style="color: #333 ;" ng-model="ComCaseQueryInDto.insuredName" type="text" class=""
                                   ng-pattern="regData.chineseNumber" warn-text="{'ErrPattern':'被保险人格式错误，请修改!',itemName:'被保险人'}"/>
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>险种</label>
                        <div class="half-div">
                            <select style="color: #333 ;" ng-model="ComCaseQueryInDto.riskCode">
                                <option value="3220" selected="selected">能繁母猪养殖保险</option>
                                <option value="3233">母牛养殖保险</option>
                                <option value="3223">能繁母羊养殖保险</option>
                                <option value="3225">育肥猪养殖保险</option>
                                <option value="3227">肉羊养殖保险</option>
                            </select>
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>报案时间</label>
                        <div class="half-div">
                            <input type="text" id="registDate" style="color: #333 ;" name="报案时间" value="2" ng-model="ComCaseQueryInDto.startDate" class="date-input date" jedate
                                   format="YYYY-MM-DD"/>
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>事故号</label>
                        <div class="half-div">
                            <input style="color: #333 ;" ng-model="ComCaseQueryInDto.accidentNo"
                                   ng-change="changeendorseNo(ComCaseQueryInDto.accidentNo)"
                                   type="text" class=""
                                   ng-pattern="regData.code" warn-text="{'ErrPattern':'事故号格式错误，请修改!',itemName:'事故号'}"
                                   ng-minLength="15" maxlength="21"
                            />
                        </div>
                    </li>
                </ul>

                <div class="btn_tr clearfix">
                    <span ng-click="query()">查询</span><span ng-click="resetForm()">重置</span>
                </div>
                </form>
            </div>
        </div>
        <div class="queryResult">
            <div class="queryResult_title clearfix">
                <span class="fl tit-color font-bold" style="margin-left: 45%">查询结果列表</span>
                <label class="fr" ng-click="goAdd()">新增合并</label>
                <label class="fr" ng-click="goDel()">删除合并</label>
            </div>
            <table>
                <thead>
                <tr class="tr_top">
                    <th>
                        <div class="check-box" style="margin-left: 1.8%" ng-show="PageInfo.length">
                            <label ng-init="checkedAll=false" class="checkbox-label" ng-class="{'checkbox-checked':checkedAll==true}" ng-click="doCheckedAll()">
                                <span style="margin-top: 2px;" class="check-main">
                                <span style= "background-size: 17px auto;width: 58px;margin-right: 5px;float: left;height: 18px;margin-top: 3px;background-position: 0 -38px">全选</span>
                            </span>
                            </label>
                        </div>
                    </th>
                    <!--<th>序号</th>-->
                    <th>报案号</th>
                    <th>保单号码</th>
                    <th>事故号</th>
                    <th>险种</th>
                    <th>被保险人</th>
                    <th>节点类型</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr_content" ng-repeat="result in PageInfo">
                    <td>
                        <div class="check-box">
                            <label class="checkbox-label" ng-class="{'checkbox-checked':result.checked==true}" ng-click="doChecked(result)">
                                <span style="margin-top: 2px;" class="check-main"><span></span></span>
                            </label>
                        </div>
                    </td>
                    <!--<td ng-bind="$index+1"></td>-->
                    <td ng-bind="result.registNo"></td>
                    <td>
                        <div class="w50oh" ng-attr-title="{{result.policyNo}}" ng-bind="result.policyNo"></div>
                    </td>
                    <td ng-bind="result.accidentNo"></td>
                    <td ng-bind="result.riskCode"></td>
                    <td ng-bind="result.insuredName"></td>
                    <td ng-bind="result.nodeName"></td>
                    <td>
                        <span ng-show="result.nodeStatus==='0'">未处理</span>
                        <span ng-show="result.nodeStatus==='2'">正在处理</span>
                        <span ng-show="result.nodeStatus==='3'">回退处理</span>
                        <span ng-show="result.nodeStatus==='4'">已提交</span>
                        <span ng-show="result.nodeStatus==='5'">已回退</span>
                        <span ng-show="result.nodeStatus==='6'">已撤销</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div ng-show="PageInfo===null||PageInfo.length==0" ng-class="{'not-query':PageInfo===null,'query-null':PageInfo.length==0}"></div>
            <div class="index_page">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
</div>
