<!--
****************************************************************************
* DESC       ：国元农险理赔并案查勘定损任务查询页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/11/28
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section commentWidth">
    <div class="content_div content1-div">
        <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label style="margin-left: 45%">查询条件</label>
                   <!-- <i class="iconfont click_img reduce">&#xe667;</i>
                    <i class="iconfont click_img plus">&#xe668;</i>-->
                </span>
            <div class="condition_table">
                <form name="CombineCheckQueryForm">
                <ul class='clearfix half-ul'>
                    <li class="condition_td fl half-li">
                        <label>报案号</label>
                        <div class="half-div">
                            <input style="color: #333 ;"  ng-model="ComCheckQueryInDto.registNo"
                                   ng-change="changeendorseNo(ComCheckQueryInDto.registNo)"
                                   type="text"
                                   maxlength="21" ng-pattern="regData.number"
                                   warn-text="{'ErrPattern':'报案号格式错误，请修改!',itemName:'报案号'}"  ng-minLength="15"/>
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>保单号</label>
                        <div class="half-div">
                            <input style="color: #333 ;" ng-model="ComCheckQueryInDto.policyNo"
                                   ng-change="changeendorseNo(ComCheckQueryInDto.policyNo)"
                                   maxlength="21" ng-minLength="15" type="text"
                                   ng-pattern="regData.number" warn-text="{'ErrPattern':'保单号码格式错误，请修改!',itemName:'保单号码'}"/>
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>被保险人</label>
                        <div class="half-div">
                            <input style="color: #333 ;"  ng-model="ComCheckQueryInDto.insuredName" type="text"
                                   ng-pattern="regData.chineseNumber" warn-text="{'ErrPattern':'被保险人格式错误，请修改!',itemName:'被保险人'}"/>
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>流入时间</label>
                        <div class="half-div condition-div">
                            <div class="data-box">
                                <input type="text" id="flowInTimeStart" class="date-input date fl" name="流入时间" style="color: #333 ;" ng-model="ComCheckQueryInDto.flowInTimeStart" max-date="{{ComCheckQueryInDto.flowInTimeEnd}}" format="YYYY-MM-DD" jedate/><span class="data-span">-</span>
                                <input type="text"  id="flowInTimeEnd" class="date-input date fl" name="流入时间" value="1" style="color: #333 ;"   ng-model="ComCheckQueryInDto.flowInTimeEnd" min-date="{{ComCheckQueryInDto.flowInTimeStart}}" format="YYYY-MM-DD" jedate/>
                            </div>
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>并案号</label>
                        <div class="half-div">
                            <input style="color: #333 ;"  ng-model="ComCheckQueryInDto.combineNo"
                                   ng-change="changeendorseNo(ComCheckQueryInDto.combineNo)"
                                   type="text"
                                   ng-pattern="regData.code" warn-text="{'ErrPattern':'并案号格式错误，请修改!',itemName:'并案号'}"
                                   maxlength="21" ng-minLength="15"
                            />
                        </div>
                    </li>
                    <li class="condition_td fl half-li">
                        <label>案件状态</label>
                        <div class="half-div">
                            <code-type base-code="checkNodeStatus"  style="color: #333 ;" ng-model="ComCheckQueryInDto.nodeStatus"></code-type>
                        </div>
                    </li>
                </ul>
                <div class="btn_tr clearfix">
                    <span ng-click="query()">查询</span>
                    <span ng-click="resetForm()">重置</span>
                </div>
                </form>
            </div>
        </div>
        <div class="queryResult">
            <div class="queryResult_title clearfix">
                <span class="fl tit-color font-bold" style="margin-left: 45%">查询结果列表</span>
            </div>
            <table>
                <thead>
                <tr class="tr_top">
                    <td>序号</td>
                    <td>报案号</td>
                    <td>保单号码</td>
                    <td>并案号</td>
                    <td>险种</td>
                    <td>被保险人</td>
                    <td class="w9">出险标的</td>
                    <td class="w11_11">流入时间</td>
                    <td class="w9">案件状态</td>
                    <td class="w9">处理人员</td>
                    <td class="w6">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr class="tr_content" ng-repeat="result in PageInfo">
                    <td ng-bind="$index+1"></td>
                    <td ng-click="goRegist()" class="tit-color cur">
                        <div class="w50oh w100oh" ng-bind="result.registNo" ng-attr-title="{{result.registNo}}"></div>
                    </td>
                    <td>
                        <div class="w50oh w100oh" ng-attr-title="{{result.policyNo}}" ng-bind="result.policyNo"></div>
                    </td>
                    <td ng-bind="result.combineNo"></td>
                    <td ng-bind="result.riskCode"></td>
                    <td ng-bind="result.insuredName"></td>
                    <td ng-bind="result.lossName"></td>
                    <td ng-bind="result.flowInTime"></td>
                    <td>
                        <span ng-show="result.nodeStatus==='0'">未处理</span>
                        <span ng-show="result.nodeStatus==='2'">正在处理</span>
                        <span ng-show="result.nodeStatus==='4'">已处理</span>
                    </td>
                    <td ng-bind="result.handlerName"></td>
                    <td class='local-sec'>
                        <span ng-if="result.nodeStatus==='0'" ng-click="deal(result)" class="f1" >处理</span>
                        <span ng-if="result.nodeStatus==='2'" ng-click="edit(result)" class="f1" >修改</span>
                        <span ng-if="result.nodeStatus==='4'" ng-click="show(result)">查看</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<div class="index_page">-->
            <!--<tm-pagination conf="paginationConfmm"></tm-pagination>-->
            <!--</div>-->
            <div ng-show="PageInfo===null||PageInfo.length==0" ng-class="{'not-query':PageInfo===null,'query-null':PageInfo.length==0}"></div>
            <div class="index_page">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
        </div>
</div>
