<!--
****************************************************************************
* DESC       ：国元农险理赔工作流模板分配弹层
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/18
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<!-- start 内容 -->
<div class="section">
        <div class="content_div content1-div">
            <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>查询条件</label>
                </span>
                <div class="condition_table">
                    <form name="workFlowQueryForm">
                      <ul class='clearfix half-ul'>
                        <li class="condition_td fl half-li">
                          <label>模板号</label>
                          <div class="half-div">
                            <input type="text" style="color: #333 ;" ng-model="workFlowQueryDto.modelNo" ng-pattern="regData.number" warn-text="{'ErrPattern':'模板号格式错误，请修改！',itemName:'模板号'}"/>
                          </div>
                        </li>
                        <li class="condition_td fl half-li">
                          <label>模板名称</label>
                          <div class="half-div">
                            <input type="text"  style="color: #333 ;"ng-pattern="regData.Chinese" warn-text="{'ErrPattern':'模板名称格式错误，请修改！',itemName:'模板名称'}" ng-model="workFlowQueryDto.modelName"/>
                          </div>
                        </li>
                        <li class="condition_td fl half-li">
                          <label>创建人</label>
                          <div class="half-div">
                            <input type="text"  style="color: #333 ;"ng-pattern="regData.Chinese" warn-text="{'ErrPattern':'创建人格式错误，请修改！',itemName:'创建人'}" ng-model="workFlowQueryDto.authorCode"/>
                          </div>
                        </li>
                        <li class="condition_td fl half-li">
                          <label>创建时间</label>
                          <div class="half-div">
                            <input type="text" id="createDate"  style="color: #333 ;"ng-model="workFlowQueryDto.createDate"  name="创建时间"  value="2"  class="date-input date" jedate format="YYYY-MM-DD"/>
                          </div>
                        </li>
                        <li class="condition_td fl half-li">
                          <label>模板状态</label>
                          <div class="half-div condition-div">
                            <code-type  style="color: #333 ;"ng-model="workFlowQueryDto.modelStatus" base-code="modelStatus"></code-type>
                          </div>
                        </li>
                      </ul>
                    </form>
                    <div class="btn_tr clearfix">
                        <span ng-click="build()">新建</span>
                        <span ng-click="query()">查询</span>
                        <span ng-click="resetForm()">重置</span>
                    </div>
                </div>
            </div>
            <div class="queryResult">
                <div class="queryResult_title clearfix">
                    <span class="fl tit-color font-bold">查询结果列表</span>
                </div>
                <table>
                    <thead>
                    <tr class="tr_top">
                        <th>模板号</th>
                        <th>模板名称</th>
                        <th>模板类型</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>模板状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr_content" ng-repeat="result in querySwfModelList">
                        <td class="pointer" style="color: #2DBE61" ng-bind="result.modelNo" ng-click="goEdit(result.modelNo)"></td>
                        <td ng-bind="result.modelName"></td>
                        <td ng-bind="result.modelType"></td>
                        <td ng-bind="result.authorName"></td>
                        <td ng-bind="result.createDate"></td>
                        <td ng-show="result.modelStatus==='0'">未使用</td>
                        <td ng-show="result.modelStatus==='1'">正在使用</td>
                        <td ng-show="result.modelStatus==='2'">已停用</td>
                        <td ng-show="result.modelStatus==='3'">已作废</td>
                        <td ng-show="result.modelStatus==='4'">已注销</td>
                        <td class="operation" ng-click="openDistributionLayer(result.modelNo,result.modelName)">分配</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="querySwfModelList===null||querySwfModelList.length==0" ng-class="{'not-query':querySwfModelList===null,'query-null':querySwfModelList.length==0}"></div>
                <div class="index_page">
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
<!-- 工作流模板分配弹层 -->
<div ui-view="distribution"></div>