<!--
****************************************************************************
* DESC       ：国元农险理赔工作流管理-新建页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/7
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<!--<ng-form name="workFlowNewForm"  ng-disabled="true" novalidate>-->
  <!-- start 内容 -->
  <div class="section">
    <div class="content_div content1-div">
      <form name="workFlowNewForm">
        <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>工作流模板主要信息</label>
                </span>
          <div class="condition_table">
            <ul class="clearfix half-ul">
              <li class="condition_td fl half-li">
                <label><i class='i-col'>*</i>模板编号</label>
                <div class="half-div">
                  <input type="text" ng-model="workFlow.swfModelMainDto.modelNo" ng-disabled="true"/>
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label><i class='i-col'>*</i>模板名称</label>
                <div class="half-div">
                  <input type="text" ng-model="workFlow.swfModelMainDto.modelName" ng-required="true"
                         ng-pattern="regData.Chinese" warn-text="{'ErrPattern':'模板名称格式错误，请修改!',itemName:'模板名称'}" warn-text/>
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>模板类型</label>
                <div class="half-div">
                  <code-type ng-model="workFlow.swfModelMainDto.modelType" base-code="modelType"></code-type>
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label><i class='i-col'>*</i>模板状态</label>
                <div class="half-div">
                  <code-type ng-model="workFlow.swfModelMainDto.modelStatus" base-code="modelStatus"></code-type>
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>创建日期</label>
                <div class="half-div">
                  <input type="text" id="createDate" ng-model="workFlow.swfModelMainDto.createDate" class="date-input date" jedate format="YYYY-MM-DD" ng-disabled="true"/>
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>修改日期</label>
                <div class="half-div">
                  <input type="text" id="modifyDate" ng-model="workFlow.swfModelMainDto.modifyDate" class="date-input date" jedate format="YYYY-MM-DD" ng-disabled="true"/>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="queryCriteria mt20">
            <span class="queryCriteria_title">
                <label>节点信息</label>
            </span>
          <table class="condition-table mt20 new-table">
            <tr class="tr_top">
              <td class="w6">节点编号</td>
              <td class="w9">节点名称</td>
              <td class="w6">节点类型</td>
              <td class="w6">任务类型</td>
              <td class="w6">任务编号</td>
              <td class="w6">处理时限（分钟）</td>
              <td class="w6">结束标志</td>
              <td class="w6">处理要求</td>
              <td class="w6">操作</td>
            </tr>
            <tr class="tr_content tr-input tr-code-type" ng-repeat="result in workFlow.swfNodeDtoList">
              <!--<td ng-bind="SwfNodeList.nodeno"></td>-->
              <td ng-bind="result.nodeNo" ng-init="result.nodeNo=$index+1"></td> <!-- ng-init="result.nodeNo=$index+1"-->
              <td style="position: relative;" class="timeText" ><input type="text" style="width: 85%;" ng-model="result.nodeName" ng-required="true"
                         ng-pattern="regData.Chinese" warn-text="{'ErrPattern':'节点名称格式错误，请修改!',itemName:'节点名称'}" warn-text/>
                <i class='i-col fl'>*</i></td>
              <td>
                <div>
                  <code-type base-code="nodeTypes" ng-attr-title="{{result.nodeType}}" ng-model="result.nodeType"></code-type>
                </div>
              </td>
              <td>
                <div>
                  <code-type base-code="taskType" ng-attr-title="{{result.taskType}}" ng-model="result.taskType"></code-type>
                </div>
              </td>
              <td style="position: relative;" class="timeText"><input type="text" ng-model="result.taskNo" class="w92input" ng-pattern="regData.number"
                         warn-text="{'ErrPattern':'任务编号格式错误，请修改!',itemName:'任务编号'}" warn-text/></td>
              <td style="position: relative;" class="timeText"><input type="text" ng-model="result.timeLimit" class="w92input" ng-pattern="regData.number"
                         warn-text="{'ErrPattern':'处理时限格式错误，请修改!',itemName:'处理时限'}" warn-text></td>
              <td>
                <div class="w50endFlag">
                  <code-type base-code="endFlag" ng-attr-title="{{result.endFlag}}" ng-model="result.endFlag"></code-type>
                </div>
              </td>
              <td><input type="text" ng-model="result.criterion" class="w92input"/></td>
              <td><a href="javascript:void(0)" class="remove-a" ng-click="delete($index)">删除</a></td>
            </tr>
          </table>
          <div class="ovh">
            <span class='add_p' ng-click="addSwfNode()">添加</span>
          </div>
        </div>
      </form>
        <div class="queryCriteria mt20">
                <span class="queryCriteria_title">
                    <label>路径信息</label>
                </span>
          <table class="condition-table mt20 new-table">
            <tr class="tr_top">
              <td>路径点</td>
              <td>路径名称</td>
              <td>起始节点</td>
              <td>起始节点名称</td>
              <td>终止节点</td>
              <td>终止节点名称</td>
              <td>优先级</td>
              <td>缺省路径</td>
              <td>编辑路径</td>
              <td>操作</td>
            </tr>
            <tr class="tr_content tr-input" ng-repeat="result in workFlow.swfPathDtoList">
              <td ng-bind="result.pathNo"></td>
              <td ng-bind="result.pathName" ng-required="true"></td>
              <td ng-bind="result.startNodeNo"></td>
              <td ng-bind="result.startNodeName"></td>
              <td ng-bind="result.endNodeNo"></td>
              <td ng-bind="result.endNodeName"></td>
              <td ng-bind="result.priority"></td>
              <td ng-bind="result.defaultFlag"></td>
              <!--<td class="operation" ng-click="openTemplatePathLayer($index)">编辑</td>-->
              <td class="operation" ng-click="editSwfpath('modify',$index)">编辑</td>
              <td><a href="javascript:void(0)" class="remove-a" ng-click="del($index)">删除</a></td>
            </tr>
          </table>
          <div class="ovh">
            <span class='add_p' ng-click="addSwfpath('add')">添加</span>
          </div>
        </div>

      <div class="btn_tr clearfix mt20">
        <span ng-click="save()">保存</span>
        <!--<span ng-click="reset()">放弃</span>-->
        <span ng-click="goBack()">取消</span>
      </div>
    </div>
  </div>
  <!-- 工作流模板路径编辑弹层 -->
  <div ui-view="templatePath"></div>
<!--</ng-form>-->

