<!--如果是总公司，控制服务电话，网址和联系地址为必录项-->
<li><em>*</em><span>服务电话：</span></li>
<li><input type="text" class="fl"  maxlength="20" ng-model="PrpDCompanyDto.phoneNumber"  warn-text  required="required" ng-pattern="/^[0-9]*([\\(,\\),\\+,\\-]*[0-9]*)*$/"/></li>

<li><em>*</em><span>网址：</span></li>
<li><input type="text"  class="fl"  maxlength="100"   ng-model="PrpDCompanyDto.webSiteURL"  warn-text  required="required"></li>

<li></li>
<li></li>

<li><em>*</em><span>联系地址：</span></li>
<li class="li_full"><input type="text" maxlength="80"  class="fl" ng-model="PrpDCompanyDto.addressCName" warn-text   required="required"></li>
