<!--共同体资料维护-新增-->
<div class="index_con produce_center">
    <div class="index_list">
        <div class="index_tit"><h6>机构资料</h6></div>
            <ng-form name= "saveForm">
    <!--共同体成员机构资料-->    
                  <ul class="list_ul">
            <li><em>*</em><span>机构代码：</span></li>
            <li><input type="text" mc-placeholder="6-12位保监会统一机构代码" ng-pattern="/^[A-Za-z0-9_]+$/" class="fl" ng-model="PrpDCompanyDto.comCode" ng-readonly="readonly" warn-text="由数字字母下划线组成 ！ " ng-minlength="6"  maxlength="12"   required  ng-readonly="comCodeReadonly"></li>

            <li><em>*</em><span>机构名称：</span></li>
            <li><input type="text" mc-placeholder="分支机构请输入机构简称" class="fl"  maxlength="50" ng-model="PrpDCompanyDto.comCName" warn-text  required></li>

            <li><em>*</em><span>上级机构：</span></li>
            <li>
                <select name= "upperComCode" class="form-control" ng-disabled="upperDisabled" ng-model="PrpDCompanyDto.upperComCode"  ng-options="x.comCode as x.comCName for x in upperCompanyList" warn-text="上级机构不允许为空！" required >
                    <option value="">-----请选择-----</option>
                </select>
            </li>
             <li><em>*</em><span>是否有效：</span></li>
             <li>
                <select class="form-control"  ng-model="PrpDCompanyDto.validStatus"  required >
                    <option value="">-----请选择-----</option>
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
            </li>

            <li><em>*</em><span>是否是总公司：</span></li>
            <li>
                <div class="marr43">
                    <label class="mar_right" ng-class="{true:'radio',false:'on'}[isHeadOfficeLeft]" ng-click="headClick()" >
                        <input type="radio" class="hide" value="1" name="trafficIns" ng-model="PrpDCompanyDto.isHeadOffice"/><em>是</em>
                    </label>
                    <label ng-class="{true:'on',false:'radio'}[isHeadOfficeRight]"  ng-click="headClick1()" >
                        <input type="radio" class="hide" value="0" name="trafficIns" ng-model="PrpDCompanyDto.isHeadOffice"/><em>否</em>
                    </label>
                </div>
            </li>

            <li><span>组织机构代码证号：</span></li>
            <li><input type="text" class="fl" ng-model="PrpDCompanyDto.organizationCode"  maxlength="30" ng-pattern="/^[^\u4e00-\u9fa5]*$/" warn-text="{'ErrPattern':'格式不正确'}"></li>

            <li><span>税务登记证号：</span></li>
            <li><input type="text" class="fl" ng-model="PrpDCompanyDto.taxRegistCertiNo" maxlength="30"  ng-pattern="/^[^\u4e00-\u9fa5]*$/"  warn-text="{'ErrPattern':'格式不正确'}"></li>

            <li><span>营业执照号：</span></li>
            <li><input type="text" class="fl" ng-model="PrpDCompanyDto.businessLicenseNo" maxlength="30" ng-pattern="/^[^\u4e00-\u9fa5]*$/"  warn-text="{'ErrPattern':'格式不正确'}"></li>

            <li><span>社会统一信用代码：</span></li>
            <li><input type="text" class="fl" ng-model="PrpDCompanyDto.unSocialCreditCode" maxlength="50" ng-pattern="/^[^\u4e00-\u9fa5]*$/"  warn-text="{'ErrPattern':'格式不正确'}"></li>

            <!--如果是总公司，控制服务电话，网址和联系地址为必录项-->
            <div data-ng-include="changeIsHeadOffice"></div>
             </ul>
    
    <!--按钮-->
                  <div class="index_btn1">
                  <button  class="submit"   ng-disabled="saveDisableFlag"  ng-click="save()">确 定</button>
                  <span class="edit"  ng-click="exit()">退 出</span>
                  </div>

            </ng-form>
</div>
  <!--弹层---保存成功提示-->
    <div data-ng-include="'components/ims/community/tpl/communitySucLayer.html'"></div>
    <!--弹层---保存失败提示-->
    <div data-ng-include="'components/ims/community/tpl/communityFailLayer.html'"></div>
    <!--弹层---退出确认提示-->
    <div data-ng-include="'components/ims/community/tpl/communityExitLayer.html'"></div>
</div>


