<!--用户清单查询结果-->
<div class="all_payment layer-model">
    <div class="large-layer-content relationListNo_layer">
        <div class="all_payment_head layer-header">
            <span>用户清单查询结果</span>
            <i class="icon iconfont" ng-click="closeRelationListNoLayer2()">&#xe62f;</i>
        </div>
        <div class="queryResult" style="max-height:440px;overflow-y: auto;">
            <div class="queryResult_title clearfix">
                <span class="fl ">清单信息</span>
            </div>
            <table>
                <tr class="tr_top">
                    <td >序号</td>
                    <td>农户姓名</td>
                    <td >组别</td>
                    <td >农户代码</td>
                    <td >面积</td>
                    <td >身份证</td>
                    <td >银行卡号</td>
                    <td >联系电话</td>
                   <!-- <td >粮食面积</td>
                    <td >土地来源</td>-->
                    <td >备注</td>
                </tr>
                <tr class="tr_content F2F2F2" ng-repeat="info in gisFarmerListDtoList">
                    <td>{{$index+1}}</td>
                    <td>{{info.fName}}</td>
                    <td>{{info.teamName}}</td>
                    <td>{{info.fCode}}</td>
                    <td>{{info.insureArea}}</td>
                    <td>{{info.fIdCard}}</td>
                    <td>{{info.accountNo}}</td>
                    <td>{{info.fTel}}</td>
                  <!--  <td>{{info.}}</td>
                    <td>{{info.}}</td>-->
                    <td>{{info.remark}}</td>
                </tr>
            </table>
            <div class="index_page">
                <tm-pagination conf="paginationConfmm2"></tm-pagination>
            </div>
        </div>
        <div class="layer-footer">
            <button class="greenButton" ng-click="closeRelationListNoLayer2()">取消</button>
        </div>
    </div>
</div>