<!--险种方案-->
<!--险种方案弹层-->
<div data-ng-include="'common/business/common/proposal/riskScheme/UIPrPoEn.Adminrisk.layer.html'"></div>

<div  class="admin_scheme">
    <div class="admin_left left">
        <div>险种方案</div>
    </div>
    <!--<div class="buttonAdmin1" ng-if="model"></div>-->
    <div class="admin_right left" style="padding-top: 30px ">
        <ul>

            <li>
                <label class="admin_risk_contain_wLeft teaR">
                    <i class="mes_sign">*</i><span class="mesColor" >创建类型</span>
                    <select ng-model='proposal.editType' ng-disabled="proposalQueryHide" ng-init="proposal.editType='NEW'" ng-change="selectedChange(proposal.editType)">
                        <option value="NEW">新模版</option>
                        <option value="2">复制模版</option>
                    </select>
                    <!--<div class="codeType">-->
                    <!--<code-type base-code="EditType"   ng-model='proposal.editType' reverse-data="reverseData" ng-change="selectedChange(proposal.editType)"></code-type>-->
                    <!--</div>-->

                </label>
                <label ng-show="showInp" class="admin_risk_contain_wRight" style="width: 300px">
                    <input type="text" ng-disabled="proposalQueryHide" />
                    <button class="blurButton1">查询</button>
                </label>
            </li>
            <li>
                <label class="admin_risk_contain_wLeft teaR">
                    <i class="mes_sign">*</i><span class="mesColor" >险种</span>
                    <div class="riskScheme_codeType" style="width: 55%">
                        <ui-select ng-model="proposal.prpTmainDto.classCode"  ng-change="chooseRiskcClassCode(proposal.prpTmainDto.classCode)" required>
                            <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.className}}">
                                {{$select.selected.className}}
                            </ui-select-match>
                            <ui-select-choices repeat="code.classCode as code in prpDclassList track by $index">
                                <span ng-bind="code.className" ng-attr-title="{{code.className}}"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!--<select ng-model='proposal.prpTmainDto.classCode' ng-disabled="proposalQueryHide">-->
                    <!--<option value="">31种植保险类</option>-->
                    <!--<option value="">31养殖保险类</option>-->
                    <!--</select>-->
                </label>
                <label class="admin_risk_contain_wRight">
                    <div  class="codeType">
                        <ui-select ng-model="proposal.prpTmainDto.riskCode" ng-change="getComCode()">
                            <ui-select-match   placeholder="查询或选择..." ng-attr-title="{{$select.selected.riskCName}}">
                                {{$select.selected.riskCName}}
                            </ui-select-match>
                            <ui-select-choices repeat="code.riskCode as code in riskCodeList | filter: $select.search">
                                <span ng-bind="code.riskCName" ng-attr-title="{{code.riskCName}}"></span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <!--<select ng-model='proposal.prpTmainDto.riskCode' ng-disabled="proposalQueryHide" ng-change="getComCode()">-->
                    <!--<option value="3101">3101-水稻种植保险</option>-->
                    <!--<option value="3102">3102-大棚蔬菜种植保险</option>-->
                    <!--<option value="3105">3105-林木火灾保险</option>-->
                    <!--<option value="3107">3107-小麦种植保险</option>-->
                    <!--<option value="">3108-油菜种植保险</option>-->
                    <!--<option value="">3114-玉米种植保险</option>-->
                    <!--</select>-->
                </label>
            </li>
            <li>
                <label class="admin_risk_contain_wLeft teaR">
                    <i class="mes_sign">*</i><span class="mesColor" >条款</span>
                    <input type="text" ng-model="proposal.prpTmainDto.code" ng-blur="getBusinessType1()" style="width: 55%;" ng-disabled="proposalQueryHide">
                </label>
                <label class="admin_risk_contain_wLeft teaR ">
                    <i class="mes_sign">*</i><span class="mesColor"  >适用机构</span>
                    <input type="text" ng-model="proposal.prpTmainDto.com" style="width: 55%;" ng-disabled="proposalQueryHide"/>
                </label>
            </li>

            <li>
                <label class="admin_risk_contain_wLeft fl">
                    <div>
                        <input style="width: 111px" type="text" id="idDataStart2" jedate
                               class=" admin_date1  disp fr" ng-model="proposal.prpTmainDto.operateStartDate"
                               format="YYYY-MM-DD" required readonly ng-disabled="proposalQueryHide"/>
                        <input style="width: 111px" type="text" id="idDataEnd2" jedate
                               class=" admin_date1  disp fr" ng-model="proposal.prpTmainDto.operateEndDate"
                               format="YYYY-MM-DD"
                               required readonly ng-disabled="proposalQueryHide"/>

                    </div>
                    <label class="fr"><i class="mes_sign textlh">*</i><span class="mesColor textlh" >有效期</span></label>
                </label>
                <label class="admin_risk_contain_wLeft teaR" style="margin-left:4px">
                    <i class="mes_sign  textlh">*</i><span class="mesColor"  >模版状态</span>
                    <select  disabled ng-disabled="proposalQueryHide" ng-model="proposal.prpTmainDto.validStatus">
                        <option  value="">请选择</option>
                        <option  value="1">启用</option>
                        <option  value="0">禁用</option>
                    </select>
                    <!--<code-type base-code="classCode1" ng-model='proposal.prpTmainDto.classCode' class="fl"></code-type>-->
                </label>
            </li>
            <li>
                <label class="admin_risk_contain_wLeft teaR fr"  style="margin-right: 200px;margin-top: 5px">
                    <i class="mes_sign">*</i><span class="mesColor" >模版号码</span>
                    <input type="text" ng-model="proposal.prpTmainDto.modelCode" style="width: 55%;" disabled="disabled">
                </label>
                <label class="admin_risk_contain_wLeft teaR fr" style="margin-right: 3px">
                    <i class="mes_sign">*</i><span class="mesColor"  >模版名称</span>
                    <input type="text"  ng-model="proposal.prpTmainDto.modelName" style="width: 55%;" ng-value="" ng-disabled="proposalQueryHide"/>
                </label>
            </li>
        </ul>
    </div>
</div>
