<!--险种方案-->
<!--险种方案弹层-->
<div ng-show="showRiskScheme"  class="riskScheme"  >
    <div class="riskScheme_first">
        <div class="riskScheme_first_content" >
            <button class="greenButton" ng-click="yesRiskScheme()">下一步</button>
            <button class="btn_after" ng-show="ShowExit" ng-click="closeRiskScheme()">退出</button>
        </div>
        <div class="layer-header">
        <span ng-bind="queryHide==true?'出单向导':'模板向导'"></span>
    </div>
    </div>
    <div style="margin-top: 100px;">
        <div class="layer-con">
            <div class="layer-con1">
                <ul id="pt4">
                    <!--创建类型-->
                    <li ng-show="!queryHide">
                        <label class="riskScheme_contain_wLeft teaR">
                            <i class="mes_sign">*</i> <span >创建类型</span>
                            <div class="riskScheme_codeType">
                                <select  ng-model="prpMmodelMainDto.riskScheme" ng-change="changeModelMsg(prpMmodelMainDto.riskScheme);"  id="" ng-click="checkQuery()">
                                    <option value=""  selected hidden></option>
                                    <option value="0">新模板</option>
                                    <option value="1">复制模板</option>
                                </select>
                            </div>
                        </label>
                        <label ng-show="prpMmodelMainDto.riskScheme=='1'"  class="riskScheme_contain_wRight riskSchemeContainWRight">
                            <input  type="text"  ng-model="proposal.modelCode"   placeholder="请输入模板号"/>
                            <button class="greenButton" ng-click="checkFind(proposal.modelCode)"  style="width:82px;">查询</button>
                        </label>
                    </li>
                    <!--编辑类型-->
                    <li ng-show="queryHide">
                        <label class="riskScheme_contain_wLeft teaR">
                            <i class="mes_sign">*</i> <span >编辑类型</span>
                            <div class="riskScheme_codeType">
                                <code-type base-code="EditType" required  ng-model='proposal.editType' reverse-data="reverseData" ng-change="selectedChange(proposal.editType)" ng-init="proposal.editType='NEW'"></code-type>
                            </div>
                        </label>
                        <label ng-show="showInp" class="riskScheme_contain_wRight riskSchemeContainWRight">
                            <input  type="text" placeholder="{{proposalNoTiShi}}" ng-change="changeproposalNo()" ng-model="proposal.prpTmainDto.copyOldNo"   onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')" />
                            <button class="greenButton" ng-click="findNo(proposal.editType,proposal.prpTmainDto.copyOldNo)" style="width:82px;">查询</button>
                        </label>
                    </li>
                    <!--险种-->
                    <input type="text" hidden="true" ng-model="proposal.prpTmainDto.policyBizType">
                    <input type="text" hidden="true" ng-model="proposal.prpTmainDto.policyBizTypeName">
                    <li class="clearfix" style="height: 34px">
                        <div class="riskScheme_contain_wLeft teaR fl">
                            <i ng-show="!showInp" class="mes_sign">*</i> <span >险种</span>
                            <div class="riskScheme_codeType" id="riskSchemeCodeType" style="width: 42%">
                                <ui-select ng-model="proposal.prpTmainDto.classCode"  ng-change="chooseRiskcClassCode(proposal.prpTmainDto.classCode);chooseClassCode($select.selected)">
                                    <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.className}}">
                                        {{$select.selected.className}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.classCode as code in prpDclassList | filter: $select.search">
                                        <span ng-bind="code.className" ng-attr-title="{{code.className}}"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="riskScheme_contain_wRight fl">
                            <!--<select ng-model="proposal.prpTmainDto.riskCode" ng-options="riskCode.codeCode as riskCode.codeName for riskCode in riskCode">-->
                            <!--<option value="">请选择</option>-->
                            <!--&lt;!&ndash;<option value="">310-水稻种植保险</option>&ndash;&gt;-->
                            <!--</select>-->
                            <div class="clearfix" id="riskCode" style="margin-left: 5.2%;">
                                <ui-select ng-model="proposal.prpTmainDto.riskCode" ng-click="chooseRiskCode($select.selected)">
                                    <ui-select-match   placeholder="查询或选择..." ng-attr-title="{{$select.selected.riskCName}}">
                                        {{$select.selected.riskCName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.riskCode as code in riskCodeList | filter: $select.search">
                                        <span ng-bind="code.riskCName" ng-attr-title="{{code.riskCName}}"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <!--<div class="clearfix" style="width: 77%;margin-left: 4%">-->
                            <!--<code-type base-code="riskCode" ng-model='proposal.prpTmainDto.riskCode' ng-change="chooseRiskCode(proposal.prpTmainDto.riskCode)"></code-type>-->
                            <!--</div>-->
                        </div>
                    </li>
                    <!--归属机构-->
                    <li ng-show="!handler1CodeShow">
                        <label class="riskScheme_contain_wLeft teaR">
                            <i class="mes_sign">*</i> <span >归属机构</span>
                            <div class="codeType codeNoBor" style="width:42%;" >
                                <ui-select history ng-model="proposal.prpTmainDto.comCode"
                                           ng-click="QuickGetChangeComCode();"
                                           ng-change="getHanCode($select.selected);getItemsAndModel()"
                                           ng-disabled="proposalQueryHide||endorseFlag">
                                    <ui-select-match placeholder="查询或选择..." ng-attr-title="{{$select.selected.comCName}}">
                                        {{$select.selected.comCName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="code.comCode as code in selectListData.comCodeList | filter: $select.search">
                                        <span ng-bind="code.comCName" ng-attr-title="{{code.comCName}}"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </label>
                    </li>
                    <li ng-show="!queryHide" style="margin-top:-13px;">
                        <label class="riskScheme_contain_wLeft teaR" style="margin-left: -98%">
                            <i class="mes_sign">*</i> <span >适用机构</span>
                            <div style="width: 42%;display: inline-block;">
                                <label style="float: left;width: 80px;">
                                    <div class="" id="comTree2" >
                                         <com-tree multiple  ng-value="swflogDto.handleName" url="queryCompanyTree" ng-model="swflogDto.handleCode" ng-required="true" ng-change="queryCheckAndLossPeople();"   switchFlag="true"></com-tree>
                                     </div>
                                </label>
                            </div>
                        </label>
                        <label  class="riskScheme_contain_wRight ">
                            <i class="mes_sign">*</i> <span >模板状态</span>
                            <div class="riskScheme_codeType">
                                <select ng-model="prpMmodelMainDto.validstatus" ng-init="prpMmodelMainDto.validstatus='1'">
                                    <option value="1">启用</option>
                                    <option value="0">停用</option>
                                </select>
                            </div>
                        </label>
                    </li>
                    <!--模板名称-->
                    <li ng-show="!queryHide">
                        <label class="riskScheme_contain_wLeft teaR">
                            <i class="mes_sign">*</i> <span >模板名称</span>
                            <div class="codeType codeNoBor"  style="width:42%;">
                                <!--<input ng-model="prpMmodelMainDto.modelName" title="格式示例:XXX_XXXX年XXX（行政单位）XX品种XX季别XX客户类型XX条款名称投保模版" placeholder="XXX_XXXX年XXX（行政单位）XX品种XX季别XX客户类型XX条款名称投保模版" maxlength="60" ng-blur="checkModelName($event,prpMmodelMainDto.modelName);" ng-click="findModelCode();getItems()" ng-class="{'checkOutBdRed':proposal.checkModelName}" type="text" />-->
                                <input ng-model="prpMmodelMainDto.modelName"  maxlength="60" ng-blur="checkModelName($event,prpMmodelMainDto.modelName);" ng-click="findModelCode();getItems()" ng-class="{'checkOutBdRed':proposal.checkModelName}" type="text" />
                            </div>

                        </label>
                        <label  class="riskScheme_contain_wRight " >
                            <i class="mes_sign" ng-show="queryHide">*</i> <span style="margin-left: 10px;">模板号码</span>
                            <div class="riskScheme_codeType">
                                <input type="text"  ng-model="prpMmodelMainDto.modelCode" disabled><span ng-bind="proposal.checkModelName" style="color:#f00;position: absolute;margin-left: 2px"></span>
                            </div>
                        </label>
                    </li>
                    <!--有效期-->
                    <li ng-show="!queryHide" class="clearfix" style="margin-bottom:6px;">
                        <div class="riskScheme_contain_wLeft teaR fl">
                            <i class="mes_sign">*</i> <span >有效期</span>
                            <input style="width: 42%" type="text" id="expiryStart" jedate warn-text="有效期起期"
                                   class="date-input proposal_date" ng-model="prpMmodelMainDto.startDate"
                                   format="YYYY-MM-DD" readonly/>
                        </div>
                        <i class="fl" style="padding:0 4px;">-</i>
                        <div  class="riskScheme_contain_wRight fl" >
                            <input type="text" id="expiryEnd" jedate warn-text="有效期止期"
                                   class="date-input proposal_date" ng-model="prpMmodelMainDto.endDate" ng-change="modelCompareDate(prpMmodelMainDto.startDate,prpMmodelMainDto.endDate)"
                                   format="YYYY-MM-DD"  readonly />
                        </div>
                    </li>
                    <!--清单编号-->
                    <li>
                        <label class="riskScheme_contain_wLeft teaR">
                            <i class="mes_sign" ng-show="queryHide">*</i> <span >清单编号</span>
                            <div class="riskScheme_codeType">
                                <input type="text" ng-disabled="FastFlag" id="insureListCode" ng-blur="getPlantingInfo(proposal.insureMainListDto.insureListCode,'input')" ng-model="proposal.insureMainListDto.insureListCode" maxlength="30" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')">
                            </div>
                        </label>
                        <button class="greenButton" style="margin-left: 2%" ng-click="checkinsureListCode($event,proposal.insureMainListDto.insureListCode);">查询</button>
                        <button class="greenButton" ng-click="checkqd($event,proposal.insureMainListDto.insureListCode)">详情</button>
                    </li>
                    <div ng-show="relationListNoLayer" style="position: relative;z-index: 3000;"
                         data-ng-include="'common/business/common/proposal/riskScheme/UIPrPoEn.relationListNo.layer.html'"></div>
                    <div ng-show="relationListQueryLayer"
                         data-ng-include="'common/business/common/proposal/riskScheme/UIPrPoEn.relationListQuery.layer.html'"></div>
                    <!--清单编号重复性校验弹框-->
                    <div class="all_payment layer-model" ng-show="relativeInsureListCode">
                        <div class="large-layer-content relationListNo_layer" style="top:30% !important;">
                            <div class="all_payment_head layer-header">
                                <span>温馨提示</span>
                            </div>
                            <div class="layui-layer-content" style="padding:30px;line-height: 34px;font-size: 18px !important;">
                                <p>该清单编号{{proposal.insureMainListDto.insureListCode}}存在已关联的有效保单，请确认是否继续？</p>
                                <p>您可点击如下【查看详情】按钮，查看已关联的有效保单列表</p>
                                <p><span class="highlight-text" ng-click="lookDetailRelativeInsureList()">查看详情</span></p>
                            </div>
                            <div class="layer-footer">
                                <button class="greenButton" style="margin-right:80px;" ng-click="goRelativeInsureListCode(proposal.insureMainListDto.insureListCode)">继续</button>
                                <button class="greenButton" ng-click="closeRelativeInsureListCode()">取消</button>
                            </div>
                        </div>
                    </div>
                    <!--关联有效保单列表弹框-->
                    <div class="all_payment layer-model" ng-show="showDetailRelativeInsure">
                        <div class="large-layer-content relationListNo_layer">
                            <div class="all_payment_head layer-header">
                                <span>保单列表</span>
                                <i class="icon iconfont" ng-click="closeDetailRelativeInsureList()">&#xe62f;</i>
                            </div>
                            <div class="queryResult" style="max-height:450px;overflow-y: auto;">
                                <table>
                                    <tr class="tr_top">
                                        <td >保单号</td>
                                        <td>投保人名称</td>
                                        <td >起保日期</td>
                                        <td >终保日期</td>
                                        <td >制单人</td>
                                    </tr>
                                    <tr class="tr_content F2F2F2" ng-repeat="relativeInsure in detailRelativeInsureList track by $index">
                                        <td ng-bind="relativeInsure.policyNo" ng-click="getPolicyInfo(relativeInsure.policyNo)" target='_blank' ui-sref="UIPolicy3107show" style="color:#5a9cff;cursor: pointer;"></td>
                                        <td ng-bind="relativeInsure.appliName"></td>
                                        <td ng-bind="relativeInsure.startDate"></td>
                                        <td ng-bind="relativeInsure.endDate"></td>
                                        <td ng-bind="relativeInsure.operatorName"></td>
                                    </tr>
                                </table>
                                <div class="index_page">
                                    <tm-pagination conf="paginationConfmm4"></tm-pagination>
                                </div>
                            </div>
                            <div class="layer-footer">
                                <button class="greenButton" ng-click="closeDetailRelativeInsureList()">取消</button>
                            </div>
                        </div>
                    </div>
                    <li  class="clearfix riskScheme_item">
                        <!--标的列表-->
                        <div>
                            <div class="chose_clause_title">标的列表</div>
                            <div class="chose_clause_content">
                                <table>
                                    <tr class="tr_top">
                                        <td >序号</td>
                                        <td >标的名称</td>
                                        <td >标的清单编号</td>
                                        <td >操作</td>
                                    </tr>
                                    <tr class="tr_content" ng-repeat="queryMarkedList in queryMarkedList track by $index">
                                        <td >{{$index+1}}</td>
                                        <td ng-bind="queryMarkedList.itemName"></td>
                                        <td ng-bind="queryMarkedList.itemListCode"></td>
                                        <td class="table_color cur" ng-click="showMarkedList(queryMarkedList,$index)">预览</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--标的清单列表-->
                        <div class="all_payment layer-model" ng-show="markedList">
                            <div class="large-layer-content relationListNo_layer">
                                <div class="all_payment_head layer-header">
                                    <span>标的清单列表</span>
                                    <i class="icon iconfont" ng-click="closeMarkedList()">&#xe62f;</i>
                                </div>
                                <div class="queryResult" style="max-height:450px;overflow-y: auto;">
                                    <table>
                                        <tr class="tr_top">
                                            <td >序号</td>
                                            <td>标的类型</td>
                                            <td >标的名称</td>
                                            <td >标的清单编号</td>
                                            <td >农户代码</td>
                                            <td >农户姓名</td>
                                            <td >{{insureCountTitle}}</td>
                                        </tr>
                                        <tr class="tr_content F2F2F2" ng-repeat="famerListItem in famerListItem track by $index">
                                            <!--<td ng-bind="famerListItem.serialNo"></td>-->
                                            <td>{{$index+1}}</td>
                                            <td ng-bind="famerListItem.itemType"></td>
                                            <td ng-bind="famerListItem.itemName"></td>
                                            <td ng-bind="famerListItem.itemListCode"></td>
                                            <td ng-bind="famerListItem.fCode"></td>
                                            <td ng-bind="famerListItem.fName"></td>
                                            <td class="C2DBE61 cur" ng-bind="famerListItem.insureCount" ng-click="showFieldList(famerListItem,$index)"></td>
                                        </tr>
                                    </table>
                                    <div class="index_page">
                                        <tm-pagination conf="paginationConfmm3"></tm-pagination>
                                    </div>
                                </div>
                                <div class="layer-footer">
                                    <button class="greenButton" style="margin-right:80px;" ng-click="markListDownload(famerListItem)">下载</button>
                                    <button class="greenButton" ng-click="closeMarkedList()">返回</button>
                                </div>
                            </div>
                        </div>

                        <div class="all_payment layer-model" ng-show="fieldList">
                        <div class="large-layer-content relationListNo_layer">
                            <div class="all_payment_head layer-header">
                                <span>{{detailsTitle}}</span>
                                <i class="icon iconfont" ng-click="closeFieldList()">&#xe62f;</i>
                            </div>
                            <div class="queryResult" style="max-height: 450px; overflow-y: auto;">
                                <div ng-if="detailsType === 'other'">
                                    <table>
                                        <tr class="tr_top">
                                            <td >序号</td>
                                            <td >标的名称</td>
                                            <td >农户代码</td>
                                            <td >农户姓名</td>
                                            <td >田块代码</td>
                                            <td >田块面积</td>
                                        </tr>
                                        <tr class="tr_content F2F2F2" ng-repeat="result in resultListDetails track by $index">
                                            <!--<td ng-bind="gisField.serialNo"></td>-->
                                            <td>{{$index+1}}</td>
                                            <td ng-bind="result.itemName"></td>
                                            <td ng-bind="result.fCode"></td>
                                            <td ng-bind="result.fName"></td>
                                            <td ng-bind="result.fieldCode"></td>
                                            <td ng-bind="result.fieldArea"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div ng-if="detailsType === 'earLabel'">
                                    <table>
                                        <tr class="tr_top">
                                            <td >序号</td>
                                            <td >标的名称</td>
                                            <td >农户代码</td>
                                            <td >农户姓名</td>
                                            <td >耳标号</td>
                                        </tr>
                                        <tr class="tr_content F2F2F2" ng-repeat="result in resultListDetails track by $index">
                                            <!--<td ng-bind="gisField.serialNo"></td>-->
                                            <td>{{$index+1}}</td>
                                            <td ng-bind="result.itemName"></td>
                                            <td ng-bind="result.fCode"></td>
                                            <td ng-bind="result.fName"></td>
                                            <td ng-bind="result.earLabel"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div ng-if="detailsType === 'joinInsured'">
                                    <table>
                                        <tr class="tr_top">
                                            <td >序号</td>
                                            <td >标的名称</td>
                                            <td >姓名</td>
                                            <td >证件号码</td>
                                            <td >性别</td>
                                            <td >行业类别</td>
                                            <td >与农户关系</td>
                                        </tr>
                                        <tr class="tr_content F2F2F2" ng-repeat="result in resultListDetails track by $index">
                                            <!--<td ng-bind="gisField.serialNo"></td>-->
                                            <td>{{$index+1}}</td>
                                            <td ng-bind="result.itemName"></td>
                                            <td ng-bind="result.name"></td>
                                            <td ng-bind="result.idCard"></td>
                                            <td ng-bind="result.sex === '01' ? '男':'女' "></td>
                                            <td ng-bind="result.industryCategory"></td>
                                            <td ng-bind="result.relation"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div ng-if="detailsType === 'load'">
                                    <table>
                                        <tr class="tr_top">
                                            <td >序号</td>
                                            <td >标的名称</td>
                                            <td >姓名</td>
                                            <td >贷款合同编号</td>
                                            <td >贷款银行代码</td>
                                            <td >贷款金额</td>
                                            <td >担保人</td>
                                            <td >贷款期限</td>
                                            <td >贷款用途</td>
                                        </tr>
                                        <tr class="tr_content F2F2F2" ng-repeat="result in resultListDetails track by $index">
                                            <!--<td ng-bind="gisField.serialNo"></td>-->
                                            <td>{{$index+1}}</td>
                                            <td ng-bind="result.itemName"></td>
                                            <td ng-bind="result.fName"></td>
                                            <td ng-bind="result.loanContractNo"></td>
                                            <td ng-bind="result.loanBankAccount"></td>
                                            <td ng-bind="result.loadAmount | number:2"></td>
                                            <td ng-bind="result.guarantor"></td>
                                            <td ng-bind="result.loanPeriod"></td>
                                            <td ng-bind="result.loanUse"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="index_page">
                                    <tm-pagination conf="paginationConfmmField"></tm-pagination>
                                </div>
                            </div>
                            <div class="layer-footer">
                                <button class="greenButton" ng-click="closeFieldList()">返回</button>
                            </div>
                        </div>
                    </div>
                        <!--选择条款-->
                        <div >
                            <div class="chose_clause_title" style="position: relative;">
                                <span>条款列表</span><i ng-show="queryHide" class="mes_sign">*</i>
                                <input type="text" style="position: absolute;right:10px;top:4px;" placeholder="请输入条款号码或名称" ng-model="TKKwords" ng-attr-title="{{TKKwords}}" class="plw" ng-class="{'nol':TKKwords}">
                            </div>
                            <div class="chose_table">
                                <table>
                                    <thead>
                                        <tr class="tr_top">
                                            <td class="w5">选择</td>
                                            <td >条款代码</td>
                                            <td >条款名称</td>
                                        </tr>
                                    </thead>
                                   <tbody style="max-height: 150px;display:block;overflow-y: auto; width:100%;">
                                        <tr class="tr_content" ng-repeat="clause in clause | filter:TKKwords">
                                            <td class="w5"><input type="radio"  ng-model="proposal.prpTmainDto.versionNo" ng-click="getversionNo(clause.clauseName);changeClauseSelect($event,$index);" ng-value="clause.clauseCode" name="clause"></td>
                                            <td ng-bind="clause.clauseCode"></td>
                                            <td ng-bind="clause.clauseName"></td>
                                        </tr>
                                   </tbody>

                                </table>
                            </div>
                        </div>
                        <!--选择投保模板-->
                        <div ng-show="queryHide">
                            <div class="chose_clause_title" style="position: relative;">
                                <span>模板列表</span>
                                <input type="text" style="position: absolute; right:10px;top:4px;" placeholder="请输入模板号码或名称" class="plw" ng-model="MBKwords" ng-attr-title="{{MBKwords}}" ng-class="{'nol':MBKwords}">
                            </div>
                            <div class="chose_table">
                                <table>
                                    <thead>
                                         <tr class="tr_top">
                                             <td class="w5">选择</td>
                                             <td class="w_29">模板代码</td>
                                             <td style="width:25%;">模板名称</td>
                                             <td style="width:25%;">制作人</td>
                                         </tr>
                                    </thead>
                                    <tbody style="max-height: 150px;display:block;overflow-y: auto; width:100%;">
                                        <tr class="tr_content" ng-repeat="model in model | filter:MBKwords">
                                            <td class="w5"><input type="radio" ng-click="getmodelCode(model.modelName);changeModelCodeSelect($event,$index);" ng-model="proposal.prpTmainDto.modelCode" ng-change="getModelInfo(proposal.prpTmainDto.modelCode)"  ng-value="model.modelCode" name="model"></td>
                                            <td class="w_29" ng-bind="model.modelCode"></td>
                                            <td ng-bind="model.modelName" style="width: 25%;"></td>
                                            <td ng-bind="model.remark" style="width: 25%;"></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--<div  data-ng-include="'common/business/common/proposal/riskScheme/UIPrPoEn.riskScheme.layer.html'"></div>-->
<div  class="coverage_scheme clearfix" >
    <div class="coverage_left left " ng-show="queryHide">
        <div>出单方案</div>
        <i ng-click="riskScheme($event);getItemsAndModel()" ng-show="riskScheme1">修改方案</i>
    </div>
    <div class="coverage_left left " ng-show="!queryHide">
        <div>模板方案</div>
        <i ng-click="riskScheme($event);getClause()" ng-show="riskSchemeModel">修改方案</i>
    </div>
    <div class="coverage_right left">
        <ul class="coverage_right_container" id="coverageRightContainer" style="margin-left: 0;">
            <li>
                <label  class="teaR" ng-show="!queryHide">
                    <i class="mes_sign">*</i> <span class="mesColor">创建类型</span>
                    <div style="width: 55%;display: inline-block;vertical-align: middle" disabled>
                        <input style="width: 100%" type="text" ng-value="prpMmodelMainDto.riskScheme=='0'?'新模版':'复制模板'" readonly/>
                        <!--<code-type base-code="EditType" ng-model='proposal.editType' ng-disabled="true"></code-type>-->
                    </div>
                </label>
                <label  class="teaR" ng-show="!proposalQueryHide&&queryHide">
                    <i class="mes_sign">*</i> <span class="mesColor">编辑类型</span>
                    <div style="width: 55%;display: inline-block;vertical-align: middle" disabled ng-show="!proposalQueryHide&&queryHide">
                        <input style="width: 100%" type="text" ng-model="proposal.editTypeName" readonly/>
                        <!--<code-type base-code="EditType" ng-model='proposal.editType' ng-disabled="true"></code-type>-->
                    </div>
                </label>
                <label id="riskCode_Class" class="teaR " style="padding-left: 1.5%;">
                    <i class="mes_sign">*</i> <span class="mesColor">险种</span>
                    <div class="riskCode_show teaL" ng-class="{'riskCode_show_width':queryHide&&proposalQueryHide}">
                        <span style="width: 100%;padding-left:10px;" type="text" ng-bind="proposal.prpTmainDto.className||riskFilter" readonly/>
                    </div>
                    <div style="width: 54%;display: inline-block;vertical-align: middle">
                        <input style="width: 100%" ng-disabled="true"  ng-model='proposal.prpTmainDto.riskCodeName' />
                    </div>
                </label>
            </li>
            <li>
                <label class="teaR" ng-class="{'GuaranteeQueryClass':queryHide&&proposalQueryHide}">
                     <span class="mesColor">条款</span>
                    <input ng-value="proposal.prpTmainDto.versionNo" type="text" disabled="disabled" />
                </label>
                <label class="teaR"  ng-class="{'GuaranteeQueryClass':queryHide&&proposalQueryHide}" style="" ng-show="queryHide">
                    <span class="mesColor">模版</span>
                    <input ng-model="proposal.prpTmainDto.modelCode"  type="text"  name="model" disabled>
                </label>
                <label class="teaL" style="padding-left: 1.5%;" ng-show="!queryHide">
                    <i class="mes_sign">*</i> <span class="mesColor">适用机构</span>
                    <!--<input   type="text"  ng-value="prpMmodelMainDto.institutions" ng-attr-title="{{prpMmodelMainDto.institutions}}" name="model" disabled>-->
                        <div style="width: 42%;margin-top:-21px;margin-left: -6.5%">
                            <label class="fr " >
                                <div class="" id="comTree">
                                    <com-tree2 multiple ng-disabled="messageHide"  ng-value="swflogDto.handleName" url="queryCompanyTree" ng-model="swflogDto.handleCode" ng-required="true"switchFlag="true"></com-tree2>
                                </div>
                            </label>
                        </div>
                </label>
            </li>
            <li ng-show="!queryHide">
                <label class="teaR" style="padding-left: 1%">
                    <i class="mes_sign">*</i> <span class="mesColor">有效期</span>
                    <input style="width: 27%" ng-value="prpMmodelMainDto.startDate"   ng-value="" type="text" disabled="disabled" />
                    <i>-</i>
                    <input style="width: 26%" ng-value="prpMmodelMainDto.endDate" type="text" disabled="disabled" />
                </label>
                <label class="teaL" style="padding-left: 0.4%" >
                    <i class="mes_sign">*</i> <span class="mesColor">模版状态</span>
                    <input   type="text" ng-value="prpMmodelMainDto.validstatus=='0'?'停用':'启用'" disabled>
                </label>
            </li>
            <li ng-show="!queryHide">
                <label class="teaR">
                    <i class="mes_sign">*</i> <span class="mesColor">模板名称</span>
                    <input ng-value="prpMmodelMainDto.modelName" ng-attr-title="{{prpMmodelMainDto.modelName}}" type="text" disabled="disabled" />
                </label>
                <label class="teaL" style="padding-left: 1.5%" >
                    <span class="mesColor">模版号码</span>
                    <input type="text" ng-value="prpMmodelMainDto.modelCode" style="width: 57.3%;" name="model" disabled>
                </label>
            </li>
        </ul>
    </div>
</div>
