<!--
****************************************************************************
* DESC       ：国元农险理赔并案管理-立案任务处理页面---理赔沟通弹层
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/12 
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="orderlayerBox" ng-show="checkCommunicationFlag">
  <div class="mask zIndex"></div>
  <div class="printLayer dispa-task bg">
    <div class="remove_header">
      <span>理赔沟通</span>
      <i class="icon iconfont" ng-click="close()">&#xe632;</i>
    </div>
    <div class="info_container">
      <div class="content_div content1-div">
        <div class="queryCriteria bor-radius">
                <span class="queryCriteria_title">
                    <label>理赔沟通</label>
                </span>
          <div class="">
            <ul class='clearfix half-ul mt20'>
              <li class="condition_td fl half-li">
                <label>报案号码</label>
                <div class="half-div">
                  <input type="text" ng-model="claim.prpLmessage.registNo" maxlength="19" ng-disabled="true">
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>保单号</label>
                <div class="half-div">
                  <input type="text" ng-model="claim.prpLmessage.policyNo" ng-disabled="true">
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>立案号</label>
                <div class="half-div">
                  <input type="text" ng-model="claim.prpLmessage.claimNo" maxlength="19" ng-disabled="true">
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>险种代码</label>
                <div class="half-div">
                  <input type="text" ng-model="claim.prpLmessage.riskCode" ng-disabled="true">
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>输单日期</label>
                <div class="half-div">
                  <input type="text" ng-model="claim.prpLmessage.inputDate" ng-disabled="true">
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>节点类型</label>
                <div class="half-div">
                  <input type="text" ng-model="claim.prpLmessage.registNo" ng-disabled="true">
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>操作员代码</label>
                <div class="half-div">
                  <input type="text" ng-model="claim.prpLmessage.operatorCode" ng-disabled="true">
                </div>
              </li>
              <li class="condition_td fl half-li">
                <label>操作员姓名</label>
                <div class="half-div">
                  <input type="text" ng-model="claim.prpLmessage.operatorName" ng-disabled="true">
                </div>
              </li>
            </ul>
            <div class="queryResult">
              <div class="queryResult_title clearfix">
                <span class="fl">记录信息</span>
              </div>
              <div class="input-content-box">
                <textarea rows="3" ng-model="claim.prpLmessage.context"></textarea>
              </div>
              <!--<div class="index_page">-->
                <!--<tm-pagination conf="paginationConfmm"></tm-pagination>-->
              <!--</div>-->
            </div>
            <div class="btn_tr clearfix">
              <span>保存</span>
              <span>重置</span>
            </div>
          </div>
        </div>
        <div class="queryResult queryNew">
          <table>
            <tr class="tr_top">
              <td>序号</td>
              <td>时间</td>
              <td>节点类型</td>
              <td>留言人</td>
              <td>记录信息</td>
            </tr>
            <tr class="tr_content">
              <td></td>
              <td ng-bind="claim.prpLmessage.inputDate"></td>
              <td ng-bind="claim.prpLmessage.nodeType"></td>
              <td ng-bind="claim.prpLmessage.operatorName"></td>
              <td ng-bind="claim.prpLmessage.context">11</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>