<!--
****************************************************************************
* DESC       ：国元农险pdf预览
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/23 
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section clearfix">
    <div class="PDF-content">
        <div class="fl PDF-content-left">
            <ul class="print-policy-list">
                <li ng-repeat="item in printList" ng-click="checkNoTab(item)" ng-class="{'active-print-No': curNo.claimNo == item.claimNo}">
                    <a href="javaScript:void(0)">
                        <span ng-bind="item.claimNo"></span>
                        <i class="iconfont" ng-click="delPolicyNo($index,$event)">&#xe62f;</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix">
            <div>
                <ul class="print-type-tab">
                    <li ng-repeat="tit in curNo.allowedPrintType" class="print-type-item fl"
                    ng-click="checkPrintTab(tit)" ng-class="{'active': curNo.curType == tit,'first':$index ==0}">
                    <span ng-bind="tit"></span>
                    <i class="iconfont" ng-click="delPrintType($index,$event)">&#xe632;</i>
                </li>
            </ul>
            </div>
            <div id="PDFBODY" style="margin-left: 260px;">
            </div>
        </div>
    </div>
    <div class="btn_tr clearfix mt20">
        <span ng-show="flag"   ng-click="subPrint()">打 印</span>
        <span ui-sref="UIAgriPrintQuery" >取 消</span>
    </div>
</div>
