<!--
****************************************************************************
* DESC       ：国元农险理赔系统出险次数弹层（公共）
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/28 
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="queryResult perilCount">
  <div class="queryResult_title clearfix">
    <span class="fl tit-color font-bold">查看已出险信息记录</span>
  </div>
  <table>
    <thead>
    <tr class="tr_top">
      <th>序号</th>
      <th>报案号</th>
      <th>立案号</th>
      <th class="w10">估损金额CNY</th>
      <th>赔付金额CNY</th>
      <th class="w11_11">出险时间</th>
      <th>出险地点</th>
      <th class="w9">出险原因</th>
      <th>案件照片</th>
      <th class="w9">状态</th>
    </tr>
    </thead>
    <tbody>
    <tr class="tr_content" ng-repeat="result in RiskInfoResponseList">
    <td ng-bind="result.serialNo"></td>
    <td class="operation" ng-click="goRegist(result)">
      <div ng-bind="result.registNo" class="w50oh w100oh" ng-attr-title="{{result.registNo}}"></div>
    </td>
    <td>
      <div ng-bind="result.claimNo"  class="w50oh w100oh" ng-attr-title="{{result.claimNo}}"></div>
    </td>
    <td ng-bind="result.sumClaim"></td>
    <td ng-bind="result.sumPaidShow"></td>
    <td ng-bind="result.strDamageStartDate"></td>
    <td ng-bind="result.damageAreaName"></td>
    <td ng-bind="result.damageName"></td>
    <td class="operation">
      <div  ng-bind="result.registNo"  class="w50oh" ng-attr-title="{{result.registNo}}"> </div>
    </td>
    <td ng-bind="result.status"></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="btn_tr clearfix mt20">
  <span ng-click="close()">关 闭</span>
</div>
<!--</div>-->

    <!--<div class="remove_header">-->
      <!--<span ng-click="click()">查看已出险信息记录</span>-->
      <!--<i class="icon iconfont" ng-click="close()">&#xe632;</i>-->
    <!--</div>-->
    <!--<div class="info_container">-->
      <!--<div class="queryResult">-->
        <!--<table>-->
          <!--<tr class="tr_top bg-fff">-->
            <!--<td>序号</td>-->
            <!--<td>报案号</td>-->
            <!--<td>立案号</td>-->
            <!--<td>估损金额CNY</td>-->
            <!--<td>赔付金额CNY</td>-->
            <!--<td>出险时间</td>-->
            <!--<td>出险地点</td>-->
            <!--<td>出险原因</td>-->
            <!--<td>案件照片</td>-->
            <!--<td>状态</td>-->
          <!--</tr>-->
          <!--<tr class="tr_content" ng-repeat="result in RiskInfoResponseList">-->
            <!--<td ng-bind="result.serialNo"></td>-->
            <!--<td ng-bind="result.registNo" class="operation"></td>-->
            <!--<td ng-bind="result.claimNo"></td>-->
            <!--<td ng-bind="result.sumClaim"></td>-->
            <!--<td ng-bind="result.sumPaidShow"></td>-->
            <!--<td ng-bind="result.strDamageStartDate"></td>-->
            <!--<td ng-bind="result.damageAreaName"></td>-->
            <!--<td ng-bind="result.damageName"></td>-->
            <!--<td ng-bind="result.registNo" class="operation"></td>-->
            <!--<td ng-bind="result.status"></td>-->
          <!--</tr>-->
        <!--</table>-->
      <!--</div>-->
      <!--<div class="remove_button no-line mt20">-->
        <!--<button class="button_sure" ng-click="close()">关闭</button>-->
      <!--</div>-->
    <!--</div>-->