<!--
****************************************************************************
* DESC       ：国元农险理赔立案任务查询---申请注销/拒赔页面
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/11
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="section">
  <div class="content_div content1-div">
    <div class="queryCriteria">
      <span class="queryCriteria_title">
          <label>注销/拒赔信息</label>
          <span class="click_img" ></span>
      </span>
      <div class="condition_table">
        <ul class="clearfix half-ul">
          <li class="condition_td fl half-li">
            <label>申请时间</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLregist.cancelDate" ng-disabled="true"/>
            </div>
          </li>
          <li class="condition_td fl half-li">
            <label>申请人</label>
            <div class="half-div">
              <input type="text" ng-model="claim.prpLregist.comName" ng-disabled="true"/>
            </div>
          </li>
        </ul>
        <table class="condition-table mt40">
          <tr class="tr_top">
            <td>立案号</td>
            <td>保单号</td>
            <td>注销/赔付</td>
            <td>注销拒赔原因</td>
            <td>被保险人</td>
            <td>出险地点</td>
            <td>出险时间</td>
          </tr>
          <tr class="tr_content" ng-repeat="result in rejectList">
            <td>
              <span ng-repeat="i in result.claimNo" ng-bind="i"></span>
            </td>
            <td ng-bind="result.policyNo"></td>
            <td><select name="" ng-bind="result.caseType"></select></td>
            <td><select name="" ng-bind="result.cancelReasonExplan"></select></td>
            <td ng-bind="result.insuredName">玉米种植</td>
            <td ng-bind="result.damageAddress">已撤销</td>
            <td ng-bind="result.damageStartDate">2017-01-02</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="content_div content1-div mt20">
    <div class="queryCriteria">
                <span class="queryCriteria_title">
                    <label>注销/拒赔说明</label>
                    <span class="click_img" ></span>
                </span>
      <div class="condition_table">
        <textarea name="" rows="4" class="long-li" ng-model="claim.prpLclaim.cancelReason"></textarea>
      </div>
    </div>
  </div>
  <div class="btn_tr clearfix mt20">
    <span>提交</span>
    <span ng-click="openEleDocumentLayer()">电子单证</span>
    <span>取消</span>
  </div>
</div>
<!--电子单证弹层-->
<div ui-view="eleDocument"></div>
