<div class="main">
<div class="content_div section" >
    <div class="position">
        <span>当前位置：</span>
        <span class="local-fir">批改管理 > </span>
        <span class="local-sec">普通批改</span>
    </div>
    <div class="queryCriteria">
        <span class="queryCriteria_title">
            <label>批改信息</label>
        </span>
        <div class="condition_table" id="marking">
            <ul class="clearfix" >
                <li class="condition_td1  fl" >
                    <label><i class="mes_sign">*</i>保单号码</label>
                    <div style="float: left;width: 50%;position: relative;">
                        <input type="text" ng-model="endorseQueryDto.policyNo" ng-blur="getCommonEndorse($event)" ng-class="{'checkOutBdRed':check.policyNo}" class="" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')">
                        <s ng-bind="check.policyNo" style="width:59%;position: absolute;left:7px;top:29px;"></s>
                    </div>
                </li>
                <li class="condition_td1  fl">
                    <label><i class="mes_sign">*</i>批改申请人</label><input type="text" ng-model="endorseQueryDto.appliname" class="">
                </li>
                <li class="condition_td1  fl ">
                    <label><i class="mes_sign">*</i>批改生效日期</label>
                    <input type="text" id="correctEffectDate" jedate class="date-input date "  ng-model="endorseDate1" format="YYYY-MM-DD"  required readonly/>
                </li>
                <li class="condition_td1  fl ">
                    <label>批改日期</label>
                    <div>
                        <input type="text" id="correctDate" jedate class="date-input date "  ng-model="endorseQueryDto.applyDate" format="YYYY-MM-DD"  required readonly/>
                    </div>
                </li>
                <li class="condition_td1  fl">
                    <label>归属部门</label><input ng-model="endorseQueryDto.loginComCodeName"  disabled type="text" class="">
                </li>
                <li class="condition_td1  fl">
                    <label><i class="mes_sign">*</i>批改方式</label>
                    <select ng-model="prpPheadDto.endorseType" style="width: 100%;">
                        <option value="" selected="" hidden="" class=""></option>
                        <option value="00">客户申请</option>
                        <option value="01">录入错误</option>
                        <option value="02">其它</option>
                    </select>
                </li>
                <li class="condition_td2  fl">
                    <label class="label2">批改方式原因</label>
                    <textarea ng-model="prpPheadDto.endorseMessage"></textarea>
                </li>
            </ul>
        </div>

        <div class="layer-footer1">
            <button class="greenButton" ng-click="stateToNext()">下一步</button>
            <button class="greenButton" ng-click="return()">返回</button>
        </div>
    </div>
</div>
</div>

