<!--修改密码-->
<form name ="updateForm" class="index_con" ng-controller="modifyPasswordCtrl">
	<div class="index_list">
		<div class="index_tit">
			<h6>修改密码</h6>
		</div>

		<ul class="list_ul">
			<li></li>
			<li><em>*</em><span>新密码：</span></li>
			<li><input type="password" mc-placeholder="由8~20位数字字母符号组成" class="fl"
				ng-model="userDto.newPassword" ng-minlength="8" maxlength="20" required  warn-text="" ng-blur="checkUserCode()"></li>
			<li></li>
			<li></li>

			<li><em>*</em><span>确认新密码：</span></li>
			<li><input type="password"  mc-placeholder="请确认新密码" class="fl"
				ng-model="passWordAgain" required  warn-text=""  ng-minlength="8" maxlength="20"ng-blur="surePasswd()"></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	<!--按钮-->
	<div class="index_btn1">
		<span class="submit"   ng-disabled=" updatePwdDisableFlag " ng-click="sure()">确 定</span>
		<span class="edit" ng-click="exit()">取 消</span>
	</div>
	<!-- 弹层密码校验失败-->
	<div data-ng-include ="'components/ims/user/tpl/checkPwdFailLayer.html'"></div>
	<!-- 弹层修改密码失败-->
	<div data-ng-include ="'components/ims/user/tpl/userFailLayer.html'"></div>
	<!-- 弹层修改密码成功-->
	<div data-ng-include ="'components/ims/user/tpl/userSucLayer.html'"></div>
	<!--成功退出-->
	<div data-ng-include ="'components/ims/user/tpl/updatePasswdSucLayer.html'"></div>
</form>