<!--信息提示-错误-->
<div ng-hide="userImportFailLayer">
    <div class="mask"></div>
    <div class="tip_success_info">
        <div class="remove_header">
            <span>信息提示</span>
            <a href="javascript:void(0)"><i ng-click="userClose()"></i></a>
        </div>
        <div class="info_container">
            <i class="tip_2"></i>
            <span>{{message}}</span>
            <span ng-hide="downloadUserErr">
                <a href="{{downloadUrl}}">【点击此处下载导入用户错误信息】</a>
            </span>
        </div>
        <div class="remove_button">
            <button class="button_sure" ng-click="userClose()">返 回</button>
        </div>
    </div>
</div>