<div ng-controller="userImportCtrl">
    <div class="mask"></div>
    <div class="file_down">
        <div class="remove_header">
            <span>批量导入用户信息</span>
            <a href="javascript:void(0)" ng-click="closeImportWin()"><i></i></a>
        </div>
        <ul class="list_ul list_ul_1 user_file_down ">
            <li>
                <span>模板下载 :</span>
            </li>
            <li>
                <a ng-click="downloadExcelTemplate()" >下载</a>
            </li>
            <li></li>
            <li>
                <span><em>*</em>用户岗位：</span>
            </li>
            <li class="check_box_wid">
                   <span  ng-repeat="grade in grades"  required  class="fl" ng-hide="grade.gradeTName">
                          <input type="checkbox"  ng-model="grade.checked" class="grade_input"/>{{grade.gradeCName}}
                   </span>
            </li>
            <input type="hidden">
            <li ng-hide="hideFlag"><em>*</em><span>本次导入初始密码：</span></li>
            <li>
                <input type ="password"  autocomplete="off" mc-placeholder="由8~20位字母数字符号组成" class="f1 userFile" name="password" ng-model="UserImportDto.password" required  ng-minlength ="8" maxlength="20" />
            </li>
            <li></li>
            <input type="hidden">
            <li ng-hide="hideFlag"><em>*</em><span>确认初始密码：</span></li>
            <li ><input type ="password"   autocomplete="off" mc-placeholder="由8~20位字母数字符号组成" class="f1 userFile" name="checkPassWord" ng-model="UserImportDto.checkPassWord" required
                        ng-minlength ="8" maxlength="20" />
            </li>
            <li></li>
            <li class="file_demo">
                <span>批量上传用户信息：</span>
            </li>
            <li class="file_up">
                <div class="file-box">
                    <input type='text' class='txt fl' ng-model="userExcelFile.textfield"/>
                    <input type="button" class='btn fl' value='浏览'/>
                    <input type="file"  class="file fl" nv-file-select=""  uploader="userUploader" />
                    <input type="submit" name="submit" class="btn_up fl" value="上传"  ng-click="SaveUsers()"/>
                </div>
            </li>
        </ul>
    </div>
</div>