<!--用户维护-->
<div class="index_con produce_center">
    <div class="index_list" >
        <div class="index_tit"><h6>用户维护</h6></div>
            <ng-form name="userSaveForm" novalidate="novalidate">
                <ul class="list_ul">
                    <li><em>*</em><span>登录账号：</span></li>
                    <li>
                        <input type="text" class="fl" mc-placeholder="由6~20位首位为字母组成" ng-blur="checkUserCode()" ng-readonly="userCodeReadonly" ng-model="userDto.userCode" required  ng-pattern="{{userCodePattern}}"  warn-text="{ErrPattern:'首位为字母,由6~20位字母数字组成'}" maxlength="20">
                    </li>
                    <li ng-if="!hideFlag"></li>
                    <li ng-if="!hideFlag"></li>
                    <li ng-if="!hideFlag"><em>*</em><span>登录密码：</span></li>
                    <li>
                        <input type ="password" class="f1" mc-placeholder="由8~20位字母数字符号组成"  ng-model="userDto.passWord" ng-required= "requiredFlag" warn-text="*" ng-blur="checkPasswdAndUserCode()" ng-if="!hideFlag"  ng-minlength ="8" maxlength="20" />
                    </li>
                    <li ng-if="!hideFlag"><em>*</em><span>再次确认登录密码：</span></li>
                    <li>
                        <input type ="password" class="f1" mc-placeholder="由8~20位字母数字符号组成"  ng-model="userDto.checkPassWord" ng-required= "requiredFlag" warn-text="*" ng-if="!hideFlag"  ng-minlength ="8" maxlength="20" />
                    </li>
                    <li><em>*</em><span>是否为共享账号：</span></li>
                    <li>
                        <div class="marr43" >
                            <label class="mar_right radio" ng-class="{true:'radio',false:'on'}[isFlag]" ng-click="isClick()">
                                <input type="radio" class="hide" value="1" name="trafficIns" ng-model="userDto.shareFlag"/><em>是</em>
                            </label>
                            <label class="on" ng-class="{true:'on',false:'radio'}[isNotFlag]" ng-click="isClick1()">
                                <input type="radio" class="hide" value="0" name="trafficIns"  ng-model="userDto.shareFlag"/><em>否</em></label>
                        </div>
                    </li>

                    <li><em>*</em><span>是否允许用户自行修改密码：</span></li>
                    <li>
                        <div class="marr43" >
                            <label class="mar_right radio" ng-class="{true:'radio',false:'on'}[modifyPasswdFlagLeft]" ng-click="modifyClick()">
                                <input type="radio" class="hide" value="1" name="trafficIns" ng-model="userDto.modifyPasswdFlag"/><em>是</em>
                            </label>
                            <label class="on" ng-class="{true:'on',false:'radio'}[modifyPasswdFlagRight]" ng-click="modifyClick1()">
                                <input type="radio" class="hide" value="0" name="trafficIns"  ng-model="userDto.modifyPasswdFlag"/><em>否</em></label>
                        </div>
                    </li>

                    <li><em ng-if="gradeRequire">*</em><span>岗位：</span></li>
                    <li class="li_user">
                           <span ng-repeat="grade in grades"  required  class="fl grade_span" ng-hide="grade.gradeTName">
                               <input type="checkbox"  ng-model="grade.checked" class="grade_input"/><em>{{grade.gradeCName}}</em>
                           </span>
                    </li>

                    <li><span>姓名：</span></li>
                    <li><input type="text" class="fl" mc-placeholder="{{nameTrue}}"  ng-model="userDto.salesManName"  maxlength="20" /></li>

                    <li><span>录单人员代码：</span></li>
                    <li><input type="text"  class="fl" mc-placeholder="{{tureFalse}}"  ng-model="userDto.recordManCode" maxlength="20"/></li>

                    <li><span>业务人员代码：</span></li>
                    <li><input type="text" class="fl" mc-placeholder="{{trueFalse1}}" ng-model="userDto.salesManCode"  maxlength="20" /></li>

                    <li><span>所属保险公司：</span></li>
                    <li class="font_left">
                        <span class="f1" ng-model ="userDto.headComCode" >{{headComName.comCName}} </span>
                    </li>

                    <li><span>所属省级机构：</span></li>
                    <li>
                     <select class="form-control" ng-model="userDto.proviceComCode" ng-options="x.comCode as x.comCName for x in queryProviceList" ng-readonly="proviceReadonly">
                         <option value="">--请选择--</option>
                        </select>
                    </li>

                    <li><span>所属分支机构代码：</span></li>
                    <li><input type="text" mc-placeholder="请输入保监会统一机构代码" class="fl" ng-model="userDto.cityComCode" maxlength="12" ng-pattern="/^[A-Za-z0-9]*$/"warn-text="{'ErrPattern':'所属分支机构只能输入字母和数字'}"/></li>

                    <li><span>所属分支机构名称：</span></li>
                    <li><input type="text"  class="fl" ng-model="userDto.cityComName" maxlength="100" /></li>

                    <li><span>证件类型：</span></li>
                    <li class="sales_expense">
                        <div class="ui-select" >
                            <code-type class="seletc_bor"   base-code="PersonalIdentifyType"  ng-model="userDto.identityType" ng-disabled="false"></code-type>
                        </div>
                    </li>

                    <li><em ng-if="codeTypeT">*</em><span>证件号码：</span></li>
                    <li><input type="text" class="fl" name="identifyNumber" ng-required="codeTypeT" ng-model="userDto.identifyNumber" warn-text="" sv-credit="userDto.identityType" maxlength="20"/></li>

                    <li><span>手机号码：</span></li>
                    <li><input type="text" class="fl" ng-model="userDto.mobile " warn-text="手机号码" maxlength="11" ng-pattern="/^1[3-8][0-9]{9}$/"/></li>

                    <li><span>电子邮件：</span></li>
                    <li><input type="ext" class="fl" ng-model="userDto.email" maxlength="60" warn-text="电子邮箱格式不正确" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" /></li>

                    <li><span>备注：</span></li>
                    <li><input type="text" mc-placeholder="请输入备注" class="fl" maxlength="100" ng-model="userDto.remark"/></li>

                    <li><span>有效标识：</span></li>
                    <li>
                        <select class="form-control" ng-model="userDto.validStatus" ng-init="1">
                            <option value="1" >--有效--</option>
                            <option value="0">--无效--</option>
                        </select>
                    </li>
                </ul>
                <!--按钮-->
                <div class="index_btn1">
                    <button  class="submit" ng-disabled=" userSaveDisableFlag" ng-click="userSave()">确 定</button>
                    <span class="edit" ng-click="exit()">退 出</span>
                </div>
            </ng-form>
    </div>
     <!--弹层修改成功提示-->
        <div data-ng-include ="'components/ims/user/tpl/userSucLayer.html'"></div>
         <!-- 弹层修改失败提示-->
        <div data-ng-include ="'components/ims/user/tpl/userFailLayer.html'"></div>
        <!-- 弹层账户密码重复提示-->
        <div data-ng-include ="'components/ims/user/tpl/userCheckPasswdAndUserCode.html'"></div>
        <!-- 弹层用户修改失败-->
        <div data-ng-include ="'components/ims/user/tpl/userUpdateSucLayer.html'"></div>
        <!--弹层-&#45;&#45;修改成功提示-->
        <div data-ng-include ="'components/ims/user/tpl/userSaveSucLayer.html'"></div>
        <!-- 弹层用户修改失败-->
        <div data-ng-include ="'components/ims/user/tpl/exitLayer.html'"></div>
</div>