<div>
    <div class="modal-header">
        <h1 class="font-large">导入清单</h1>
        <i class="icon iconfont modal-header-close" ng-click="closeModal()">&#xe632;</i>
    </div>
    <div class="modal-body">
        <div style="padding: 15px;">
            <button class="btn-success" ng-click="download('template')">下载清单模板</button>
            <button class="btn-success" ng-click="download('PolicyList')">下载承保清单</button>
        </div>
        <div style="padding: 15px;">
            <label>特殊赔案清单导入：</label>
            <input  type="text" ng-if="uploader.queue.length==0" readonly style="height: 30px;border-color: #3d3d3d;" class="border-all"/>
            <input ng-repeat="item in uploader.queue" type="text" ng-model="item.file.name" readonly style="height: 30px;border-color: #3d3d3d;" class="border-all"/>
            <label class="btn-light" style="min-width: 20px;">
                浏览...
                <input type="file" nv-file-select   multiple="true"  uploader="uploader" accept=".xls,.xlsx" style="display: none;"/>
            </label>
            <button class="btn-cancel" ng-repeat="item in uploader.queue" style="min-width: 20px;" ng-click="item.remove()">重置</button>
            <button class="btn-success" style="min-width: 20px;" ng-repeat="item in uploader.queue" ng-click="uploader.uploadAll()">导入</button>
            <button class="btn-success" style="min-width: 20px;  cursor: not-allowed;" ng-if="uploader.queue.length==0">导入</button>
        </div>
    </div>
</div>