::-ms-clear, ::-ms-reveal{display: none;}/*去掉在IE下input框带有的x 及密码框自带的小眼睛*/
.ie10 #pt4 .btn,.ie10 .pt4 .btn{
   padding-top:2px;
}
.ie10 #pt4 .clientInformationRight1 .btn,.ie10 #others>.pt4 .btn,.ie10 .pt4 .customerIdvCustomerKind .btn{
    padding-top:4px;
}
.ie10 select{
    padding-left:10px;
}
.ie10 #contract .codeType1{
    position: relative;
    top:-3px;
}
.ie10 #basic .codeTypeDetail,.ie10 #others .codeTypeDetail{
    width: 43%;
}
.ie10 #basic .messageFa textarea{
    width: 78.5%;
}
.ie10 #contract .insuredAmount{
    position: relative;
    top:-3px;
}
.ie10 #customerIdvCareClai{
    padding-top:3px;
}
.ie10 .relativeMessage ul li .pidan{
    margin-left:20px;
}
.ie10 #opType{
    padding:0 10px;
}