
.clearfix:after {display: block;clear: both;content: "";visibility: hidden;height: 0;}
.queryCriteria {border-top: 4px solid #2DBE61;width: 100%;background: #fff;}
.queryCriteria_title {height: 40px;line-height: 40px;width: 100%;border-bottom: 1px solid #D7D7D7;display: block;font-size: 16px;font-weight: bold;}
.queryCriteria_title label {margin-left: 20px;}
.condition_table {width: 100%;margin-top: 30px;}
.condition_td {width: 32.33%;margin-bottom: 22px;height:28px;}
.teaL {text-align: left;}
.teaR {text-align: right;}
.teaC {text-align: center;}
.condition_td label {font-size: 14px;color: #999;width: 100px;display: inline-block;text-align: right;margin-bottom: 0px}
.condition_td input, .condition_td select {font-size: 14px;height: 28px;line-height:28px;border: 1px solid #ccc;padding-left: 4px;border-radius: 3px;color: #999;max-width: 300px;}
.condition_td select {height: 28px;width: 196px;line-height: 28px;}
.ul_tr {margin-bottom: 15px;}
.click_img {width: 20px;height: 20px;display: block;float: right;margin: 7px 20px;font-size:20px;cursor: pointer}
.click_img1 {width: 20px;height: 20px;display: block;float: right;margin: 0px 20px;font-size:20px;cursor: pointer}
.condition_Show {display: none}
.btn_tr {width: 35%;height: 30px;display: block;margin: 0 auto;padding-top: 10px;padding-bottom: 50px}
.btn_tr span {width: 100px;height: 30px;background: #2DBE61;color: #fff;font-size: 14px;display: block;line-height: 30px;text-align: center;cursor: pointer;border-radius: 3px;}
.queryResult {margin-top: 20px;background: #fff;}
.queryResult_title {height: 50px;background: #F2F2F2;}
.queryResult_title span {font-size: 16px;color: #1E1E1E;margin: 17px;}
.queryResult_title label {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #2DBE61;cursor: pointer;margin: 10px;  font-size: 14px;line-height: 30px;text-align: center;color: #fff;}
.queryResult table {width: 98%;margin: 0 auto;}
.queryResult td {text-align: center;font-size: 14px;font-weight: 700;color: #333;vertical-align: middle}
.queryResult td.text-right {text-align: right;}
.tr_top {height: 40px;border-bottom: 3px solid #2DBE61;}
.tr_content {height: 50px;border-bottom: 1px solid #D7D7D7;}
.tr_content td {font-weight: 400;}
.cur{cursor: pointer}
.w14_28 {width: 14.285%;}
.w11_11 {width: 11.11%;}
.w12{width: 12%;}
.w8{width: 8%;}
.w9{width: 9%;}
.w5{width: 5%;}
.mt10{margin-top: 10px}
.no_border{border: none !important}
.d_ib{display: inline-block}

.tr_content .C2DBE61 {color: #2DBE61;cursor: pointer}

/*!*��ѡ*!*/
/*.radio-box label.radio-label,.radio-box label.radio-checked{width: auto;cursor: pointer;margin-right: 10px;}*/
/*!*.radio-box .radio-label span{background: url(../images/icon.png) no-repeat;background-size: 17px auto;width: 18px;margin-right: 5px;float: left;height: 18px;margin-top: 5px}*!*/
/*.radio-box .radio-label span{background: url(../images/icon.png) no-repeat;background-size: 17px auto;width: 18px;margin-right: 5px;float: left;height: 18px;}*/
/*.radio-box .radio-checked span{background-position: 0 -19px}*/
/*!*.radio-box div{float: left; margin-top: 18px;}*!*/

/*��ѡ*/
.check-box{overflow: hidden;float: left}
.check-box label.checkbox-label,.check-box label.checkbox-checked{width: auto!important;cursor: pointer;margin-right: 10px;line-height: 28px;}
.check-box .checkbox-label .check-main{background: url(../images/icon.png) no-repeat;background-size: 17px auto;width: 18px;margin-right: 5px;float: left;height: 18px;margin-top: 5px;background-position: 0 -38px}
.check-box .checkbox-checked .check-main{background-position: 0 -57px}
.check-box .checkbox-label.is-disabled .check-main span{background: url(../images/icon.png) no-repeat 0 -95px;height: 100%;display: block}

/*��ť����һ���߿� Ϊ���ڰ�ťʹ�õ���buttonԪ�ص�ʱ��ȥ��Ĭ�ϵı߿���ʽ  */
.greenButton {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #2DBE61;cursor: pointer;font-size: 14px;line-height: 30px;text-align: center;color: #fff;border: 1px solid #2DBE61}
.greenButton1 {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #fff;cursor: pointer;font-size: 14px;line-height: 30px;text-align: center;color: #2DBE61;border: 1px solid #2DBE61}
.content1-div {width:100%;}
.tr_content .operation {color:#5a9cff;}
.tr_content .operation span{cursor:pointer;}
.condition_td input, .condition_td select {width:55%;float:left;color: #666}
.condition_td>div{
    width:55%;
    float: left;
}
.condition_td>div input{width: 100%;}
.data-box{width:58%;display:inline-block;line-height:28px;text-align:center;float:left;}
.condition_td .data-box .date-input{width:48%;min-width:auto;text-align:left;}
.date {background: url(../images/date.png) no-repeat 97% 5px}
.data-box .date {background: url(../images/date.png) no-repeat 97% 5px}
.condition_td label{width:40%;float:left;line-height:28px;box-sizing:border-box;padding-right:10px;font-weight: normal}
.long-li{width:100%;}
.long-li label{width:12.93%;}
.long-li .middle-input, .long-li .middle-select {width:18.75%;}
.long-li .long-input, .long-li .long-select {width:83.41%;}
.long-li .splice-mark{float:left;padding:0 10px;line-height:28px;}
.required-mark{color:#ff0000;}

/*����css��ʽ*/
.layer-content{width:740px;height: auto;background: #fff;border-radius: 5px;overflow: hidden;position: fixed;top:30%;left:50%;margin-left: -370px;z-index: 2002;}
.layer-header{width:100%;height: 40px;background: #2DBE61;position: relative;text-align: center;}
.layer-header span{font-size:18px;color:#fff;line-height: 40px;}
.layer-header i{float:right;width:24px;height:24px;color: #fff;font-size: 21px;position: absolute;top:10px;right:20px;cursor: pointer}
.layer-con1{width: 94%;overflow: auto;margin: 0 auto;}
.layer-con{width:100%;overflow:auto;padding: 15px 0;}
.layer-footer{width:100%;height: 50px;line-height: 58px;text-align: center;}
.layer-footer .layer-ok{width: 98px;height: 28px;background: #2DBE61;border-radius: 5px;color: #fff;cursor: pointer;font-size: 14px;display: inline-block;line-height: 28px;}
.layer-footer .layer-cancel{width: 98px;height: 28px;border:1px solid #2DBE61;border-radius: 5px;color: #2DBE61;cursor: pointer;font-size: 14px;display: inline-block;line-height: 28px;margin-left: 20px;}
.modal-content{position: fixed;}
.tip_success_info{min-width: 400px;}
.mask{width:100%;height:100%;background:#000;opacity: 0.3;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);position: fixed;left: 0;top: 0;z-index: 2001;}
.mask_remove{z-index: 999;position:fixed;top:50%;left:50%;background-color:#fff;width:350px;height:210px;box-shadow:0 0 15px rgba(0,0,0,0.15);margin:150px auto auto -175px;border-radius:5px;}
.mask_remove ul li{clear:both;}
.remove_header{width:100%;height:40px;border-bottom:1px solid #cdcdcd;background: #2DBE61;border-top-left-radius: 3px;border-top-right-radius: 3px;line-height:40px;text-align: center;position: relative}
.remove_header span{font-size:18px;color:#fff;line-height: 40px;}
.remove_header i{float:right;width:24px;height:24px;color: #fff;font-size: 21px;position: absolute;top:10px;right:20px;cursor: pointer}
.remove_header i:hover{color: #fff;}
.remove_content2 input{box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.remove_button{width:100%;height:58px;line-height:58px;text-align: center}
.remove_button div a{text-align:center;line-height:28px;font-size:14px;}
.button_sure{font-size: 14px;color: #fff;line-height: 28px;display: inline-block;border: 1px solid #2DBE61;border-radius: 5px;background-color: #2DBE61;width: 98px;height: 28px;cursor: pointer;}
.button_sure:active,.button_sure:hover{color: #fff;}
.button_cancel{display:inline-block;width:88px;height:28px;border-radius:3px;color:#2DBE61;margin-left:20px;padding: 0;line-height: 28px;border:1px solid #2DBE61;}
.button_cancel:hover{color:#2DBE61;}
.remove_content3{height: 110px; line-height: 110px; font-size: 16px;text-align: center;}
.remove_content3 span{font-size: 16px;}

/*����֧����Ϣ¼�뵯��   �嵥֧��  2017/11/11*/
.large-layer-content{height: auto;background: #fff;border-radius: 5px;overflow: hidden;position: fixed;top:5%;z-index: 222;}

/*��ӡ�嵥����*/
.printLayer {width:740px;height:auto;position:absolute;z-index:1000;top:90px;left:50%;margin-left:-370px;background:#fff;border-radius:3px;}
.printLayer .remove_header i{margin-top:2px;}
.printSelet-box {color:#999;margin:30px 0}
.printSelet-box label{width:170px;text-align:right;margin-right:10px;line-height:30px;}
.printSelet-box select{width:472px;height:28px;line-height:28px;border:1px solid #ccc;}
.printType-box {width:720px;margin:30px auto;border-top:1px solid #ccc;}
.printType-box ul{overflow:hidden;margin-top:30px;}
.printType-box li{overflow:hidden;width:120px;height:30px;border:1px solid #ccc;line-height:28px;text-align:center;cursor:pointer;float:left;font-size:12px;margin-left:20px;border-radius:2px;position:relative;}
.printType-box li.active{border:1px solid #2dbe61;color:#2dbe61;}
.printType-box .first-printInfo{margin-left:100px;}
.no-line{border:none;}
.choose-background{width:0;height:0;border-bottom: 30px solid #2dbe61;border-left: 18px solid transparent;position:absolute;right:0;display:inline-block}
.choose-dui{position:absolute;right:0;line-height:40px;color:#fff;font-weight:bold;}
.orderIntLayer {width:90%;margin-left:-45%;}

/*�������鵯��*/
.clause-model{width: 100%; height: 450px;overflow-y:auto}
.clause_header{width:100%;height:60px;border-bottom:1px solid #cdcdcd;background: #2DBE61;border-top-left-radius: 5px;border-top-right-radius: 5px;line-height:40px;text-align: center;position: relative}
.clause_header span{font-size:18px;color:#fff;line-height: 60px;}
.clause_header i{float:right;width:24px;height:24px;color: #fff;font-size: 21px;position: absolute;top:20px;right:20px;cursor: pointer}
.clause_information{margin-top: 20px; overflow-x: auto;background-color: #fff}
.clause_information1{margin-top: 20px;background-color: #fff}
.clause_information2{margin-top: 20px;background-color: #fff}
.clause_information input,.clause_information select{width: 235px;height: 30px;border-radius:3px;border: 1px solid #ccc}
.clause_manage{width:1000px;height:600px;position:absolute;z-index:1000;top:30px;left:40%;margin-left:-370px;background:#fff;border-radius: 5px;}
.clause_queryResult_title {height: 40px;width:98%;background: #F2F2F2;margin: 0 auto}
.clause_queryResult_title span{font-size: 14px; font-weight: bold; margin-left: 20px; line-height: 40px;}
.clause_information_right{width: 84%; height: 220px; padding-top: 15px;margin-left: 30px}
.clause_con_left{width: 50%;height: 10px;}
.clause_con_left li,.clause_con_right li{width: 100%;margin-top: 10px;}
.clause_con_left li label{width: 41%;}
.date_wid{width: 110px !important;}
.clause_con_right{width: 48%;}
.clause_con_right li label{width: 34%;}
.clause_box1{height:150px;width:840px;background-color:#D7D7D7; margin: 0 auto;margin-top: 20px;}
.clause_box2{height:75px;width:840px;background-color:#F9F9F9; margin: 0 auto;}
.clause_box3{height:75px;width:840px;background-color:#D7D7D7; margin: 0 auto;}
.clause_box1_1{width: 18%;height:100%;background:#D7D7D7;}
.clause_box2_1{width: 18%;height:100%;background:#F9F9F9;margin-left: 20px;}
.clause_box3_1{width: 18%;height:100%;background:#D7D7D7;margin-left: 20px;}
.clause_box1_2{width: 18%;margin-top: 6px; border-left: 1px solid #F9F9F9;}
.clause_box1_2_li1{background-color:#D7D7D7;height: 28px;}
.clause_box1_2_li1 input{margin-left: 10px}
.clause_box1_2_li2{background-color:#F9F9F9;height: 28px;}
.clause_box1_2_li2 input{margin-left: 10px;}
.clause_box1_3{width: 64%;background-color:#D7D7D7;margin-top: 6px;border-left: 1px solid #F9F9F9 ;}
.clause_box1_3_li1{background-color:#D7D7D7;height: 28px;}
.clause_box1_3_li1 input{margin-left: 10px;}
.clause_box1_3_li2{background-color:#F9F9F9;height: 28px;}
.clause_box1_3_li2 input{margin-left: 10px;}
.clause_box1_1 input{margin-left: 20px;}
.clause_box1_1_1{height: 80px;padding-top: 50px;}
.clause_box1_1_1 span{font-size: 15px;color: #1E1E1E;font-weight: 700;}
.clause_box1_1_2{width: 150px;height: 60px;background:#D7D7D7;}
.clause_box2_1_1 span{font-size: 15px;color: #1E1E1E;font-weight: 700;text-align:center}
.clause_box2_1_1{height: 40px;padding-top: 10px;}
.clause_tr_top {height: 40px;border-bottom: 2px solid #2DBE61;width: 100%;}
.clause_tr_top td {text-align: center;font-size: 14px;font-weight: 700;color: #333;vertical-align:center}
.queryResult1 {height: auto;margin-left: 15px;margin-top: 8px;background: #fff;}
.queryResult1_title {height: 50px;background: #F2F2F2;}
.queryResult1_title span {font-size: 16px;color: #1E1E1E;margin: 17px;}
.queryResult1_title label {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #2DBE61;cursor: pointer;margin: 10px;  font-size: 14px;line-height: 30px;text-align: center;color: #fff;}
.queryResult1 table {width: 98%;margin: 0 auto;}
.queryResult1 td.text-right {text-align: right;}
.clause_td{height: 50px; margin-top: 30px;text-align: center;}
.clause_td label{display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #2DBE61;cursor: pointer;margin-left: 30px;  font-size: 14px;line-height: 30px;text-align: center;color: #fff;}
.tr_top1{border:1px solid #999;padding:4px;width: 825px;margin-top: 10px}
.tr_top2{width: 50px;height:25px;background: #2DBE61;border-radius: 3px;text-align: center;color: #fff;}
.clause_add{width: 95.8%; height: 50px; border-bottom: 1px solid #cccccc;margin-left: 23px}
.name_input{width: 300px;height: 30px;border-radius:2px;margin-top:0px}
.clause1_manage{width:1000px;height:200px;position:absolute;z-index:1000;top:30px;left:40%;margin-left:-370px;background:#F2F2F2;border-radius: 5px;}
.clause2_manage input{width: 95.8%; height: 50px; border: 1px solid #cccccc;margin-left: 23px;margin-top: 20px}

/*�嵥֧������*/
.pay-model{width: 100%; height: 410px;overflow-y:auto}
.pay_manage{width:1200px;height:410px;position:absolute;z-index:1000;top:100px;background:#fff;border-radius: 5px;margin-left: 100px}
.pay_queryResult {height: auto;margin-left: 30px;width: 1160px}
.pay_queryResult table {width: 100%;margin: 0 auto;}
.tr_pay {height: 50px;border-bottom: 1px solid #D7D7D7;}
.tr_pay td {font-weight: 400;}
.tr_pay input, .pay_td select {width: 110px;height: 30px;border-radius:3px;border: 1px solid #ccc}

/*����֧������*/
.pay_header{width:100%;height:40px;border-bottom:1px solid #cdcdcd;background: #2DBE61;border-top-left-radius: 5px;border-top-right-radius: 5px;line-height:40px;text-align: center;position: relative}
.pay_header span{font-size:18px;color:#fff;line-height: 40px;}
.pay_header i{float:right;width:24px;height:24px;color: #fff;font-size: 21px;position: absolute;top:10px;right:20px;cursor: pointer}
.pay-model1{width: 100%; height: 450px;overflow-y:auto}
.pay_information_right{width: 84%; height: 150px; padding-top: 15px;margin-left: 30px}
.pay_information_right1{width: 84%; height: 225px; padding-top: 15px;margin-left: 30px}
.pay{margin-left: 112px;margin-top: 10px}
.pay input{width: 615px;height: 30px;border-radius:3px;border: 1px solid #ccc;margin-top: 10px}

/*�ͻ����õ���*/
.customer_manage{width:440px;height:330px;position:absolute;z-index:1000;top:150px;background:#fff;border-radius: 5px;margin-left: 500px}
.customer_header{width:100%;height:40px;border-bottom:1px solid #cdcdcd;background: #2DBE61;border-top-left-radius: 5px;border-top-right-radius: 5px;line-height:40px;text-align: center;position: relative}
.customer_header span{font-size:18px;color:#fff;line-height: 40px;}
.customer_header i{float:right;width:24px;height:24px;color: #fff;font-size: 21px;position: absolute;top:10px;right:20px;cursor: pointer}
.customer_td {width: 100%;margin-bottom: 1px;}
.customer_td label {font-size: 14px;color: #999;width: 15%;margin-left: 60px}
.customer_td input, .customer_td select {width:235px;height:30px;font-size: 14px;height: 28px;line-height:28px;border: 1px solid #ccc;padding-left: 10px;border-radius: 3px;color: #999;}

/*�ͻ����յȼ����õ���*/
.customer-model1{width: 100%; height: 550px;overflow-y:auto}
.customer_information{margin-top: 20px; overflow-x: auto;background-color: #fff}
.customer_information_right{width: 84%; height: 450px; padding-top: 15px;margin-left: 40px}
.customer_information input,.customer_information select{width: 235px;height: 30px;border-radius:3px;border: 1px solid #ccc}

/*����  ���������һЩ������ʽ*/
.layer-model{width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,.3); left:0px; top:0px; z-index: 2000; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000)}
.layer-information-headline{width: 100%; height: 40px; color: #2DBE61; font-size:14px; font-weight: bold; background: #F2F2F2; text-indent: 25px; line-height: 40px;}
/*������Ϣ�����Ƶ���ɫ*/
.mesColor{color: #90A3C6;}
.mes_sign{color: #ff0000;}
.table_color{color: #2DBE61;}
/*��ѯ��ť*/
.queryBtn{width: 13%;height: 30px;background-color: #2DBE61;color: #FFFFFF;border: 1px solid #2DBE61;border-radius: 3px}
label{font-weight:normal;}

/*�б���ͨ����ҳ����ʽ by ����*/
.condition_td1 {width: 50%;margin-bottom: 15px;}
.condition_td1 label {float:left;font-size: 14px;color: #999;width: 39%;display: inline-block;text-align: right;margin-bottom: 0px;}
.condition_td1 input, .condition_td1 select {width:30%;float:left;margin-left: 5px; max-width: 200px;  text-align: center;font-size: 14px;height: 28px;line-height:28px;border: 1px solid #ccc;border-radius: 3px;color: #999;}
.condition_td1 select {height: 28px;max-width: 200px;line-height: 28px;}
.condition_td2 {width: 100%;margin-bottom: 15px;text-align: center;}
.condition_td2 textarea{float:left;resize: none; width: 64.5%;  text-align: left;font-size: 14px;height: 50px;border: 1px solid #ccc;border-radius: 3px;color: #999;}
.label2 {padding-right: 5px; float:left;padding-top: 20px; font-size: 14px;color: #999;width: 20%;display: inline-block;text-align: right;margin-bottom: 0px;}
.layer-footer1{width:100%;height: 58px;line-height: 58px; margin-top: 30px; text-align: center;}
/*�б���������ҳ����ʽ by ����*/
.condition_td3 {width: 100%;margin-bottom: 15px;text-align: center;}
.condition_td3 textarea{float:left;resize: none; width: 64.5%;  text-align: left;font-size: 14px;height: 50px;border: 1px solid #ccc;border-radius: 3px;color: #999;}
.label3 {padding-right: 5px; float:left;padding-top: 20px; font-size: 14px;color: #999;width: 15%;display: inline-block;text-align: right;margin-bottom: 0px;}
/*Ͷ�������水ť����*/
.large-layer-content .layui-layer-title{width:100%;height: 40px;background: #2DBE61;text-align: center; color: #fff; font-size:14px; font-weight: bold;line-height: 40px;padding: 0}
.large-layer-content .layui-layer-btn .layui-layer-btn0{background:#2DBE61;color: #ffffff}
.large-layer-content .layui-layer-btn .layui-layer-btn1{background:#ffffff;color: #2DBE61;border: 1px solid #2DBE61}
.large-layer-content .layui-layer-content{text-align: center;line-height: 200px;color: #2DBE61;font-size: 20px!important;font-weight: bold}
/*����ģ��ҳ��*/
.uptext{font-size: 14px;color: #999;width: 70px;display: inline-block;text-align: right;margin-bottom: 0px;text-align: center;!important;}
.uptext1{font-size: 14px;color: #999;width: 100px;display: inline-block;text-align: right;margin-bottom: 0px}
.uptext2{!important;font-size: 14px;color: #000;}
.uptext3{font-size: 14px;color: #999;display: inline-block;text-align: right;margin-bottom: 0px;}
.upmange{margin: 0px;  padding: 0px;!important;}
.upmangeleft{margin-right: -15px;  padding-right: 0px;!important;}
.layer-footer1{width:100%;height: auto;line-height: 58px; margin-top: 30px; text-align: center;}
/*.queryResult1_title {height: 50px;background: #F2F2F2;}
.queryResult1_title span {font-size: 14px;color: #1E1E1E;margin: 17px;}
.queryResult1_title i {font-size: 14px;color: #2DBE61;margin: 17px;}
.queryResult1_title label {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #2DBE61;cursor: pointer;margin: 10px;  font-size: 14px;line-height: 30px;text-align: center;color: #fff;}
.queryResult1 table {width: 98%;margin: 0 auto;}
.queryResult1 td {text-align: center;font-size: 14px;font-weight: 700;color: #333;vertical-align: middle}
.queryResult1 td.text-right {text-align: right;}*/

/*Ͷ��������ģ��ҳ��*/
.textlength{width: 251px;!important;}
.textlength1{width: 274px;!important;}
.textlh{height: 33px;line-height: 33px;}
.layer-header1{width:100%;height: 60px;background: #0b7cc3;position: relative;text-align: center;}
.layer-header1 span{font-size:18px;color:#fff;line-height: 60px;}
.blurButton {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #2D93CA;cursor: pointer;font-size: 14px;line-height: 30px;text-align: center;color: #fff;border: 1px solid #00b9e8}
.blurButton1 {display: inline-block;width: 50px;height: 30px;border-radius: 3px;background: #2D93CA;cursor: pointer;font-size: 14px;line-height: 30px;text-align: center;color: #fff;border: 1px solid #00b9e8}
.whiteButton2 {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #fff;cursor: pointer;font-size: 14px;line-height: 30px;text-align: center;color: #00b9e8;border: 1px solid #00b9e8;}
.whiteButton3 {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #fff;cursor: pointer;font-size: 14px;line-height: 30px;text-align: center;color: #00b9e8;border:none}
.text-mleft{margin-left: -30px}
.text-mleft1{margin-left: 10px}
.adminSchem_border input{width: 200px;border: 1px solid #ccc}
/*ҵ���嵥��ѯ*/
.listQuery {background: #89dc9a;}
.listQuery_title {height: 50px;background: #F2F2F2;}
.listQuery_title span {font-size: 16px;color: #1E1E1E;margin: 17px;}
.listQuery_title label {display: inline-block;width: 100px;height: 30px;border-radius: 3px;background: #2DBE61;cursor: pointer;margin: 10px;  font-size: 14px;line-height: 30px;text-align: center;color: #fff;}
.listQuery_td {margin-bottom: 15px;}
.listQuery_td label {font-size: 14px;color: #999;width: 100px;display: inline-block;text-align: right;margin-bottom: 0px}
.listQuery_tdshow {font-size: 14px;height: 28px;line-height:28px;border: 1px solid #ccc;padding-left: 10px;border-radius: 3px;color: #999;}
.btn_business {width: 25%;height: 50px;display: block;margin: 0 auto;padding-top: 10px;padding-bottom: 50px}
.btn_business span {width: 100px;height: 30px;background: #2DBE61;color: #fff;font-size: 14px;display: block;line-height: 30px;text-align: center;cursor: pointer;border-radius: 3px;}
.listQuery_leftul {width: 50%;margin-top: 15px;float: left}
.listQuery_leftul ul{width: 100%;margin-top: 30px;}
.listQuery_regitul {width: 50%;margin-top: 15px;float: right}
.listQuery_regitul ul{width: 100%;margin-top: 30px;}
/*ҵ���嵥��ѯ*/
.businessQuer_td1 {width: 50%; margin-top: 15px}
.businessQuer_td1 label {float:left;font-size: 14px;color: #999;width: 28%;display: inline-block;text-align: right;margin-bottom: 0px;}
.businessQuer_td1 input, .businessQuer_td1 select {width:100%;margin-left: 5px;  text-align: center;font-size: 14px;height: 28px;line-height:28px;border: 1px solid #ccc;border-radius: 3px;color: #999;}
.businessQuer_td2 {width: 100%;margin-bottom: 15px;text-align: center;}
.businessQuer_td2 textarea{float:left;resize: none; width: 64.5%;  text-align: left;font-size: 14px;height: 50px;border: 1px solid #ccc;border-radius: 3px;color: #999;}
.businessQuer_label {padding-right: 5px; float:left;padding-top: 20px; font-size: 14px;color: #999;width: 20%;display: inline-block;text-align: right;margin-bottom: 0px;}
.businessQuer_title {height: 100px;}
.businessQuer_table {width: 100%;}
.businessQuer_labelcenter{height: 32px;line-height: 32px}
.bus_radio{border: none;!important;}
/*�Զ���ָ����codetype����ʽ*/
.codeType{width: 60%;display: inline-block;vertical-align: middle;height: 30px;background-color: #FFFFFF}
.codeType input,.codeType select{width: 100% !important}
.dropdown-menu{min-width: 0 !important;}
.codeType1{width: 20%;display: inline-block;vertical-align: middle;height: 30px;background-color: #FFFFFF}
.codeType1 input{width: 100% !important}
/*���ã���ʽ*/
input[disabled] {background-color: #E4E4E4!important;}
.ui-select-container[disabled]{background-color: #E4E4E4!important;}
select[disabled]{background-color: #E4E4E4!important;}
.disabled-btn{background-color: #E4E4E4!important;}
.modal-scrollbar{font-size: 30px;color: #2DBE61}
/*���ı�ɫ*/
.changed{background-color: #fefe8d!important;}
input.changed{background-color: #fefe8d!important;}
.changed .ui-select-container {background-color: #fefe8d}
.del_item{background-color: #CCCCCC}
.inser_item{background-color:skyblue}
input.endorse_disabled_input[disabled]{background-color: #ffffff!important;border: none}
/*单选*/
.radio-box label.radio-label,.radio-box label.radio-checked{width: auto;cursor: pointer;margin-right: 10px;line-height: 26px}
.radio-box .radio-label .radio-main{background: url(../images/icon.png) no-repeat;background-size: 17px auto;width: 18px;margin-right: 5px;float: left;height: 18px;margin-top: 5px}
.radio-box .radio-checked .radio-main{background-position: 0 -19px}
.radio-box .radio-label.is-disabled .radio-main span{background: url(../images/icon.png) no-repeat 0 -76px;height: 100%;display: block}
.btn_front{width:100px;height:30px;border:none;border-radius:3px;}
.btn_after{width:100px;height:30px;background: none;color: #2DBE61;border: 1px solid #2DBE61;border-radius: 3px;}


/*清单查询*/
.condition_td_list {width: 32.33%;margin-bottom: 15px;height:28px;}
.condition_td_list label{width:36%;float:left;line-height:28px;box-sizing:border-box;padding-right:10px;font-weight: normal;text-align: right;}
.condition_td_list input, .condition_td_list select {font-size: 14px;height: 28px;line-height:28px;border: 1px solid #ccc;padding-left: 10px;border-radius: 3px;color: #999;max-width: 200px;float: left;}
.condition_td_list select {height: 28px;width: 196px;line-height: 28px;}

#myIndexPage>div>ul{
    margin-top:26px;
}
/*清单查询添加操作字段*/
.particulars {font-size: 14px; background: #2DBE61;border-radius: 3px;text-align: center;color: white;border:1px solid #4cae4c;}
/*流程查询*/
#myFlow .condition_td input,#myInput input,.myInput input{
    width: 100%;
}
/*批单查询    修改批文*/
.reviseOfficial .tip_success_info{
    position: fixed;
    top:112px;
}
.reviseOfficial textarea{
    width: 90%;
    display: block;
    margin:20px auto;
    resize: none;
}
.reviseOfficial .remove_button{
    line-height:38px;
}
.reviseOfficial .remove_button span{
    width:100px;
    height: 30px;
    border:1px solid #2DBE61;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    line-height:30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.reviseOfficial .remove_button span.save{
    background: #2DBE61;
    margin-left:20px;
    color:#fff;
}
.reviseOfficial .remove_button span:hover,.reviseOfficial .remove_button span.back{
    background: #2DBE61;
    color:#fff;
}
/*批文  清单详情*/
.checkOfficia .info_container>div>ul{
    width: 90%;
    margin:20px auto;
}
.checkOfficia .info_container>div>ul>li{
    float: left;
    width:33.33%;

}
.checkOfficia .info_container>div>ul>li li{
    margin-bottom:20px;
    position: relative;
}
.checkOfficia .info_container>div>ul>li.premium{
    position: relative;
    left: 25px;
    top: 48px;

}
.checkOfficia .info_container>div>ul>li span{
    width:32%;
    text-align: right;
    display: inline-block;
}
#contract .codeType1{
    position: relative;
    top:-1px;
}
.checkOfficia .info_container>div>ul>li input {
    width:60%;
    display: inline-block;
    color: #999999;
    border: 1px solid #ccc;
    height:30px;
    line-height:30px;
    background: #e4e4e4;
    padding:0 4px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;

}
.checkOfficia .info_container>div>ul>li i{
    color:#999;
    position: absolute;
    right:32px;
    top:4px;
    font-size: 16px;
}
.checkOfficia .info_container>div>ul>li a{
    display: inline-block;
    width:150px;
    height: 30px;
    line-height:30px;
    background: #2DBE61;
    color:#fff;
    text-align: center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

/*特殊批改*/
.special,.special2{
    height: 62px;
}
.special input{
    width: 51%;
}
.special2{
    width: 63%;
}
.special2 textarea{
    width: 79.5%;
    height: 62px;
    resize: none;
}
.special2 label{
    width: 20.5%;
}
/*支付维护  整单支付*/
.myPayInformation{
    height:234px;
}
.myPayInformation .pay_information_right1,.myPayInformation,.myPayInformation ul{
    height:auto;
}
.myPayInformation li{
    padding-bottom:18px;
    margin-top:0;
}
.myPayInformation li s{
    padding-right: 0;
    text-align: center;
    padding-left:20px;
}
.myPayInformation li .btn_tr{
    height:auto;
    padding: 0;
}
/**/
.passEye{
    width:20px !important;
    height:20px !important;
    background: url("../images/passClose.png") no-repeat 0px 0px;
    -webkit-background-size:cover;
    background-size:cover;
    position: absolute;
    right:77px;
    top:9px;
}
.passEye.openEye{
    background-image: url("../images/passOpen.png");
}

/*关联信息*/
.relativeMessage ul{
    float: left;
    width:50%;
}
.relativeMessage ul li{
    margin-bottom:20px;
    position: relative;
}
.relativeMessage ul li span{
    display: inline-block;
    width:35%;
    text-align: right;
}
.relativeMessage ul li a{
    color:#2DBE61;
    margin-left:20px;
    width:50%;
    display: inline-block;
    border: 1px solid #ccc;
    height:24px;
    padding-left:6px;
}
.relativeMessage ul li a i{
    width: 100%;
    display: block;
}
.relativeMessage ul li .pidan{
    max-height: 40px;
    overflow-y: auto;
    position: absolute;
    margin-left:24px;
    top:-6px;

}
.relativeMessage>div{
    width: 84%;
    margin: 30px auto;
    padding-top: 20px;
    border: 1px solid #ccc;
}
/**/
#comTree .multi-drop{
    height: 30px;
}
#comTree .comTree{
    top:248px;
    width: 62%;
}
#comTree2 .multi-drop{
    position: relative;
    top:16px;
}
#comTree2 .comTree{
    top:258px;
    width: 62%;
}
#comTree2 .comTree-content{
    text-align: left;
}
#comTreeClause .comTree{
    top:130px;
    left: 122px;
    height: 442px;
}
#comTreeClause .comTree-content{
    height: 296px;
    width: 90%;
    border: 1px solid #ccc;
    margin: 20px auto;
}

/*投保单录入条款检索*/
.plw{
    padding-right: 7px;letter-spacing: 2px; width: 178px;
}
.plw.nol{
    letter-spacing: 0px;
}
.guishuzhuanyong .ui-select-container .pull-left span{
    position: relative;
    top: -6px
}
.condition_td>div.guishuzhuanyong{
    width: 23.6%;
}
/*普通批改*/
#marking .condition_td1{
    margin-bottom: 22px;
}
#smscomTree .comTree {
    height: 294px;
    left: 129px;
    top: 260px;
}
#pt4 .btn,.pt4 .btn{
    padding-top:4px;
}
#choose-ul.choose-ul li{
    padding-left:14px;
}
.not-query {
    background: url(../images/query-not.png) no-repeat center center;
    height: 150px;
    background-size: 500px;
}

.query-null {
    background: url(../images/query-null.png) no-repeat center center;
    height: 150px;
    background-size: 500px;
}
.coverage_right_container .GuaranteeQueryClass{
    width: 77%;
    text-align: center;
    padding-left: 4.5%;
}
 .layer-ul2 #layerMsgInput.layer-li input{
    width: 100%;
}
/*!*自适应配置*!*/
#basic .basic_information_scale>span.message{
    width: 20.3%;
}
#basic .handlerDetail{
    width: 44.7%;
}
#basic .codeTypeDetail,#others .codeTypeDetail{
    width: 44%;
}
#basic .attribution_region div>div{
    width:12.7%;
}
.basic_information_con li .basic_information_scale.messageFa{
    width:82%
}
#contract .insuranceFashion{
    width: 39.2%;
}
#contract .insuredAmount{
    width: 9.5%;
}
#codeTypeAmount{
    width:39.2%;
}
.mainAgri .contract_con_left li label{
    width: 36%;
}
.mainAgri .contract_con_right li label{
    width: 26%;
}
.w20{
    width: 20%;
}
#contract .codeTypeDetail{
    width: 39%;
}

#riskCode{
    width: 49%;
}
#expiryEnd{
    width: 51.4%;
}
#riskSchemeCodeType.riskScheme_codeType input{
    width: 100%;
}
.pay>input{
    width: 67.4%;
}
#marking .condition_td1 input{
    width: 100%;
}
#marking textarea{
    width: 65.3%;
}
/*时间插件*/
.jedateblue .jedaol li, .jedateblue .jedaul li{
    height: 27px;
}
.jedateblue .jedatesety .ymdropul{
    height: 197px;
}
.jedateblue .jedatesety .ymdropul li{
    height: 37px;
}
.jedateblue .jedatesety .ymdropul, .jedateblue .jedatesetm .ymdropul{
    height: 190px;
}
.jedateblue .jedatesetm .ymdropul li{
    height: 47px;
}
/**/
#model #myInput>div,#model .myInput>div{
    width: 47%;
}
#model #endorseReason{
    width: 73.5%;
}
#cafs .endorseFashion{
    width: 45.8%;
}
#cafs .endorseReason{
    width:73.5%;
}
.riskSchemeContainWRight>input {
    margin-left:4.5%;
    width:35%;
}
@media screen and (min-width: 1366px) {
    .riskSchemeContainWRight>input {
        width:36.5%;
    }
}
#othersInformationRight .other1,#othersInformationRight .other2{
     width:50%;
 }
#othersInformationRight .other1 label{
    width:26%;
}
#othersInformationRight .other1>div,#othersInformationRight .other2>div{
    width:40%;
}
#othersInformationRight .other2 label{
    width:18%;
}
/*//////*/
#othersInformationRight.otherInformation .other1{
    width:30%;
}
#othersInformationRight.otherInformation .other2{
    width: 40%;
}
#othersInformationRight.otherInformation .other1 label{
    width:29%;
}
#othersInformationRight.otherInformation .other1>div,#othersInformationRight.otherInformation .other2>div{
    width:50%;
}
#othersInformationRight.otherInformation .other2 label{
    width:32%;
}
.areaCodeType{
    width: 16%;
}
.navbarExample{
    margin-top:70px;
}
.riskScheme .chose_table table thead,
.riskScheme .chose_table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#contract .stretchInformation{
    height: 100px;
}
#contract .contract_information_left {
    height: 100%;
}
#contract .stretchInformation .contract_information_left {
    padding-top:0;
}
#contract .contract_information_right{
    height:auto;
}
#client .client_right_top_title,#client .client_right_bottom_title, #client .client_right_bottom_title1 {
    background-color: #f2f2f2;
}
#client .client_information_right,#client .client_information_right .client_right_top,#client .client_information_right1{
    background-color: transparent;
}
#client.clentInformation{
    background: #F5F6F8;
    min-height: 0;
    height: 98px;
}
#client.clentInformation.client_information .client_information_left{
    min-height: 0;
    padding-top: 0;
}
#others .others_information_left{
    height: 134px;
    padding-top:0;
    line-height:24px;
}
#others.othersInformation .others_information_left{
    height: 100px;
}
#basic .messageFa textarea{
    width: 79%;
}
#customerIdvCareClai{
    padding-top:6px;
    padding-left:10px;
}
.w100{
    width: 99px;
    white-space: nowrap;
    overflow: hidden;
    margin:0 auto;
}
.btnDisbled .btn[disabled]{
    opacity: 1;
}
.application_entering_first.applicationFirst{
    top:0;
}