<!--信息提示-->
<div ng-if="!materialSucLayer">
    <div class="mask"></div>
    <div class="tip_success_info">
        <div class="remove_header">
            <span>信息提示</span>
            <a href="javascript:void(0)"><i ng-click="sucClose()"></i></a>
        </div>
        <div class="info_container">
            <i class="tip_1"></i>
            <span>{{message}}</span>
        </div>
        <div class="remove_button">
            <button class="button_sure" ng-click="sucClose()">返 回</button>
        </div>
    </div>
</div>