<!--新增文件-->
<div ng-controller="meterLayerCtrl">
    <div class="mask"></div>
    <div class="insure">

        <div class="remove_header">
            <span>新增文件</span>
            <a href="javascript:void(0)" ng-click = "exitMask()"><i> </i></a>
        </div>

        <div class="insure_content">
            <ng-form novalidate="novalidate" name="meterfileUploadForm">
                <ul class="list_ul">
                <li >
                    <em>*</em><span>产品：</span>
                </li>

                <li>
                   <select class="f1 form-control" ng-model="fileDto.riskCode" ng-options="x.riskCode as x.riskCName for x in riskList" required>
                        <option value="">--请选择--</option>
                    </select>
                </li>

                <li class="file_name1">
                    <em>*</em><span>文件类型：</span>
                </li>
                <li class="sales_expense">
                    <div class="ui-select">
                        <code-type class="seletc_bor" base-code="FileType" ng-model='fileDto.fileType' ng-disabled="false" required></code-type>
                    </div>
                </li>

                <li class="clear_both">
                    <span>上传文件：</span>
                </li>
                <li class="file_up">
                    <div class="file-box">
                        <input type='text' ng-model="imgFile.showFilePath" warn-text="" class='txt fl'/>
                        <input type='button' class='btn fl' value='浏览'/>
                        <input type="file" class="file fl"  nv-file-select="" uploader="fileUploader"/>
                        <input type="submit" name="submit" class="btn_up fl"  value="上传" ng-click="submitUploadFile()"/><!--ng-disabled="!fileUploader.getNotUploadedItems().length"-->

                    </div>
                </li>
            </ul>
            </ng-form>
            <div class="layer_btn1">
                <button class="button_sure" ng-click="exitMask()">退出</button>
            </div>
        </div>
    </div>
</div>