<!--
****************************************************************************
* DESC       ：国元农险理赔工作流管理---工作流模板路径编辑弹层
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/18 
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="orderlayerBox" ng-show="checkTemplatePathFlag">
  <div class="mask zIndex"></div>
  <div class="tip_success_info printLayer orderIntLayer layer-workflow">
    <div class="remove_header">
      <span>工作流模板路径编辑</span>
      <i class="icon iconfont" ng-click="close()">&#xe632;</i>
    </div>
    <div class="info_container bg-fff reg-cla">
      <div class="condition_table">
        <form name="workFlowPathForm">
          <ul class="clearfix half-ul">
            <li class="condition_td fl half-li">
              <label>路径点</label>
              <div class="half-div">
                <input type="text" ng-model="layerDto.pathNo" ng-disabled="true"/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label><i class='i-col'>*</i>路径名称</label>
              <div class="half-div">
                <input type="text" ng-model="layerDto.pathName" ng-required="true" ng-pattern="regData.Chinese"
                       warn-text="{'ErrPattern':'路径名称格式错误，请修改!',itemName:'路径名称'}" warn-text/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label><i class='i-col'>*</i>起始节点</label>
              <div class="half-div">
                <!--<code-type ng-model="layerDto.startNodeNo" ng-value="layerDto.startNodeName" base-code="startNodeNo" ng-required="true"></code-type>-->
                <ui-select ng-model="layerDto.startNodeNo" ng-required="true">
                  <ui-select-match   placeholder="查询或选择...">
                    {{$select.selected.nodeName}}
                  </ui-select-match>
                  <ui-select-choices repeat="code.nodeNo as code in SwfNodeList | filter: search">
                    <span ng-bind="code.nodeName"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </li>
            <!--<li class="condition_td fl half-li">-->
            <!--<label>起始节点名称</label>-->
            <!--<div class="half-div">-->
            <!--<input type="text" ng-model="layerDto.startNodEname"/>-->
            <!--</div>-->
            <!--</li>-->
            <li class="condition_td fl half-li">
              <label><i class='i-col'>*</i>终止节点</label>
              <div class="half-div">
                <!--<code-type ng-model="layerDto.endNodeNo" ng-value="layerDto.endNodeName" base-code="startNodeNo" ng-required="true"></code-type>-->
                <ui-select ng-model="layerDto.endNodeNo" ng-required="true">
                  <ui-select-match   placeholder="查询或选择...">
                    {{$select.selected.nodeName}}
                  </ui-select-match>
                  <ui-select-choices repeat="code.nodeNo as code in SwfNodeList | filter: search">
                    <span ng-bind="code.nodeName"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </li>
            <!--<li class="condition_td fl half-li">-->
            <!--<label>终止节点名称</label>-->
            <!--<div class="half-div">-->
            <!--<input type="text" ng-model="layerDto.endNodEname"/>-->
            <!--</div>-->
            <!--</li>-->
            <li class="condition_td fl half-li">
              <label>优先级</label>
              <div class="half-div">
                <input type="text" ng-model="layerDto.priority" ng-required="true" ng-pattern="regData.number"
                       warn-text="{'ErrPattern':'优先级格式错误，请修改!',itemName:'优先级'}" warn-text/>
              </div>
            </li>
            <li class="condition_td fl half-li">
              <label>缺省路径</label>
              <div class="half-div">
                <code-type ng-model="layerDto.defaultFlag" ng-value="layerDto.defaultFlagName" base-code="defaultFlag" ng-required="true"></code-type>
              </div>
            </li>
          </ul>
        </form>
      </div>
      <div class="btn_tr clearfix">
        <span ng-click="confim()">确定</span>
        <span ng-click="close()">取消</span>
      </div>
    </div>
  </div>
</div>