<!--
****************************************************************************
* DESC       ：国元农险理赔工作流管理---工作流模板分配弹层
* AUTHOR     ：国元农险项目组
* CREATEDATE ：2017/12/18 
* MODIFYLIST ：Name        Date        Reason/Contents
* --------------------------------------------------------
****************************************************************************
-->
<div class="orderlayerBox" ng-show="checkDistributionFlag">
  <div class="mask zIndex"></div>
  <div class="tip_success_info printLayer orderIntLayer layer-workflow">
    <div class="remove_header">
      <span>工作流模板分配</span>
      <i class="icon iconfont" ng-click="close()">&#xe632;</i>
    </div>
    <div class="info_container bg-fff h330">
      <div class="condition_table">
        <form name="workFlowDistributionForm" >
          <ul class="clearfix half-ul">
            <li class="condition_td fl long-li">
              <label>模板</label>
              <div class="half-div">
                <input type="text" ng-disabled="true" ng-model="workFlowDisDto.modelNoHtm">
                <!--<code-type ng-model="queryDto.modelNo" base-code="modelNo" ng-disabled="true"></code-type>-->
              </div>
            </li>
            <li class="condition_td fl long-li">
              <label>险种</label>
              <div class="half-div">
                <!--<code-type ng-model="workFlowDisDto.riskCodes" base-code="modelStatuss" ng-required="true"></code-type>-->
                <!--<ui-select ng-model="workFlowDisDto.riskCodes" >-->
                <!--<ui-select-match  allow-clear placeholder="查询或选择...">-->
                <!--{{$select.selected.codecname}}-->
                <!--</ui-select-match>-->
                <!--<ui-select-choices repeat="code.codecode as code in riskType >-->
                <!--<span ng-bind="code.codecname"></span>-->
                <!--</ui-select-choices>-->
                <!--</ui-select>-->
                <multi-drop ng-model="workFlowDisDto.riskCodes" data="{{riskInfos}}" ng-required="true" ></multi-drop>
              </div>
            </li>
            <li class="condition_td fl long-li">
              <label>机构</label>
              <div class="half-div">
                <!--<code-type ng-model="workFlowDisDto.comCodes" base-code="modelStatuss" ng-required="true"></code-type>-->
                <multi-drop ng-model="workFlowDisDto.comCodes" data="{{companyInfos}}" ng-required="true"></multi-drop>
              </div>
            </li>
          </ul>
        </form>
      </div>
      <div class="btn_tr clearfix mt30">
        <span ng-click="save()">确定</span>
        <span ng-click="checkDistributionFlag=!checkDistributionFlag">取消</span>
      </div>
    </div>
  </div>
</div>