<!--主体内容-->
<div class="application_entering">
    <div ng-hide="approvalPageFlag">
        <!--第一层-->
        <div class="application_entering_first" ng-class="{'applicationFirst':!policyScheme&& systemFlag=='undwrt'}">
            <ul class="container">
                <li class="fl">
                    <!--<button class="btn btn-success">上传影像</button>-->
                    <button class="btn btn-success" ng-disabled="DownloadHousehold1"ng-click="reviseOfficial();">查看批文</button>
                    <button class="btn btn-success" ng-disabled="DownloadHousehold2"ng-click="DownLoadButton()">分户清单下载</button>
                    <button class="btn btn-success" ng-disabled="DownloadHousehold3" ng-click="getViewTrace()">查看核批信息</button>
                    <button class="btn btn-success" ng-click="returnButton();" ng-hide="systemFlag=='undwrt'">返回</button>
                </li>
                <li class="fr">
                    <button ng-click="nextStep()" class="btn btn-success"  ng-hide="initFlag">下一步</button>
                    <!--<button class="btn btn-success" ng-click="geneEndorText()">生成批文</button>-->
                    <button class="btn btn-success" ng-show="!hideLast" ng-click="last()">上一步</button>
                    <!--<button class="btn btn-success">上一步</button>-->
                </li>
            </ul>
        </div>
        <!--右边的菜单栏  楼梯-->
        <div id="navbar-example" class="application_entering_asider" ng-show="!showClaim">
            <ul class="application_entering_con">
                <li ng-click="goScroll('basic')" class=" cur">
                    <i class="iconfont icon modal-scrollbar" >&#xe615;</i>
                    <p>基本</p>
                </li>
                <li ng-click="goScroll('contract')"  class="cur">
                    <i class="iconfont icon modal-scrollbar" >&#xe60e;</i>
                    <p>合同</p>
                </li>
                <li ng-click="goScroll('client')" class="cur">
                    <i class="iconfont icon modal-scrollbar" >&#xe612;</i>
                    <p>客户</p>
                </li>
                <li ng-click="goScroll('others')"  class="cur">
                    <i class="iconfont icon modal-scrollbar" >&#xe619;</i>
                    <p>其他</p>
                </li>
            </ul>
        </div>
        <!--主体内容-->
        <div data-spy="scroll" ng-class="{navbarExample:!authSystemFlag}" data-target="#navbar-example"  class="application_entering_section">
            <!--填写信息部分-->
            <div class="application_entering_mes">
                <div ui-view="UIPrPoEnRiskScheme"></div>
                <!--基本信息-->
                <div ui-view="UIPrPoEnMainHead"></div>
                <!--合同信息-->
                <div ui-view="UIPrPoEnMainAgri"></div>
                <!--客户信息-->
                <div ui-view="UIPrPoEnAgriInsured"></div>
                <!--其他信息-->
                <div ui-view="UIPrPoEnOther" style="z-index: 1988"></div>

            </div>
        </div>
    </div>
    <div  ng-show="approvalPageFlag" class="approvalBox">

        <textarea rows="24" ng-model="strEndorseText">

        </textarea>

        <div class="approval-btn-group">
            <button class="btn btn-success" ng-click="saveEndorse()">保  存</button>
            <button class="btn btn-cancel" ng-click="goBack()">上一步</button>
            <!--<button class="btn btn-cancel">取 消</button>-->
        </div>
    </div>
</div>

<!--修改批文弹框-->
<div class="reviseOfficialBox reviseOfficial" ng-if="showReviseOfficial" >
    <div class="mask" style="z-index: 2000;"></div>
    <div class="tip_success_info printLayer orderIntLayer" style="top:120px;z-index: 20001;">
        <div class="remove_header">
            <span>批文详情</span>
            <i class="icon iconfont" ng-click="cancel()"><img src="common/images/lightbox/close.png"  style="width: 20px;height: 20px;margin-bottom: 20px"  alt=""/></i>
        </div>
        <div class="info_container">
            <textarea name="" ng-disabled="showReviseOfficial" cols="30" rows="12" id="textOfficial"></textarea>
        </div>
    </div>
</div>
<!--核保信息详情-->
<div ng-show="policyInfo" class="all_payment layer-model">
    <div class="large-layer-content all_payment_contain" style="top:15%;padding-bottom: 15px;">
        <div class="all_payment_head layer-header">
            <span>核保信息详情</span>
            <i class="icon iconfont" ng-click="closepolicyInfoShow()">&#xe62f;</i>
        </div>

        <div class="layer-con all_payment_content1" style="padding:0;">
            <div class="queryResult" ng-repeat="examine in examineList track by $index">
                <table border="1" bordercolor = "#ffffff"  style=" background-color:  rgba(182, 182, 182, 0.32);"cellspacing = "2">
                    <tr class="poen-tr">
                        <td style="width: 25%;">级别名称：</td>
                        <td style="width: 25%;"  colspan="3" ng-bind="examine.nodeName"></td>
                    </tr>
                    <tr class="poen-tr" >
                        <td style="width: 25%;">处理人员：</td>
                        <td style="width: 25%;" ng-bind="examine.operatorName"></td>
                        <td style="width: 25%;">处理部门：</td>
                        <td style="width: 25%;" ng-bind="examine.deptCode"></td>
                    </tr>
                    <tr class="poen-tr">
                        <td style="width: 25%;">级别状态：</td>
                        <td style="width: 25%;" ng-bind="examine.nodeStatusName"></td>
                        <td style="width: 25%;">流向：</td>
                        <td style="width: 25%;" ng-bind="examine.flowStatusName"></td>
                    </tr>
                    <tr class="poen-tr">
                        <td style="width: 25%;">提交时间：</td>
                        <td style="width: 25%;" ng-bind="examine.submitTime"></td>
                        <td style="width: 25%;">处理完毕时间：</td>
                        <td style="width: 25%;" ng-bind="examine.submitTime"></td>
                    </tr>
                    <tr class="poen-tr">
                        <td style="width: 25%;" >审核意见：</td>
                        <td style="width: 25%;" colspan="3"><textarea style="width: 90%;height: 40px;margin-top: 3px;" ng-bind="examine.handleText" disabled="policyInfo"></textarea></td>
                    </tr>
                    <tr class="poen-tr">
                        <td style="width: 25%;">审核信息：</td>
                        <td style="width: 25%;" colspan="3" ng-bind="examine.handleTextInfo"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>